<button [satPopoverAnchor]="shareP" (click)="shareP.toggle()">

  <i class="material-icons">share</i>

  <sat-popover #shareP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover">

      <!-- <button class="icon-button" (click)="shareP.close()">
        <i class="material-icons padding-right">cached</i>
        Repost
      </button> -->

      <button class="icon-button" (click)="openMessageDialog(); shareP.close()">
        <i class="material-icons padding-right">chat_bubble</i>
        {{ 'GENERAL.ACTIONS.SHARE' | translate }}
      </button>

      <button class="icon-button" (click)="share(); shareP.close()">
        <i class="material-icons padding-right">open_in_new</i>
        {{ 'GENERAL.STATUSES.EXTERNAL' | translate }}
      </button>

    </div>
  </sat-popover>

</button>
