---
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  namespace: istio-system
  name: grit-istio-control-plane
spec:
  profile: {{ istio_profile_name }}
  addonComponents:
    grafana:
      enabled: {{ istio_grafana_enabled }}
    kiali:
      enabled: {{ istio_kiali_enabled }}
    prometheus:
      enabled: {{ istio_prometheus_enabled }}
    tracing:
      enabled: {{ istio_tracing_enabled }}
    istiocoredns:
      enabled: {{ istio_istiocoredns_enabled }}
  components:
    ingressGateways:
    - enabled: true
      k8s:
        resources:
          requests:
            cpu: 10m
            memory: 40Mi
        service:
          ports:
          - name: status-port
            port: 15020
            targetPort: 15020
          - name: http2
            port: 80
            targetPort: 8080
            nodePort: 32585
          - name: https
            port: 443
            targetPort: 8443
            nodePort: 32586
          - name: tcp
            port: 31400
            targetPort: 31400
          - name: tls
            port: 15443
            targetPort: 15443
      name: istio-ingressgateway
  values:
    clusterResources: true
    gateways:
      istio-ingressgateway:
        applicationPorts: ""
        autoscaleEnabled: false
        debug: info
        domain: ""
        env: {}
        meshExpansionPorts:
        - name: tcp-pilot-grpc-tls
          port: 15011
          targetPort: 15011
        - name: tcp-istiod
          port: 15012
          targetPort: 15012
        - name: tcp-citadel-grpc-tls
          port: 8060
          targetPort: 8060
        - name: tcp-dns-tls
          port: 853
          targetPort: 8853
        name: istio-ingressgateway
        secretVolumes:
        - mountPath: /etc/istio/ingressgateway-certs
          name: ingressgateway-certs
          secretName: istio-ingressgateway-certs
        - mountPath: /etc/istio/ingressgateway-ca-certs
          name: ingressgateway-ca-certs
          secretName: istio-ingressgateway-ca-certs
        type: NodePort
        zvpn: {}