<div class="list-view-layout flex-center-column flex-stretch">
    <div class="list-view-layout-spinner-container" [ngClass]="{'list-view-layout-spinner-container--expanded': expand}" *ngIf="!isListEmpty">
        <div class="list-view-layout-wrapper" [ngClass]="{'disable-borders': disableBorders}">
            <ng-content></ng-content>
        </div>
        <app-loading [loading]="loading" [isGlobal]="false" [immediateShow]="false"></app-loading>
    </div>
    <app-no-items-placeholder [show]="isListEmpty" [text]="emptyTextPlaceholder || 'Nothing here'" class="sub-header-title"></app-no-items-placeholder>
</div>