:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list-view-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;

    &-spinner-container {
        flex: 1;
        max-width: var(--app-width);
        margin: 0 auto;
        width: 100%;
        position: relative;

        &--expanded {
            max-width: 100%;
        }
    }

    &-wrapper {
        background-color: var(--white);
        width: 100%;
        position: relative;
        box-sizing: border-box;
        &:empty {
            border: none;
        }

        &.disable-borders {
            border: none;
        }
    }

    .empty-list-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .list-view-layout-wrapper {
        border-left: none;
        border-right: none;
    }
}