<button class="icon-button">
  <i class="material-icons padding-right">cached</i>
  {{ 'DIALOGS.SHARE_LIST.REPOST' | translate }}
</button>

<button class="icon-button" (click)="message(messageTemplate)">
  <i class="material-icons padding-right">chat_bubble</i>
  {{ 'GENERAL.ACTIONS.SHARE' | translate }}
</button>
<ng-template #messageTemplate>
  <div class="header">
    <button class="margin-right" mat-dialog-close><i class="material-icons">arrow_back</i></button>

    <h2 class="header-title">{{ 'DIALOGS.SHARE_LIST.TITLE' | translate }}</h2>
  </div>
  <div class="item no-link border-bottom">
    <img [src]="user.photo || defaultAvatar" class="avatar margin-right">
    <textarea cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              class="textarea"
              placeholder="{{ 'DIALOGS.SHARE_LIST.FORM.MESSAGE.PLACEHOLDER' | translate }}"
              [(ngModel)]="send"
    ></textarea>
  </div>
  <div class="flex padding">
    <i class="material-icons search-icon-container margin-right">search</i>
    <input placeholder="Search" class="search-content-input" [(ngModel)]="value">
    <button class="item-end padding-left" *ngIf="value" (click)="value=''">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="item no-link" *ngFor="let following of followings">
    <img [src]="following.photo || defaultAvatar" class="avatar">
    <div class="item-text">
      <h2 class="black">{{following.firstName}} {{following.lastName}} {{following.companyName}}</h2>
    </div>
    <button class="item-end" [style.color]="messageColor" (click)="sendMessage()"><i class="material-icons">send</i></button>
  </div>
</ng-template>

<button class="icon-button"><i class="material-icons padding-right">open_in_new</i>
  {{ 'GENERAL.STATUSES.EXTERNAL' | translate }}
</button>
