<div class="rating no-link">
  <i
    class="material-icons icon-small"
    [class.grey]="rating < 1"
    [class.blue]="rating >= 1 && color === 'blue'"
    [class.yellow]="rating >= 1 && color === 'yellow'"
  >
    star
  </i>

  <i
    *ngIf="rating > 1.2 && rating <= 1.8"
    class="material-icons icon-small"
    [class.blue]="rating >= 1 && color === 'blue'"
    [class.yellow]="rating >= 1 && color === 'yellow'"
  >
    star_half
  </i>

  <i
    *ngIf="rating > 1.8 || rating <= 1.2"
    class="material-icons icon-small"
    [class.grey]="rating < 2"
    [class.blue]="rating >= 1.8 && color === 'blue'"
    [class.yellow]="rating >= 1.8 && color === 'yellow'"
  >
    star
  </i>

  <i
    *ngIf="rating > 2.4 && rating <= 2.7"
    class="material-icons icon-small"
    [class.blue]="rating >= 1 && color === 'blue'"
    [class.yellow]="rating >= 1 && color === 'yellow'"
  >
    star_half
  </i>

  <i
    *ngIf="rating > 2.7 || rating <= 2.4"
    class="material-icons icon-small"
    [class.grey]="rating < 2.8"
    [class.blue]="rating >= 3 && color === 'blue'"
    [class.yellow]="rating >= 3 && color === 'yellow'"
  >
    star
  </i>
</div>