<div class="sales-service">
  <div class="item flex-wrap no-link border-bottom no-padding-left no-padding-right">

    <img
      [src]="getUserPhoto(item.buyer)"
      class="avatar pointer margin-left"
      [routerLink]="getUserLink(item.buyer)"
    >

    <div class="item-text">
      <h2 class="black pointer" [routerLink]="getUserLink(item.buyer)">
        {{ item.buyer.business?.name || item.buyer.person.fullName }}
      </h2>

      <button class="blue item-start">
        {{ 'COMPONENTS.SALES_BOOKING_ITEM.TITLE' | translate }}
      </button>

      <!--Only be shown, if the place of performance is at the seller-->

      <p *ngIf="item.service.address && item.service.performance === 'seller'">
        {{ showAddress(item.service.address) }}
      </p>
    </div>

    <button
      class="item-end"
      [satPopoverAnchor]="bookingMoreP"
      (click)="bookingMoreP.toggle()"
    >
      <i class="material-icons">more_vert</i>
    </button>
    <sat-popover #bookingMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <button class="icon-button" [appMessageTo]="item?.buyer?.id">
          <i class="material-icons padding-right">chat_bubble</i>
          {{ 'GENERAL.ACTIONS.MESSAGE' | translate }}
        </button>
        <button class="icon-button" (click)="cancelBooking(cancelDialog)">
          <i class="material-icons padding-right">close</i>
          {{ 'GENERAL.ACTIONS.CANCEL_APPOINTMENT' | translate }}
        </button>
      </div>
    </sat-popover>

    <div class="item no-link flex-line-break margin-top border-top border-bottom">
    <div class="item-text no-padding-left">
      <p>{{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BOOKING_ID' | translate }} {{ item.id }}</p>

      <p *ngIf="item.created">
        {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BOOKED' | translate }} {{ item.created | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
      </p>

      <p *ngIf="item.paid">
        {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.PAID' | translate }} {{ item.paid | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
      </p>

      <!-- The booking is automatically sold after the appointment date has expired, if the booking is not cancelled in advance -->

      <p class="black" *ngIf="!item.cancelled && item.appointments">
        <ng-container *ngIf="!item.is_completed">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.APPOINTMENT' | translate }}
        </ng-container>
        <ng-container *ngIf="item.is_completed">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.SOLD' | translate }}
        </ng-container>
        {{ item.appointments[0].start | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }} -
        {{ item.appointments.slice(-1)[0].end | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
      </p>

      <!-- Cancelled -->

      <p class="info-icons red" *ngIf="item.cancelled">
        {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.CANCELLED' | translate }}
        <span style="padding-left: 3px" *ngIf="item.who_cancelled === 'seller'">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.SELLER' | translate }}
        </span>
        <span style="padding-left: 3px" *ngIf="item.who_cancelled === 'buyer'">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BUYER' | translate }}
        </span>
        {{ item.cancelled | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
        <button [satPopoverAnchor]="cancelDescriptionP" (click)="cancelDescriptionP.toggle()">
          <i class="material-icons grey icon-small icon-padding-left">chat_bubble</i>
        </button>
        <sat-popover hasBackdrop #cancelDescriptionP verticalAlign="below" scrollStrategy="close">
          <div class="popover padding">
            <h2>{{ item.cancel_reason }}</h2>
            <p *ngIf="item.cancel_description">
              {{ item.cancel_description }}
            </p>
          </div>
        </sat-popover>
      </p>

      <p *ngIf="item.cancelled && item.when_cancelled === 'after' && !item.refunded" class="black">
        {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.NOT_REFUNDED' | translate }}
      </p>

      <p *ngIf="item.cancelled && item.when_cancelled === 'after' && item.refunded" class="black">
        {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.REFUNDED' | translate }} {{ item.refunded | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
      </p>
    </div>
  </div>

    <div class="order-item flex-line-break padding">
      <img
        [src]="item.service.photoCover.thumb"
        class="thumbnail"
        [routerLink]="getServiceUrl(item.seller, item.service)"
      >

      <div class="item-text">
        <h2 class="black" [routerLink]="getServiceUrl(item.seller, item.service)">
          {{ item.service.title | truncate : 60 }}
        </h2>

        <h2 class="black bold">
          {{ item.service.price | currency : 'EUR' }}
          <span *ngIf="item.service.hourlyPrice" class="grey normal">
            ({{ item.service.schedule?.durationInfo | currency : 'EUR' }}{{ 'GENERAL.STATUSES.PER_HOUR' | translate }})
          </span>
        </h2>

        <p>{{ item.total_time }} {{ 'GENERAL.DATE_TIME.TIME_UNITS.HOURS' | translate }}</p>

        <div class="flex item-start">
          <button
            *ngIf="item.cancelled && item.when_cancelled === 'after'"
            class="blue margin-right"
            (click)="refund()"
          >
            {{ 'GENERAL.ACTIONS.REFUND' | translate }}
          </button>
          <button
            class="grey"
            (click)="cancelBooking(cancelDialog)"
          >
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <sat-popover hasBackdrop #cancelP verticalAlign="below" scrollStrategy="close">
            <div class="popover padding">
              <p>
                {{ 'COMPONENTS.SALES_BOOKING_ITEM.CANCEL_TOOLTIP' | translate }}
              </p>
            </div>
          </sat-popover>
        </div>

        <ng-template #cancelDialog>
          <h2 class="dialog-header">{{ 'DIALOGS.CANCEL_BOOKING.TITLE' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CLOSE' | translate }}</button>
            <button class="red" matDialogClose (click)="cancel()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
