<ng-container *ngIf="item as service">

  <!--Header Start-->

  <div class="item no-link">
    <img [attr.src]="item.user.thumb || defaultAvatar" class="avatar pointer"
      routerLink="/{{ item.user.pageName }}/home">
    <div class="item-text">
      <h2 class="black pointer" routerLink="/{{ item.user.pageName }}/home">
        {{ item.user.name }}
      </h2>
      <ng-container *ngIf="timeAgoFormat">
        <p>{{ item.created | timeAgo }}</p>
      </ng-container>
    </div>

    <div class="item-end">

      <!--Follow-->

      <button class="blue margin-right" (click)="follow()" *ngIf="!(isMyAccount$ | async) && !item.user.following">
        {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
      </button>

      <!--Popover-->

      <button class="item-end" [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
        <i class="material-icons">more_vert</i>
      </button>

      <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">

          <!--Link-->

          <copy-link-item link="{{ currentUrl }}/{{ item.user.pageName }}/services/{{item.id}}"
            (handleClick)="moreP.close()"></copy-link-item>

          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <!--Edit-->

            <button class="icon-button" routerLink="/{{ item.user.pageName }}/services/add"
              [queryParams]="{ id: item.id }">
              <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>

            <!--Active/Inactive-->

            <button class="icon-button" (click)="inactiveService(service); moreP.close()">
              <i class="material-icons padding-right">schedule</i>
              {{
                service.active
                ? ('GENERAL.STATUSES.INACTIVE' | translate)
                : ('GENERAL.STATUSES.ACTIVE' | translate)
              }}
            </button>

            <!--Delete-->

            <button class="icon-button" (click)="openDialog(deleteD); moreP.close()">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>

            <ng-template #deleteD>
              <h2 class="dialog-header">{{ 'DIALOGS.SERVICE_DELETE.TITLE' | translate }}</h2>
              <div class="dialog-buttons">
                <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                <button class="red" matDialogClose (click)="deleteItem()">
                  {{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>
              </div>
            </ng-template>
          </ng-container>

          <!--Unfollow-->

          <button class="icon-button" (click)="unfollow(); moreP.toggle()"
            *ngIf="item.user.following && !(isMyAccount$ | async)">
            <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
          </button>

          <!--Report-->

          <button class="icon-button" (click)="openDialog(reportD); moreP.close()" *ngIf="!(isMyAccount$ | async)">
            <i class="material-icons padding-right">info</i>
            {{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>

          <ng-template #reportD>
            <app-report-add [contentType]="'service'" [contentId]="service.id"></app-report-add>
          </ng-template>
        </div>
      </sat-popover>
    </div>

  </div>

  <!--Header End-->

  <!--Photos-->

  <swiper [config]="config">
    <div class="photo-size photo-size__details" *ngFor="let slide of photosList">
      <app-image-container [src]="slide || defaultImage" class="image-position image-position__details">
      </app-image-container>
    </div>
  </swiper>

  <!--Service Info-->

  <div class="padding border-bottom">
    <h2>{{service.title}}</h2>
    <h2 class="bold">
      {{service.price | customCurrency}}<span
        *ngIf="service.durationInfo">/{{'GENERAL.DATE_TIME.DURATIONS.' + service.durationInfo | translate}}</span>
    </h2>
    <div class="flex" (click)="serviceReviews()" *ngIf="service.rating">
      <p class="blue bold padding-right-small">{{service.rating | number}}</p>
      <i class="material-icons icon-small blue">star</i>
      <i class="material-icons icon-small blue">star</i>
      <i class="material-icons icon-small blue">star</i>
      <p class="grey padding-left-small margin-right">({{service.reviewsCount}})</p>
    </div>
  </div>

  <!--Irregular Appointments-->

  <ng-container *ngIf="service.displayDateInfoHeader">
    <ng-container *ngIf="service.displayDateInfo && service.displayDateInfo.length === 1 else showOnlyOneAppointment">
      <app-accordion-panel [title]="service.displayDateInfoHeader" icon="today" class="border-bottom">
        <div *ngFor="let date of service.displayDateInfo" class="accordion-item grey">
          {{date}}
        </div>
      </app-accordion-panel>
    </ng-container>

    <ng-template #showOnlyOneAppointment>
      <app-accordion-panel [title]="service.displayDateInfoHeader" icon="today" [disabled]="true" class="border-bottom">
      </app-accordion-panel>
    </ng-template>
  </ng-container>

  <!--Location-->

  <app-accordion-panel *ngIf="service.address"
    [title]="service.address ? (service.address?.street + ', ' + service.address?.zip + ' ' + service?.address.city) : ''"
    icon="location_on" [disabled]="true" class="border-bottom"
    [copyableText]="service.address ? (service.address?.street + ', ' + service.address?.zip + ' ' + service?.address.city) : ''">
  </app-accordion-panel>

  <!--Book-->

  <div class="border-bottom">
    <button *ngIf="service.active" class="round-button margin" routerLink="/{{ item.user.pageName }}/services/book"
      [queryParams]="{id: service.id}">
      {{ 'GENERAL.ACTIONS.BOOK' | translate }}
    </button>
    <h2 *ngIf="!service.active" class="center padding red">
      {{ 'COMPONENTS.SERVICE.INACTIVE' | translate }}
    </h2>
  </div>

  <div class="buttonbar border-bottom">

    <!--Message Seller-->

    <button *ngIf="!(isMyAccount$ | async)" [appMessageTo]="item.user.id">
      <i class="material-icons">chat_bubble</i>
    </button>

    <!--Share-->

    <share-button externalUrl="{{ currentUrl }}/{{ item.user.pageName }}/services/{{item.id}}" entityType="service"
      [entityId]="item.id"></share-button>

    <!--Bookmark-->

    <bookmark-button [id]="service.id" type="service" [isBookmark]="!!service.bookmarked"
      [bookmarksCount]="service.bookmarksCount"></bookmark-button>
  </div>

  <!--Description-->

  <app-truncatable-text [text]="item.description | linkstohtml" [mentions]="item.mentions" [truncatable]="truncatable">
  </app-truncatable-text>

</ng-container>