<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async" [disabled]="(loading$ | async) || (editMode && !isEditReady)" formId="ngForm"
  (onSubmitClick)="saveAndBack()" [loading]="(loading$ | async) || (editMode && !isEditReady)">
  <!--Form-->

  <div class="border-bottom position-relative" *ngIf="!photoData"
    [ngClass]="form.controls['photo'].errors?.required && invalidImage ? 'errored' : ''">
    <button class="file-add" (click)="photoInput.click()">
      <div>
        <i class="material-icons padding-bottom-small">photo_camera</i>
        <div>{{ 'PAGES.PHOTO_ADD.PHOTO' | translate }}</div>
      </div>
    </button>
    <input type="file" accept="image/*" #photoInput (change)="selectPhoto($event)">
    <app-loading [loading]="localPhotoLoading"></app-loading>
  </div>

  <div class="position-relative">
    <ng-container *ngIf="showSearchFieled">
      <mat-form-field class="photo-annotation-input" floatLabel="never">
        <input matInput autoFocus #userSuggestionInput placeholder="{{ 'PAGES.PHOTO_ADD.SEARCH' | translate }}"
          [matAutocomplete]="auto" [formControl]="searchUsersInputControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getSuggestionText"
          (optionSelected)="onUserSuggestionSelect($event)">
          <mat-option class="autosuggestion-option" *ngFor="let user of userList" [value]="user">
            {{ user.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>

    <div class="position-relative flex-center" *ngIf="photoData" #photoContainer>
      <img [attr.src]="photoData" class="photo-image" [ngClass]="origin" (click)="toggleUserSearch()">

      <ng-container *ngIf="showAnnotations">
        <div *ngFor="let annotation of annotations" class="photo-annotation-chip pointer" cdkDrag
          [cdkDragBoundary]="photoContainer" [ngStyle]="{
       transform: 'translate3d(' + annotation.x + 'px, ' + annotation.y + 'px, ' + '0px' +')'
     }" (cdkDragEnded)="onDrop($event, annotation)">
          {{ annotation.target.name }}
          <mat-icon (click)="removeTag(annotation)">cancel</mat-icon>
        </div>
      </ng-container>

      <i class="material-icons remove-file" (click)="removePhoto($event)" *ngIf="!isEditFlow || isDraft">close</i>

      <button class="show-tags white" *ngIf="annotations.length" (click)="toggleAnnotations()">
        <i class="material-icons" style="font-size: 16px !important">local_offer</i>
      </button>
    </div>
  </div>

  <form [formGroup]="form" id="ngForm">
    <div class="photo-filter-container" *ngIf="photoData">
      <div *ngFor="let filterItem of filters" class="photo-filter" (click)="setFilter(filterItem.filter)">
        <h2 class="photo-filter-header" [ngClass]="(filterItem.filter===origin) ? 'selected' : ''">
          {{ filterItem.name }}
        </h2>
        <img [attr.src]="photoData" class="photo-filter-preview" [ngClass]="filterItem.filter">
      </div>
    </div>

    <mat-form-field class="margin-top">
      <input matInput placeholder="{{ 'PAGES.PHOTO_ADD.FORM.TITLE.PLACEHOLDER' | translate }}" maxlength=100
        #titleCounter formControlName="title">
      <p matSuffix class="grey padding-left-small">{{titleCounter?.value.length}}/100</p>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.PHOTO_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{'GENERAL.CATEGORIES.MEDIA.' + category | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-input-with-mentions placeholder="{{ 'PAGES.PHOTO_ADD.FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
      formControlName="description"></app-input-with-mentions>

    <app-location-input placeholder="{{ 'PAGES.PHOTO_ADD.FORM.LOCATION.PLACEHOLDER' | translate }}"
      formControlName="location"></app-location-input>
  </form>

  <!--Drafts-->

  <button type="button" class="icon-button grey" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
    [disabled]="!wasChanged()">
    <i class="material-icons padding-right">create</i>
    {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
  </button>

  <ng-container *ngIf="drafts$ | async as drafts">
    <div class="border-top" *ngIf="drafts.length">
      <h2 class="sub-header background-grey-3 add-view-layout-border-fix">{{ drafts.length | i18nPlural: draftMapping }}</h2>

      <div class="item border-bottom border-top" *ngFor="let photo of drafts; trackBy: trackById"
        (click)="$event.stopPropagation(); selectDraft(photo.id)"
        [ngClass]="{ disabled: photo.uploading || photo.processing }">

        <app-thumbnail [url]="photo.thumb || photo.photo || defaultImage" [item]="photo"
          [additionalClass]="photo.filterName"></app-thumbnail>

        <div class="item-text">
          <h2 *ngIf="photo.title" class="black" ellipsis>{{photo.title}}</h2>
          <h2 *ngIf="!photo.title" class="black">{{ 'GENERAL.DRAFTS.NO_TITLE' | translate }}</h2>
        </div>

        <!--Delete Draft-->

        <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD);">
          <i class="material-icons icon-small">delete</i>
        </button>

        <ng-template #deleteDraftD>
          <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red" matDialogClose
              (click)="deleteDraft(photo.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>

  <!--Back dialogs-->


</add-view-layout>