:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.photo-filter-container {
  display: flex;
  text-align: center;
  overflow-x: auto;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid var(--grey-10);
  -webkit-overflow-scrolling: touch;
  //-ms-overflow-style: none;
  //overflow: -moz-scrollbars-none;
}

@media screen and(max-width: 600px) {
  .photo-filter-container {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.photo-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  min-width: 100px;
}

.photo-filter-header {
  color: var(--grey);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 5px;
}

.photo-filter-header:hover {
  color: var(--blue);
}

.photo-filter-preview {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}

.selected {
  color: var(--blue);
}

.item {
  &:last-child {
    border-bottom: none;
  }
}