:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: visible;
  min-height: 100%;
  
}

.tabs {
  width: 100%;
  position: sticky;
  top: var(--content-search-height);
  left: 0;
  z-index: 10;
}