<div
  class="tabs background-white"
  *ngIf="(isVisibleUserTabs$ | async) || (isBlocking$ | async) || (isBlocked$ | async)"
  #tabs
>
  <a class="tab" routerLink="home" routerLinkActive="tab-active">{{ 'PAGES.TABS.HOME' | translate }}</a>
  <a *ngIf="(isFolowing$ | async) || !(isPrivate$ | async) || (isMyAccount$ | async)" class="tab" routerLink="photos" routerLinkActive="tab-active">{{ 'PAGES.TABS.PHOTOS' | translate }}</a>
  <a *ngIf="(isFolowing$ | async) || !(isPrivate$ | async) || (isMyAccount$ | async)" class="tab" routerLink="videos" routerLinkActive="tab-active">{{ 'PAGES.TABS.VIDEOS' | translate }}</a>
  <a *ngIf="(isFolowing$ | async) || !(isPrivate$ | async) || (isMyAccount$ | async)" class="tab" routerLink="blog" routerLinkActive="tab-active">{{ 'PAGES.TABS.BLOG' | translate }}</a>
  <a class="tab" routerLink="shop" routerLinkActive="tab-active">{{ 'PAGES.TABS.SHOP' | translate }}</a>
  <a class="tab" routerLink="services" routerLinkActive="tab-active">{{ 'PAGES.TABS.SERVICES' | translate }}</a>
</div>

<div class="tabs-content-wrapper flex-center-column flex-stretch">
    <router-outlet></router-outlet>
</div>
