.team-suggestion {
  padding: 10px;
  height: auto;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  position:sticky;
  top: 0;
  border-bottom: 1px solid var(--grey-10);
  background-color: var(--white);

  .header {
    max-width: var(--app-width);
    width: 100%;
    border: none;
  }
}