<div class="header-wrapper">
  <div class="header">
    <button class="item-start grey" type="button" (click)="back()" [disabled]="loading$ | async">
      <i class="material-icons">arrow_back</i>
    </button>

    <h2 class="header-title">
      {{ 'PAGES.TEAM_ADD.TITLE' | translate }}
    </h2>

    <button type="submit" class="blue item-end" [disabled]="loading$ | async" (click)="save()">
      <i class="material-icons">check</i>
    </button>
  </div>
</div>

<app-content-layout>
  <mat-form-field>
    <input matInput placeholder="{{ 'PAGES.TEAM_ADD.SEARCH' | translate }}" #searchInput [matAutocomplete]="auto"
      [(ngModel)]="search">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getAccountName" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let account of autoSuggestions$ | async" [value]="account" class="team-suggestion">
      <div class="item no-padding">
        <img [src]="account.thumb || defaultAvatar" class="avatar">
        <div class="item-text">
          <h2 class="black">{{ account.name }}</h2>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>

  <mat-form-field floatLabel="never">
    <mat-select placeholder="Role" [(ngModel)]="role" (ngModelChange)="onRoleChange(); select.close()" #select>
      <mat-option value="admin">{{ 'GENERAL.ROLES.ADMIN' | translate }}</mat-option>
      <mat-option value="creator">{{ 'GENERAL.ROLES.CREATOR' | translate }}</mat-option>
      <mat-option value="viewer">{{ 'GENERAL.ROLES.VIEWER' | translate }}</mat-option>
    </mat-select>
    <i matSuffix class="material-icons icon-small grey pointer padding-horizontal-small" [satPopoverAnchor]="roleInfoP"
      (click)="roleInfoP.toggle()" (click)="$event.stopPropagation()">info</i>
    <sat-popover hasBackdrop #roleInfoP horizontalAlign="before" scrollStrategy="close">
      <div class="tooltip">
        <div>{{ 'GENERAL.ROLES.TOOLTIP.ADMIN' | translate }}</div>
        <div>{{ 'GENERAL.ROLES.TOOLTIP.ADMIN' | translate }}</div>
        <div>{{ 'GENERAL.ROLES.TOOLTIP.ADMIN' | translate }}</div>
      </div>
    </sat-popover>
  </mat-form-field>

  <div class="item" *ngFor="let account of accounts">
    <img [src]="account.photo || defaultAvatar" class="avatar">

    <div class="item-text">
      <h2 class="black">{{ account.name }}</h2>
      <p>{{ account.pageName | lowercase }}</p>
    </div>

    <div class="item-end padding-right grey">
      <p>{{ account.role | titlecase }}</p>
    </div>

    <button class="item-end" [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
      <i class="material-icons">more_vert</i>
    </button>

    <sat-popover hasBackdrop #moreP verticalAlign="below" scrollStrategy="close">
      <div class="popover" (click)="moreP.close()">
        <button class="icon-button" *ngIf="account.role !== 'admin'" (click)="changeRole(account, 'admin')">
          <i class="material-icons padding-right">people</i>
          {{ 'PAGES.TEAM_ADD.MAKE_ADMIN' | translate }}
        </button>
        <button class="icon-button" *ngIf="account.role !== 'creator'" (click)="changeRole(account, 'creator')">
          <i class="material-icons padding-right">people</i>
          {{ 'PAGES.TEAM_ADD.MAKE_CREATOR' | translate }}
        </button>
        <button class="icon-button" *ngIf="account.role !== 'viewer'" (click)="changeRole(account, 'viewer')">
          <i class="material-icons padding-right">people</i>
          {{ 'PAGES.TEAM_ADD.MAKE_VIEWER' | translate }}
        </button>

        <button class="icon-button" (click)="removeAccountFromList(account)">
          <i class="material-icons padding-right">close</i>
          {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
        </button>
      </div>
    </sat-popover>
  </div>
</app-content-layout>

<app-loading [loading]="loading$ | async"></app-loading>