<div class="header">
  <button class="margin-right" mat-dialog-close>
    <i class="material-icons">arrow_back</i>
  </button>

  <div class="overall-rating full-width">
    <p
      class="bold padding-right {{ entity === 'seller' ? 'black' : 'blue' }}"
    >
      {{ rating | number : '1.1-1' }}
    </p>

    <rating-stars
      [rating]="rating"
      [color]="entity === 'seller' ? 'yellow' : 'blue'"
    ></rating-stars>

    <button
      class="margin-right padding-left"
      [satPopoverAnchor]="reviewInfoP"
      (click)="reviewInfoP.toggle()"
    >
      <i class="material-icons icon-small">info</i>
    </button>

    <sat-popover hasBackdrop #reviewInfoP verticalAlign="below" scrollStrategy="close">
      <div class="tooltip" style="max-width: 300px">
        <p>{{ 'DIALOGS.REVIEW_LIST.TOOLTIP.3_STARS' | translate }}</p>
        <p>{{ 'DIALOGS.REVIEW_LIST.TOOLTIP.2_STARS' | translate }}</p>
        <p>{{ 'DIALOGS.REVIEW_LIST.TOOLTIP.1_STARS' | translate }}</p>
      </div>
    </sat-popover>
  </div>

  <div class="item-end">
    <button class="item-end" [satPopoverAnchor]="reviewFilterP" (click)="reviewFilterP.toggle()">
      <i class="material-icons">tune</i>
    </button>

    <sat-popover #reviewFilterP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <h2 class="filter-header">
          {{ 'GENERAL.LIST_FILTER.TITLE' | translate }}
        </h2>
        <button class="icon-button" (click)="orderFilter('relevance'); reviewFilterP.close()">
          <i class="material-icons padding-right">arrow_upward</i>
          {{ 'GENERAL.LIST_FILTER.RELEVANCE' | translate }}
        </button>
        <button class="icon-button" (click)="orderFilter('date'); reviewFilterP.close()">
          <i class="material-icons padding-right">schedule</i>
          {{ 'GENERAL.LIST_FILTER.DATE' | translate }}
        </button>
      </div>
    </sat-popover>
  </div>
</div>

<div class="flex border-bottom">
  <button
    class="icon-button-small flex-center-row"
    [class.blue]="filter === 'all'"
    (click)="filterStars('all')"
  >
    <span>{{ 'GENERAL.LIST_FILTER.ALL' | translate }} {{ total$ | async }}</span>
  </button>

  <button
    class="icon-button-small flex-center-row"
    [class.blue]="filter === '3'"
    (click)="filterStars('3')"
  >
    <i class="material-icons icon-small">star</i>
    <i class="material-icons icon-small">star</i>
    <i class="material-icons icon-small">star</i>
    <span class="icon-padding-left">{{ totalThree$ | async }}</span>
  </button>

  <button
    class="icon-button-small flex-center-row"
    [class.blue]="filter === '2'"
    (click)="filterStars('2')"
  >
    <i class="material-icons icon-small">star</i>
    <i class="material-icons icon-small">star</i>
    <span class="icon-padding-left">{{ totalTwo$ | async }}</span>
  </button>

  <button
    class="icon-button-small flex-center-row"
    [class.blue]="filter === '1'"
    (click)="filterStars('1')"
  >
    <i class="material-icons icon-small">star</i>
    <span class="icon-padding-left">{{ totalOne$ | async }}</span>
  </button>
</div>

<div *ngIf="!(reviewed$ | async) && item.bought?.length" class="padding">
  <button class="round-button" (click)="addReview()">
    {{ 'GENERAL.ACTIONS.REVIEW' | translate }}
  </button>
</div>

<cdk-virtual-scroll-viewport
  class="full-height"
  style="min-height: 240px;"
  [itemSize]="120"
  minBufferPx="1000"
  maxBufferPx="1000"
>
  <div class="border-bottom" *cdkVirtualFor="let item of items$ | async">
    <div class="item no-link" [id]="'review-' + item.user.id">
      <img
        [src]="getUserPhoto(item.user)"
        class="avatar pointer"
        [routerLink]="getUserLink(item.user)"
      >
      <div class="item-text">
        <h2 class="black pointer" [routerLink]="getUserLink(item.user)">
          {{ item.user.business?.name || item.user.person.fullName }}
        </h2>
        <rating-stars
          [rating]="item.rating"
          [color]="entity === 'seller' ? 'yellow' : 'blue'"
        ></rating-stars>
      </div>

      <button
        class="item-end"
        [satPopoverAnchor]="reviewMoreP"
        (click)="reviewMoreP.toggle(); $event.stopPropagation()"
      >
        <i class="material-icons icon-small">more_vert</i>
      </button>

      <sat-popover #reviewMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <!--Edit & Delete only for Creator visible-->
          <button
            *ngIf="(loggedInAccountId$ | async) === item.user.id"
            class="icon-button"
            (click)="editReview(item); reviewMoreP.close()"
          >
            <i class="material-icons padding-right">create</i>
            {{ 'GENERAL.ACTIONS.EDIT' | translate }}
          </button>
          <button
            *ngIf="(loggedInAccountId$ | async) === item.user.id"
            class="icon-button"
            (click)="deleteReview(item.id); reviewMoreP.close()"
          >
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
          <button
            *ngIf="(loggedInAccountId$ | async) !== item.user.id"
            class="icon-button"
            (click)="replyReview(item.id); reviewMoreP.close()"
          >
            <i class="material-icons padding-right">reply</i>
            {{ 'GENERAL.ACTIONS.REPLY' | translate }}
          </button>
          <button
            *ngIf="(loggedInAccountId$ | async) !== item.user.id"
            class="icon-button" [class.blue]="!!item.user.following"
            (click)="follow(item.user); reviewMoreP.close()"
          >
            <i class="material-icons padding-right">rss_feed</i>
            {{
              !!item.user.following
              ? ('GENERAL.STATUSES.Following' | translate)
              : ('GENERAL.ACTIONS.FOLLOW' | translate)
            }}
          </button>
          <button
            *ngIf="(loggedInAccountId$ | async) !== item.user.id"
            class="icon-button"
            (click)="reviewMoreP.close()"
          >
            <i class="material-icons padding-right">info</i>
            {{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>
        </div>
      </sat-popover>
    </div>

    <div class="padding-horizontal" *ngIf="item.text">
      <app-truncatable-text
        [text]="item.text"
        [mentions]="item.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="flex margin-top" *ngIf="item.photo.length">
      <div
        *ngFor="let photo of item.photo"
        style="width: 100px; height: 100px; overflow: hidden;"
        class="margin-horizontal pointer"
        (click)="openImagesDialog(item.photo)"
      >
        <img class="thumbnail" [src]="photo.link || defaultImage" [alt]="photo.id">
      </div>
    </div>

    <div class="buttonbar">
      <div>
        <button
          [class.blue]="item.liked"
          (click)="like(item.id)"
        >
          <i class="material-icons icon-small padding-right">thumb_up</i>
        </button>

        <button
          *ngIf="item.likesCount !== 0"
          (click)="showLikes(item.id)"
        >
          {{item.likesCount}}
        </button>
      </div>

      <button (click)="showReviewReplies(item.id)">
        <i class="material-icons icon-small padding-right">reply</i>
        <ng-container *ngIf="item.replies && item.replies.length !== 0">
          {{ item.replies.length }}
        </ng-container>
      </button>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<app-loading [loading]="loading$ | async"></app-loading>
