:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.homepage-header__full-name {
  font-size: 20px;
  padding-top: 15px;
}

/* confirmation block */

.confirmation {
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 10px;
  border-bottom: 1px solid var(--grey-10);
}

.confirmation__text {
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.confirmation__text span {
  font-weight: 900;
}

.confirmation__actions {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  align-items: center;
}

.confirmation__link {
  position: relative;
  display: flex;
  text-align: center;
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}

.confirmation__actions p {
  font-size: 16px;
  margin: 0 10px;
}

.timeline-viewport {
  height: 100%;
}

.post-text {
  white-space: pre-wrap;
  word-break: break-word;
}

.flex-line-break {
  word-break: break-word;
}

.adaptable-item-list {
  background-color: var(--white);
}

.posts {
  .post-line {
    border-left: 1px solid var(--grey-10);
    border-right: 1px solid var(--grey-10);

    &:first-child {
      border-top: 1px solid var(--grey-10);
    }
  }
}

.opening-hours-table {
  width: auto;
  display: block;
  tr {
    &:first-child {
      td {
        padding-top: 0px;
      }
    }

    &:last-child {
      td {
        padding-bottom: 0;
      }
    }

    td {
      padding-right: 10px;
      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        padding-right: none;
      }
    }
  }
}

.heading-section, .info-section {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--grey-10);
  border-right: 1px solid var(--grey-10);
}

@media screen and (max-width: 600px) {
  .heading-section, .info-section, .post-line {
    border-left: none !important;
    border-right: none !important;
  }
}