<list-view-layout [loading]="navigating || (loading$ | async)" class="background-grey-3">
  <div class="heading-section">
    <ng-container *ngIf="viewableAccountUser$ | async as user">

      <div class="padding center border-bottom" *ngIf="!user.active && (isMyAccount$ | async)">
        <p>
          <span [innerHTML]="'PAGES.HOME_LIST.CONFIRM_EMAIL_TEXT' | translate"></span>
          <span class="bold">{{ user.email }}</span>
        </p>
        <div class="flex-center-row margin-top">
          <button class="blue margin-right" (click)="resendConfirmation()">
            {{ 'PAGES.HOME_LIST.RESEND_CONFIRMATION' | translate }}
          </button>
          <button class="grey" (click)="updateEmail()">
            {{ 'PAGES.HOME_LIST.UPDATE_EMAIL' | translate }}
          </button>
        </div>
      </div>

      <div class="homepage-header">
        <h2 *ngIf="!(isFolowing$ | async) && !(isMyAccount$ | async) && (isPrivate$ | async)"
          class="homepage-private-header margin-bottom-small bold">
          This Page is private
        </h2>
        <p *ngIf="!(isFolowing$ | async) && !(isMyAccount$ | async) && (isPrivate$ | async)"
          class="homepage-private-description margin-bottom">
          Follow this Page to see their content
        </p>
        <img [attr.src]="viewableAccountPhoto$ | async" class="user-photo">
        <h2 class="black flex-line-break homepage-header__full-name">{{ viewableAccountFullName$ | async }}</h2>
        <p class="grey flex-line-break">{{ viewableAccountPageName$ | async }}</p>
        <pre class="padding-top" style="width: 300px">{{ viewableAccountDescription$ | async | trim }}</pre>
      </div>

    </ng-container>

    <div class="buttonbar padding-small no-padding-top border-bottom">
      <div *ngIf="!(isMyAccount$ | async) && !(isBlocking$ | async) && !(viewableAccountIsBlocked$ | async)"
        class="buttonbar-item">
        <button class="grey" (click)="follow()">
          <div>
            <i class="material-icons icon-padding-bottom"
              [class.blue]="!(isFolowing$ | async) && !(followingRequest$ | async)">
              rss_feed
            </i>
            <div class="weight-normal">
              <span *ngIf="isFolowing$ | async" [class.blue]="!(isFolowing$ | async)">
                {{ 'GENERAL.STATUSES.FOLLOWING' | translate }}
              </span>
              <span *ngIf="followingRequest$ | async">
                {{ 'GENERAL.STATUSES.REQESTED' | translate }}
              </span>
              <span *ngIf="!(isFolowing$ | async) && !(followingRequest$ | async)"
                [class.blue]="!(isFolowing$ | async)">
                {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
              </span>
            </div>
          </div>
        </button>
      </div>

      <div *ngIf="!(isMyAccount$ | async) && (viewableAccountIsBlocked$ | async)" class="buttonbar-item">
        <button class="grey" (click)="blockUser()">
          <div class="red">
            <i class="material-icons icon-padding-bottom">block</i>
            <div class="weight-normal">{{ 'GENERAL.STATUSES.BLOCKED' | translate }}</div>
          </div>
        </button>
      </div>

      <div *ngIf="!(isMyAccount$ | async) && !(isBlocking$ | async) && !(viewableAccountIsBlocked$ | async)"
        class="buttonbar-item">
        <button class="grey" [appMessageTo]="(viewableAccount$ | async)?.id">
          <div>
            <i class="material-icons icon-padding-bottom">chat_bubble</i>
            <div class="weight-normal">{{ 'GENERAL.ACTIONS.MESSAGE' | translate }}</div>
          </div>
        </button>
      </div>

      <div class="buttonbar-item" *ngIf="(canEditSettings$ | async)">
        <button [routerLink]="['../settings']">
          <div>
            <i class="material-icons icon-padding-bottom">settings</i>
            <div class="weight-normal">{{ 'PAGES.HOME_LIST.SETTINGS' | translate }}</div>
          </div>
        </button>
      </div>

      <div class="buttonbar-item">
        <button [satPopoverAnchor]="userMoreP" (click)="userMoreP.toggle()">
          <i class="material-icons">more_vert</i>
        </button>
        <sat-popover #userMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
          <div class="popover">
            <!-- Share -->
            <share-link-item link="{{currentUrl}}/{{viewableAccountPageName$ | async}}/home"
              (handleClick)="userMoreP.close()"></share-link-item>

            <!-- Link -->
            <copy-link-item link="{{currentUrl}}/{{viewableAccountPageName$ | async}}/home"
              (handleClick)="userMoreP.toggle()"></copy-link-item>

            <button class="icon-button" (click)="blockUser(); userMoreP.toggle()" *ngIf="!(isMyAccount$ | async)">
              <i class="material-icons padding-right">block</i>
              {{
                        (isBlocked$ | async)
                        ? ('GENERAL.ACTIONS.UNBLOCK' | translate)
                        : ('GENERAL.ACTIONS.BLOCK' | translate)
                      }}
            </button>

            <button class="icon-button" (click)="userMoreP.toggle(); reportDialog(reportD)"
              *ngIf="!(isMyAccount$ | async)">
              <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </div>
        </sat-popover>
      </div>

      <ng-template #reportD>
        <app-report-add [contentType]="'user'" [contentId]="(viewableAccountUser$ | async).id"></app-report-add>
      </ng-template>
    </div>

    <div *ngIf="(isBlocking$ | async)" class="center margin-top padding">
      <h2 class="margin-bottom">{{ 'PAGES.HOME_LIST.YOU_ARE_BLOCKED' | translate }}</h2>
      <p class="grey">{{ 'PAGES.HOME_LIST.YOU_CANNOT_FOLLOW' | translate }} {{ viewableAccountPageName$ | async }}</p>
    </div>
  </div>

  <ng-container *ngIf="!(isBlocking$ | async) && !(isBlocked$ | async)">
    <div class="info-section border-bottom">
      <button class="icon-button-small" (click)="followers()">
        <i class="material-icons icon-small padding-right">rss_feed</i>
        {{ (viewableAccount$ | async)?.followersCount | i18nPlural: followersMapping }}
      </button>

      <button *ngIf="(viewableAccountUser$ | async)?.residence as residence" class="icon-button-small no-link">
        <i class="material-icons icon-small padding-right">home</i>
        {{ residence }}
      </button>

      <button class="icon-button-small"
        *ngIf="(userType$ | async) === 'business' && businessAddress$ | async as businessAddress" [copyableText]="businessAddress">
        <i class="material-icons icon-small padding-right">location_on</i>
        <span id="business-address">{{businessAddress}}</span>
      </button>

      <button class="icon-button-small" *ngIf="(userType$ | async) === 'business' && (businessPhone$ | async)">
        <i class="material-icons icon-small padding-right">phone</i>
        {{businessPhone$ | async}}
      </button>

      <button class="icon-button-small" (click)="legalNotice(legalNoticeTemplate)"
        *ngIf="(userType$ | async) === 'business' && (legalNotice$ | async)">
        <i class="material-icons icon-small padding-right">info</i>
        {{ 'PAGES.HOME_LIST.LEGAL_NOTICE' | translate }}
      </button>
      <ng-template #legalNoticeTemplate>
        <div class="header">
          <button class="grey padding-right" mat-dialog-close>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h2 class="header-title">{{ 'PAGES.HOME_LIST.LEGAL_NOTICE' | translate }}</h2>
        </div>
        <p class="padding">{{legalNotice$ | async}}</p>
      </ng-template>
      <app-accordion-panel [title]="'PAGES.HOME_LIST.OPENING_HOURS' | translate" icon="schedule"
        *ngIf="(userType$ | async) === 'business' && hourList && hourList.length">
        <table class="opening-hours-table font-normal" style="border-spacing: 0">
          <tr *ngFor="let day of weekly; let i = index ">
            <td class="bold">{{day.day | translate}}</td>
            <ng-container *ngIf="day.from_first">
              <td>{{day.from_first}} -
                {{day.to_first}}{{day.from_second ? ', ' : ''}}{{day.from_second}}{{day.from_second ? ' - ' : ''}}{{day.to_second}}
              </td>
            </ng-container>
            <ng-container *ngIf="!day.from_first">
              <td>{{ 'PAGES.HOME_LIST.CLOSED' | translate }}</td>
            </ng-container>
          </tr>

        </table>
      </app-accordion-panel>
    </div>

    <!--Timeline-->

    <h2 class="sub-header background-grey-3" *ngIf="(timeline$ | async)?.length">
      {{ 'PAGES.HOME_LIST.TIMELINE' | translate }}
    </h2>

    <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()" class="posts" *ngIf="(timeline$ | async).length">
      <div *ngFor="let post of timeline$ | async; let i = index; trackBy: trackByHash"
        class="post-line background-white border-bottom">

        <!--Texts Start-->

        <div *ngIf="post.tableName === 'text'" class="timeline-text-item pointer">
          <div class="item pointer no-padding-bottom">
            <img [src]="viewableAccountPhoto$ | async" class="avatar"
              routerLink="/{{ viewableAccountPageName$ | async }}/texts/{{ post.id }}">
            <div class="item-text pointer" routerLink="/{{ viewableAccountPageName$ | async }}/texts/{{ post.id }}">
              <h2 class="black">{{ viewableAccountFullName$ | async }}</h2>
              <p>{{post.created | timeAgo}}</p>
            </div>

            <button class="item-end" [satPopoverAnchor]="textMoreP" (click)="textMoreP.toggle()">
              <i class="material-icons icon-small">more_vert</i>
            </button>

            <sat-popover #textMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">
                <copy-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/texts/{{ post.id }}"
                  (handleClick)="textMoreP.close()"></copy-link-item>

                <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                  <button class="icon-button" (click)="goToEditPost(post)">
                    <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                  </button>

                  <!--Delete-->

                  <button class="icon-button" (click)="deleteTextDialog(deleteTextD);textMoreP.close()">
                    <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                  </button>

                  <ng-template #deleteTextD>
                    <h2 class="dialog-header">{{ 'DIALOGS.TEXT_DELETE.TITLE' | translate }}</h2>
                    <div class="dialog-buttons">
                      <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                      <button class="red" matDialogClose
                        (click)="deleteText(post.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
                    </div>
                  </ng-template>
                </ng-container>

                <!--Report-->

                <button class="icon-button" (click)="reportDialog(reportTextD);textMoreP.close()"
                  *ngIf="!(isMyAccount$ | async)">
                  <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
                </button>
                <ng-template #reportTextD>
                  <app-report-add [contentType]="'text'" [contentId]="post.id"></app-report-add>
                </ng-template>
              </div>
            </sat-popover>
          </div>
          <div class="pointer" *ngIf="post.text !== ''" (click)="goToPost(post)">
            <app-truncatable-text [text]="post.text | linkstohtml" [mentions]="post.mentions" [truncatable]="true"
              [padding]="false" [borderBottom]="false" class="no-"></app-truncatable-text>
            <div class="info-icons padding-bottom padding-left padding-right view-count-container-fix"
              *ngIf="(post.viewsCount | number) > 0 || post.likesCount > 0">
              <ng-container *ngIf="(post.viewsCount | number) > 0">
                <i class="material-icons icon-small icon-padding-right">visibility</i>
                <p class="padding-right">{{ post.viewsCount | number }}</p>
              </ng-container>
              <ng-container *ngIf="post.likesCount && post.likesCount !== 0">
                <i class="material-icons icon-small icon-padding-right" [class.blue]="post.liked">thumb_up</i>
                <p>{{post.likesCount | number}}</p>
              </ng-container>

            </div>
          </div>
        </div>

        <!--Texts End-->

        <!--Photos Start-->

        <div *ngIf="post.tableName === 'photo'" class="item" (click)="goToPost(post)"
          [ngClass]="{ disabled: post.uploading || post.processing }">
          <div class="position-relative">
            <app-thumbnail [url]="post.thumb || post.photo" [item]="post" [additionalClass]="post.filterName">
            </app-thumbnail>
            <ng-container *ngIf="!(post.uploading || post.processing)">
              <i class="material-icons icon-small white content-icon">photo_camera</i>
            </ng-container>
          </div>

          <div class="item-text">
            <h2 *ngIf="post.title" class="black" ellipsis>{{ post.title }}</h2>
            <p>{{ viewableAccountFullName$ | async }}</p>
            <p>{{post.created | timeAgo}}</p>
            <div class="info-icons">
              <i *ngIf="post.viewsCount && post.viewsCount !== 0"
                class="material-icons icon-small icon-padding-right">visibility</i>
              <p *ngIf="post.viewsCount && post.viewsCount !== 0" class="padding-right">
                {{post.viewsCount | number}}</p>
              <ng-container *ngIf="post.likesCount && post.likesCount !== 0">
                <i class="material-icons icon-small icon-padding-right" [class.blue]="post.liked">thumb_up</i>
                <p>{{post.likesCount | number}}</p>
              </ng-container>
            </div>
          </div>

          <button class="item-end" [satPopoverAnchor]="photoMoreP" (click)="photoMoreP.toggle()"
            (click)="$event.stopPropagation()"><i class="material-icons icon-small">more_vert</i></button>
          <sat-popover #photoMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover">

              <!-- Bookmark-->

              <bookmark-link-item [id]="post.id" [isBookmark]="post.bookmarked" type="photo"
                (handleClick)="photoMoreP.close()"></bookmark-link-item>

              <share-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/photos/{{ post.id }}"
                (handleClick)="photoMoreP.close()"></share-link-item>

              <copy-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/photos/{{ post.id }}"
                (handleClick)="photoMoreP.close()"></copy-link-item>

              <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                <button class="icon-button" (click)="goToEditPost(post)">
                  <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                </button>

                <!--Delete-->

                <button class="icon-button" (click)="deletePhotoDialog(deletePhotoD);photoMoreP.close()">
                  <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>

                <ng-template #deletePhotoD>
                  <h2 class="dialog-header">{{ 'DIALOGS.PHOTO_DELETE.TITLE' | translate }}</h2>
                  <div class="dialog-buttons">
                    <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                    <button class="red" matDialogClose
                      (click)="deletePhoto(post.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
                  </div>
                </ng-template>
              </ng-container>

              <!--Report-->

              <button class="icon-button" (click)="reportDialog(reportD);photoMoreP.close()"
                *ngIf="!(isMyAccount$ | async)">
                <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>

              <ng-template #reportD>
                <app-report-add [contentType]="'photo'" [contentId]="post.id"></app-report-add>
              </ng-template>
            </div>
          </sat-popover>
        </div>

        <!--Photos End-->

        <!--Videos Start-->

        <div *ngIf="post.tableName === 'video'" class="item" (click)="goToPost(post)"
          [ngClass]="{ disabled: post.uploading || post.processing }">
          <div class="video-duration-container">
            <app-thumbnail [url]="generateCover(post)" [item]="post"></app-thumbnail>
            <ng-container *ngIf="!(post.uploading || post.processing)">
              <i class="material-icons icon-small white content-icon">videocam</i>
              <p class="video-duration" *ngIf="post.duration">{{post.duration}}</p>
            </ng-container>
          </div>

          <div class="item-text">
            <h2 class="black" ellipsis>{{ post.title }}</h2>
            <p>{{ viewableAccountFullName$ | async }}</p>
            <p>{{post.created | timeAgo}}</p>
            <div class="info-icons">
              <i *ngIf="post.viewsCount && post.viewsCount !== 0"
                class="material-icons icon-small icon-padding-right">visibility</i>
              <p *ngIf="post.viewsCount && post.viewsCount !== 0" class="padding-right">{{post.viewsCount | number}}
              </p>
              <ng-container *ngIf="post.likesCount && post.likesCount > 0">
                <i class="material-icons icon-small icon-padding-right" [class.blue]="post.liked">thumb_up</i>
                <p>{{post.likesCount | number}}</p>
              </ng-container>
            </div>
          </div>
          <button class="item-end" [satPopoverAnchor]="videoMoreP" (click)="videoMoreP.toggle()"
            (click)="$event.stopPropagation()"><i class="material-icons icon-small">more_vert</i></button>
          <sat-popover #videoMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover">

              <!-- Bookmark-->

              <bookmark-link-item [id]="post.id" [isBookmark]="post.bookmarked" type="video"
                (handleClick)="serviceMoreP.close()"></bookmark-link-item>

              <share-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/videos/{{ post.id }}"
                (handleClick)="serviceMoreP.close()"></share-link-item>

              <copy-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/videos/{{ post.id }}"
                (handleClick)="videoMoreP.close()"></copy-link-item>

              <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                <button class="icon-button" (click)="goToEditPost(post)">
                  <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                </button>

                <!--Delete-->

                <button class="icon-button" (click)="deleteVideoDialog(deleteVideoD);videoMoreP.close()">
                  <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>

                <ng-template #deleteVideoD>
                  <h2 class="dialog-header">{{ 'DIALOGS.VIDEO_DELETE.TITLE' | translate }}</h2>
                  <div class="dialog-buttons">
                    <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                    <button class="red" matDialogClose
                      (click)="deleteVideo(post.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
                  </div>
                </ng-template>
              </ng-container>

              <!--Report-->

              <button class="icon-button" (click)="reportDialog(reportD);videoMoreP.close()"
                *ngIf="!(isMyAccount$ | async)">
                <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>

              <ng-template #reportD>
                <app-report-add [contentType]="'video'" [contentId]="post.id"></app-report-add>
              </ng-template>
            </div>
          </sat-popover>
        </div>

        <!--Videos End-->

        <!--Articles Start-->

        <div *ngIf="post.tableName === 'article'" class="item" (click)="goToPost(post)"
          [ngClass]="{ disabled: post.uploading || post.processing }">
          <div class="position-relative">
            <app-thumbnail [url]="post.thumb || post.cover" [item]="post"></app-thumbnail>
            <ng-container *ngIf="!(post.uploading || post.processing)">
              <i class="material-icons icon-small white content-icon">insert_drive_file</i>
            </ng-container>
          </div>

          <div class="item-text">
            <h2 *ngIf="post.title" class="black" ellipsis>{{ post.title }}</h2>
            <p>{{ viewableAccountFullName$ | async }}</p>
            <p>{{ post.created | timeAgo }}</p>
            <div class="info-icons">
              <ng-container *ngIf="post.viewsCount">
                <i class="material-icons icon-small icon-padding-right">visibility</i>
                <p *ngIf="post.viewsCount" class="padding-right">{{post.viewsCount | number}}</p>
              </ng-container>
              <ng-container *ngIf="post.likesCount">
                <i class="material-icons icon-small icon-padding-right" [class.blue]="post.liked">thumb_up</i>
                <p>{{ post.likesCount | number }}</p>
              </ng-container>
            </div>
          </div>
          <button class="item-end" [satPopoverAnchor]="articleMoreP" (click)="articleMoreP.toggle()"
            (click)="$event.stopPropagation()"><i class="material-icons icon-small">more_vert</i></button>
          <sat-popover #articleMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover">

              <!-- Bookmark-->

              <bookmark-link-item [id]="post.id" [isBookmark]="post.bookmarked" type="article"
                (handleClick)="serviceMoreP.close()"></bookmark-link-item>

              <share-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/blog/{{ post.id }}"
                (handleClick)="serviceMoreP.close()"></share-link-item>

              <copy-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/blog/{{ post.id }}"
                (handleClick)="articleMoreP.close()"></copy-link-item>

              <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                <button class="icon-button" (click)="goToEditPost(post)">
                  <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                </button>

                <!--Delete-->

                <button class="icon-button" (click)="deleteArticleDialog(deleteArticleD);articleMoreP.close()">
                  <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>

                <ng-template #deleteArticleD>
                  <h2 class="dialog-header">{{ 'DIALOGS.ARTICLE_DELETE.TITLE' | translate }}</h2>
                  <div class="dialog-buttons">
                    <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                    <button class="red" matDialogClose
                      (click)="deleteArticle(post.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
                  </div>
                </ng-template>
              </ng-container>

              <!--Report-->

              <button class="icon-button" (click)="reportDialog(reportD);articleMoreP.close()"
                *ngIf="!(isMyAccount$ | async)">
                <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>

              <ng-template #reportD>
                <app-report-add [contentType]="'article'" [contentId]="post.id"></app-report-add>
              </ng-template>
            </div>
          </sat-popover>
        </div>

        <!--Articles End-->

        <!--Services Start-->

        <div *ngIf="post.tableName === 'service'" class="item" (click)="goToPost(post)"
          [ngClass]="{ disabled: post.uploading || post.processing }">
          <div class="position-relative">
            <app-thumbnail [url]="post.thumb || post.photo" [item]="post"></app-thumbnail>
            <ng-container *ngIf="!(post.uploading || post.processing)">
              <i class="material-icons icon-small white content-icon">person</i>
            </ng-container>
          </div>
          <div class="item-text">
            <div class="item-header">
              <h2 *ngIf="!post.active" class="red margin-right-small">
                {{ 'GENERAL.STATUSES.INACTIVE' | translate }}
              </h2>
              <h2 *ngIf="post.title" class="black" ellipsis>{{ post.title }}</h2>
            </div>

            <h2 class="black bold">
              <span>{{ post.price | customCurrency }}</span><span
                *ngIf="post.schedule.duration && post.schedule.duration !== '10:00'">/{{
                          'GENERAL.DATE_TIME.DURATIONS.' + findDuration(post.schedule.duration) | translate
                        }}</span>
            </h2>

            <p *ngIf="post.schedule && (!post.schedule.duration || post.schedule.duration === '10:00')">
              {{ getDateValue(post.schedule?.byDate[0]?.from) }}
            </p>

            <p>{{ viewableAccountFullName$ | async }}</p>
            <div class="flex" *ngIf="post.reviewsCount > 0">
              <p class="blue bold padding-right-small">{{ post.ratingCount | number }}</p>
              <i class="material-icons icon-small blue">star</i>
              <i class="material-icons icon-small blue">star</i>
              <i class="material-icons icon-small blue">star</i>
              <p class="grey padding-left-small margin-right">({{ post.reviewsCount }})</p>
            </div>
          </div>
          <button class="item-end" [satPopoverAnchor]="serviceMoreP" (click)="serviceMoreP.toggle()"
            (click)="$event.stopPropagation()"><i class="material-icons icon-small">more_vert</i></button>
          <sat-popover #serviceMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover">

              <!-- Bookmark-->

              <bookmark-link-item [id]="post.id" [isBookmark]="post.bookmarked" type="service"
                (handleClick)="serviceMoreP.close()"></bookmark-link-item>

              <!-- Share-->

              <share-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/services/{{ post.id }}"
                (handleClick)="serviceMoreP.close()"></share-link-item>

              <!-- Link -->

              <copy-link-item link="{{ currentUrl }}/{{ viewableAccountPageName$ | async }}/services/{{ post.id }}"
                (handleClick)="serviceMoreP.close()"></copy-link-item>

              <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                <button class="icon-button" (click)="goToEditPost(post)">
                  <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                </button>

                <button class="icon-button" (click)="inactiveService(post); serviceMoreP.close()">
                  <i class="material-icons padding-right">schedule</i>
                  {{
                              post.active
                              ? ('GENERAL.STATUSES.INACTIVE' | translate)
                              : ('GENERAL.STATUSES.ACTIVE' | translate)
                            }}
                </button>

                <!--Delete-->

                <button class="icon-button" (click)="deleteServiceDialog(deleteServiceD); serviceMoreP.close()">
                  <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>

                <ng-template #deleteServiceD>
                  <h2 class="dialog-header">{{ 'DIALOGS.SERVICE_DELETE.TITLE' | translate }}</h2>
                  <div class="dialog-buttons">
                    <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                    <button class="red" matDialogClose
                      (click)="deleteService(post.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
                  </div>
                </ng-template>
              </ng-container>

              <!--Report-->

              <button class="icon-button" (click)="reportDialog(reportD);serviceMoreP.close()"
                *ngIf="!(isMyAccount$ | async)">
                <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>

              <ng-template #reportD>
                <app-report-add [contentType]="'service'" [contentId]="post.id"></app-report-add>
              </ng-template>
            </div>
          </sat-popover>
        </div>

        <!--Services End-->

      </div>
    </app-infinite-scroll-with-loader>
  </ng-container>
</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="(total$ | async) && !(loading$ | async)"></div>
<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>