<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async" [disabled]="loading$ | async" formId="ngForm"
  (onSubmitClick)="saveAndBack()" [loading]="loading$ | async">

  <!--Form-->

  <form [formGroup]="form" id="ngForm">
    <app-input-with-mentions placeholder="{{ 'PAGES.TEXT_ADD.FORM.TEXT.PLACEHOLDER' | translate }}"
      formControlName="text" floatLabel="never" [autofocus]="true"></app-input-with-mentions>
  </form>

  <!--Drafts-->

  <button type="button" class="icon-button grey" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
    [disabled]="!wasChanged()">
    <i class="material-icons padding-right">create</i>
    {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
  </button>

  <div class="border-top" *ngIf="(drafts$ | async)?.length > 0">
    <h2 class="sub-header background-grey-3 add-view-layout-border-fix">{{ (drafts$ | async)?.length | i18nPlural: textDraftsMapping }}</h2>

    <div class="item border-top" *ngFor="let draft of drafts$ | async; let i = index"
      (click)="$event.stopPropagation(); selectDraft(draft.id)">
      <div class="item-text">
        <h2 *ngIf="draft.text" class="black text-truncate-ellipsis">{{draft.text}}</h2>
        <h2 *ngIf="!draft.text" class="black">{{ 'PAGES.TEXT_ADD.NO_TEXT' | translate }}</h2>
      </div>

      <!--Delete Draft-->

      <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD)">
        <i class="material-icons icon-small">delete</i>
      </button>

      <ng-template #deleteDraftD>
        <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" (click)="deleteDraft(draft)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
        </div>
      </ng-template>
    </div>
  </div>
</add-view-layout>