<div class="service-detail-wrapper flex-center-column flex-stretch padding-bottom">
  <app-content-layout class="background-white">
    <app-feed-item-service [item]="service$ | async" [borderBottom]="false" (delete)="onDelete()">
    </app-feed-item-service>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>