<ng-container *ngFor="let item of order.order_items">
    <app-order-list-item 
    [status]="getOrderStatus(item)" 
    [title]="pickTitle(item)" 
    [photoUrl]="pickImageUrl(item)" 
    [statusDate]="pickDateByStatus(getStatus(item), item) | date" 
    [orderUrl]="buildUrl()" 
    [price]="item.price"></app-order-list-item>
</ng-container>