:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.tabs {
  position: sticky;
  top: var(--content-search-height);
  white-space: nowrap;
  z-index: 10;
}

.slider {
  .slider-item {
    margin-right: 2px;
    flex: 0 0 100px;
    cursor: pointer;
  }

  .slider-more-button {
    margin-left: 8px;
  }
}

.search-infinite-scroll-viewport {
  height: calc(100% - var(--content-tabs-height));
}

.photo-infinite-list {
  height: calc(100% - var(--content-tabs-height));
  overflow-y: auto;
}

.search-list-wrapper {
  position: relative;
}

.photo-list-layout {
  border: none;
}

.inner-no-content-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.search-list-content-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}