<div class="search-list-wrapper flex-center-column flex-stretch">
  <div class="tabs background-white" #tabs>
    <a class="tab" [class.tab-active]="searchType === 'all'" [routerLink]="['/search']"
      [queryParams]="{ type: 'all', q: searchText, location: location }">
      {{ 'PAGES.SEARCH.TABS.ALL' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'account'" [routerLink]="['/search']"
      [queryParams]="{ type: 'account', q: searchText }" *ngIf="!location">
      {{ 'PAGES.SEARCH.TABS.PAGES' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'photo'" [routerLink]="['/search']"
      [queryParams]="{ type: 'photo', q: searchText, location: location }">
      {{ 'PAGES.SEARCH.TABS.PHOTOS' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'video'" [routerLink]="['/search']"
      [queryParams]="{ type: 'video', q: searchText, location: location }">
      {{ 'PAGES.SEARCH.TABS.VIDEOS' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'article'" [routerLink]="['/search']"
      [queryParams]="{ type: 'article', q: searchText, location: location }">
      {{ 'PAGES.SEARCH.TABS.ARTICLES' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'product'" [routerLink]="['/search']"
      [queryParams]="{ type: 'product', q: searchText }" *ngIf="!location">
      {{ 'PAGES.SEARCH.TABS.PRODUCTS' | translate }}
    </a>
    <a class="tab" [class.tab-active]="searchType === 'service'" [routerLink]="['/search']"
      [queryParams]="{ type: 'service', q: searchText }" *ngIf="!location">
      {{ 'PAGES.SEARCH.TABS.SERVICES' | translate }}
    </a>
  </div>
  <div class="search-list-content-wrapper padding-bottom">
    <app-no-items-placeholder
      [show]="(!(items$ | async)?.length && !(users$ | async).length && !(photos$ | async).length && !(loading$ | async))"
      [text]="'PAGES.SEARCH.NO_RESULTS' | translate" class="sub-header-title"></app-no-items-placeholder>
    <ng-container [ngSwitch]="searchType"
      *ngIf="((photos$ | async)?.length || (items$ | async)?.length || (users$ | async)?.length) && !(loading$ | async)">

      <ng-container *ngSwitchCase="'all'">
        <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()">
          <app-content-layout>
            <div class="item border-bottom" *ngFor="let user of users$ | async" routerLink="/{{ user.pageLink }}/home">
              <img [src]="user.business_thumb || user.thumb || defaultAvatar" class="avatar">
              <div class="item-text">
                <ng-container *ngIf="user.text_business_pagename else showPerson">
                  <h2 class="black">{{user.text_business_name}}</h2>
                  <p>{{user.text_business_pagename}}</p>
                </ng-container>
                <ng-template #showPerson>
                  <h2 class="black">{{user.text_person_fullname}}</h2>
                  <p>{{user.text_person_pagename}}</p>
                </ng-template>
              </div>
              <button class="item-end" [matMenuTriggerFor]="userMore" (click)="$event.stopPropagation()">
                <i class="material-icons icon-small">more_vert</i>
              </button>
              <mat-menu #userMore>
                <ng-container *ngIf="(loggedInAccount$ | async)?.id !== user.id">
                  <button class="icon-button" (click)="follow(user)">
                    <ng-container *ngIf="isFollowing(user); else followLabel">
                      <i class="material-icons padding-right">close</i>
                      {{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
                    </ng-container>
                    <ng-template #followLabel>
                      <span class="blue">
                        <i class="material-icons" style="padding-right: 5px;">rss_feed</i>
                        {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                      </span>
                    </ng-template>
                  </button>
                </ng-container>
                <share-link-item link="{{ currentUrl }}/{{ user.pageLink }}/home"></share-link-item>
                <copy-link-item link="{{ currentUrl }}/{{ user.pageLink }}/home"></copy-link-item>
              </mat-menu>

            </div>
          </app-content-layout>

          <app-content-layout>
            <div class="padding border-bottom" *ngIf="(photos$ | async)?.length">
              <div class="flex grey padding-bottom">
                <i class="material-icons padding-right">photo_camera</i>
                <h2>{{ 'PAGES.SEARCH.PHOTOS' | translate }}</h2>
              </div>
              <div class="slider">
                <app-thumbnail *ngFor="let photo of photos$ | async; trackBy: trackById" class="slider-item thumbnail"
                  [url]="photo.thumb" [additionalClass]="photo.filterName"
                  [routerLink]="[ '/', photo.pageLink, 'photos', photo.id]">
                </app-thumbnail>
                <button class="grey slider-more-button" *ngIf="(photosTotal$ | async) > 10" [routerLink]="['/search']"
                  [queryParams]="{ type: 'photo', q: searchText }">
                  {{ 'GENERAL.ACTIONS.MORE' | translate }}
                </button>
              </div>
            </div>
          </app-content-layout>
          <ng-container *ngFor="let item of items$ | async; trackBy: trackById">
            <app-content-layout>
              <ng-container *ngTemplateOutlet="listItemTemplate; context: { item: item }"></ng-container>
            </app-content-layout>
          </ng-container>
        </app-infinite-scroll-with-loader>

      </ng-container>

      <ng-container *ngSwitchCase="'photo'">
        <app-infinite-scroll-with-loader (scrolled)="triggerScroll()" class="photo-infinite-list" [showLoading]="lazyLoading$ | async">
          <app-content-layout class="background-grey-3 border-none">
            <app-no-items-placeholder [show]="(!(items$ | async)?.length && !(loading$ | async))"
              [text]="'PAGES.SEARCH.NO_RESULTS' | translate" class="sub-header-title inner-no-content-message">
            </app-no-items-placeholder>
            <mat-grid-list cols="3" rowHeight="1:1" gutterSize="2">
              <mat-grid-tile *ngFor="let item of items$ | async">
                <app-thumbnail [routerLink]="[ '/', item.pageLink, 'photos', item.id]" [url]="item.thumb" [item]="item"
                  [additionalClass]="item.filterName"></app-thumbnail>
              </mat-grid-tile>
            </mat-grid-list>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <app-infinite-scroll-with-loader (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async">
          <app-no-items-placeholder [show]="!(items$ | async)?.length && !(loading$ | async)"
            [text]="'PAGES.SEARCH.NO_RESULTS' | translate" class="sub-header-title inner-no-content-message">
          </app-no-items-placeholder>
          <app-content-layout>
            <ng-container *ngFor="let item of items$ | async">
              <ng-container *ngTemplateOutlet="listItemTemplate; context: { item: item }"></ng-container>
            </ng-container>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>

    </ng-container>

    <ng-template #listItemTemplate let-item="item">
      <ng-container [ngSwitch]="item.type">

        <ng-container *ngSwitchCase="'account'">
          <div class="item border-bottom" routerLink="/{{ item.pageLink }}/home">
            <img [src]="item.business_thumb || item.thumb || defaultAvatar" class="avatar">
            <div class="item-text">
              <ng-container *ngIf="item.text_business_pagename else showPerson">
                <h2 class="black">{{ item.text_business_name }}</h2>
                <p>{{ item.text_business_pagename }}</p>
              </ng-container>
              <ng-template #showPerson>
                <h2 class="black">{{ item.text_person_fullname }}</h2>
                <p>{{ item.text_person_pagename }}</p>
              </ng-template>
            </div>
            <button class="item-end" [matMenuTriggerFor]="userMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #userMore>
              <ng-container *ngIf="(loggedInAccount$ | async)?.id !== item.id">
                <button class="icon-button" (click)="follow(item)">
                  <ng-container *ngIf="isFollowing(item); else followLabel">
                    <i class="material-icons padding-right">close</i>
                    {{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
                  </ng-container>
                  <ng-template #followLabel>
                    <span class="blue">
                      <i class="material-icons" style="padding-right: 5px">rss_feed</i>
                      {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                    </span>
                  </ng-template>
                </button>
              </ng-container>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/home"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/home"></copy-link-item>
            </mat-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'photo'">
          <div class="item border-bottom" [routerLink]="[ '/', item.pageLink, 'photos', item.id]">
            <div class="position-relative">
              <app-thumbnail [url]="item.thumb"></app-thumbnail>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis [ellipsis-content]="item.text_title"></h2>
              <p>{{ item.userName }}</p>
              <p>{{ item.created | timeAgo }}</p>
              <div class="info-icons">
                <i class="material-icons icon-small icon-padding-right">visibility</i>
                <p class="padding-right">{{ item.amount_likes }}</p>
                <ng-container *ngIf="item.amount_likes">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ item.amount_likes }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [matMenuTriggerFor]="photoMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #photoMore>
              <bookmark-link-item [id]="item.id" type="photo" [isBookmark]="item.bookmarked"></bookmark-link-item>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/photos/{{ item.id }}"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/photos/{{ item.id }}"></copy-link-item>
              <button class="icon-button">
                <i class="material-icons padding-right">info</i>
                {{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>
            </mat-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'video'">
          <div class="item border-bottom" [routerLink]="[ '/', item.pageLink, 'videos', item.id ]">
            <div class="video-duration-container">
              <app-thumbnail [url]="item.thumb"></app-thumbnail>
              <i class="material-icons icon-small white content-icon">videocam</i>
              <p class="video-duration">{{ item.duration }}</p>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis [ellipsis-content]="item.text_title"></h2>
              <p>{{ item.userName }}</p>
              <p>{{ item.created | timeAgo }}</p>
              <div class="info-icons">
                <i class="material-icons icon-small icon-padding-right">visibility</i>
                <p class="padding-right">{{ item.amount_views }}</p>
                <ng-container *ngIf="item.amount_likes">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ item.amount_likes }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [matMenuTriggerFor]="videoMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #videoMore>
              <bookmark-link-item [id]="item.id" type="video" [isBookmark]="item.bookmarked"></bookmark-link-item>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/videos/{{ item.id }}"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/videos/{{ item.id }}"></copy-link-item>
              <button class="icon-button" (click)="report(item, 'video')">
                <i class="material-icons padding-right">info</i>
                {{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>
            </mat-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'article'">
          <div class="item border-bottom" [routerLink]="[ '/', item.pageLink, 'blog', item.id]">
            <div class="position-relative">
              <app-thumbnail [url]="item.thumb"></app-thumbnail>
              <i class="material-icons icon-small white content-icon">insert_drive_file</i>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis [ellipsis-content]="item.text_title"></h2>
              <p>{{ item.userName }}</p>
              <p>{{ item.created | timeAgo }}</p>
              <div class="info-icons">
                <i class="material-icons icon-small icon-padding-right">visibility</i>
                <p class="padding-right">{{ item.amount_views }}</p>
                <ng-container *ngIf="item.likes">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ item.amount_likes }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [matMenuTriggerFor]="articleMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #articleMore>
              <bookmark-link-item [id]="item.id" type="article" [isBookmark]="item.bookmarked"></bookmark-link-item>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/blog/{{ item.id }}"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/blog/{{ item.id }}"></copy-link-item>
              <button class="icon-button" (click)="report(item, 'article')">
                <i class="material-icons padding-right">info</i>
                {{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>
            </mat-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'product'">
          <div class="item border-bottom" [routerLink]="[ '/', item.pageLink, 'shop', item.id ]">
            <div class="position-relative">
              <app-thumbnail [url]="item.thumb"></app-thumbnail>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis [ellipsis-content]="item.text_title"></h2>
              <h2 class="black bold">{{ item.price | customCurrency }}</h2>
              <p>{{ item.userName }}</p>
              <p *ngIf="item.street">{{item.street}} {{item.zip}} {{item.city}}</p>
              <div class="flex">
                <p class="blue bold padding-right-small">{{ item.average_rating | number }}</p>
                <i class="material-icons icon-small blue">star</i>
                <i class="material-icons icon-small blue">star</i>
                <i class="material-icons icon-small blue">star</i>
                <p class="grey padding-left-small margin-right">({{ item.amount_reviews }})</p>
              </div>
            </div>
            <button class="item-end" [matMenuTriggerFor]="productMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #productMore>
              <bookmark-link-item [id]="item.id" type="product" [isBookmark]="item.bookmarked"></bookmark-link-item>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/shop/{{ item.id }}"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/shop/{{ item.id }}"></copy-link-item>
              <button class="icon-button" (click)="report(item, 'product')">
                <i class="material-icons padding-right">info</i>
                {{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>
            </mat-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'service'">
          <div class="item border-bottom" [routerLink]="[ '/', item.pageLink, 'services', item.id ]">
            <div class="position-relative">
              <app-thumbnail [url]="item.thumb"></app-thumbnail>
              <i class="material-icons icon-small white content-icon">person</i>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis [ellipsis-content]="item.text_title"></h2>
              <h2 class="black bold">
                {{ item.price | customCurrency }}<span>{{ 'GENERAL.STATUSES.PER_HOUR' | translate }}</span></h2>
              <p>{{ item.userName }}</p>
              <p>{{ item.created | timeAgo }}</p>
              <p *ngIf="item.street">{{item.street}} {{item.zip}} {{item.city}}</p>
              <div class="flex">
                <p class="blue bold padding-right-small">{{ item.average_rating | number }}</p>
                <i class="material-icons icon-small blue">star</i>
                <i class="material-icons icon-small blue">star</i>
                <i class="material-icons icon-small blue">star</i>
                <p class="grey padding-left-small margin-right">({{ item.amount_reviews }})</p>
              </div>
            </div>
            <button class="item-end" [matMenuTriggerFor]="serviceMore" (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <mat-menu #serviceMore>
              <bookmark-link-item [id]="item.id" type="service" [isBookmark]="item.bookmarked"></bookmark-link-item>
              <share-link-item link="{{ currentUrl }}/{{ item.pageLink }}/services/{{ item.id }}"></share-link-item>
              <copy-link-item link="{{ currentUrl }}/{{ item.pageLink }}/services/{{ item.id }}"></copy-link-item>
              <button class="icon-button" (click)="report(item, 'service')">
                <i class="material-icons padding-right">info</i>
                {{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>
            </mat-menu>
          </div>
        </ng-container>

      </ng-container>
    </ng-template>
    <app-loading [loading]="(loading$ | async) || (localLoading$ | async) && !(lazyLoading$ | async)" [immediateShow]="true"></app-loading>
  </div>
</div>