<!-- !!!!! Do not add any whitespaces or linebreaks in <pre></pre>, because it will break layout -->

<ng-container *ngIf="text">
  <ng-container *ngIf="truncatable else notTruncatable">
    <ng-container *ngIf="truncated else notTruncated">
      <pre class="padding truncatable-text collapsed" [ngClass]="{ 'border-bottom': borderBottom }"><span [innerHTML]="text | trim | slice:0:toSlice | hashtags | mentions:mentions" class="truncatable-text-container"></span><span class="grey pointer"
          *ngIf="text && text.length > toSlice" (click)="handleMoreClick()" class="grey pointer">{{ 'COMPONENTS.TRUNCATABLE_TEXT.MORE' | translate }}</span></pre>
    </ng-container>

    <ng-template #notTruncated>
      <pre class="padding truncatable-text" [ngClass]="{ 'border-bottom': borderBottom }"><span [innerHTML]="text | trim | hashtags | mentions:mentions"></span><span class="grey pointer" *ngIf="text.length > toSlice"
          (click)="handleLessClick()">{{ 'COMPONENTS.TRUNCATABLE_TEXT.LESS' | translate }}</span></pre>
    </ng-template>
  </ng-container>

  <ng-template #notTruncatable>
    <pre class="padding truncatable-text" [ngClass]="{ 'border-bottom': borderBottom }" [innerHTML]="text | trim | hashtags | mentions:mentions"></pre>
  </ng-template>
</ng-container>