:host {
  padding-top: 1px;
}

app-loading {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: calc(100% - var(--content-search-height) - var(--main-tabs-height));
}