<div class="message-detail">
  <app-content-layout
    class="background-white auto-height message-detail-header-wrapper"
  >
    <div class="head padding-left padding-right border-bottom background-white">
      <ng-container *ngIf="currentChatroom$ | async as chatroom">
        <button
          class="grey item-start"
          (click)="back()"
          [disabled]="loading$ | async"
        >
          <i class="material-icons">arrow_back</i>
        </button>

        <div class="item no-padding" (click)="goToChatmatePage()">
          <img [src]="chatroom.thumb || defaultAvatar" class="avatar" />
          <div class="item-text">
            <h2 class="black">{{ chatroom.title }}</h2>
          </div>
        </div>

        <button class="item-end" [satPopoverAnchor]="popover" (click)="popover.toggle()">
          <i class="material-icons">more_vert</i>
        </button>

        <sat-popover hasBackdrop #popover scrollStrategy="close">
          <div class="popover">
            <button class="icon-button" (click)="muteChat()" *ngIf="chatroom.id">
              <ng-container *ngIf="
                  (currentChatroom$ | async)?.chatroomUser.is_muted;
                  else muteTemplate
                ">
                <i class="material-icons padding-right">volume_up</i>
                {{ "GENERAL.ACTIONS.UNMUTE" | translate }}
              </ng-container>
              <ng-template #muteTemplate>
                <i class="material-icons padding-right">volume_off</i>
                {{ "GENERAL.ACTIONS.MUTE" | translate }}
              </ng-template>
            </button>
            <button class="icon-button" (click)="openDialog(deleteD)" *ngIf="chatroom.id">
              <i class="material-icons padding-right">chat_bubble</i>
              {{ "GENERAL.ACTIONS.DELETE" | translate }}
            </button>
            <button class="icon-button" (click)="blockUser()">
              <i class="material-icons padding-right">block</i>
              {{ "GENERAL.ACTIONS.BLOCK" | translate }}
            </button>
            <button class="icon-button" (click)="reportDialog(reportD)">
              <i class="material-icons padding-right">info</i>
              {{ "GENERAL.ACTIONS.REPORT" | translate }}
            </button>
          </div>
        </sat-popover>
      </ng-container>
    </div>
  </app-content-layout>
  <div class="message-detail-content background-grey-3 full-height flex-center-column flex-stretch">
    <app-content-layout style="position: relative" class="flex-stretch flex-center-column"
      *ngIf="loading$ | async; else contentTemplate">
      <app-loading [loading]="true" class="background-white"></app-loading>
    </app-content-layout>
    <ng-template #contentTemplate>
      <app-content-layout
        class="background-white chat-messaages-layout auto-height flex-stretch"
      >
        <app-no-items-placeholder
          [text]="'PAGES.CHAT_DETAIL.NO_MESSAGES' | translate"
          [show]="!(messages$ | async)?.length"
        >
        </app-no-items-placeholder>
        <app-infinite-scroll-with-loader class="content flex-center-column flex-stretch background-white"
          spinnerPosition="top" [showLoading]="lazyLoading$ | async" (scrolledUp)="onScroll()"
          spinnerContainerClass="background-white" [infiniteScrollUpDistance]="4" *ngIf="(messages$ | async)?.length">
          <div #messageElement class="chat-message" [ngClass]="message.own ? 'border' : 'background-grey-5'"
            *ngFor="let message of messages$ | async; trackBy: trackBy">
            <ng-container *ngIf="message.attachment as attachment" [ngSwitch]="attachment.type">
              <ng-container *ngIf="
                  attachment.processing || attachment.uploading;
                  else attachmentTemplate
                ">
                <div class="uploading-attachment">
                  <app-thumbnail [item]="attachment" class="loading-thumbnail margin-right"></app-thumbnail>
                  <span class="filename" [attr.title]="attachment.file_name">{{
                    attachment.file_name
                  }}</span>
                </div>
              </ng-container>
              <ng-template #attachmentTemplate>
                <ng-container *ngIf="attachment && attachment.link">
                  <app-file-placeholder [fileType]="attachment.type" [fileName]="attachment.file_name" [fileUrl]="attachment.link">
                    <ng-container *ngSwitchCase="'photo'">
                      <app-thumbnail [url]="attachment.link" class="image-thumb" additionalClass="image-thumb-image"
                        [item]="photo" [satPopoverAnchor]="image"
                        (click)="openImageDialog(imageDialog, attachment.link)"></app-thumbnail>

                      <sat-popover #image hasBackdrop verticalAlign="center" horizontalAlign="center">
                        <div><img [src]="attachment.link" alt=""></div>
                      </sat-popover>
                    </ng-container>

                    <ng-container *ngSwitchCase="'video'">
                      <app-shaka-player [src]="attachment.link" [autoplay]="false" [muted]="false" [playOnHover]="false"
                        [observeHeightChange]="true" (heightChange)="onStreamStarted()"></app-shaka-player>
                    </ng-container>

                    <ng-container *ngSwitchCase="'document'">
                      <p>
                        <a class="document-attachment grey" [href]="attachment.link" target="_blank"
                          [download]="attachment.file_name">
                          <i class="material-icons">insert_drive_file</i>
                          {{ attachment.file_name }}
                        </a>
                      </p>
                    </ng-container>
                  </app-file-placeholder>
                </ng-container>
              </ng-template>
            </ng-container>

            <div *ngIf="message.sharedContentLink">
              <a [routerLink]="message.sharedContentLink" class="blue">
                {{
                  "PAGES.CHAT_DETAIL.SHARED." + message.sharedContentType
                    | uppercase
                    | translate
                }}
                -
                {{ message.sharedContentTitle }}
              </a>
            </div>
            <pre class="chat-message-text" [innerHTML]="message.text | linkstohtml"></pre>
            <p class="grey text-align-end">{{ message.created | appDate }}</p>
          </div>

          <ng-container *ngIf="currentChatroom$ | async as chatroom">
            <div
              class="chat-uploader border-top padding"
              *ngIf="chatroom.uploading || chatroom.processing"
            >
              <span *ngIf="chatroom.uploading">
                {{
                  "PAGES.CHAT_DETAIL.UPLOADING_FILE"
                    | translate: { progress: chatroom.progress }
                }}
              </span>
              <span *ngIf="chatroom.processing">
                {{ "PAGES.CHAT_DETAIL.PROCESSING_FILE" | translate }}
              </span>
              <span>
                <mat-spinner [diameter]="18"></mat-spinner>
              </span>
            </div>
          </ng-container>
        </app-infinite-scroll-with-loader>
      </app-content-layout>
    </ng-template>
    <ng-template #reportD>
      <app-report-add
        [contentType]="'user'"
        [contentId]="(currentChatroom$ | async)?.oponentId"
      ></app-report-add>
    </ng-template>

    <ng-template #deleteD>
      <h2 class="dialog-header">
        {{ "DIALOGS.CHAT_DELETE.TITLE" | translate }}
      </h2>
      <div class="dialog-buttons">
        <button matDialogClose>
          {{ "GENERAL.ACTIONS.CANCEL" | translate }}
        </button>
        <button class="red" matDialogClose (click)="deleteChat()">
          {{ "GENERAL.ACTIONS.DELETE" | translate }}
        </button>
      </div>
    </ng-template>
  </div>

  <div class="message-detail-footer-wrapper">
    <app-content-layout class="footer-layout">
      <div class="emoji-wrapper" [ngClass]="{ shown: emoji }">
        <emoji-mart set="apple" title="Select Emoji" emoji="point_up" color="#4169e1" [showPreview]="true"
          (emojiSelect)="addEmoji($event)" [enableSearch]="false" [showSingleCategory]="true"></emoji-mart>
      </div>
      <div class="chat-footer border-top">
        <div class="chat-footer-content">
          <button class="grey chat-footer-btn" (click)="toogleEmoji()" [disabled]="loading$ | async">
            <ng-container *ngIf="emoji; else emojiIconTemplate">
              <i class="material-icons">keyboard</i>
            </ng-container>
            <ng-template #emojiIconTemplate>
              <i class="material-icons">insert_emoticon</i>
            </ng-template>
          </button>

          <textarea #messageTextareaElement class="chat-input" cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" placeholder="Text..." [(ngModel)]="newMessageText" (click)="emoji = false"
            (keydown.meta.Enter)="addLinebreak($event)" (keydown.control.Enter)="addLinebreak($event)"
            [disabled]="loading$ | async"></textarea>

          <div class="item-end flex">
            <input type="file" class="hidden" accept="image/*, video/*" #hiddenPhotoInput
              (change)="onFileChange($event)" />
            <input type="file" class="hidden" [accept]="documentExtensions" #hiddenFileInput
              (change)="onFileChange($event)" />

            <button
              class="grey"
              [satPopoverAnchor]="attachmentP"
              (click)="attachmentP.toggle()"
              [disabled]="loading$ | async"
            >
              <i class="material-icons">attach_file</i>
            </button>

            <sat-popover #attachmentP hasBackdrop verticalAlign="above" scrollStrategy="close">
              <div class="popover" (click)="attachmentP.close()">
                <button class="icon-button" (click)="hiddenPhotoInput.click()">
                  <i class="material-icons padding-right">image</i>
                  {{ "PAGES.CHAT_DETAIL.PHOTO_OR_VIDEO" | translate }}
                </button>
                <button class="icon-button" (click)="hiddenFileInput.click()">
                  <i class="material-icons padding-right">insert_drive_file</i>
                  {{ "PAGES.CHAT_DETAIL.DOCUMENT" | translate }}
                </button>
                <button class="icon-button" (click)="sharePhoto()">
                  <i class="material-icons padding-right">photo_camera</i>
                  {{ "PAGES.CHAT_DETAIL.CAMERA" | translate }}
                </button>
              </div>
            </sat-popover>
          </div>
        </div>
        <div class="send-btn-wrapper" *ngIf="newMessageText">
          <button type="button" class="chat-footer-btn send-btn" (click)="send()">
            <i class="material-icons white">send</i>
          </button>
        </div>
      </div>
    </app-content-layout>
  </div>
</div>
<ng-template #imageDialog let-data>
  <div mat-dialog-content class="dialog">
    <img [attr.src]="data.imageUrl" alt="">
    <i class="material-icons icon-small white content-icon dialog-close" mat-dialog-close>arrow_back</i>
  </div>
</ng-template>