$header-height: 61px;
$footer-height: 67px;
$content-height: calc(100% - #{$header-height} - #{$footer-height});
$emoji-height: 368px; // emoji height(358px) + spacer(10px)

:host {
  display: block;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.message-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  &-header-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &-content {
    position: relative;
  }

  &-footer-wrapper {
    transform : translate3d(0, 0, 0);
    position: sticky;
    bottom: 0;
    z-index: 10;
    
    .footer-layout {
      display: flex;
      flex-direction: column;

      .emoji-wrapper {
        order: 2;
      }

      .chat-footer {
        order: 1;
      }
    }

    .emoji-wrapper {
      max-width: var(--app-width);
      transition: height 0.1s ease-in;
      height: 1px;
      overflow: hidden;

      &.shown {
        height: 208px;
        opacity: 1;
      }

      emoji-mart {
        border-left: none !important;
        border-right: none !important;
        transition: all 0.1s ease-in;
        max-height: 1px;
        height: 1px;
        max-height: 1px;

        &::ng-deep {
          .emoji-mart {
            border-top: 1px solid var(--grey-10);
            border-bottom: none !important;

            .emoji-mart-bar {
              background-color: var(--grey-3) !important;
            }

            .emoji-mart-scroll {
              background-color: var(--grey-3) !important;
            }

            .emoji-mart-category-label {
              span {
                background-color: var(--grey-3) !important;
              }
            }
          }

          .emoji-mart-scroll {
            height: 160px !important;
          }
        }
      }
    }

    .chat-footer {
      padding: 10px;
      background-color: var(--white);
      width: 100%;
      display: flex;
    
      textarea {
        border: none;

        &:disabled {
          background-color: var(--white);
        }
      }
    
      .send-btn-wrapper {
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        .chat-footer-btn {
          width: 46px;
          height: 46px;
        }
      }

      &-btn {
        width: 24px;
        
        &.send-btn {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background: var(--blue);
          height: 100%;
          i {
            width: 28px;
            margin-left: 4px;
            font-size: 24px !important;
          }
        }
      }

      &-content {
        display: flex;
        align-items: center !important;
        border-radius: 25px;
        border: 1px solid var(--grey-10);
        padding: 10px;
        flex: 1;
      }
    }
  }
}

.head {
  display: flex;
  align-items: center;
  height: $header-height;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}

.chat-message {
  &:last-child {
    margin-bottom: 10px;
  }
}

.chat-messaages-layout {
  min-height: 100%;

  &.with-emoji {
    padding-bottom: $emoji-height;
  }
}

.chat-message-text {
  word-break: break-all;
}

.no-messages {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-uploader {
  display: flex;
  justify-content: space-between;
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  background: var(--white);
}

app-shaka-player {
  padding-top: 5px;
  padding-bottom: 5px;
}

.document-attachment {
  &:hover {
    text-decoration: underline;
  }
}

.chat-loader {
  min-height: 100vh !important;
  display: flex;
  position: fixed;
  margin: unset;
}


.uploading-attachment {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.loading-thumbnail {
  min-width: 100px;
}

.filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loaded-image {
  width: auto;
  height: auto;
}

.image-thumb {
  width: 200px;
  height: 200px;
}

.dialog {
  min-width: 80vw;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  display: flex;
  position: relative;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &-close {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

::ng-deep .mat-dialog-container {
  max-width: 80vw !important;
  max-height: 90vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}