:host {
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-left: 1px solid var(--grey-10);
    border-right: 1px solid var(--grey-10);
    background-color: var(--white);
    box-sizing: border-box;
}

@media screen and(max-width: 600px) {
    :host {
        border-left: none;
        border-right: none;
    }
}