<div class="sales-wrapper flex-stretch flex-center-column" backButtonPath="/menu">
  <app-content-layout class="sticky-tabs">
    <div #tabsElement class="tabs background-white">
      <a class="tab uppercase" routerLink="/purchases" routerLinkActive="tab-active">
        {{ 'PAGES.PURCHASES.PURCHASES' | translate }}
      </a>
      <a class="tab uppercase" routerLink="/sales" routerLinkActive="tab-active">
        {{ 'PAGES.PURCHASES.SALES' | translate }}
      </a>
    </div>
  </app-content-layout>
  <app-content-layout class="sales-layout">
    <div class="sub-header border-bottom">
      <ng-container *ngIf="header">
        <h2 class="sub-header-title">
          {{ totalItems$ | async | i18nPlural: salesMapping }}
        </h2>
        <div class="item-end" *ngIf="(total$ | async) > 2 || filter !== 'all' ">
          <button class="margin-right" (click)="showSearch()">
            <i class="material-icons">search</i>
          </button>
          <button class="item-end" [satPopoverAnchor]="filterP" (click)="filterP.toggle()">
            <i class="material-icons">tune</i>
          </button>
        </div>
      </ng-container>
      <div class="search-content" *ngIf="search">
        <button class="item-start padding-right" (click)="showHeader()">
          <i class="material-icons">arrow_back</i>
        </button>
        <input autoFocus #searchInput #searchInputElement placeholder="Search" class="search-content-input"
          [(ngModel)]="searchValue" />
        <button class="item-end padding-left" *ngIf="searchValue" (click)="searchValue = ''">
          <i class="material-icons">close</i>
        </button>
        <button class="item-end padding-left" [satPopoverAnchor]="filterP" (click)="filterP.toggle()">
          <i class="material-icons">tune</i>
        </button>
      </div>

      <!-- Filter -->

      <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <h2 class="filter-header">
            {{ 'GENERAL.LIST_FILTER.TITLE' | translate }}
          </h2>
          <button class="icon-button" (click)="applyFilter('all'); filterP.close()">
            <i class="material-icons padding-right">assignment</i>
            {{ 'GENERAL.LIST_FILTER.ALL' | translate }}
          </button>
          <button class="icon-button" (click)="applyFilter('open'); filterP.close()">
            <i class="material-icons padding-right">schedule</i>
            {{ 'GENERAL.LIST_FILTER.OPEN' | translate }}
          </button>
          <button class="icon-button" (click)="applyFilter('cancelled'); filterP.close()">
            <i class="material-icons padding-right">close</i>
            {{ 'GENERAL.LIST_FILTER.CANCELLED' | translate }}
          </button>
          <button class="icon-button" (click)="applyFilter('refunded'); filterP.close()">
            <i class="material-icons padding-right">refresh</i>
            {{ 'GENERAL.LIST_FILTER.REFUNDED' | translate }}
          </button>
        </div>
      </sat-popover>
    </div>
  </app-content-layout>
  <app-no-items-placeholder [show]="!(total$ | async) && !(lazyLoading$ | async)" [text]="(total$ | async | i18nPlural: salesMapping)"
    class="sub-header-title"></app-no-items-placeholder>
  <div class="sales-content">
    <!--Orders-->

    <app-infinite-scroll-with-loader (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async">
      <div *ngIf="!(loading$ | async)">
        <ng-container *ngFor="let sale of sales$ | async">

          <div class="sale-item background-grey-3">
            <app-content-layout class="border-none">
              <!--Orders-->
              <app-regular-order-list-item [order]="sale" *ngIf="sale.type === 'order'" [filter]="filter" type="sale">
              </app-regular-order-list-item>

              <!--Bookings-->

              <app-booking-list-item [order]="sale" *ngIf="sale.type === 'booking'" [filter]="filter" type="sale">
              </app-booking-list-item>

            </app-content-layout>
          </div>

        </ng-container>
      </div>
    </app-infinite-scroll-with-loader>
  </div>
  <app-loading [loading]="loading$ | async"></app-loading>
</div>