:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

.grit-wallet-card {
  text-align: center;
  background-color: var(--white);
  z-index: 2;
  width: 100%;
}

.sales-wrapper {
  position: relative;
}

.sticky-tabs {
  position: sticky;
  top: 51px;
  z-index: 100;
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-bottom: 1px solid var(--grey-10);
  background-color: var(--white);
  z-index: 1;
  transition: top 0.2s ease;
  width: 100%;
  top: 0;

  &.fixed {
    position: fixed;
    top: 51px;

    & + .sales-content {
      padding-top: 50px;
    }
  }
}

.sales-layout {
  border-bottom: none;
}