<div class="register-wrapper flex-stretch flex-center-column background-grey-3">
  <app-content-layout class="background-white border-bottom">
    <div class="header">
      <button class="grey padding-right" (click)="back()" [disabled]="loading$ | async">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <h2 class="header-title position-center" *ngIf="!createBusiness">
        {{ 'PAGES.REGISTER.TITLE_PERSON' | translate }}
      </h2>
      <h2 class="header-title position-center" *ngIf="createBusiness">
        {{ 'PAGES.REGISTER.TITLE_BUSINESS' | translate }}
      </h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="signUp()">

      <ng-container formGroupName="user">

        <!--<mat-form-field>-->
        <!--<mat-select placeholder="Type" formControlName="userType">-->
        <!--<mat-option value="person" (click)="showPerson()">Person</mat-option>-->
        <!--<mat-option value="business" (click)="showBusiness()">Business/Organization</mat-option>-->
        <!--</mat-select>-->
        <mat-radio-group *ngIf="!createBusiness" class="flex margin" formControlName="userType"
          (change)="setUserType($event)">
          <mat-radio-button color="primary" value="person" class="margin-right">
            {{ 'PAGES.REGISTER.USER_FORM.USER_TYPE.PERSON' | translate }}
          </mat-radio-button>
          <mat-radio-button color="primary" value="business">
            {{ 'PAGES.REGISTER.USER_FORM.USER_TYPE.BUSINESS_OR_ORGANIZATION' | translate }}
          </mat-radio-button>
        </mat-radio-group>
        <!--</mat-form-field>-->

        <ng-container *ngIf="!createBusiness || !business">

          <p class="padding no-padding-bottom" *ngIf="business && !createBusiness">
            {{ 'PAGES.REGISTER.USER_FORM.CREATE_PERSON_LINE_1' | translate }}
            <br>
            {{ 'PAGES.REGISTER.USER_FORM.CREATE_PERSON_LINE_2' | translate }}
          </p>

          <button *ngIf="business" type="button" class="round-button-outline margin" routerLink="/login">
            {{ 'PAGES.REGISTER.USER_FORM.ALREADY_CREATED' | translate }}
          </button>

          <mat-form-field>
            <input matInput placeholder="{{ 'PAGES.REGISTER.USER_FORM.NAME.PLACEHOLDER' | translate }}"
              formControlName="fullName">
          </mat-form-field>

          <!--<mat-form-field style="width: 50%">-->
          <!--<input matInput placeholder="Last name" formControlName="lastName">-->
          <!--</mat-form-field>-->

          <mat-form-field>
            <input matInput type="email" placeholder="{{ 'PAGES.REGISTER.USER_FORM.EMAIL.PLACEHOLDER' | translate }}"
              formControlName="email" (ngModelChange)="sameEmail = ''"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <mat-error *ngIf="sameEmail.length">{{sameEmail}}</mat-error>
            <mat-error *ngIf="registerForm.invalid && !sameEmail.length">
              {{ 'PAGES.REGISTER.USER_FORM.EMAIL.ERRORS.INVALID' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <div class="flex">
              <input matInput placeholder="{{ 'PAGES.REGISTER.USER_FORM.PASSWORD.PLACEHOLDER' | translate }}"
                (blur)="showShortPasswordError()" [type]="password ? 'text' : 'password'" formControlName="password">
              <i class="material-icons icon-small grey pointer margin-left"
                (click)="showPassword($event)">visibility</i>
            </div>
          </mat-form-field>

          <div class="register-form__password-error" *ngIf="isShortPassword">
            <p>{{ 'PAGES.REGISTER.USER_FORM.PASSWORD.ERRORS.TOO_SHORT' | translate }}</p>
          </div>

          <div class="flex relative-container">
            <p class="padding-left padding-top grey birthday-label">
              {{ 'PAGES.REGISTER.USER_FORM.BIRTHDAY.TITLE' | translate }}
            </p>
            <mat-form-field [floatLabel]="'never'" style="width: 80px">
              <input matInput placeholder="{{ 'PAGES.REGISTER.USER_FORM.BIRTHDAY.DAY.PLACEHOLDER' | translate }}"
                type="number" min="1" max="31" formControlName="day">
            </mat-form-field>

            <mat-form-field [floatLabel]="'never'" style="width: 100px">
              <mat-select placeholder="{{ 'PAGES.REGISTER.USER_FORM.BIRTHDAY.MONTH.PLACEHOLDER' | translate }}"
                formControlName="month">
                <mat-option *ngFor="let month of months" [value]="month.id">
                  {{ 'GENERAL.DATE_TIME.MONTHS_SHORT.' + month.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field [floatLabel]="'never'" style="width: 80px">
              <input matInput type="number"
                placeholder="{{ 'PAGES.REGISTER.USER_FORM.BIRTHDAY.YEAR.PLACEHOLDER' | translate }}"
                formControlName="year" (ngModelChange)="onKey($event)">
            </mat-form-field>


            <i matSuffix class="material-icons icon-small grey pointer padding-left-small" [satPopoverAnchor]="birthP"
              (click)="birthP.toggle()" (click)="$event.stopPropagation()">info</i>
            <sat-popover hasBackdrop #birthP horizontalAlign="before" scrollStrategy="close">
              <div class="tooltip">
                {{ 'PAGES.REGISTER.USER_FORM.BIRTHDAY.TOOLTIP' | translate }}
              </div>
            </sat-popover>
          </div>

          <!--<mat-radio-group class="flex margin" formControlName="gender" *ngIf="!hasAccount">-->
          <mat-radio-group class="flex margin" formControlName="gender">
            <mat-radio-button color="primary" value="female" class="margin-right">
              {{ 'PAGES.REGISTER.USER_FORM.GENDER.FEMALE' | translate }}
            </mat-radio-button>
            <mat-radio-button color="primary" value="male">
              {{ 'PAGES.REGISTER.USER_FORM.GENDER.MALE' | translate }}
            </mat-radio-button>
          </mat-radio-group>

        </ng-container>
      </ng-container>

      <!--Business Information-->

      <ng-container formGroupName="business" *ngIf="business">

        <h2 class="sub-header no-padding-bottom" *ngIf="!createBusiness">
          {{ 'PAGES.REGISTER.BUSINESS_FORM.TITLE' | translate }}
        </h2>

        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.NAME.PLACEHOLDER' | translate }}"
            formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.CATEGORY.PLACEHOLDER' | translate }}"
            formControlName="category">
            <mat-optgroup *ngFor="let producer of businessCategories" [label]="producer.name">
              <mat-option *ngFor="let category of producer.categories" [value]="category.id">{{category.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.STREET_AND_NUMBER.PLACEHOLDER' | translate }}"
            formControlName="street">
        </mat-form-field>

        <div class="flex">
          <mat-form-field style="width: 50%">
            <input matInput type="number" placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.ZIP.PLACEHOLDER' | translate }}"
              formControlName="zip">
          </mat-form-field>

          <mat-form-field style="width: 50%">
            <input matInput placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.CITY.PLACEHOLDER' | translate }}"
              formControlName="city">
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput type="number" placeholder="{{ 'PAGES.REGISTER.BUSINESS_FORM.PHONE.PLACEHOLDER' | translate }}"
            formControlName="phone">
        </mat-form-field>
      </ng-container>

      <button *ngIf="!createBusiness" type="submit" class="round-button margin">
        {{ 'PAGES.REGISTER.ACTIONS.SIGN_UP' | translate }}
      </button>
      <button *ngIf="createBusiness" type="submit" class="round-button margin">
        {{ 'PAGES.REGISTER.ACTIONS.CREATE_BUSINESS' | translate }}
      </button>
    </form>

    <p *ngIf="!createBusiness" class="font-small margin-horizontal padding-bottom center" style="color: #7f7f7f">
      {{ 'PAGES.REGISTER.POLICY.FIRST_PART' | translate }}
      <span class="link bold">
        {{ 'PAGES.REGISTER.POLICY.TERMS' | translate }}
      </span>
      {{ 'PAGES.REGISTER.POLICY.AND' | translate }}
      <span class="link bold">
        {{ 'PAGES.REGISTER.POLICY.DATA_POLICY' | translate }}.
      </span>
    </p>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>