<div class="infinite-scroll-with-loader">
    <div class="infinite-scroll-with-loader-loader" *ngIf="spinnerPosition == 'top' && showLoading"
        [ngClass]="spinnerContainerClass">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div class="flex-center-column flex-stretch" infiniteScroll [infiniteScrollDistance]="infiniteScrollDistance"
        [infiniteScrollThrottle]="infiniteScrollThrottle" (scrolled)="scrolled.emit($event)"
        (scrolledUp)="scrolledUp.emit($event)" [infiniteScrollUpDistance]="infiniteScrollUpDistance"
        *ngIf="showLoading ? !(spinnerPosition == 'replace-content'): true">
        <ng-content></ng-content>
    </div>

    <app-loading [loading]="showLoading && spinnerPosition == 'replace-content'"></app-loading>

    <div class="infinite-scroll-with-loader-loader" *ngIf="(spinnerPosition == 'bottom') && showLoading"
        [ngClass]="spinnerContainerClass">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>