.infinite-scroll-with-loader {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    &-loader {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        background-color: var(--grey-3);
    }
}