<mat-form-field>
  <mat-select [placeholder]="placeholder || ('COMPONENTS.ADDRESS_INPUT.DEFAULT_PLACEHOLDER' | translate)"
              [(ngModel)]="value"
              (ngModelChange)="propagateChange($event)"
              [errorStateMatcher]="matcher"
              >
    <mat-select-trigger>
      {{ selectedAddress }}
    </mat-select-trigger>
    <ng-container *ngFor="let address of addresses$ | async">
      <mat-option [value]="address.id">
        <div class="option-text-space-between">
          <span>{{address.fullName}}, {{address.street}}, <ng-container *ngIf="address.appendix">{{address.appendix}},</ng-container> {{address.zip}} {{address.city}}</span>
          <i class="material-icons icon-small" [satPopoverAnchor]="addressMore"
            (click)="openAddressMorePopover(addressMore, $event)">more_vert</i>
        </div>
      </mat-option>

      <sat-popover #addressMore hasBackdrop scrollStrategy="close">
        <div class="popover">
          <button class="icon-button" (click)="openEditAddressDialog(address, addressMore)">
            <i class="material-icons padding-right">create</i>
            {{ 'GENERAL.ACTIONS.EDIT' | translate }}
          </button>
          <button class="icon-button" (click)="addressMore.close(); openDialog(deleteAddressD)">
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </sat-popover>

      <ng-template #deleteAddressD>
        <h2 class="dialog-header">{{ 'DIALOGS.ADDRESS_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" matDialogClose (click)="deleteAddress(address.id, addressMore)">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </ng-template>

    </ng-container>
  </mat-select>

  <!-- <i matSuffix class="material-icons icon-small grey pointer" style="padding: 0 5px"
    [satPopoverAnchor]="addressInfoP" (click)="addressInfoP.toggle(); $event.stopPropagation()">info</i> -->

  <sat-popover hasBackdrop #addressInfoP horizontalAlign="before" scrollStrategy="close">
    <div class="tooltip">
      {{ 'COMPONENTS.ADDRESS_INPUT.TOOLTIP' | translate }}
    </div>
  </sat-popover>

  <i matSuffix class="material-icons blue pointer" (click)="openAddAddressDialog($event)">add</i>
</mat-form-field>
