<div class="discover-list flex-center-column full-height flex-stretch">
  <ng-container [ngSwitch]="currentEntityType$ | async">

    <div class="discoverbar-sticky-wrapper">
      <div class="discoverbar background-white border-left border-right border-bottom"
        floatingClassName="center-absolute-element-x">

        <!--Content Filter-->

        <button class="grey" [satPopoverAnchor]="contentFilterP" (click)="contentFilterP.toggle()">
          <button *ngSwitchCase="'photo'">
            <i class="material-icons padding-right">photo_camera</i>
            {{ 'PAGES.DISCOVER.PHOTOS' | translate }}
          </button>
          <button *ngSwitchCase="'video'">
            <i class="material-icons padding-right">videocam</i>
            {{ 'PAGES.DISCOVER.VIDEOS' | translate }}
          </button>
          <button *ngSwitchCase="'article'">
            <i class="material-icons padding-right">insert_drive_file</i>
            {{ 'PAGES.DISCOVER.ARTICLES' | translate }}
          </button>
          <button *ngSwitchCase="'product'">
            <i class="material-icons padding-right">shopping_basket</i>
            {{ 'PAGES.DISCOVER.PRODUCTS' | translate }}
          </button>
          <button *ngSwitchCase="'service'">
            <i class="material-icons padding-right">person</i>
            {{ 'PAGES.DISCOVER.SERVICES' | translate }}
          </button>

          <sat-popover #contentFilterP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover" (click)="contentFilterP.close(); $event.stopPropagation()">
              <button class="icon-button" routerLink="/discover" [queryParams]="{ type: 'photo' }">
                <i class="material-icons padding-right">photo_camera</i>
                {{ 'PAGES.DISCOVER.PHOTOS' | translate }}
              </button>
              <button class="icon-button" routerLink="/discover" [queryParams]="{ type: 'video' }">
                <i class="material-icons padding-right">videocam</i>
                {{ 'PAGES.DISCOVER.VIDEOS' | translate }}
              </button>
              <button class="icon-button" routerLink="/discover" [queryParams]="{ type: 'article' }">
                <i class="material-icons padding-right">insert_drive_file</i>
                {{ 'PAGES.DISCOVER.ARTICLES' | translate }}
              </button>
              <button class="icon-button" routerLink="/discover" [queryParams]="{ type: 'product' }">
                <i class="material-icons padding-right">shopping_basket</i>
                {{ 'PAGES.DISCOVER.PRODUCTS' | translate }}
              </button>
              <button class="icon-button" routerLink="/discover" [queryParams]="{ type: 'service' }">
                <i class="material-icons padding-right">person</i>
                {{ 'PAGES.DISCOVER.SERVICES' | translate }}
              </button>
            </div>
          </sat-popover>
        </button>

        <!--Categories-->

        <ng-container>
          <button class="grey" [satPopoverAnchor]="categoryFilterP" (click)="categoryFilterP.toggle()">
            <button><i class="material-icons padding-right">format_list_bulleted</i>Categories</button>

            <sat-popover class="padding" #categoryFilterP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <mat-radio-group class="popover padding flex-center-column" [ngModel]="currentEntityCategory$ | async"
                (click)="categoryFilterP.close();">
                <ng-template #categroiesTemplate let-type="type" let-prefix='prefix' let-categories="categories">
                  <mat-radio-button color="primary" class="font-normal margin-bottom-small" [value]="defaultCategory"
                    routerLink="/discover" [queryParams]="{ type: type, category: defaultCategory }">
                    {{'GENERAL.CATEGORIES.ALL' | translate}}
                  </mat-radio-button>
                  <mat-radio-button color="primary" class="font-normal margin-bottom-small"
                    *ngFor="let category of categories" [value]="category" routerLink="/discover"
                    [queryParams]="{ type: type, category: category }">
                    {{prefix + category | translate}}
                  </mat-radio-button>
                </ng-template>

                <ng-container *ngSwitchCase="'photo'">
                  <ng-container *ngTemplateOutlet="categroiesTemplate; context: {
                                  type: 'photo',
                                  categories: mediaCategories,
                                  prefix: 'GENERAL.CATEGORIES.MEDIA.'
                                }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'video'">
                  <ng-container *ngTemplateOutlet="categroiesTemplate; context: {
                                  type: 'video',
                                  categories: mediaCategories,
                                  prefix: 'GENERAL.CATEGORIES.MEDIA.'
                                }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'article'">
                  <ng-container *ngTemplateOutlet="categroiesTemplate; context: {
                                  type: 'article',
                                  categories: mediaCategories,
                                  prefix: 'GENERAL.CATEGORIES.MEDIA.'
                                }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'product'">
                  <ng-container *ngTemplateOutlet="categroiesTemplate; context: {
                                  type: 'product',
                                  categories: productCategories,
                                  prefix: 'GENERAL.CATEGORIES.PRODUCT.'
                                }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'service'">
                  <ng-container *ngTemplateOutlet="categroiesTemplate; context: {
                                  type: 'service',
                                  categories: serviceCategories,
                                  prefix: 'GENERAL.CATEGORIES.SERVICE.'
                                }"></ng-container>
                </ng-container>
              </mat-radio-group>
            </sat-popover>
          </button>
        </ng-container>
      </div>
    </div>

    <div class="content-list">
      <!--Photos-->


      <ng-container *ngSwitchCase="'photo'">
        <app-infinite-scroll-with-loader (scrolled)="triggerScroll()"
          *ngIf="(photos$ | async).length; else emptyListBlock" [showLoading]="lazyLoading$ | async">
          <app-content-layout class="background-grey-3 photo-list-layout discover-list-layout photo-infinite-list">
            <mat-grid-list cols="3" rowHeight="1:1" gutterSize="2">
              <mat-grid-tile *ngFor="let photo of photos$ | async; trackBy: trackById" [routerLink]="photo.directLink">
                <app-thumbnail [url]="photo.thumb" [additionalClass]="photo.filterName" [item]="photo"></app-thumbnail>
              </mat-grid-tile>
            </mat-grid-list>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>


      <!--Videos-->


      <ng-container *ngSwitchCase="'video'">
        <app-infinite-scroll-with-loader (scrolled)="triggerScroll()"
          *ngIf="(videos$ | async).length; else emptyListBlock" [showLoading]="lazyLoading$ | async">
          <app-content-layout class="background-white discover-list-layout">
            <div class="item border-bottom" *ngFor="let video of videos$ | async; trackBy: trackById"
              [routerLink]="video.directLink">
              <div class="video-duration-container">
                <app-thumbnail [url]="video.cover || video.thumb || defaultImage"></app-thumbnail>
                <p class="video-duration">{{video.duration}}</p>
              </div>
              <div class="item-text">
                <h2 class="black">{{video.title | truncate : 60}}</h2>
                <p>{{video.user?.name}}</p>
                <p>{{video.created | timeAgo}}</p>
                <div class="info-icons">
                  <i class="material-icons icon-small icon-padding-right">visibility</i>
                  <p class="padding-right">{{video.viewsCount}}</p>
                  <ng-container *ngIf="video.likesCount">
                    <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                    <p>{{video.likesCount}}</p>
                  </ng-container>
                </div>
              </div>
              <button class="grey item-end" [satPopoverAnchor]="moreP"
                (click)="$event.stopPropagation(); moreP.toggle()">
                <i class="material-icons icon-small">more_vert</i>
              </button>

              <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
                <div class="popover" (click)="moreP.close()">
                  <bookmark-link-item [id]="video.id" type="video" [isBookmark]="video.bookmarked"></bookmark-link-item>
                  <share-link-item [link]="video.directLink"></share-link-item>
                  <copy-link-item [link]="video.directLink"></copy-link-item>
                  <button class="icon-button">
                    <i class="material-icons padding-right">info</i>
                    {{ 'GENERAL.ACTIONS.REPORT' | translate }}
                  </button>
                </div>
              </sat-popover>
            </div>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>


      <!--Articles-->


      <ng-container *ngSwitchCase="'article'">
        <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()" *ngIf="(articles$ | async).length; else emptyListBlock">
          <app-content-layout class="background-white discover-list-layout">
            <div class="item border-bottom" *ngFor="let article of articles$ | async; trackBy: trackById"
              [routerLink]="article.directLink">
              <app-thumbnail [url]="article.cover || defaultImage"></app-thumbnail>
              <div class="item-text">
                <h2 class="black">{{article.title | truncate : 60}}</h2>
                <p>{{article.user?.name}}</p>
                <p>{{article.created | timeAgo}}</p>
                <div class="info-icons">
                  <i class="material-icons icon-small icon-padding-right">visibility</i>
                  <p class="padding-right">{{article.viewsCount}}</p>
                  <ng-container *ngIf="article.likesCount">
                    <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                    <p>{{article.likesCount}}</p>
                  </ng-container>
                </div>
              </div>
              <button class="grey item-end" [satPopoverAnchor]="moreP"
                (click)="$event.stopPropagation(); moreP.toggle()">
                <i class="material-icons icon-small">more_vert</i>
              </button>

              <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
                <div class="popover" (click)="moreP.close()">
                  <bookmark-link-item [id]="article.id" type="article" [isBookmark]="article.bookmarked">
                  </bookmark-link-item>
                  <share-link-item [link]="article.directLink"></share-link-item>
                  <copy-link-item [link]="article.directLink"></copy-link-item>
                  <button class="icon-button">
                    <i class="material-icons padding-right">info</i>
                    {{ 'GENERAL.ACTIONS.REPORT' | translate }}
                  </button>
                </div>
              </sat-popover>
            </div>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>


      <!--Products-->


      <ng-container *ngSwitchCase="'product'">
        <ng-container *ngTemplateOutlet="addressSearchbarTemplate"></ng-container>

        <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()" *ngIf="(products$ | async).length; else emptyListBlock">
          <app-content-layout class="background-white discover-list-layout">
            <div class="item border-bottom" *ngFor="let product of products$ | async; trackBy: trackById"
              [routerLink]="product.directLink">
              <app-thumbnail [url]="product.cover?.thumbUrl || defaultImage"></app-thumbnail>
              <div class="item-text">
                <h2 class="black">{{product.title | truncate : 60}}</h2>
                <h2 class="black bold">{{product.price | customCurrency}}</h2>
                <p>{{product.user?.name}}</p>
                <p>{{product.pickup}}</p>
                <div class="flex" *ngIf="product.rating | number">
                  <p class="blue bold padding-right-small">{{product.rating | number}}</p>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <p class="grey padding-left-small margin-right">({{product.reviewsCount}})</p>
                </div>
              </div>
              <button class="grey item-end" [satPopoverAnchor]="moreP"
                (click)="$event.stopPropagation(); moreP.toggle()">
                <i class="material-icons icon-small">more_vert</i>
              </button>

              <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
                <div class="popover" (click)="moreP.close()">
                  <bookmark-link-item [id]="product.id" type="product" [isBookmark]="product.bookmarked">
                  </bookmark-link-item>
                  <share-link-item [link]="product.directLink"></share-link-item>
                  <copy-link-item [link]="product.directLink"></copy-link-item>
                  <button class="icon-button">
                    <i class="material-icons padding-right">info</i>
                    {{ 'GENERAL.ACTIONS.REPORT' | translate }}
                  </button>
                </div>
              </sat-popover>
            </div>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>


      <!--Services-->



      <ng-container *ngSwitchCase="'service'">
        <ng-container *ngTemplateOutlet="addressSearchbarTemplate"></ng-container>

        <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()" *ngIf="(services$ | async).length; else emptyListBlock">
          <app-content-layout class="discover-list-layout">
            <div class="item border-bottom" *ngFor="let service of services$ | async; trackBy: trackById"
              [routerLink]="service.directLink">
              <app-thumbnail [url]="service.photoCover?.thumb || defaultImage"></app-thumbnail>
              <div class="item-text">
                <h2 class="black">{{service.title | truncate : 60}}</h2>

                <h2 *ngIf="service.price" class="black bold">
                  {{service.price | customCurrency}}<span
                    *ngIf="service.durationInfo">/{{ 'GENERAL.DATE_TIME.DURATIONS.' + service.durationInfo | translate }}</span>
                </h2>
                <p>{{service.user?.name}}</p>
                <p *ngIf="service.performance === 'provider' && service.address && service.address.street">
                  {{service.address.street}}, {{service.address.zip}} {{service.address.city}}
                </p>
                <p *ngIf="service.schedule?.byDate && service.schedule?.byDate[0]">
                  {{ service.schedule?.byDate[0]?.from | date:'dd MMM y' }} -
                  {{ service.schedule?.byDate[0]?.to | date:'dd MMM y' }}
                </p>

                <div class="flex" *ngIf="service.rating | number">
                  <p class="blue bold padding-right-small">{{service.rating | number}}</p>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <p class="grey padding-left-small margin-right">({{service.reviewsCount}})</p>
                </div>
              </div>
              <button class="grey item-end" [satPopoverAnchor]="moreP"
                (click)="$event.stopPropagation(); moreP.toggle()">
                <i class="material-icons icon-small">more_vert</i>
              </button>

              <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
                <div class="popover" (click)="moreP.close()">
                  <bookmark-link-item [id]="service.id" type="service" [isBookmark]="service.bookmarked">
                  </bookmark-link-item>
                  <share-link-item [link]="service.directLink"></share-link-item>
                  <copy-link-item [link]="service.directLink"></copy-link-item>
                  <button class="icon-button">
                    <i class="material-icons padding-right">info</i>
                    {{ 'GENERAL.ACTIONS.REPORT' | translate }}
                  </button>
                </div>
              </sat-popover>
            </div>
          </app-content-layout>
        </app-infinite-scroll-with-loader>
      </ng-container>
      <app-loading [loading]="(loading$ | async) && !(lazyLoading$ | async)" [immediateShow]="true"></app-loading>
    </div>

    <!-- Empty List-->
    <ng-template #emptyListBlock>
      <app-no-items-placeholder [text]="(buildTranslationMapText(currentEntityType$ | async)) | translate"
        [show]="true"></app-no-items-placeholder>
    </ng-template>
    <!-- Empty List End-->

  </ng-container>

  <!-- Address searchbar template-->
  <ng-template #addressSearchbarTemplate>
    <app-content-layout class="auto-height background-white border-bottom">
      <div class="flex padding">
        <div class="flex flex-auto padding-right">
          <i class="material-icons margin-right grey">location_on</i>
          <input matInput #searchLocationInput placeholder="{{ 'PAGES.DISCOVER.ADDRESS_SEARCH.LOCATION' | translate }}"
            class="search-content-input" [matAutocomplete]="auto" [formControl]="inputControl">
          <button class="item-end padding-left" *ngIf="inputControl.value" (click)="inputControl.setValue(null)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <mat-select class="radius-select" [(ngModel)]="radius" (ngModelChange)="onRadiusChange()">
          <mat-option *ngFor="let radius of radiuses" [value]="radius">
            {{ 'PAGES.DISCOVER.ADDRESS_SEARCH.N_KILOMETERS' | translate:{radius: radius} }}
          </mat-option>
        </mat-select>
      </div>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getSuggestionText"
        (optionSelected)="onAddressSuggestionSelect($event)">
        <mat-option class="autosuggestion-option" *ngFor="let suggestion of locationAutosuggestions$ | async"
          [value]="suggestion">
          {{ suggestion.address }}
        </mat-option>
      </mat-autocomplete>
    </app-content-layout>
  </ng-template>
</div>