:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.discover-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.photo-infinite-list {
  app-thumbnail {
    height: 100%;
    width: 100%;
  }
}

.discover-infinite-list {
  height: calc(100% - 44px);
}

.discover-infinite-list-with-search {
  height: calc(100% - 89px);
}

.radius-select {
  flex: 0 0 100px;
}

.discoverbar-sticky-wrapper {
  position: sticky;
  top: var(--content-search-height);
  z-index: 10;
}

.discoverbar {
  max-width: var(--app-width);
  margin: 0 auto;
  width: 100%;
}

.discoverbar-content {
  display: flex;
  justify-content: space-around;
}

.photo-list-layout {
  border: none;
}

.discover-list-layout {
  margin-bottom: 10px;
}

.content-list {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .discoverbar {
    border-left: none;
    border-right: none;
  }
}