:host {
  display: block;
  position: relative;
}

.following__unfollow-photo {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.following__unfollow-photo img {
  width: 50px;
}
