<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async" [disabled]="(loading$ | async) || (editMode && !isEditReady)" formId="ngForm"
  (onSubmitClick)="saveAndBack()" [loading]="(loading$ | async) || (editMode && !isEditReady)">
  <form [formGroup]="form" id="ngForm" class="background-white">

    <!--Form Start-->

    <ng-container *ngIf="!productVariants">
      <div class="padding">
        <div class="photo-grid__container">
          <div cdkDropList cdkDropListOrientation="horizontal" class="photo-grid__inline"
            (cdkDropListDropped)="reorderImages($event)">
            <div class="photo-size position-relative"
              *ngIf="photos?.length < (singleProduct ? singleProductMaxPhotoNumber : productVariantsMaxPhotoNumber)">
              <button type="button" class="file-add file-add__list-item" (click)="photosInput.click()"
                [ngClass]="form.controls['photos'].errors?.required && invalidImages ? 'errored' : ''">
                <i class="material-icons padding-bottom-small">photo_camera</i>
                <div>
                  {{ (singleProduct ? singleProductMaxPhotoNumber : productVariantsMaxPhotoNumber) - photos?.length }}
                  {{
                        photos?.length < (singleProduct ? singleProductMaxPhotoNumber - 1 : productVariantsMaxPhotoNumber - 1)
                        ? ('PAGES.PRODUCT_ADD.PHOTOS' | translate)
                        : ('PAGES.PRODUCT_ADD.PHOTO' | translate)
                      }}
                </div>
              </button>
              <input type="file" multiple accept="image/*" #photosInput (change)="selectPhotos($event)"
                formArrayName="photos">
              <app-loading [loading]="photosLoading"></app-loading>
            </div>

            <div cdkDrag class="photo-size pointer relative-container" *ngFor="let photo of photos; index as index">
              <img [src]="photo.photoUrl || defaultImage" class="thumbnail">
              <i class="material-icons remove-file photo-dragger" cdkDragHandle>open_with</i>
              <i class="material-icons remove-file" (click)="removePhotoByIndex(index)">close</i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <mat-form-field class="margin-top">
      <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.PRODUCT_TYPE.PLACEHOLDER' | translate }}"
        formControlName="type">
        <mat-option value="singleProduct" (click)="showSingleProduct()">
          {{ 'PAGES.PRODUCT_ADD.FORM.PRODUCT_TYPE.SINGLE_PRODUCT' | translate }}
        </mat-option>
        <mat-option value="productVariants" (click)="showProductVariants()">
          {{ 'PAGES.PRODUCT_ADD.FORM.PRODUCT_TYPE.PRODUCT_VARIANTS' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="margin-top">
      <input matInput placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.TITLE.PLACEHOLDER' | translate }}" maxlength=100
        #titleCounter formControlName="title">
      <p matSuffix class="grey padding-left-small">{{titleCounter?.value.length}}/100</p>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.CONDITION.PLACEHOLDER' | translate }}"
        formControlName="condition">
        <mat-option value="new">{{ 'PAGES.PRODUCT_ADD.FORM.CONDITION.NEW' | translate }}</mat-option>
        <mat-option value="used">{{ 'PAGES.PRODUCT_ADD.FORM.CONDITION.USED' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.display]="singleProduct ? '' : 'none'">
      <span matPrefix>€ &nbsp;</span>
      <input matInput appPriceInput type='text' mask="separator.2" thousandSeparator="."
        placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.PRICE.PLACEHOLDER' | translate }}" maxlength="15"
        formControlName="price">
    </mat-form-field>

    <mat-form-field *ngIf="singleProduct">
      <input matInput type='text' mask="separator.2" thousandSeparator="."
        placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.QUANTITY.PLACEHOLDER' | translate }}" formControlName="quantity">
      <!--At 0 show "Out of Stock!"-->
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{'GENERAL.CATEGORIES.PRODUCT.' + category | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.SHOP_CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="shopcategory_" #shopCategorySelect>
        <mat-select-trigger>
          {{ shopCategoryName }}
        </mat-select-trigger>
        <mat-option *ngFor="let shopCategory of shopCategories$ | async; let i = index" [value]="shopCategory?.id">
          <div class="option-text-space-between">
            <span>{{shopCategory?.name}}</span>
            <i class="material-icons icon-small" [satPopoverAnchor]="categoryMore"
              (click)="moreShopCategory(categoryMore, $event)">more_vert</i>
          </div>

          <sat-popover #categoryMore hasBackdrop scrollStrategy="close">
            <div class="popover">
              <button class="icon-button"
                (click)="shopCategorySelect.close(); editShopCategory(shopCategory, i, shopCategoryForm, categoryMore, shopCategoryD)">
                <i class="material-icons padding-right">create</i>
                {{ 'GENERAL.ACTIONS.EDIT' | translate }}
              </button>
              <button class="icon-button"
                (click)="categoryMore.close(); shopCategorySelect.close(); openDialog(deleteShopCategoryD)">
                <i class="material-icons padding-right">delete</i>
                {{ 'GENERAL.ACTIONS.DELETE' | translate }}
              </button>
            </div>
          </sat-popover>

          <ng-template #deleteShopCategoryD>
            <h2 class="dialog-header">{{ 'DIALOGS.CATEGORY_DELETE.TITLE' | translate }}</h2>
            <div class="dialog-buttons">
              <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
              <button class="red" matDialogClose (click)="deleteShopCategory(shopCategory.id, categoryMore)">
                {{ 'GENERAL.ACTIONS.DELETE' | translate }}
              </button>
            </div>
          </ng-template>
        </mat-option>
      </mat-select>

      <i matSuffix class="material-icons icon-small grey pointer padding-horizontal-small"
        [satPopoverAnchor]="shopCategoryP" (click)="shopCategoryP.toggle(); $event.stopPropagation()">info</i>
      <sat-popover hasBackdrop #shopCategoryP horizontalAlign="before" scrollStrategy="close">
        <div class="tooltip">
          {{ 'PAGES.PRODUCT_ADD.FORM.SHOP_CATEGORY.TOOLTIP' | translate }}
        </div>
      </sat-popover>
      <i matSuffix class="material-icons blue pointer" (click)="openShopCategory(shopCategoryD, $event)">add</i>
    </mat-form-field>

    <ng-template #shopCategoryD>
      <div class="header">
        <button class="item-start" mat-dialog-close><i class="material-icons">arrow_back</i></button>

        <h2 class="header-title">{{ 'PAGES.PRODUCT_ADD.FORM.SHOP_CATEGORY.PLACEHOLDER' | translate }}</h2>

        <button type="submit" class="blue item-end button-disabled" mat-dialog-close
          [disabled]="shopCategoryForm.invalid" (click)="addShopCategory(shopCategoryForm)">
          <i class="material-icons">send</i>
        </button>
      </div>

      <form [formGroup]="shopCategoryForm" class="add-shop-category-form">
        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.SHOP_CATEGORY.NAME.PLACEHOLDER' | translate }}"
            formControlName="name">
        </mat-form-field>
      </form>
    </ng-template>

    <app-input-with-mentions placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
      formControlName="description"></app-input-with-mentions>

    <!--Product Variants-->

    <ng-container *ngIf="productVariants">
      <h2 class="sub-header no-padding-bottom">
        {{ 'PAGES.PRODUCT_ADD.VARIANTS_TITLE' | translate }}
      </h2>

      <mat-form-field>
        <!--every option needs at least 2 values!-->
        <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.PLACEHOLDER' | translate }}"
          formControlName="variantOptions">
          <mat-option value="size" (click)="showSize()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.SIZE' | translate }}
          </mat-option>
          <mat-option value="color" (click)="showColor()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.COLOR' | translate }}
          </mat-option>
          <mat-option value="flavor" (click)="showFlavor()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.FLAVOR' | translate }}
          </mat-option>
          <mat-option value="material" (click)="showMaterial()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.MATERIAL' | translate }}
          </mat-option>
          <mat-option value="sizeColor" (click)="showSizeColor()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.SIZE_COLOR' | translate }}
          </mat-option>
          <mat-option value="sizeFlavor" (click)="showSizeFlavor()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.SIZE_FLAVOR' | translate }}
          </mat-option>
          <mat-option value="sizeMaterial" (click)="showSizeMaterial()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.SIZE_MATERIAL' | translate }}
          </mat-option>
          <mat-option value="sizeColorMaterial" (click)="showSizeColorMaterial()">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.SIZE_COLOR_MATERIAL' | translate }}
          </mat-option>
        </mat-select>
        <i matSuffix class="material-icons icon-small grey pointer padding-left-small"
          [satPopoverAnchor]="variantOptionsP" (click)="variantOptionsP.toggle()"
          (click)="$event.stopPropagation()">info</i>
        <sat-popover hasBackdrop #variantOptionsP horizontalAlign="before" scrollStrategy="close">
          <div class="tooltip">
            {{ 'PAGES.PRODUCT_ADD.FORM.OPTIONS.TOOLTIP' | translate }}
          </div>
        </sat-popover>
      </mat-form-field>

      <!--Sizes-->

      <mat-form-field *ngIf="size">
        <mat-chip-list #sizeValues>
          <mat-chip *ngFor="let size of sizes" [selectable]="selectable" [removable]="removable"
            (removed)="removeSize(size)">
            {{size.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input appUntabable placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.SIZES.PLACEHOLDER' | translate }}"
            [matChipInputFor]="sizeValues" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSize($event)">
        </mat-chip-list>
      </mat-form-field>

      <!--Colors-->

      <mat-form-field *ngIf="color">
        <mat-chip-list #colorValues>
          <mat-chip *ngFor="let color of colors" [selectable]="selectable" [removable]="removable"
            (removed)="removeColor(color)">
            {{color.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input appUntabable placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.COLORS.PLACEHOLDER' | translate }}"
            [matChipInputFor]="colorValues" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addColor($event)">
        </mat-chip-list>
      </mat-form-field>

      <!--Flavors-->

      <mat-form-field *ngIf="flavor">
        <mat-chip-list #flavorValues>
          <mat-chip *ngFor="let flavor of flavors" [selectable]="selectable" [removable]="removable"
            (removed)="removeFlavor(flavor)">
            {{flavor.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input appUntabable placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.FLAVORS.PLACEHOLDER' | translate }}"
            [matChipInputFor]="flavorValues" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addFlavor($event)">
        </mat-chip-list>
      </mat-form-field>

      <!--Materials-->

      <mat-form-field *ngIf="material">
        <mat-chip-list #materialValues>
          <mat-chip *ngFor="let material of materials" [selectable]="selectable" [removable]="removable"
            (removed)="removeMaterial(material)">
            {{material.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input appUntabable placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.MATERIALS.PLACEHOLDER' | translate }}"
            [matChipInputFor]="materialValues" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addMaterial($event)">
        </mat-chip-list>
      </mat-form-field>

      <!--Product Variants Overview-->

      <div style="overflow: auto">
        <table class="padding" *ngIf="variants?.length">
          <tr class="grey">
            <th></th>
            <th>{{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.PHOTO' | translate }}</th>
            <th *ngIf="size && sizes.length > 0">{{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.SIZE' | translate }}</th>
            <th *ngIf="color && colors.length > 0">{{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.COLOR' | translate }}</th>
            <th *ngIf="flavor && flavors.length > 0">{{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.FLAVOR' | translate }}
            </th>
            <th *ngIf="material && materials.length > 0">
              {{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.MATERIAL' | translate }}</th>
            <th style="white-space: nowrap"> {{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.PRICE' | translate }}</th>
            <th>{{ 'PAGES.PRODUCT_ADD.FORM.VARIANTS_TABLE.QUANTITY' | translate }}</th>
          </tr>
          <tr *ngFor="let variant of variants">
            <td>
              <mat-checkbox color="primary" [(ngModel)]="variant.enable" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="checkVariantsValidity()">
              </mat-checkbox>
            </td>
            <td class="flex-center pointer" (click)="variantPhotosDialog(variantPhotosD, variant)">
              <ng-container *ngIf="variant.photos.length && photos[variant.photos[0]] else variantPhotoPlaceholder">
                <img [attr.src]="getProductPhotoUrl(photos[variant.photos[0]])" style="height: 25px; width: 25px">
              </ng-container>
              <ng-template #variantPhotoPlaceholder>
                <img src="assets/images/photo-add-placeholder.png" style="height: 25px; width: 25px">
              </ng-template>
            </td>
            <td *ngIf="size && sizes.length > 0">{{variant.size}}</td>
            <td *ngIf="color && colors.length > 0">{{variant.color}}</td>
            <td *ngIf="flavor && flavors.length > 0">{{variant.flavor}}</td>
            <td *ngIf="material && materials.length > 0">{{variant.material}}</td>
            <td>
              <input [(ngModel)]="variant.price" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="checkVariantsValidity()" class="amount-input" type="text" mask="separator.2"
                thousandSeparator="." appPriceInput>
            </td>
            <td>
              <input [(ngModel)]="variant.quantity" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="checkVariantsValidity()" class="amount-input" type="text" mask="separator.2"
                thousandSeparator=".">
            </td>
          </tr>
        </table>
      </div>

      <div class="red padding" *ngIf="variantsError && isSubmitted">{{ variantsError | translate }}</div>

      <ng-template #variantPhotosD>
        <div class="header">
          <button type="button" class="item-start" (click)="closeVariantPhotosDialog()"><i
              class="material-icons">arrow_back</i></button>
          <h2 class="header-title">{{ 'PAGES.PRODUCT_ADD.FORM.VARIANT_PHOTOS_DIALOG.TITLE' | translate }}</h2>
          <button type="button" class="blue item-end" (click)="saveVariantPhotos()">
            <i class="material-icons">send</i>
          </button>
        </div>

        <div class="padding">
          <div class="red padding-bottom" *ngIf="variantPhotosError">{{ variantPhotosError | translate }}</div>

          <div class="photo-grid photo-grid__add photo-grid__variants">
            <div class="photo-size position-relative"
              *ngIf="photos?.length < (singleProduct ? singleProductMaxPhotoNumber : productVariantsMaxPhotoNumber)">
              <button type="button" class="file-add file-add__list-item" (click)="photosInput.click()"
                [ngClass]="form.controls['photos'].errors?.required && invalidImages ? 'errored' : ''">
                <i class="material-icons padding-bottom-small">photo_camera</i>
                <div>
                  {{ (singleProduct ? singleProductMaxPhotoNumber : productVariantsMaxPhotoNumber) - photos?.length }}
                  {{
                  photos?.length < (singleProduct ? singleProductMaxPhotoNumber - 1 : productVariantsMaxPhotoNumber - 1)
                  ? ('PAGES.PRODUCT_ADD.PHOTOS' | translate)
                  : ('PAGES.PRODUCT_ADD.PHOTO' | translate)
                }}
                </div>
              </button>
              <input type="file" multiple accept="image/*" #photosInput (change)="selectPhotos($event)"
                formArrayName="photos">
              <app-loading [loading]="photosLoading"></app-loading>
            </div>
            <div class="photo-size pointer relative-container" *ngFor="let photo of photos; index as index"
              [style.background-image]="getProductPhotoCssUrl(photo)" (click)="selectVariantPhoto(index)">
              <i *ngIf="isVariantPhotoSelected(index)"
                class="remove-file photo-index">{{ getSelectedVariantPhotoIndex(index) + 1}}</i>
              <i class="material-icons remove-file"
                (click)="removePhotoByIndex(index); $event.stopPropagation()">close</i>
            </div>
          </div>
        </div>
      </ng-template>

      <sat-popover #variantPhotosModal hasBackdrop [interactiveClose]="false" backdropClass="popover-background" scrollStrategy="close">
        <div class="popover">

        </div>
      </sat-popover>
    </ng-container>

    <!--Delivery-->

    <h2 class="sub-header no-padding-bottom">
      {{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_TITLE' | translate }}
    </h2>

    <mat-form-field>
      <mat-select #deliveryOptions placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_OPTIONS.PLACEHOLDER' | translate }}"
        formControlName="deliveryOptions">
        <mat-option value="onlyShipping" (click)="showOnlyShipping()">
          {{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_OPTIONS.ONLY_SHIPPING' | translate }}
        </mat-option>
        <mat-option value="onlyCollection" (click)="showOnlyCollection()">
          {{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_OPTIONS.ONLY_COLLECTION' | translate }}
        </mat-option>
        <mat-option value="both" (click)="showShippingCollection()">
          {{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_OPTIONS.BOTH' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Shipping Infos-->

    <ng-container *ngIf="onlyShipping">
      <mat-form-field>
        <input #deliveryTime matInput type="text" mask="separator.2" thousandSeparator="." maxlength="2"
          placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_TIME.PLACEHOLDER' | translate }}"
          formControlName="deliveryTime">
        <i matSuffix class="material-icons icon-small grey pointer" [satPopoverAnchor]="shippingP"
          (click)="shippingP.toggle()" (click)="$event.stopPropagation()">info</i>
      </mat-form-field>

      <sat-popover hasBackdrop #shippingP horizontalAlign="before" scrollStrategy="close">
        <div class="tooltip">
          {{ 'PAGES.PRODUCT_ADD.FORM.DELIVERY_TIME.TOOLTIP' | translate }}
        </div>
      </sat-popover>

      <mat-form-field *ngIf="!isFreeShipping">
        <span matPrefix>€ &nbsp;</span>
        <input #shippingCosts matInput type='text' mask="separator.2" thousandSeparator="." appPriceInput
          placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.SHIPPING_COSTS.PLACEHOLDER' | translate }}"
          formControlName="shippingCosts">
      </mat-form-field>

      <div class="flex">
        <mat-slide-toggle color="primary" class="item-end grey padding-right" [(ngModel)]="isFreeShipping"
          (ngModelChange)="freeShippingChanged()" [ngModelOptions]="{standalone: true}">
          {{ 'PAGES.PRODUCT_ADD.FORM.SHIPPING_COSTS.FREE_SHIPPING' | translate }}
        </mat-slide-toggle>
      </div>

      <!-- <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.PRODUCT_ADD.FORM.PAYER_AT_RETURN.PLACEHOLDER' | translate }}"
                  formControlName="payerReturn"
                  [attr.required]="deliveryOptions.value === 'onlyShipping'"
                  >
        <mat-option value="buyer">
          {{ 'PAGES.PRODUCT_ADD.FORM.PAYER_AT_RETURN.BUYER' | translate }}
        </mat-option>
        <mat-option value="seller">
          {{ 'PAGES.PRODUCT_ADD.FORM.PAYER_AT_RETURN.SELLER' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    </ng-container>

    <!--Collection Infos-->

    <ng-container *ngIf="onlyCollection">
      <app-address-input formControlName="address"></app-address-input>
    </ng-container>
    <!--Form End-->

    <!--Drafts-->

    <button type="button" class="icon-button grey" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
      [disabled]="!wasChanged()">
      <i class="material-icons padding-right">create</i>
      {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
    </button>

    <div class="border-top" *ngIf="(drafts$ | async)?.length > 0">
      <h2 class="sub-header background-grey-3 add-view-layout-border-fix" >{{(drafts$ | async)?.length | i18nPlural: productDraftsMapping }}</h2>

      <div class="item border-bottom border-top" *ngFor="let product of drafts$ | async; trackBy: trackById"
        (click)="$event.stopPropagation(); selectDraft(product.id)"
        [ngClass]="{ disabled: product.uploading || product.processing }">
        <app-thumbnail [url]="product.cover?.thumbUrl || product.cover?.photoUrl || defaultImage" [item]="product">
        </app-thumbnail>

        <div class="item-text">
          <h2 *ngIf="product.title" class="black" ellipsis>{{product.title}}</h2>
          <h2 *ngIf="!product.title" class="black">{{ 'GENERAL.DRAFTS.NO_TITLE' | translate }}</h2>
          <h2 class="black bold" *ngIf="product.price !== '0' else forFree">{{product.price | customCurrency}}</h2>
          <ng-template #forFree>
            <h2 class="black bold">{{ 'GENERAL.STATUSES.FOR_FREE' | translate }}</h2>
          </ng-template>
        </div>

        <!--Delete Draft-->

        <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD)">
          <i class="material-icons icon-small">delete</i>
        </button>

        <ng-template #deleteDraftD>
          <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red" (click)="deleteDraft(product)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </form>
</add-view-layout>