:host {
  display: block;
}

td {
  text-align: center;
  vertical-align: middle;
}

.photo-grid__product-variants {
  grid-template-columns: repeat(15, 100px);
}

.file-add__list-item {
  min-width: 100px;
  &.file-add {
    border-radius: 0;
  }
}

.amount-input {
  width: 60px;
}

.photo-grid__variants {
  height: auto;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 100px);
}

.add-shop-category-form {
  width: 500px;

  mat-form-field:last-child {
    margin-bottom: 0;
    overflow: hidden;
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }

}

mat-chip {
  mat-icon {
    width: 21px !important;
    height: 24px !important;
  }
}

.item {
  &:last-child {
    border-bottom: none;
  }
}