.share-message-container {
    padding-top: 0;
    padding-bottom: 0;
}

.share-message-input {
    margin-bottom: 0;
}

mat-checkbox {
    margin-right: 3px;
}

cdk-virtual-scroll-viewport {
    height: calc(100% - 44px - 87.5px - 60px);
}
