<div class="header">
  <button class="margin-right" mat-dialog-close><i class="material-icons">arrow_back</i></button>

  <h2 class="header-title position-center">{{ 'DIALOGS.SHARE_MESSAGE.TITLE' | translate }}</h2>

  <button type="submit" class="blue item-end" (click)="send()">
    <i class="material-icons">send</i>
  </button>
</div>
<div class="item no-link border-bottom share-message-container">
  <img [src]="loggedInAccountPhoto$ | async" class="avatar">

  <mat-form-field class="share-message-input" floatLabel="never">
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              class="textarea"
              placeholder="{{ 'DIALOGS.SHARE_MESSAGE.FORM.MESSAGE.PLACEHOLDER' | translate }}"
              [(ngModel)]="message"
    ></textarea>
  </mat-form-field>
</div>

<div class="flex padding">
  <i class="material-icons search-icon-container margin-right">search</i>
  <input #searchInput placeholder="Search" class="search-content-input" [(ngModel)]="searchValue">
  <button class="item-end padding-left" *ngIf="searchValue" (click)="searchValue = ''">
    <i class="material-icons">close</i>
  </button>
</div>

<cdk-virtual-scroll-viewport
  [itemSize]="itemSize"
  minBufferPx="1000"
  maxBufferPx="1000"
  >
  <div class="item" *cdkVirtualFor="let user of searchResults$ | async">
    <img [src]="user.photo || defaultAvatar" class="avatar">
    <div class="item-text">
      <h2 class="black">{{user.name}}</h2>
    </div>
    <mat-checkbox color="primary" [(ngModel)]="checked[user.id]" (click)="$event.stopPropagation()"></mat-checkbox>
  </div>
</cdk-virtual-scroll-viewport>
