<div class="video-detail-wrapper flex-center-column flex-stretch padding-bottom">
  <app-content-layout class="background-white">
    <app-feed-item-video [item]="video$ | async" [autoplay]="true" [muted]="false" [playOnHover]="false"
      [borderBottom]="false" (delete)="onDelete()"></app-feed-item-video>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>