:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
  }

  td {
    text-align: center;
    white-space: nowrap;
  }

  th {
    white-space: nowrap;
    & > * {
      vertical-align: middle;
    }
  }

  .detailed-product-list-thumbnail {
    height: 40px;
    width: 40px;
  }
}

.item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-10);
  }
}

@media screen and (max-width: 600px) {
  .sub-header {
    border-left: none;
    border-right: none;
  }

  .item {
    border-left: none;
    border-right: none;
  }
}