<list-view-layout [loading]="navigating || (loading$ | async)" [expand]="(tableLayout$ | async)" [isListEmpty]="!(total$ | async) && !(loading$ | async)" [emptyTextPlaceholder]="(total$ | async | i18nPlural: productMapping)">
  <!--Header Start-->
  <div class="product-list-wrapper background-white flex-center-column">
    <div class="sub-header border-left border-right border-bottom" *ngIf="total$ | async as total">
      <ng-container *ngIf="!(showSearch$ | async); else searchTemplate">
        <h2 class="sub-header-title">{{ total | i18nPlural: productMapping }}</h2>
        <div class="item-end">
          <button class="margin-left" (click)="switchLayout()" *ngIf="isMyAccount$ | async">
            <ng-container *ngIf="(tableLayout$ | async); else normalLayoutIcon">
              <i class="material-icons">format_list_bulleted</i>
            </ng-container>
            <ng-template #normalLayoutIcon>
              <i class="material-icons">view_headline</i>
            </ng-template>
          </button>
          <button (click)="showSearch()" class="margin-left" *ngIf="total > 1">
            <i class="material-icons">search</i>
          </button>
          <button class="margin-left" *ngIf="!(tableLayout$ | async) && (total > 1)" [satPopoverAnchor]="filterP"
            (click)="filterP.toggle()">
            <i class="material-icons">tune</i>
          </button>
        </div>
      </ng-container>

      <!--Search-->

      <ng-template #searchTemplate>
        <div class="search-content">
          <button class="item-start padding-right" (click)="showHeader()">
            <i class="material-icons">arrow_back</i>
          </button>
          <input #searchInput #searchInputElement autoFocus placeholder="{{ 'PAGES.PRODUCT_LIST.SEARCH' | translate }}"
            class="search-content-input" [(ngModel)]="searchValue">
          <button class="item-end" *ngIf="searchValue" (click)="searchValue = ''">
            <i class="material-icons">close</i>
          </button>
          <button class="margin-left" *ngIf="!(tableLayout$ | async) && (total > 1)" [satPopoverAnchor]="filterP"
            (click)="filterP.toggle()">
            <i class="material-icons">tune</i>
          </button>
        </div>
      </ng-template>

      <!--Filter-->

      <sat-popover hasBackdrop #filterP verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
          <button *ngIf="isBusinessAccount$ | async" class="icon-button"
            (click)="applyFilter('reviews'); filterP.close()">
            <i class="material-icons padding-right">star</i>
            {{ 'GENERAL.LIST_FILTER.REVIEWS' | translate }}
          </button>
          <button class="icon-button" (click)="applyFilter('price', 'asc'); filterP.close()">
            <i class="material-icons padding-right">arrow_downward</i>
            {{ 'GENERAL.LIST_FILTER.PRICE_LOWEST' | translate }}
          </button>
          <button class="icon-button" (click)="applyFilter('price', 'desc'); filterP.close()">
            <i class="material-icons padding-right">arrow_upward</i>
            {{ 'GENERAL.LIST_FILTER.PRICE_HIGHEST' | translate }}
          </button>
          <mat-form-field>
            <mat-select placeholder="{{ 'PAGES.PRODUCT_LIST.CATEGORIES' | translate }}" [value]="categoryId"
              (selectionChange)="filterByCategory($event.value); filterP.close()" (click)="$event.stopPropagation()">
              <mat-option [value]="-1">{{ 'GENERAL.CATEGORIES.ALL' | translate }}</mat-option>
              <mat-option [value]="category.id" *ngFor="let category of categories$ | async">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </sat-popover>
    </div>

    <!--Header End-->

    <ng-container *ngIf="((tableLayout$ | async) && !(loading$ | async)); else normalLayout">
      <app-infinite-scroll-with-loader class="table-wrapper tabs-infinite-scroll-viewport" (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async">
        <table cdk-table class="reports-table border-bottom background-white" [dataSource]="detailedItems$ | async">
          <ng-container cdkColumnDef="options">
            <th cdk-header-cell *cdkHeaderCellDef>
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.OPTIONS' | translate }}</span>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              <ng-container *ngTemplateOutlet="moreButtonTemplate; context: { product: product }"></ng-container>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="status">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('active')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.STATUS' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'active' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              {{
            product.active
            ? ('GENERAL.STATUSES.ACTIVE' | translate)
            : ('GENERAL.STATUSES.INACTIVE' | translate)
          }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="photo">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('photoUrl')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.PHOTO' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'photoUrl' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              <app-thumbnail class="detailed-product-list-thumbnail" [url]="product.thumbUrl || product.photoUrl"
                [item]="product"></app-thumbnail>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="title">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('title')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.TITLE' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'title' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">{{ product.title }}</td>
          </ng-container>

          <ng-container cdkColumnDef="variant">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('product_variants_id')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.VARIANT' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'product_variants_id' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              {{ product.variantText || ('GENERAL.STATUSES.NO_VARIANTS' | translate) }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="condition">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('condition')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.CONDITION' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'condition' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">{{ product.condition | titlecase }}</td>
          </ng-container>

          <ng-container cdkColumnDef="price">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('price')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.PRICE' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'price' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">{{ product.price | customCurrency }}</td>
          </ng-container>

          <ng-container cdkColumnDef="quantity">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('quantity')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.QUANTITY' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'quantity' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              {{
            +product.quantity
            ? product.quantity
            : ('GENERAL.STATUSES.OUT_OF_STOCK' | translate)
          }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="category">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('category')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.CATEGORY' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'category' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ 'GENERAL.CATEGORIES.PRODUCT.' + product.category | translate }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="shop_category">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer"
              (click)="applyTableFilter('product_shopcategory_name')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.SHOP_CATEGORY' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'product_shopcategory_name' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.product_shopcategory_name }} </td>
          </ng-container>

          <ng-container cdkColumnDef="delivery_options">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('deliveryOptions')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.DELIVERY_OPTIONS' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'deliveryOptions' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product">
              <ng-container [ngSwitch]="product.deliveryOptions">
                <ng-container *ngSwitchCase="'onlyShipping'">
                  {{ 'PAGES.PRODUCT_LIST.DELIVERY_OPTIONS.ONLY_SHIPPING' | translate }}
                </ng-container>
                <ng-container *ngSwitchCase="'onlyCollection'">
                  {{ 'PAGES.PRODUCT_LIST.DELIVERY_OPTIONS.ONLY_COLLECTION' | translate }}
                </ng-container>
                <ng-container *ngSwitchCase="'both'">
                  {{ 'PAGES.PRODUCT_LIST.DELIVERY_OPTIONS.BOTH' | translate }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="delivery_time">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('deliveryTime')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.DELIVERY_TIME' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'deliveryTime' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.deliveryTime }} </td>
          </ng-container>

          <ng-container cdkColumnDef="shipping_costs">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('shippingCosts')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.SHIPPING_COSTS' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'shippingCosts' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.shippingCosts | customCurrency }} </td>
          </ng-container>

          <ng-container cdkColumnDef="sales">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('sales')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.SALES' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'sales' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.sales }} </td>
          </ng-container>

          <ng-container cdkColumnDef="revenue">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('revenue')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.REVENUE' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'revenue' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.revenue | customCurrency }} </td>
          </ng-container>

          <ng-container cdkColumnDef="reviews">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('product_reviews_count')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.REVIEWS' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'product_reviews_count' }">
              </ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.product_reviews_count }} </td>
          </ng-container>

          <ng-container cdkColumnDef="rating">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('rating')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.RATING' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'rating' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.rating }} </td>
          </ng-container>

          <ng-container cdkColumnDef="created">
            <th cdk-header-cell *cdkHeaderCellDef class="pointer" (click)="applyTableFilter('date')">
              <span>{{ 'PAGES.PRODUCT_LIST.COLUMN_NAME.CREATED' | translate }}</span>
              <ng-container *ngTemplateOutlet="columnFilter; context: { filterToCompare: 'date' }"></ng-container>
            </th>
            <td cdk-cell *cdkCellDef="let product"> {{ product.created | date:'dd MMM y' }} </td>
          </ng-container>

          <!-- Rows -->
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </app-infinite-scroll-with-loader>
    </ng-container>

    <ng-template #columnFilter let-filterToCompare="filterToCompare">
      <ng-container *ngIf="filterToCompare === filter">
        <ng-container *ngIf="order === 'desc'; else arrowUp">
          <i class="material-icons">arrow_downward</i>
        </ng-container>
        <ng-template #arrowUp>
          <i class="material-icons">arrow_upward</i>
        </ng-template>
      </ng-container>
    </ng-template>

    <ng-template #normalLayout>
      <app-infinite-scroll-with-loader *ngIf="total$ | async" (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async">
        <div class="item border-bottom border-left border-right" *ngFor="let product of products$ | async; trackBy: trackById" [routerLink]="[product.id]"
          [ngClass]="{ disabled: product.uploading || product.processing }">

          <app-thumbnail [url]="product.cover?.thumbUrl || product.cover?.photoUrl" [item]="product"></app-thumbnail>

          <div class="item-text">
            <div class="item-header">
              <h2 *ngIf="!product.active" class="red">{{ 'GENERAL.STATUSES.INACTIVE' | translate }}</h2>
              <h2 *ngIf="product.title" class="black" ellipsis>{{ product.title }}</h2>
            </div>

            <ng-container *ngIf="isPriceNotFree(product.price) else forFree">
              <h2 class="black bold">{{product.price | customCurrency}}</h2>
            </ng-container>

            <ng-template #forFree>
              <h2 class="black bold">{{ 'GENERAL.STATUSES.FOR_FREE' | translate }}</h2>
            </ng-template>

            <p>{{viewableAccountFullName$ | async}}</p>
            <p>{{product.collection}}</p>

            <div class="flex" *ngIf="product.reviews && product.reviews.count > 0">
              <i class="material-icons icon-small blue">star</i>
              <i class="material-icons icon-small blue">star</i>
              <i class="material-icons icon-small blue">star</i>
              <p class="grey padding-left-small margin-right">{{product.reviews.count}}</p>
            </div>
          </div>

          <ng-container *ngTemplateOutlet="moreButtonTemplate; context: { product: product }"></ng-container>
        </div>
        <!-- <div class="addable-item-list-bottom-spacer"></div> -->
      </app-infinite-scroll-with-loader>
    </ng-template>

    <h2 *ngIf="!(total$ | async) && !(loading$ | async) && searchValue" class="center padding-top">
      {{ 'PAGES.PRODUCT_LIST.NO_RESULTS' | translate }}
    </h2>

    <ng-template #moreButtonTemplate let-product="product">
      <button class="item-end" [satPopoverAnchor]="moreP" (click)="moreP.toggle();$event.stopPropagation()">
        <i class="material-icons icon-small">more_vert</i>
      </button>

      <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <bookmark-link-item [id]="product.id" type="product" [isBookmark]="product.bookmarked"
            (handleClick)="moreP.close()"></bookmark-link-item>
          <share-link-item link="{{ currentUrl + '/' + product.id }}" (handleClick)="moreP.close()"></share-link-item>
          <copy-link-item link="{{ currentUrl + '/' + product.id }}" (handleClick)="moreP.close()"></copy-link-item>
          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <button class="icon-button" routerLink="add" [queryParams]="{id: product.id}">
              <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="inactiveProduct(product); moreP.close()">
              <i class="material-icons padding-right">schedule</i>
              {{
            product.active
            ? ('GENERAL.STATUSES.INACTIVE' | translate)
            : ('GENERAL.STATUSES.ACTIVE' | translate)
          }}
            </button>
            <button class="icon-button" (click)="deleteDialog(deleteD); moreP.close()">
              <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <button *ngIf="(loggedInAccountId$ | async) != product?.user?.id" class="icon-button"
            (click)="reportDialog(reportD); moreP.close()">
            <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>
        </div>
      </sat-popover>

      <ng-template #deleteD>
        <h2 class="dialog-header">{{ 'DIALOGS.PRODUCT_DELETE.TITLE' | translate }}</h2>
        <p class="grey center padding border-bottom">{{ 'DIALOGS.PRODUCT_DELETE.SUBTITLE' | translate }}</p>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" matDialogClose (click)="deleteProduct(product.id)">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #reportD>
        <app-report-add [contentType]="'product'" [contentId]="product.id"></app-report-add>
      </ng-template>
    </ng-template>
  </div>
</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="(total$ | async) && !(loading$ | async)"></div>
<!--Add-->

<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>