<div class="flex-center padding border-bottom">
  <img [attr.src]="account.photo || defaultAvatar" class="avatar margin-vertical">
  <h2>{{ account.name || account.userName }}</h2>
</div>
<div class="dialog-buttons">
  <button (click)="close()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
  <button class="red" (click)="unfollow()">{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}</button>
</div>