<div class="text-detail-wrapper flex-center-column flex-stretch padding-bottom">
  <app-content-layout class="background-white">
    <app-feed-item-text [item]="text$ | async" (delete)="onDelete()"></app-feed-item-text>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>