<div class="flex-center-column background-grey-3 flex-stretch feed-list">
  <div class="flex actions padding-top padding-bottom">
    <div class="actions-btn">
      <button class="round-button padding" style="margin-right: 0" (click)="inviteFriends()">
        {{ 'PAGES.FEED.INVITE_FRIENDS' | translate }}
      </button>
    </div>
    <div class="actions-btn">
      <button class="round-button-outline background-white padding" routerLink="/discover">
        {{ 'PAGES.FEED.DISCOVER' | translate }}
      </button>
    </div>
  </div>
  <app-content-layout class="border-none background-grey-3">
    <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="onScroll()">
      <ng-container *ngFor="let item of items$ | async; trackBy: trackBy">
        <div class="feed-item borde-top border-left border-right border-top">
          <ng-container [ngSwitch]="item.tableName">

            <ng-container *ngSwitchCase="'text'">
              <app-feed-item-text #feedItem [item]="item" [truncatable]="true"></app-feed-item-text>
            </ng-container>

            <ng-container *ngSwitchCase="'photo'">
              <ng-container *ngIf="!(item.uploading || item.processing); else placeholder">
                <app-feed-item-photo #feedItem [item]="item" [truncatable]="true" [timeAgoFormat]="true">
                </app-feed-item-photo>
              </ng-container>

              <ng-template #placeholder>
                <div class="item border-bottom disabled">
                  <div class="position-relative">
                    <app-thumbnail [url]="item.thumb || item.photo" [item]="item"></app-thumbnail>
                  </div>

                  <div class="item-text">
                    <h2 class="black" ellipsis>{{ item.title }}</h2>
                    <p>{{ item.user?.name }}</p>
                    <p>{{ item.created | timeAgo }}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'video'">
              <ng-container *ngIf="!(item.uploading || item.processing); else placeholder">
                <app-feed-item-video #feedItem [item]="item" [truncatable]="true" [timeAgoFormat]="true">
                </app-feed-item-video>
              </ng-container>

              <ng-template #placeholder>
                <div class="item border-bottom disabled">
                  <div class="position-relative">
                    <app-thumbnail [url]="item.thumb || item.photo" [item]="item"></app-thumbnail>
                  </div>

                  <div class="item-text">
                    <h2 class="black" ellipsis>{{ item.title }}</h2>
                    <p>{{ item.user?.name }}</p>
                    <p>{{ item.created | timeAgo }}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'article'">
              <ng-container *ngIf="!(item.uploading || item.processing); else placeholder">
                <app-feed-item-article #feedItem [item]="item" [timeAgoFormat]="true" [expanded]="false">
                </app-feed-item-article>
              </ng-container>

              <ng-template #placeholder>
                <div class="item border-bottom disabled">
                  <div class="position-relative">
                    <app-thumbnail [url]="item.thumb || item.photo" [item]="item"></app-thumbnail>
                  </div>

                  <div class="item-text">
                    <h2 class="black" ellipsis>{{ item.title }}</h2>
                    <p>{{ item.user?.name }}</p>
                    <p>{{ item.created | timeAgo }}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'service'">
              <ng-container *ngIf="!(item.uploading || item.processing); else placeholder">
                <app-feed-item-service #feedItem [item]="item" [truncatable]="true"></app-feed-item-service>
              </ng-container>

              <ng-template #placeholder>
                <div class="item border-bottom disabled">
                  <div class="position-relative">
                    <app-thumbnail [url]="item.thumb || item.photo" [item]="item"></app-thumbnail>
                  </div>

                  <div class="item-text">
                    <h2 class="black" ellipsis>{{ item.title }}</h2>
                    <p>{{ item.user?.name }}</p>
                    <p>{{ item.created | timeAgo }}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>

          </ng-container>
        </div>
      </ng-container>
    </app-infinite-scroll-with-loader>
  </app-content-layout>
  <div class="addable-item-list-bottom-spacer"></div>
  <div class="fab-wrapper">
    <button class="fab" routerLink="/{{ loggedInAccountPageName$ | async }}/home/add"
      *ngIf="(isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
      (click)="navigating = true">
      <i class="material-icons white">add</i>
    </button>
  </div>
  <app-main-loader [loading]="loading$ | async"></app-main-loader>
</div>