:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feed-infinite-list {
  height: calc(100%);
  overflow-y: auto;
  background-color: var(--grey-3);
}

.actions {
  display: flex;
  justify-content: space-between;
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  &-btn {
    width: calc(50% - 5px);
    button {
      width: 100%;
    }
  }
}

.feed-list-wrapper {
  margin: 0 auto;
}

.feed-item {
  background-color: #fff;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}

@media screen and(max-width:600px) {
  .feed-item {
    border-left: none;
    border-right: none;
  }

  .actions {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.feed-list {
  position: relative;
}