<div class="flex-center padding border-bottom">
  <h2>
    {{
      type === 'unblock'
      ? ('DIALOGS.BLOCK.TITLE_UNBLOCK' | translate)
      : ('DIALOGS.BLOCK.TITLE_BLOCK' | translate)
    }}
  </h2>
</div>

<div class="dialog-buttons">
  <button (click)="close()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
  <button *ngIf="type === 'block'" class="red" (click)="block()">
    {{ 'GENERAL.ACTIONS.BLOCK' | translate }}
  </button>
  <button *ngIf="type === 'unblock'" class="blue" (click)="unblock()">
    {{ 'GENERAL.ACTIONS.UNBLOCK' | translate }}
  </button>
</div>
