<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async" [disabled]="(loading$ | async) || (editMode && !isEditReady)" formId="ngForm"
  (onSubmitClick)="saveAndBack()" [loading]="(loading$ | async) || (editMode && !isEditReady)">
  <div class="border-bottom position-relative" *ngIf="!cover else showCover"
    [ngClass]="form.controls['cover'].errors?.required && invalidCover ? 'errored' : ''">
    <button class="file-add" (click)="coverInput.click()">
      <div>
        <i class="material-icons padding-bottom-small">photo</i>
        <div>{{ 'PAGES.ARTICLE_ADD.COVER' | translate }}</div>
      </div>
    </button>
    <app-loading [loading]="photoLoading"></app-loading>
    <input type="file" accept="image/*" #coverInput (change)="selectCover($event)">
  </div>

  <ng-template #showCover>
    <div class="position-relative flex-center">
      <img [attr.src]="cover" class="photo-image">
      <i class="material-icons remove-file" (click)="removeCover($event)">close</i>
    </div>
  </ng-template>

  <!--Form-->
  <form [formGroup]="form" id="ngForm" #articleNgForm="ngForm" style="padding-bottom: 31px;">
    <mat-form-field class="margin-top">
      <input matInput placeholder="{{ 'PAGES.ARTICLE_ADD.FORM.TITLE.PLACEHOLDER' | translate }}" maxlength="100"
        #titleCounter formControlName="title">
      <p matSuffix class="grey padding-left-small">{{titleCounter?.value.length}}/100</p>
    </mat-form-field>

    <mat-form-field> 
      <mat-select placeholder="{{ 'PAGES.ARTICLE_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ 'GENERAL.CATEGORIES.MEDIA.' + category | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-location-input placeholder="{{ 'PAGES.PHOTO_ADD.FORM.LOCATION.PLACEHOLDER' | translate }}"
      formControlName="location"></app-location-input>

    <mat-form-field class="material-editor padding">
      <mat-quill customToolbarPosition="bottom" [class.error]="form.get('text').hasError('required') "
        (onContentChanged)="onEditorContentChanged($event)" [ngStyle]="{height: '250px'}"
        (onEditorCreated)="getEditorInstance($event)" formControlName="text"
        placeholder="{{ 'PAGES.ARTICLE_ADD.FORM.TEXT.PLACEHOLDER' | translate }}">
        <div class="quill-toolbar" quill-editor-toolbar>
          <button class="ql-bold">
            <mat-icon class="ql-bold">format_bold</mat-icon>
          </button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-header" value="1"></button>

          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <button class="ql-image"></button>
          <button class="ql-link" value="link"></button>
        </div>
      </mat-quill>
    </mat-form-field>

    <input type="file" hidden #fileInput />
  </form>

  <!--Drafts-->

  <button type="button" class="icon-button grey draft-button" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
    [disabled]="!wasChanged()">
    <i class="material-icons padding-right">create</i>
    {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
  </button>

  <div class="border-top" *ngIf="(drafts$ | async)?.length > 0">
    <h2 class="sub-header background-grey-3 add-view-layout-border-fix">
      {{ (drafts$ | async)?.length | i18nPlural: articleDraftsMapping }}
    </h2>

    <div class="item border-bottom border-top" *ngFor="let article of drafts$ | async; trackBy: trackById"
      (click)="$event.stopPropagation(); selectDraft(article.id)"
      [ngClass]="{ disabled: article.uploading || article.processing }">

      <app-thumbnail [url]="article.thumb || article.cover || defaultImage" [item]="article"></app-thumbnail>

      <div class="item-text">
        <h2 *ngIf="article.title" class="black" ellipsis>{{article.title}}</h2>
        <h2 *ngIf="!article.title" class="black">{{ 'GENERAL.DRAFTS.NO_TITLE' | translate }}</h2>
      </div>

      <!--Delete Draft-->

      <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD)">
        <i class="material-icons icon-small">delete</i>
      </button>

      <ng-template #deleteDraftD>
        <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" (click)="deleteDraft(article)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
        </div>
      </ng-template>
    </div>
  </div>
</add-view-layout>