
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**

// Define the default theme (same as the example above).
$primary: mat-palette($mat-blue, A700);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$warn:    mat-palette($mat-red);

$theme:   mat-light-theme($primary, $accent);

// Include the default theme styles.
@include angular-material-theme($theme);

.quill-toolbar {
  border-style: none;
  border-bottom: solid 1px var(--grey-10);
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep .mat-form-field {
  &-appearance-fill .mat-form-field {
    &-flex {
      padding: 0 !important;
    }

    &-infix {
      border-top: 0;
      padding: 0;
    }
  }

  .ql-container {
    caret-color: mat-color($primary, text);

    &.ql-snow {
      border: none;
    }

    .ql-editor {
      padding: 0;
      font-size: 16px;
      &:focus {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .ql-toolbar {
    display: flex;

    &.ql-snow {
      position: absolute;
      top: 100%;
      width: 100%;
      border-top: none;
      padding-left: 0;
      padding-right: 0;
      display: flex;

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        &.ql-bold, &.ql-italic, &.ql-underline, &.ql-header {
          padding-left: 0 !important;
          padding-right: 0 !important;
          width: 24px !important;
        }
      }

      h1 {
        font-size: 16px !important;
      }
    }
  }

  .ql-tooltip {
    z-index: 1;
  }
}

::ng-deep .ql-editor {
  h1 {
    font-size: 18px !important;
  }
}

::ng-deep .ql-mention-list-container {
  z-index: 10;
  padding-top: 10px;
}

.item {
  &:last-child {
    border-bottom: none;
  }
}