<div *ngIf="expanded; else elseBlock">
    <div *ngIf="expanded" [innerHTML]="content" class="expanded"></div>
</div>
<ng-template #elseBlock>
    <ng-container *ngIf="!expanded">
        <div *ngFor="let row of content; let i = index" [innerHTML]="row | linkstohtml | hashtags"
            [ngClass]="{'latest-element': i == (content.length - 1)}"></div>
    </ng-container>
    <span *ngIf="shouldRenderMoreBtn" class="grey pointer" (click)="onExpandClick.emit()"
        class="grey pointer">{{ 'COMPONENTS.TRUNCATABLE_TEXT.MORE' | translate }}</span>
</ng-template>