<div class="settings-wrapper flex-center-column flex-stretch background-grey-3 padding-bottom">
  <!-- Person -->

  <app-content-layout class="background-white border-bottom">
    <form *ngIf="(userType$ | async) === 'person'" [formGroup]="userForm" (ngSubmit)="saveAndBack()">
      <div class="header">
        <button class="item-start grey" type="button" (click)="back()" [disabled]="loading$ | async">
          <i class="material-icons">arrow_back</i>
        </button>

        <h2 class="header-title">{{ 'PAGES.SETTINGS.TITLE' | translate }}</h2>

        <button type="submit" class="blue item-end" [disabled]="loading$ | async">
          <i class="material-icons">check</i>
        </button>
      </div>
      <div class="flex padding settings-photo">
        <div class="position-relative pointer margin-right" (click)="photoInput.click()">
          <img [src]="croppedPhoto" class="user-photo" alt="">
          <i *ngIf="croppedPhoto !== constants.PLACEHOLDER_AVATAR_PATH" class="material-icons remove-file"
            (click)="removePhoto($event)">close</i>
          <input type="file" accept="image/*" #photoInput (change)="selectPhoto($event, cropImage)">
        </div>
      </div>

      <ng-template #cropImage>
        <div class="dialog-content position-relative" [class.photo-loading-contanier]="localPhotoLoading">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [roundCropper]="true"
            [aspectRatio]="1 / 1" [resizeToWidth]="250" format="jpg" (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"></image-cropper>

          <app-loading [loading]="localPhotoLoading"></app-loading>
        </div>
        <div class="dialog-buttons">
          <button type="button" matDialogClose>
            {{ 'GENERAL.ACTIONS.NO' | translate }}
          </button>
          <button type="button" class="blue" (click)="closeCropperDialog()">
            {{ 'GENERAL.ACTIONS.SAVE' | translate }}
          </button>
        </div>
      </ng-template>

      <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.USER_FORM.NAME.PLACEHOLDER' | translate }}"
          formControlName="fullName" maxlength="100">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.USER_FORM.PAGE.PLACEHOLDER' | translate }}"
          formControlName="pageName" maxlength="100" (keypress)="checkValue($event, 'pageName')">
        <mat-error *ngIf="userForm.controls['pageName'].hasError('minlength')">
          {{ 'PAGES.SETTINGS.USER_FORM.PAGE.ERRORS.MINLENGTH' | translate }}
        </mat-error>
        <mat-error *ngIf="userForm.controls['pageName'].hasError('invalidChar')">
          {{ 'PAGES.SETTINGS.USER_FORM.PAGE.ERRORS.INVALID_CHAR' | translate }}
        </mat-error>
        <mat-error *ngIf="userForm.controls['pageName'].hasError('nameExists')">
          {{ 'PAGES.SETTINGS.USER_FORM.PAGE.ERRORS.NAME_EXISTS' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" maxlength="150"
          #descriptionCounter placeholder="{{ 'PAGES.SETTINGS.USER_FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
          formControlName="description"></textarea>
        <p matSuffix class="grey padding-left">{{descriptionCounter?.value.length}}/150</p>
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.USER_FORM.RESIDENCE.PLACEHOLDER' | translate }}"
          formControlName="residence">
      </mat-form-field> -->

      <!--Delivery Address-->

      <app-address-input placeholder="{{ 'PAGES.SETTINGS.USER_FORM.DELIVERY_ADDRESS.PLACEHOLDER' | translate }}"
        formControlName="delivery_address"></app-address-input>

      <!--Bank Account-->

      <app-bank-input placeholder="{{ 'PAGES.CART_LIST.FORM.PAYMENT.PLACEHOLDER' | translate }}"
        formControlName="payment">
      </app-bank-input>

      <mat-form-field>
        <input matInput type="email" placeholder="{{ 'PAGES.SETTINGS.USER_FORM.EMAIL.PLACEHOLDER' | translate }}"
          formControlName="email" [autoFocus]="addFocus" pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        <mat-error *ngIf="userForm.controls['email'].hasError('emailExists')">
          {{ 'PAGES.SETTINGS.USER_FORM.EMAIL.ERRORS.EMAIL_EXISTS' | translate }}
        </mat-error>
        <mat-error *ngIf="userForm.controls['email'].invalid">
          {{ 'PAGES.SETTINGS.USER_FORM.EMAIL.ERRORS.INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="flex relative-container">
        <p class="padding-left padding-top grey birthday-label">
          {{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.TITLE' | translate }}
        </p>
        <mat-form-field [floatLabel]="'never'" style="width: 80px">
          <input matInput type="number"
            placeholder="{{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.DAY.PLACEHOLDER' | translate }}"
            pattern="([1-9]|[0-2]\d|3[0-1])" formControlName="day"
            onKeyDown="if(2===this.value.length) this.value = this.value.slice(0,-1)">
        </mat-form-field>

        <mat-form-field [floatLabel]="'never'" style="width: 100px">
          <mat-select placeholder="{{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.MONTH.PLACEHOLDER' | translate }}"
            formControlName="month">
            <mat-option *ngFor="let month of months" [value]="month.id">
              {{ 'GENERAL.DATE_TIME.MONTHS_SHORT.' + month.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="'never'" style="width: 80px">
          <input matInput type="number"
            placeholder="{{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.YEAR.PLACEHOLDER' | translate }}" formControlName="year"
            (ngModelChange)="onKey($event)">
        </mat-form-field>

        <i matSuffix class="material-icons icon-small grey pointer padding-left-small" [satPopoverAnchor]="birthP"
          (click)="birthP.toggle()" (click)="$event.stopPropagation()">info</i>
        <sat-popover hasBackdrop #birthP horizontalAlign="before" scrollStrategy="close">
          <div class="tooltip">
            {{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.TOOLTIP' | translate }}
          </div>
        </sat-popover>
      </div>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SETTINGS.USER_FORM.GENDER.PLACEHOLDER' | translate }}"
          formControlName="gender">
          <mat-option value="female">{{ 'PAGES.SETTINGS.USER_FORM.GENDER.FEMALE' | translate }}</mat-option>
          <mat-option value="male">{{ 'PAGES.SETTINGS.USER_FORM.GENDER.MALE' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SETTINGS.USER_FORM.LANGUAGE.PLACEHOLDER' | translate }}"
          formControlName="language">
          <mat-option value="deutsch">{{ 'PAGES.SETTINGS.USER_FORM.LANGUAGE.DEUTSCH' | translate }}</mat-option>
          <mat-option value="english">{{ 'PAGES.SETTINGS.USER_FORM.LANGUAGE.ENGLISH' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SETTINGS.USER_FORM.PRIVACY.PLACEHOLDER' | translate }}"
          formControlName="privacy">
          <mat-option value="public">{{ 'PAGES.SETTINGS.USER_FORM.PRIVACY.PUBLIC' | translate }}</mat-option>
          <mat-option value="private">{{ 'PAGES.SETTINGS.USER_FORM.PRIVACY.PRIVATE' | translate }}</mat-option>
        </mat-select>
        <i matSuffix class="material-icons icon-small grey padding-left-small" [satPopoverAnchor]="privacyInfo"
          (click)="showprivacyInfo(privacyInfo, $event)">info</i>
        <sat-popover #privacyInfo hasBackdrop horizontalAlign="before" scrollStrategy="close">
          <div class="tooltip">
            {{ 'PAGES.SETTINGS.USER_FORM.PRIVACY.TOOLTIP' | translate }}
          </div>
        </sat-popover>
      </mat-form-field>


      <button type="button" class="icon-button" (click)="openFullscreenDialog(passwordD); changePassForm.reset()">
        <i class="material-icons padding-right">vpn_key</i>
        {{ 'PAGES.SETTINGS.USER_FORM.CHANGE_PASSWORD' | translate }}
      </button>
    </form>

    <!-- Business -->

    <form *ngIf="(userType$ | async) === 'business'" [formGroup]="businessForm" (ngSubmit)="saveAndBack()">
      <div class="header">
        <button class="item-start grey" type="button" (click)="back()" [disabled]="loading$ | async">
          <i class="material-icons">arrow_back</i>
        </button>

        <h2 class="header-title">{{ 'PAGES.SETTINGS.TITLE' | translate }}</h2>

        <button type="submit" class="blue item-end" [disabled]="loading$ | async">
          <i class="material-icons">check</i>
        </button>
      </div>

      <div class="flex padding settings-photo">
        <div class="position-relative pointer margin-right" (click)="photoInput.click()">
          <img [src]="croppedPhoto" class="user-photo" alt="">
          <i *ngIf="croppedPhoto !== constants.PLACEHOLDER_AVATAR_PATH" class="material-icons remove-file"
            (click)="removePhoto($event)">close</i>
          <input type="file" accept="image/*" #photoInput (change)="selectPhoto($event, cropImage)">
        </div>
      </div>

      <ng-template #cropImage>
        <div class="dialog-content" [class.photo-loading-contanier]="localPhotoLoading">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [roundCropper]="true"
            [aspectRatio]="1 / 1" [resizeToWidth]="220" format="png" (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"></image-cropper>

          <app-loading [loading]="localPhotoLoading"></app-loading>
        </div>
        <div class="dialog-buttons">
          <button type="button" matDialogClose>
            {{ 'GENERAL.ACTIONS.NO' | translate }}
          </button>
          <button type="button" class="blue" (click)="closeCropperDialog()">
            {{ 'GENERAL.ACTIONS.SAVE' | translate }}
          </button>
        </div>
      </ng-template>


      <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.NAME.PLACEHOLDER' | translate }}"
          formControlName="businessName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.PAGE.PLACEHOLDER' | translate }}"
          formControlName="businessPageName" (keypress)="checkValue($event, 'businessPageName')">
        <mat-error *ngIf="businessForm.controls['businessPageName'].hasError('minlength')">
          {{ 'PAGES.SETTINGS.BUSINESS_FORM.PAGE.ERRORS.MINLENGTH' | translate }}
        </mat-error>
        <mat-error *ngIf="businessForm.controls['businessPageName'].hasError('invalidChar')">
          {{ 'PAGES.SETTINGS.BUSINESS_FORM.PAGE.ERRORS.INVALID_CHAR' | translate }}
        </mat-error>
        <mat-error *ngIf="businessForm.controls['businessPageName'].hasError('nameExists')">
          {{ 'PAGES.SETTINGS.BUSINESS_FORM.PAGE.ERRORS.NAME_EXISTS' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" maxlength=200
          #descriptionCounter placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
          formControlName="businessDescription"></textarea>
        <p matSuffix class="grey padding-left">{{descriptionCounter?.value.length}}/200</p>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.CATEGORY.PLACEHOLDER' | translate }}"
          formControlName="businessCategory">
          <mat-optgroup *ngFor="let producer of businessCategories" [label]="producer.name">
            <mat-option *ngFor="let category of producer.categories" [value]="category.id">{{category.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.PHONE.PLACEHOLDER' | translate }}"
          formControlName="businessPhone">
        <mat-error *ngIf="businessForm.controls['businessPhone'].hasError('minlength')">
          {{ 'PAGES.SETTINGS.BUSINESS_FORM.PHONE.ERRORS.MINLENGTH' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
          placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.LEGAL_NOTICE.PLACEHOLDER' | translate }}"
          formControlName="businessLegal_notice"></textarea>
      </mat-form-field>

      <app-address-input placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.DELIVERY_ADDRESS.PLACEHOLDER' | translate }}"
        formControlName="businessDelivery_address"></app-address-input>

      <!--Bank Account-->

      <app-bank-input placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.BANK_ACCOUNT.PLACEHOLDER' | translate }}"
        formControlName="payment"></app-bank-input>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.LANGUAGE.PLACEHOLDER' | translate }}"
          formControlName="businessLanguage">
          <mat-option value="deutsch">{{ 'PAGES.SETTINGS.BUSINESS_FORM.LANGUAGE.DEUTSCH' | translate }}</mat-option>
          <mat-option value="english">{{ 'PAGES.SETTINGS.BUSINESS_FORM.LANGUAGE.ENGLISH' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container formGroupName="businessAddress">
        <h2 class="sub-header">{{ 'PAGES.SETTINGS.BUSINESS_FORM.ADDRESS.TITLE' | translate }}</h2>

        <mat-form-field>
          <input matInput
            placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.ADDRESS.STREET_AND_NUMBER.PLACEHOLDER' | translate }}"
            formControlName="street">
        </mat-form-field>

        <div class="flex settings-address">
          <mat-form-field>
            <input class="settings-address__input" matInput
              placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.ADDRESS.ZIP.PLACEHOLDER' | translate }}"
              formControlName="zip">
          </mat-form-field>

          <mat-form-field>
            <input class="settings-address__input" matInput
              placeholder="{{ 'PAGES.SETTINGS.BUSINESS_FORM.ADDRESS.CITY.PLACEHOLDER' | translate }}"
              formControlName="city">
          </mat-form-field>
        </div>
      </ng-container>

      <div class="flex pointer position-relative" (click)="showHours = !showHours">
        <h2 class="sub-header no-padding-right">
          {{ 'PAGES.SETTINGS.BUSINESS_FORM.OPENING_HOURS.TITLE' | translate }}
        </h2>
        <i class="material-icons grey">arrow_drop_down</i>
      </div>

      <!--Days-->

      <table formGroupName="businessDateRange" class="padding" *ngIf="showHours">
        <tr class="time-amount__row" *ngFor="let day of dateRangeForm.controls; let f=index" [formGroupName]="f">
          <td class="bold padding-right">
            <mat-slide-toggle [checked]="day.value.enabled" color="primary" (change)="toggleDay(day)"
              formControlName="enabled"></mat-slide-toggle>
          </td>
          <td class="grey bold padding-right time-amount__day-name">{{day.value.day | translate}}</td>
          <ng-container *ngIf="day.value.enabled">
            <td class="padding-right dateRange__container">
              <mat-form-field class="time-select">
                <mat-select formControlName="from_first" (selectionChange)="removeErrors(day, 'first')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <span class="time-amount__dash">
                &ndash;
              </span>
              <mat-form-field class="time-select">
                <mat-select formControlName="to_first" (selectionChange)="removeErrors(day, 'first')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="error-message"
                *ngIf="day.get('from_first').hasError('badRange') && day.get('to_first').hasError('badRange')">
                {{ 'PAGES.SETTINGS.BUSINESS_FORM.OPENING_HOURS.BAD_RANGE' | translate }}
              </div>
            </td>
            <td style="text-align: left" *ngIf="!day.value.addition" (click)="toggleSecondTimeRange(day, true)">
              <i class="material-icons blue pointer">add</i>
            </td>
          </ng-container>

          <td *ngIf="!day.value.enabled">
            {{ 'PAGES.SETTINGS.BUSINESS_FORM.OPENING_HOURS.CLOSED' | translate }}
          </td>

          <ng-container *ngIf="day.value.addition && day.value.enabled">
            <td class="padding-right time-amount__additional dateRange__container">
              <mat-form-field class="time-select">
                <mat-select formControlName="from_second" (selectionChange)="removeErrors(day, 'second')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <span class="time-amount__dash">
                &ndash;
              </span>
              <mat-form-field class="time-select">
                <mat-select class="time-select" formControlName="to_second"
                  (selectionChange)="removeErrors(day, 'second')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="error-message"
                *ngIf="day.get('from_second').hasError('badRange') && day.get('to_second').hasError('badRange')">
                {{ 'PAGES.SETTINGS.BUSINESS_FORM.OPENING_HOURS.BAD_RANGE' | translate }}
              </div>
            </td>
            <td (click)="toggleSecondTimeRange(day, false)"><i class="material-icons icon-small grey pointer">close</i>
            </td>
          </ng-container>
        </tr>
      </table>

      <!--Days End-->

    </form>

    <!--Change Password-->

    <ng-template #passwordD>
      <div class="header">
        <button class="item-start" matDialogClose><i class="material-icons">arrow_back</i></button>

        <h2 class="header-title position-center">{{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.TITLE' | translate }}</h2>
      </div>
      <div class="dialog">
        <form [formGroup]="changePassForm">
          <mat-form-field>
            <input matInput formControlName="oldPassword"
              placeholder="{{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.OLD_PASSWORD.PLACEHOLDER' | translate }}"
              [type]="oldPassword ? 'text' : 'password'">
            <i matSuffix class="material-icons icon-small grey pointer margin-left"
              (click)="showPassword($event, 'oldPassword')">visibility</i>
            <mat-error *ngIf="changePassForm.controls['oldPassword'].hasError('required')">
              {{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.OLD_PASSWORD.ERRORS.REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="password"
              placeholder="{{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.NEW_PASSWORD.PLACEHOLDER' | translate }}"
              [type]="password ? 'text' : 'password'">
            <i matSuffix class="material-icons icon-small grey pointer margin-left"
              (click)="showPassword($event, 'password')">visibility</i>
            <mat-error *ngIf="changePassForm.controls['password'].hasError('required')">
              {{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.NEW_PASSWORD.ERRORS.REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="confirmPassword"
              placeholder="{{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.CONFIRM_NEW_PASSWORD.PLACEHOLDER' | translate }}"
              [type]="confirmPassword ? 'text' : 'password'" [errorStateMatcher]="matcher">
            <i matSuffix class="material-icons icon-small grey pointer margin-left"
              (click)="showPassword($event, 'confirmPassword')">visibility</i>
            <mat-error *ngIf="changePassForm.controls['confirmPassword'].hasError('notSame')">
              {{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.CONFIRM_NEW_PASSWORD.ERRORS.NOT_SAME' | translate }}
            </mat-error>
          </mat-form-field>
        </form>
        <div class="flex-center">
          <p class="grey pointer" style="margin-top: 1.25em" (click)="verifyPassword()">
            {{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.FORGOT_PASSWORD' | translate }}
          </p>
          <button class="round-button with-margin" style="margin-top: 1.25em; margin-bottom: 10px" matDialogClose
            (click)="changePassword()">
            {{ 'PAGES.SETTINGS.CHANGE_PASSWORD_FORM.CHANGE_PASSWORD' | translate }}
          </button>
        </div>
      </div>
    </ng-template>

    <!--Add Bank Account-->

    <ng-template #bankD>
      <div class="header">
        <button class="item-start" matDialogClose><i class="material-icons">arrow_back</i></button>

        <h2 class="header-title">{{ 'PAGES.SETTINGS.BANK_ACCOUNT_FORM.TITLE' | translate }}</h2>

        <button type="submit" class="blue item-end" matDialogClose form="ngForm">
          <i class="material-icons">send</i>
        </button>
      </div>

      <form [formGroup]="bankForm" id="ngForm3" (ngSubmit)="addBank(bank)">
        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.SETTINGS.BANK_ACCOUNT_FORM.HOLDER.PLACEHOLDER' | translate }}"
            formControlName="holder">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.SETTINGS.BANK_ACCOUNT_FORM.IBAN.PLACEHOLDER' | translate }}"
            formControlName="iban">
        </mat-form-field>
      </form>
    </ng-template>

    <sat-popover #bankMore hasBackdrop scrollStrategy="close">
      <div class="popover">
        <button class="icon-button" (click)="editBank()">
          <i class="material-icons padding-right">create</i>
          {{ 'GENERAL.ACTIONS.EDIT' | translate }}
        </button>
        <button class="icon-button" (click)="deleteBank()">
          <i class="material-icons padding-right">delete</i>
          {{ 'GENERAL.ACTIONS.DELETE' | translate }}
        </button>
      </div>
    </sat-popover>

    <!--Delete Page-->

    <div class="padding padding-top-large padding-bottom-large">
      <button class="grey-middle" (click)="deletePage(deletePageD)"
        *ngIf="canDeletePage$ | async">
        {{ 'PAGES.SETTINGS.DELETE_PAGE' | translate }}
      </button>
    </div>

    <ng-template #deletePageD>
      <div class="flex-center padding">
        <h2 class="bold padding-bottom">
          {{ 'PAGES.SETTINGS.DELETE_PAGE_DIALOG.TITLE' | translate }}
        </h2>
        <p class="padding-bottom">
          {{ 'PAGES.SETTINGS.DELETE_PAGE_DIALOG.TEXT' | translate }}
          <ng-container *ngIf="(userType$ | async) === 'person'; else inMenuText">
            {{ 'PAGES.SETTINGS.DELETE_PAGE_DIALOG.BY_LOG_IN' | translate }}
          </ng-container>
          <ng-template #inMenuText>
            {{ 'PAGES.SETTINGS.DELETE_PAGE_DIALOG.IN_THE_MENU' | translate }}
          </ng-template>
        </p>
        <div class="popover-buttons">
          <button style="margin-right: 50px" mat-dialog-close>
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <ng-container *ngIf="(userType$ | async) === 'person'; else deleteBusinessButton">
            <button (click)="openDialog(confirmDeletePageD)" class="red" mat-dialog-close>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #deleteBusinessButton>
            <button (click)="deleteUser()" class="red" mat-dialog-close>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-template>
        </div>
      </div>
    </ng-template>

    <ng-template #confirmDeletePageD>
      <form class="flex-center padding" [formGroup]="confirmDeleteForm" (ngSubmit)="deleteUser()">
        <h2 class="bold padding-bottom">
          {{ 'PAGES.SETTINGS.CONFIRM_DELETE_FORM.TITLE' | translate }}
        </h2>
        <mat-form-field>
          <input matInput placeholder="{{ 'PAGES.SETTINGS.CONFIRM_DELETE_FORM.PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="password" [type]="showConfirmDeletePassword ? 'text' : 'password'">
          <i matSuffix class="material-icons icon-small grey pointer margin-left"
            (click)="showPassword($event, 'showConfirmDeletePassword')">visibility</i>
          <mat-error *ngIf="confirmDeleteForm.get('password').hasError('wrongPassword')">
            {{ 'PAGES.SETTINGS.CONFIRM_DELETE_FORM.PASSWORD.ERRORS.WRONG_PASSWORD' | translate }}
          </mat-error>
        </mat-form-field>
        <div class="popover-buttons confirm-password-popover-buttons">
          <button style="margin-right: 50px" mat-dialog-close type="button">
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <button class="red">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </form>
    </ng-template>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>