:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

/* settings - person */

.settings-photo {
  justify-content: center;
}

.settings-person__names {
  position: relative;
  width: 100%;
}

.settings-person__names mat-form-field {
  width: 50%;
}

.settings-address {
  position: relative;
  width: 100%;
}

.settings-address mat-form-field {
  width: 50%;
}

input[formcontrolname^="pageName"]{
  text-transform: lowercase;
}

/* business */


/* Cropper */
.photo-loading-contanier {
  min-height: 200px;
}

.confirm-password-popover-buttons {
  z-index: 1;
  padding-top: 20px;
}

app-loading {
  position: fixed;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-10)
}