<div class="purchases-wrapper flex-center-column flex-stretch" backButtonPath="/menu">
  <app-content-layout class="layout">
    <div #tabsElement class="tabs border-top background-white">
      <a class="tab uppercase" routerLink="/purchases" routerLinkActive="tab-active">
        {{ 'PAGES.PURCHASES.PURCHASES' | translate }}
      </a>
      <a class="tab uppercase" routerLink="/sales" routerLinkActive="tab-active">
        {{ 'PAGES.PURCHASES.SALES' | translate }}
      </a>
    </div>
  </app-content-layout>
  <app-content-layout class="purchases-layout">
    <div class="purchases-content">
      <div class="sub-header border-bottom">
        <ng-container *ngIf="header">
          <h2 class="sub-header-title">
            {{ totalItems$ | async | i18nPlural: ordersBookingsMapping }}
          </h2>
          <div class="item-end" *ngIf="(total$ | async) > 2 || filter !== 'all'">
            <button class="margin-right" (click)="showSearch()">
              <i class="material-icons">search</i>
            </button>
            <button class="item-end" [satPopoverAnchor]="filterP" (click)="filterP.toggle()">
              <i class="material-icons">tune</i>
            </button>
          </div>
        </ng-container>
        <div class="search-content" *ngIf="search">
          <button class="item-start padding-right" (click)="showHeader()">
            <i class="material-icons">arrow_back</i>
          </button>
          <input autoFocus #searchInput #searchInputElement placeholder="Search" class="search-content-input"
            [(ngModel)]="searchValue">
          <button class="item-end padding-left" *ngIf="searchValue" (click)="searchValue = ''">
            <i class="material-icons">close</i>
          </button>
          <button class="item-end padding-left" [satPopoverAnchor]="filterP" (click)="filterP.toggle()">
            <i class="material-icons">tune</i>
          </button>
        </div>

        <!-- Filter -->

        <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
          <div class="popover">
            <h2 class="filter-header">
              {{ 'GENERAL.LIST_FILTER.TITLE' | translate }}
            </h2>
            <button class="icon-button" (click)="applyFilter('all'); filterP.close()">
              <i class="material-icons padding-right">assignment</i>
              {{ 'GENERAL.LIST_FILTER.ALL' | translate }}
            </button>
            <button class="icon-button" (click)="applyFilter('open'); filterP.close()">
              <i class="material-icons padding-right">schedule</i>
              {{ 'GENERAL.LIST_FILTER.OPEN' | translate }}
            </button>
            <button class="icon-button" (click)="applyFilter('cancelled'); filterP.close()">
              <i class="material-icons padding-right">close</i>
              {{ 'GENERAL.LIST_FILTER.CANCELLED' | translate }}
            </button>
            <button class="icon-button" (click)="applyFilter('refunded'); filterP.close()">
              <i class="material-icons padding-right">refresh</i>
              {{ 'GENERAL.LIST_FILTER.REFUNDED' | translate }}
            </button>
          </div>
        </sat-popover>
      </div>
    </div>
  </app-content-layout>
  <app-no-items-placeholder [show]="!(total$ | async) && !(lazyLoading$ | async)" [text]="(total$ | async | i18nPlural: ordersBookingsMapping)"
    class="sub-header-title"></app-no-items-placeholder>
  <div class="padding-bottom" *ngIf="!(loading$ | async)">
    <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()">
      <ng-container *ngFor="let purchase of purchases$ | async">
        <div class="purchase-item background-grey-3">
          <app-content-layout class="border-none">
            <!-- Orders -->

            <app-regular-order-list-item [order]="purchase" *ngIf="purchase.type === 'order'" [filter]="filter"
              type="purchase">
            </app-regular-order-list-item>

            <!-- Bookings -->

            <app-booking-list-item [order]="purchase" *ngIf="purchase.type === 'booking'" [filter]="filter"
              type="purchase">
            </app-booking-list-item>
          </app-content-layout>

        </div>
      </ng-container>
    </app-infinite-scroll-with-loader>
  </div>
  <app-loading [loading]="loading$ | async"></app-loading>
</div>