<div class="message-list flex-center-column flex-stretch">
  <app-no-items-placeholder [show]="!(chatrooms$ | async) || !((chatrooms$ | async).length)"
    [text]="'PAGES.CHAT_LIST.NO_CHATS' | translate" class="sub-header-title">
  </app-no-items-placeholder>
  <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()" *ngIf="(chatrooms$ | async) && (chatrooms$ | async)?.length">
    <app-content-layout class="message-list-layout background-white">
      <div class="item" *ngFor="let chatroom of chatrooms$ | async" [routerLink]="['/chats', chatroom.id]"
        [class.background-grey-5]="!isChatRead(chatroom)">
        <img [src]="chatroom.thumb || defaultAvatar" class="avatar">
        <div class="item-text">
          <h2 class="black">{{chatroom.title}}</h2>
          <ng-container *ngIf="chatroom.last_message.text; else attachmentText">
            <p class="truncate">{{chatroom.last_message.text}}</p>
          </ng-container>
          <ng-template #attachmentText>
            <p class="truncate">
              <i class="material-icons icon-small">insert_drive_file</i>
              {{ 'PAGES.CHAT_LIST.ATTACHMENT' | translate }}
            </p>
          </ng-template>
        </div>
        <div class="grey item-end">
          <p class="message-time">{{ chatroom.last_message.created | appDate }}</p>
          <div class="text-align-end" *ngIf="chatroom.chatroomUser?.is_muted">
            <i class="material-icons icon-small">volume_off</i>
          </div>
        </div>
      </div>
    </app-content-layout>
  </app-infinite-scroll-with-loader>
  <app-loading [loading]="navigating || (loading$ | async)"></app-loading>
</div>
<div class="addable-item-list-bottom-spacer"></div>
<div class="fab-wrapper">
  <button class="fab" routerLink="/chats/add"
    *ngIf="(isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>