:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.messages-infinite-scroll-viewport {
  height: 100%;
}

.message-time {
  white-space: nowrap;
}
.message-list-layout {
  border-top: none;
}

.message-list {
  position: relative;
}

.item {
  &:last-child {
    border-bottom: 1px solid var(--grey-10);
  }
}