<div class="header">
  <button class="item-start" mat-dialog-close>
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">
    {{ 'DIALOGS.KYC_VALIDATION.TITLE' | translate }}
  </h2>

  <button type="submit" class="blue item-end" >
    <i class="material-icons">send</i>
  </button>
</div>

<mat-form-field>
  <mat-label>
    {{ 'DIALOGS.KYC_VALIDATION.ACCOUNT_TYPE' | translate }}
  </mat-label>
  <mat-select [(ngModel)]="selectedType">
    <mat-option
      *ngFor="let type of accountTypes"
      [value]="type.value"
    >
      {{ 'DIALOGS.KYC_VALIDATION.' + type.label + '.TITLE' | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Personal form -->

<form
  *ngIf="selectedType === 'personal'"
  [formGroup]="kycPersonalForm"
  (ngSubmit)="submit()"
>
  <!-- Image uploader -->

  <div class="border-bottom position-relative"
     *ngIf="!photoData"
     [ngClass]="kycPersonalForm.controls['photo'].errors?.required ? 'errored' : ''"
  >
    <button class="file-add" (click)="photoInput.click()">
      <div>
        <i class="material-icons padding-bottom-small">photo_camera</i>
        <div>{{ 'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.PHOTO.PLACEHOLDER' | translate }}</div>
      </div>
    </button>
    <input type="file" accept="image/*" #photoInput (change)="selectPhoto($event)">
    <app-loading [loading]="localPhotoLoading"></app-loading>
  </div>

  <!-- Image view -->

  <div class="imgView">
    <div class="position-relative flex-center" *ngIf="photoData">
      <img [attr.src]="photoData" class="photo-image" [ngClass]="origin">
      <i class="material-icons remove-file" (click)="removePhoto($event)">close</i>
    </div>
  </div>

  <!-- Email input -->

  <mat-form-field>
    <input
      matInput
      type="email"
      [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.EMAIL.PLACEHOLDER' | translate"
      formControlName="email"
      pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
    >
  </mat-form-field>

  <!-- First name input -->

  <mat-form-field>
    <input
      matInput
      [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.FIRST_NAME.PLACEHOLDER' | translate"
      formControlName="firstName"
      maxlength="100"
    >
  </mat-form-field>

  <!-- Last name input -->

  <mat-form-field>
    <input
      matInput
      [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.LAST_NAME.PLACEHOLDER' | translate"
      formControlName="lastName"
      maxlength="100"
    >
  </mat-form-field>

  <!-- Country Of Residence -->

  <mat-form-field>
    <mat-select
      [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.COUNTRY_OF_RESIDENCE.PLACEHOLDER' | translate"
      formControlName="countryOfResidence"
    >
      <mat-option value="deutsch">
        {{ 'PAGES.SETTINGS.USER_FORM.LANGUAGE.DEUTSCH' | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Birthday -->

  <div class="flex">
    <mat-form-field floatLabel="never" style="width: 80px">
      <input
        matInput
        type="number"
        [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.DAY.PLACEHOLDER' | translate"
        pattern="([1-9]|[0-2]\d|3[0-1])"
        formControlName="day"
        onKeyDown="if(2===this.value.length) this.value = this.value.slice(0,-1)"
      >
    </mat-form-field>
    
    <mat-form-field floatLabel="never" style="width: 100px">
      <mat-select
        [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.MONTH.PLACEHOLDER' | translate"
        formControlName="month"
      >
        <mat-option *ngFor="let month of months" [value]="month.id">
          {{ 'GENERAL.DATE_TIME.MONTHS_SHORT.' + month.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field [floatLabel]="'never'" style="width: 80px">
      <input
        matInput
        type="number"
        [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.YEAR.PLACEHOLDER' | translate"
        formControlName="year"
        (ngModelChange)="onKey($event)"
      >
    </mat-form-field>

    <i
      matSuffix
      class="material-icons icon-small grey pointer padding-left-small"
      [satPopoverAnchor]="birthP"
      (click)="birthP.toggle(); $event.stopPropagation()"
    >
      info
    </i>
    <sat-popover hasBackdrop #birthP horizontalAlign="before" scrollStrategy="close">
      <div class="tooltip">
        {{ 'PAGES.SETTINGS.USER_FORM.BIRTHDAY.TOOLTIP' | translate }}
      </div>
    </sat-popover>
  </div>

  <!-- Nationality -->

  <mat-form-field>
    <mat-select
      [placeholder]="'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.NATIONALITY.PLACEHOLDER' | translate"
      formControlName="nationality"
    >
      <mat-option value="german">
        {{ 'PAGES.SETTINGS.USER_FORM.LANGUAGE.DEUTSCH' | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<!-- Business form -->

<form
  *ngIf="selectedType === 'business'"
  [formGroup]="kycBusinessForm"
  (ngSubmit)="submit()"
>
  <!-- Image uploader -->

  <div class="border-bottom position-relative"
     *ngIf="!photoData"
     [ngClass]="kycBusinessForm.controls['photo'].errors?.required ? 'errored' : ''"
  >
    <button class="file-add" (click)="photoInput.click()">
      <div>
        <i class="material-icons padding-bottom-small">photo_camera</i>
        <div>{{ 'DIALOGS.KYC_VALIDATION.PERSONAL.FORM.PHOTO.PLACEHOLDER' | translate }}</div>
      </div>
    </button>
    <input type="file" accept="image/*" #photoInput (change)="selectPhoto($event)">
    <app-loading [loading]="localPhotoLoading"></app-loading>
  </div>

  <!-- Image view -->

  <div class="imgView">
    <div class="position-relative flex-center" *ngIf="photoData">
      <img [attr.src]="photoData" class="photo-image" [ngClass]="origin">
      <i class="material-icons remove-file" (click)="removePhoto($event)">close</i>
    </div>
  </div>

  <!--Headquarters Address-->

  <app-address-input
    placeholder="{{ 'DIALOGS.KYC_VALIDATION.BUSINESS.FORM.HEADQUARTERS_ADDRESS.PLACEHOLDER' | translate }}"
    formControlName="headquartersAddress"
  ></app-address-input>

  <!-- Email input -->

  <mat-form-field>
    <input
      matInput
      type="email"
      [placeholder]="'DIALOGS.KYC_VALIDATION.BUSINESS.FORM.LEGAL_REPRESENTATIVE_EMAIL.PLACEHOLDER' | translate"
      formControlName="legalRepresentativeEmail"
      pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
    >
  </mat-form-field>

  <!-- Legal Representative Address-->

  <app-address-input
    placeholder="{{ 'DIALOGS.KYC_VALIDATION.BUSINESS.FORM.LEGAL_REPRESENTATIVE_ADDRESS.PLACEHOLDER' | translate }}"
    formControlName="legalRepresentativeAddress"
  ></app-address-input>

  <!-- Company number input -->

  <mat-form-field>
    <input
      matInput
      [placeholder]="'DIALOGS.KYC_VALIDATION.BUSINESS.FORM.COMPANY_NUMBER.PLACEHOLDER' | translate"
      formControlName="companyNumber"
      maxlength="100"
    >
  </mat-form-field>

</form>
