<h2 class="dialog-header">
  {{ message || ('GENERAL.STATUSES.SUCCESS' | translate) }}
</h2>
<div class="dialog-buttons">
  <button class="blue" (click)="close(false)">
    {{ 'GENERAL.ACTIONS.CLOSE' | translate }}
  </button>
</div>
