<div class="header">
  <button class="item-start" matDialogClose>
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">{{ 'DIALOGS.REPORT_ADD.TITLE' | translate }}</h2>

  <button
    type="submit"
    class="blue item-end"
    matDialogClose
    form="ngForm"
    (click)="addReport()"
  >
    <i class="material-icons">send</i>
  </button>
</div>

<form
  [formGroup]="reportForm"
  id="ngForm"
>
  <mat-form-field>
    <mat-select placeholder="{{ 'DIALOGS.REPORT_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
                formControlName="category">
      <mat-option [value]="category.id" *ngFor="let category of categories$ | async">{{category.name | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              placeholder="{{ 'DIALOGS.REPORT_ADD.FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
              maxlength=500
              #descriptionCounter
              formControlName="description"
    ></textarea>
  </mat-form-field>
  <p class="character-counter padding-bottom">
    {{ descriptionCounter?.value.length }}/500
  </p>
</form>
