<div class="notifications-list flex-center-column full-height flex-stretch">
  <!--Follow Reuqests-->
  <app-no-items-placeholder [text]="('PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.EMPTY_LIST' | translate)" [show]="!(notifications$ | async).length" class="sub-header-title"></app-no-items-placeholder>
  <div class="border-bottom border-left border-right background-white follow-requests"
    *ngIf="followRequestsCount$ | async as followRequestsCount">
    <h2 class="sub-header border-bottom">
      {{ 'PAGES.NOTIFICATION_LIST.FOLLOW_REQUESTS' | translate }}
    </h2>

    <div class="item" *ngFor="let request of followRequests$ | async; trackBy: trackByFn">
      <img [src]="request?.account?.photo || defaultAvatar" class="avatar">
      <div class="item-text">
        <h2 class="black">{{ request?.account?.name }}</h2>
      </div>
      <div class="item-end">
        <button class="grey padding-right" (click)="reject(request.id)">
          <i class="material-icons">close</i>
        </button>
        <button class="blue" (click)="approve(request.id)">
          <i class="material-icons">check</i>
        </button>
      </div>
    </div>

    <button class="grey padding" *ngIf="(followRequests$ | async)?.length < followRequestsCount"
      (click)="loadMoreRequests()">
      {{ 'PAGES.NOTIFICATION_LIST.LOAD_MORE_REQUESTS' | translate }}
    </button>
  </div>

  <!--Notifications-->
  <app-sub-header-layout *ngIf="(notifications$ | async).length">
    <h2 class="sub-header-title">
      {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.TITLE' | translate }}
    </h2>
    <button class="grey item-end" [satPopoverAnchor]='popover' (click)="popover.toggle()">
      <i class="material-icons">tune</i>
    </button>
    <sat-popover #popover hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <div class="flex-column" *ngIf="loggedInAccount$ | async as loggedInAccount">
          <mat-slide-toggle color="primary" class="grey margin" (click)="$event.stopPropagation()"
            [ngModel]="loggedInAccount.followers_notification" (change)="toggleNotification('followers_notification')">
            {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.NEW_FOLLOWERS' | translate }}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" class="grey margin" (click)="$event.stopPropagation()"
            [ngModel]="loggedInAccount.likes_notification" (change)="toggleNotification('likes_notification')">
            {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.LIKES' | translate }}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" class="grey margin" (click)="$event.stopPropagation()"
            [ngModel]="loggedInAccount.comments_notification" (change)="toggleNotification('comments_notification')">
            {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.COMMENTS' | translate }}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" class="grey margin" (click)="$event.stopPropagation()"
            [ngModel]="loggedInAccount.tags_notification" (change)="toggleNotification('tags_notification')">
            {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_SETTINGS.TAGS' | translate }}
          </mat-slide-toggle>
        </div>
      </div>
    </sat-popover>
  </app-sub-header-layout>
  <app-infinite-scroll-with-loader class="infinite-scroll-viewport flex-center-column flex-stretch" (scrolled)="triggerScroll()" *ngIf="(notifications$ | async).length" [showLoading]="lazyLoading$ | async">
    <app-content-layout class="background-white" *ngIf="(notifications$ | async).length">
      <ng-container *ngFor="let notification of notifications$ | async">
        <ng-container [ngSwitch]="notification.notifications.action">
          <ng-container *ngSwitchCase="'follows'">
            <div class="item border-bottom" [routerLink]="notification.link">
              <img [src]="notification.issuer.person.thumb || defaultAvatar" class="avatar">
              <div class="item-text">
                <h2 class="black">{{ notification?.issuer.person.fullName }}</h2>
                <p class="black">
                  {{ 'PAGES.NOTIFICATION_LIST.NOTIFICATION_TEXT.FOLLOWS' | translate }}
                  <span class="grey">{{notification.notifications.created | timeAgo}}</span>
                </p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <div class="item notification-item" [routerLink]="notification.link">
              <img [src]="notification.issuer.thumb || defaultAvatar" class="avatar">
              <div class="item-text">
                <h2 class="black">{{ notification?.issuer.person.fullName }}</h2>
                <p class="black">
                  {{ getNotificationText(notification) | translate }}
                  <span class="grey">{{notification.notifications.created | timeAgo}}</span>
                </p>
              </div>
              <img *ngIf="notification.thumb" [src]="notification.thumb" class="item-end notification-cover">
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </app-content-layout>
  </app-infinite-scroll-with-loader>
  <app-main-loader [loading]="loading$ | async"></app-main-loader>
</div>