
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.infinite-scroll-viewport {
  height: 100%;
  margin-bottom: 10px;
}

.notifications-list {
  position: relative;
  flex: 1;
  display: flex;
}

.follow-requests {
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
}

.notification-item {
  &:last-child {
    border-bottom: 1px solid var(--grey-10);
  }
}