<div class="service-book-wrapper flex-center-column">
  <!--Header-->

  <div class="header-wrapper">
    <div class="header border-left border-right border-bottom background-white">
      <button class="grey padding-right" (click)="back()" [disabled]="loading$ | async">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <h2 class="header-title position-center">
        {{ 'PAGES.SERVICE_BOOK.TITLE' | translate }}
      </h2>
    </div>
  </div>

  <app-content-layout class="border-bottom">
    <!--Service Info-->

    <div class="item border-bottom" *ngIf="service">
      <img [src]="service.photos[0]?.link || defaultImage" class="thumbnail">
      <div class="item-text">
        <h2 class="black" ellipsis>
          {{ service.title }}
        </h2>
        <h2 class="black bold">
          {{service.price | customCurrency}}
          <span
            *ngIf="service.durationInfo">/{{ 'GENERAL.DATE_TIME.DURATIONS.' + service.durationInfo | translate }}</span>
        </h2>
        <p>{{ viewableAccountFullName$ | async }}</p>
      </div>
    </div>

    <button class="icon-button border-bottom" *ngIf="service?.address && service?.performance !== 'customer'" [copyableText]="service.address">
      <i class="material-icons padding-right">location_on</i>
      {{ showAddress(service.address) }}
    </button>

    <form [formGroup]="serviceBookForm" id="bookForm" *ngIf="service as service" (submit)="confirmBooking()">

      <!--Schedule Date & Time-->

      <div class="flex" *ngIf="service.schedule.byDays?.length && !service.schedule.byDate?.length">
        <mat-form-field style="width: 150px">
          <input matInput placeholder="{{ 'PAGES.SERVICE_BOOK.FORM.DATE.PLACEHOLDER' | translate }}"
            formControlName="date" (click)="togglePositionToDatepicker(true)" [min]="today"
            [owlDateTimeFilter]="filterDays" [owlDateTime]="date" [owlDateTimeTrigger]="date">
        </mat-form-field>

        <owl-date-time #date [firstDayOfWeek]="1" pickerType="calendar"></owl-date-time>

        <mat-form-field style="width: 150px">
          <mat-select #timeSelect placeholder="{{ 'PAGES.SERVICE_BOOK.FORM.TIME.PLACEHOLDER' | translate }}"
            (click)="getWorkingTimeArray()" (selectionChange)="addBooking('daily', $event)" formControlName="time">
            <mat-option *ngFor="let time of workTime" [value]="time.value">
              {{time.name}}
              <ng-container *ngIf="time.quantity > 1">
                {{ 'PAGES.SERVICE_BOOK.FORM.ITEMS_LEFT' | translate:{quantity: time.quantity} }}
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Quantity for Regular & Irregular Service -->

      <mat-form-field style="width: 150px"
        *ngIf="serviceBookForm.controls['time'].value && upToMaxQuantityArray.length > 1">
        <mat-select placeholder="{{ 'PAGES.SERVICE_BOOK.FORM.QUANTITY.PLACEHOLDER' | translate }}"
          formControlName="quantity" (selectionChange)="addBooking('daily')">
          <mat-option *ngFor="let number of upToMaxQuantityArray" [value]="number">{{number}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex" *ngIf="service.schedule.byDate?.length">
        <mat-form-field>
          <mat-select placeholder="{{ 'PAGES.SERVICE_BOOK.FORM.APPOINTMENTS.PLACEHOLDER' | translate }}"
            (click)="getAppointmentsArray()" (selectionChange)="addBooking('appointments')"
            panelClass="select-options-panel" formControlName="appointment">
            <mat-option *ngFor="let range of workTime" [value]="range.value">
              <div *ngIf="range.quantity > 1">
                {{range.name}}
                {{ 'PAGES.SERVICE_BOOK.FORM.ITEMS_LEFT' | translate:{quantity: range.quantity} }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="border-bottom">
        <table class="padding" style="border-spacing: 0 10px">
          <tr *ngFor="let time of serviceBookForm.controls['bookedTime'].value; let i=index">
            <td class="booking-list__quantity-select_cell" style="padding-right: 10px;"
              *ngIf="service.performance !== 'customer'">
              <mat-select *ngIf="time.upToMaxQuantityArray.length > 0" class="booking-list__quantity-select_box"
                (selectionChange)="countTotal()" [(value)]="time.quantity">
                <mat-option *ngFor="let number of time.upToMaxQuantityArray" [value]="number">
                  {{ number }}
                </mat-option>
              </mat-select>
            </td>
            <td class="padding-right" style="padding-left: 0">
              {{ time.valueToDisplay }}
            </td>
            <td>
              <i class="material-icons icon-small grey pointer" (click)="removeBooking(i)">
                close
              </i>
            </td>
          </tr>
        </table>
      </div>

      <!--Address-->

      <app-address-input formControlName="address" *ngIf="service.performance === 'customer'"></app-address-input>

      <!--Bank Account-->

      <app-bank-input placeholder="{{ 'PAGES.SERVICE_BOOK.FORM.PAYMENT.PLACEHOLDER' | translate }}"
        formControlName="payment"></app-bank-input>

      <!-- Grit Wallet -->

      <div class="padding">
        <mat-checkbox color="primary" formControlName="grit_wallet">
          {{ 'GENERAL.STATUSES.GRIT_WALLET' | translate }}
          <span style="font-weight: 600;">({{ balance$ | async | customCurrency }})</span>
        </mat-checkbox>
      </div>

      <!--Book-->

      <div class="flex-center" style="padding: 15px 0 10px 0">
        <h2 class="grey bold">{{ 'PAGES.SERVICE_BOOK.TOTAL_PRICE' | translate }}</h2>
        <p class="grey">{{ 'PAGES.SERVICE_BOOK.INCL_TAX' | translate }}</p>
        <h2 class="bold" style="font-size: 20px; padding: 5px 0">{{total | customCurrency}}</h2>
        <button class="round-button uppercase">
          {{ 'GENERAL.ACTIONS.BOOK' | translate }}
        </button>
      </div>

    </form>
  </app-content-layout>

  <app-loading [loading]="loading$ | async"></app-loading>

</div>