.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 10;

    .header {
        max-width: var(--app-width);
        margin: 0 auto;
    }
}

.item {
    &:hover {
        background-color: var(--white);
    }
}

.geo-icon {
    margin-left: -4px;
    margin-right: -6px;
}