:host {
  display: block;
  width: 500px;
  max-height: 500px;
}

cdk-virtual-scroll-viewport {
  max-height: calc(500px - 45px);
}

.placeholder {
  height: 61px !important;
}

.search-button-container {
  width: 24px;
}

.header {
  border-bottom: none;
}