<div class="sub-header border-bottom">
  <ng-container *ngIf="header">
    <button class="item-start" mat-dialog-close>
      <i class="material-icons">arrow_back</i>
    </button>
    <h2 class="sub-header-title">{{ total$ | async | i18nPlural: followersMapping }}</h2>
    <div class="item-end search-button-container">
      <button (click)="showSearch()" *ngIf="(total$ | async) > 1">
        <i class="material-icons">search</i>
      </button>
    </div>
  </ng-container>

  <div class="search-content" *ngIf="search">
    <button class="item-start padding-right" (click)="showHeader()">
      <i class="material-icons">arrow_back</i>
    </button>
    <input
      #searchInput
      #searchInputElement
      autoFocus
      placeholder="Search"
      class="search-content-input"
      [(ngModel)]="searchString"
      >
    <button class="item-end padding-left" *ngIf="searchString" (click)="searchString = ''">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<cdk-virtual-scroll-viewport
  minBufferPx="200"
  minBufferPx="200"
  [itemSize]="itemSize"
  [style.height]="virtualScrollHeight$ | async"
  [class.placeholder]="loadingFollow$ | async"
  >
  <div class="item" *cdkVirtualFor="let follower of followers$ | async" (click)="goToProfile(follower)">
    <img [src]="follower.photo || defaultAvatar" class="avatar">

    <div class="item-text">
      <h2 class="black">{{follower.name}}</h2>
      <p>{{follower.pageName}}</p>
    </div>

    <button class="item-end grey-middle"
            (click)="follow(follower); $event.stopPropagation()"
            *ngIf="(loggedInAccount$ | async)?.id !== follower.id"
            >
      <span [class.blue]="!follower.following">
        {{
          follower.following
          ? ('GENERAL.STATUSES.FOLLOWING' | translate)
          : ('GENERAL.ACTIONS.FOLLOW' | translate)
        }}
      </span>
    </button>
  </div>
</cdk-virtual-scroll-viewport>

<app-loading [loading]="loadingFollow$ | async"></app-loading>
