<div class="header">
  <button class="item-start margin-right" (click)="close()"><i class="material-icons">arrow_back</i></button>

  <h2 class="header-title">{{ total$ | async | i18nPlural: commentsMapping }}</h2>

  <button class="item-end" [satPopoverAnchor]="commentFilterP" (click)="commentFilterP.toggle()"><i class="material-icons">tune</i></button>
  <sat-popover #commentFilterP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover">
      <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
      <button class="icon-button" (click)="applyFilter('relevance'); commentFilterP.close()">
        <i class="material-icons padding-right">arrow_upward</i>
        {{ 'GENERAL.LIST_FILTER.RELEVANCE' | translate }}
      </button>
      <button class="icon-button" (click)="applyFilter('date'); commentFilterP.close()">
        <i class="material-icons padding-right">schedule</i>
        {{ 'GENERAL.LIST_FILTER.DATE' | translate }}
      </button>
    </div>
  </sat-popover>
</div>

<cdk-virtual-scroll-viewport
  class="dialog-scrollable-content"
  minBufferPx="1000"
  maxBufferPx="1000"
  [itemSize]="itemSize"
  [style.height]="virtualScrollHeight$ | async"
  >
  <div class="border-bottom" *cdkVirtualFor="let comment of comments$ | async">
    <div class="item no-link">
      <img [src]="comment.user?.photo || defaultAvatar" class="avatar pointer" (click)="goToUserPage(comment)">
      <div class="item-text">
        <h2 class="black pointer" (click)="goToUserPage(comment)">{{comment.user?.name}}</h2>
        <p>{{comment.created | timeAgo}}</p>
      </div>
      <button class="item-end" [satPopoverAnchor]="commentMoreP" (click)="commentMoreP.toggle()" (click)="$event.stopPropagation()">
        <i class="material-icons icon-small">more_vert</i>
      </button>
      <sat-popover #commentMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <!--Edit & Delete only for Creator visible-->
          <ng-container *ngIf="(loggedInAccount$ | async).id === comment.user.id else actionsForOtherUsers">
            <button class="icon-button" (click)="commentMoreP.close(); openEditCommentDialog(comment)">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); openDialog(deleteD)">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #actionsForOtherUsers>
            <button class="icon-button" (click)="commentMoreP.close(); follow(comment.user, $event)">
              <ng-container *ngIf="isFollowing(comment.user); else followLabel">
                <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </ng-container>
              <ng-template #followLabel>
                <span class="blue">
                  <i class="material-icons padding-right">rss_feed</i>{{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                </span>
              </ng-template>
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); reportComment()">
              <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </ng-template>
        </div>
      </sat-popover>

      <ng-template #deleteD>
        <h2 class="dialog-header">{{ 'DIALOGS.COMMENT_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button (click)="closeOpenedDialog()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" (click)="deleteComment(comment.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
        </div>
      </ng-template>
    </div>

    <div class="padding-horizontal" *ngIf="comment.text !== ''">
      <app-truncatable-text
        [text]="comment.text | linkstohtml"
        [mentions]="comment.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="buttonbar">
      <div>
        <button [class.blue]="comment.liked" (click)="like(comment.id)"><i class="material-icons icon-small padding-right">thumb_up</i></button>
        <button *ngIf="comment.likesCount !== 0" (click)="showLikes(comment.id)">{{comment.likesCount}}</button>
      </div>

      <button (click)="showCommentReplies(comment.id)">
        <i class="material-icons icon-small padding-right">chat_bubble</i>
        <ng-container *ngIf="comment.repliesCount !== 0">{{comment.repliesCount}}</ng-container>
      </button>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<form class="message-footer" [formGroup]="addCommentForm">
  <img [src]="userPhoto$ | async" class="avatar-small">

  <app-input-with-mentions
    placeholder="{{ 'DIALOGS.COMMENT_LIST.FORM.TEXT.PLACEHOLDER' | translate }}"
    formControlName="text"
    inputClass="message-input"
    [materialDesign]="false"
  ></app-input-with-mentions>

  <button class="blue item-end"
          [hidden]="!addCommentForm.controls.text.value"
          [disabled]="commenting$ | async"
          (click)="addComment()"
          >
    <i class="material-icons">send</i>
  </button>
</form>

<app-loading [loading]="commentsLoading$ | async"></app-loading>
