<div class="sales-product">
  <div class="item flex-wrap no-link border-bottom no-padding-left no-padding-right">
    <img
      [src]="getUserPhoto(item.buyer)"
      class="avatar pointer margin-left"
      [routerLink]="getUserLink(item.buyer)"
      alt="buyer_photo"
    />
    <div class="item-text">
      <h2 class="black pointer" [routerLink]="getUserLink(item.buyer)">
        {{ item.buyer.business?.name || item.buyer.person.fullName }}
      </h2>
    </div>

    <button
      *ngIf="item.delivery_address as deliveryAddress"
      class="icon-button-small no-link margin-top border-top border-bottom"
    >
      <i class="material-icons icon-small padding-right">location_on</i>
      {{ showAddress(deliveryAddress) }}
    </button>

    <button
      *ngIf="item.billing_address as billingAddress"
      class="icon-button-small no-link border-bottom"
    >
      <i class="material-icons icon-small padding-right">receipt</i>
      {{ showAddress(billingAddress) }}
    </button>

    <button class="icon-button-small no-link border-bottom">
      <ng-container *ngIf="item.payment_type === 'bank'">
        <span class="material-icons icon-small margin-right">account_balance</span>
        {{ item.amount_card | customCurrency }}
      </ng-container>
      <ng-container *ngIf="item.payment_type === 'card'">
        <span class="material-icons icon-small margin-right">credit_card</span>
        {{ item.amount_card / 100 | customCurrency }}
      </ng-container>
      <ng-container *ngIf="isAmountWaller(item.amount_wallet)">
        + <span class="material-icons icon-small padding-left margin-horizontal">account_balance_wallet</span>
        {{ item.amount_wallet / 100 | customCurrency }}
      </ng-container>
    </button>

    <div class="item no-link border-bottom" style="width: 100%;">
      <div class="item-text no-padding-left">
        <p>
          {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_ID' | translate }} {{ item.id }}
        </p>
        <p *ngIf="item.created">
          {{ 'COMPONENTS.PURCHASES_ITEM.ORDERED' | translate }} {{ item.created | date: "dd MMM yyyy, h:mm aaaaa'm'" }}
        </p>
        <p *ngIf="item.paid">
          {{ 'COMPONENTS.PURCHASES_ITEM.PAID' | translate }} {{ item.paid | date: "dd MMM yyyy, h:mm aaaaa'm'" }}
        </p>
      </div>
    </div>

    <div class="padding flex full-width center">
      <button
        *ngIf="isShipButton()"
        class="round-button uppercase"
        (click)="openDialog(shipDialog, 'SHIP')"
      >
        {{ 'GENERAL.STATUSES.SHIPPED' | translate }}
      </button>

      <button
        *ngIf="isCancelButton()"
        class="round-button-outline-grey uppercase margin-left"
        (click)="openDialog(cancelDialog, 'CANCEL')"
      >
        {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
      </button>

      <button
        *ngIf="isRefundButton()"
        class="round-button-outline-grey uppercase margin-left"
        (click)="openDialog(refundDialog, 'REFUND')"
      >
        {{ 'GENERAL.ACTIONS.REFUND' | translate }}
      </button>

      <ng-template #cancelDialog>
        <h2 class="dialog-header">{{ 'DIALOGS.CANCEL_ORDER.TITLE' | translate }}</h2>
        <ng-container *ngFor="let productItem of filterOrderItemsForDialogs(item.order_items, 'CANCEL')">
          <div
            *ngIf="productItem.product as product"
            class="order-item no-link flex-line-break order-item__dialog"
          >
            <mat-checkbox
              [checked]="selection.isSelected(productItem)"
              (change)="selection.toggle(productItem); clearSelectionError(productItem.id)"
              color="primary"
              class="padding-right"
            ></mat-checkbox>

            <img
              [src]="getProductPhoto(product)"
              class="thumbnail pointer"
              [routerLink]="getProductUrl(item.buyer, product)"
            />
            <div class="item-text">
              <h2
                class="black pointer"
                [routerLink]="getProductUrl(item.buyer, product)"
              >
                {{ product.title | truncate: 60 }}
              </h2>
              <p *ngIf="product.selectedVariant">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.PRODUCT_VARIANT' | translate }}
                {{ showVariantData(product.selectedVariant) }}
              </p>
              <h2 class="black bold">{{ productItem.price | customCurrency }}</h2>
              <p class="black">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.QUANTITY' | translate }}
                {{ productItem.quantity }}
              </p>
              <p class="flex">
                <span [class.red]="wrongSelection.includes(productItem.id)" *ngIf="getProductStatus(productItem) as status">
                  {{ 'GENERAL.PRODUCT_STATUSES.' + status.type | translate:{date:status.date} }}
                </span>
              </p>
           </div>
<!--            <mat-form-field-->
<!--              class="no-padding padding-top" style="width: 60px">-->
<!--              <mat-select placeholder="Qty" [(ngModel)]="quantity">-->
<!--                <ng-container >-->
<!--                  <mat-option *ngFor="let quantity of counter(productItem.quantity); let i = index" [value]="i + 1">-->
<!--                    {{ i + 1 }}-->
<!--                  </mat-option>-->
<!--                </ng-container>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
          </div>
        </ng-container>
        <div class="sales-product__cancel-dialog--btns">
        <button
          class="round-button uppercase margin-left"
          (click)="cancelProducts()"
        >
          {{ 'GENERAL.ACTIONS.CONFIRM' | translate }}
        </button>
        <button
          class="round-button-outline-grey uppercase margin-left"
          matDialogClose
        >
          {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
        </button>
        </div>
      </ng-template>

      <ng-template #shipDialog>
        <h2 class="dialog-header">{{ 'DIALOGS.SHIP_ORDER.TITLE' | translate }}</h2>
        <ng-container *ngFor="let productItem of filterOrderItemsForDialogs(item.order_items, 'SHIP')">
          <div
            *ngIf="productItem.product as product"
            class="order-item no-link flex-line-break order-item__dialog"
          >
            <mat-checkbox
              [checked]="selection.isSelected(productItem)"
              (change)="selection.toggle(productItem); clearSelectionError(productItem.id)"
              color="primary"
              class="padding-right"
            ></mat-checkbox>

            <img
              [src]="getProductPhoto(product)"
              class="thumbnail pointer"
              [routerLink]="getProductUrl(item.buyer, product)"
            />
            <div class="item-text">
              <h2
                class="black pointer"
                [routerLink]="getProductUrl(item.buyer, product)"
              >
                {{ product.title | truncate: 60 }}
              </h2>
              <p *ngIf="product.selectedVariant">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.PRODUCT_VARIANT' | translate }}
                {{ showVariantData(product.selectedVariant) }}
              </p>
              <h2 class="black bold">{{ productItem.price | customCurrency }}</h2>
              <p class="black">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.QUANTITY' | translate }}
                {{ productItem.quantity }}
              </p>
              <p class="flex">
                <span [class.red]="wrongSelection.includes(productItem.id)" *ngIf="getProductStatus(productItem) as status">
                  {{ 'GENERAL.PRODUCT_STATUSES.' + status.type | translate:{date:status.date} }}
                </span>
              </p>
            </div>
            <!--            <mat-form-field-->
            <!--              class="no-padding padding-top" style="width: 60px">-->
            <!--              <mat-select placeholder="Qty" [(ngModel)]="quantity">-->
            <!--                <ng-container >-->
            <!--                  <mat-option *ngFor="let quantity of counter(productItem.quantity); let i = index" [value]="i + 1">-->
            <!--                    {{ i + 1 }}-->
            <!--                  </mat-option>-->
            <!--                </ng-container>-->
            <!--              </mat-select>-->
            <!--            </mat-form-field>-->
          </div>
        </ng-container>
        <div class="sales-product__cancel-dialog--btns">
          <button
            class="round-button uppercase margin-left"
            (click)="shipProducts()"
          >
            {{ 'GENERAL.ACTIONS.CONFIRM' | translate }}
          </button>
          <button
            class="round-button-outline-grey uppercase margin-left"
            matDialogClose
          >
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #refundDialog>
        <h2 class="dialog-header">{{ 'DIALOGS.REFUND_ORDER.TITLE' | translate }}</h2>
        <ng-container *ngFor="let productItem of filterOrderItemsForDialogs(item.order_items, 'REFUND')">
          <div
            *ngIf="productItem.product as product"
            class="order-item no-link flex-line-break order-item__dialog"
          >
            <mat-checkbox
              [checked]="selection.isSelected(productItem)"
              (change)="selection.toggle(productItem); clearSelectionError(productItem.id)"
              color="primary"
              class="padding-right"
            ></mat-checkbox>

            <img
              [src]="getProductPhoto(product)"
              class="thumbnail pointer"
              [routerLink]="getProductUrl(item.buyer, product)"
            />
            <div class="item-text">
              <h2
                class="black pointer"
                [routerLink]="getProductUrl(item.buyer, product)"
              >
                {{ product.title | truncate: 60 }}
              </h2>
              <p *ngIf="product.selectedVariant">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.PRODUCT_VARIANT' | translate }}
                {{ showVariantData(product.selectedVariant) }}
              </p>
              <h2 class="black bold">{{ productItem.price | customCurrency }}</h2>
              <p class="black">
                {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.QUANTITY' | translate }}
                {{ productItem.quantity }}
              </p>
              <p class="flex">
                <span [class.red]="wrongSelection.includes(productItem.id)" *ngIf="getProductStatus(productItem) as status">
                  {{ 'GENERAL.PRODUCT_STATUSES.' + status.type | translate:{date:status.date} }}
                </span>
              </p>
            </div>
            <!--            <mat-form-field-->
            <!--              class="no-padding padding-top" style="width: 60px">-->
            <!--              <mat-select placeholder="Qty" [(ngModel)]="quantity">-->
            <!--                <ng-container >-->
            <!--                  <mat-option *ngFor="let quantity of counter(productItem.quantity); let i = index" [value]="i + 1">-->
            <!--                    {{ i + 1 }}-->
            <!--                  </mat-option>-->
            <!--                </ng-container>-->
            <!--              </mat-select>-->
            <!--            </mat-form-field>-->
          </div>
        </ng-container>
        <div *ngIf="isRefundButton() && getProductsReturnCosts() > 0" class="padding">
          <mat-checkbox color="primary" [(ngModel)]="refundShippingCosts">
            {{ 'COMPONENTS.SALES_ITEM.REFUND_RETURN_COSTS' | translate }} ({{ getProductsReturnCosts() | customCurrency }})
          </mat-checkbox>
        </div>
        <div class="sales-product__cancel-dialog--btns">
          <button
            class="round-button uppercase margin-left"
            (click)="openRefundPaymentDialog(refundDialogPayment)"
          >
            {{ 'GENERAL.ACTIONS.CONFIRM' | translate }}
          </button>
          <button
            class="round-button-outline-grey uppercase margin-left"
            matDialogClose
          >
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #refundDialogPayment>
        <form [formGroup]="payInForm" id="ngForm">

          <div class="header">
            <button class="item-start" mat-dialog-close>
              <i class="material-icons">arrow_back</i>
            </button>

            <h2 class="header-title">
              {{ 'DIALOGS.PAY_IN.TITLE' | translate }}
            </h2>

            <button
              type="submit"
              class="blue item-end"
              form="ngForm"
              (click)="payInToWallet()"
            >
              <i class="material-icons">send</i>
            </button>
          </div>

          <p class="padding-medium">
            {{ 'DIALOGS.PAY_IN.TOOLTIP' | translate }}
          </p>

          <app-bank-input
            placeholder="{{ 'DIALOGS.PAY_IN.FORM.PAYMENT.PLACEHOLDER' | translate }}"
            formControlName="bank"
          ></app-bank-input>

          <mat-form-field class="full-width">
            <mat-label>
              {{ 'DIALOGS.PAY_IN.FORM.AMOUNT.PLACEHOLDER' | translate }}
            </mat-label>
            <input
              matInput
              appPriceInput
              type="text"
              mask="separator.2"
              thousandSeparator="."
              maxlength="15"
              formControlName="amount"
            >
          </mat-form-field>
        </form>
      </ng-template>
    </div>

    <ng-container *ngFor="let productItem of item.order_items">
      <div
        *ngIf="productItem.product as product"
        class="order-item no-link flex-line-break"
      >
<!--        <mat-checkbox-->
<!--          [checked]="selection.isSelected(productItem)"-->
<!--          (change)="selection.toggle(productItem); clearSelectionError(productItem.id)"-->
<!--          color="primary"-->
<!--          class="padding-right"-->
<!--        ></mat-checkbox>-->

        <img
          [src]="getProductPhoto(product)"
          class="thumbnail pointer"
          [routerLink]="getProductUrl(item.buyer, product)"
        />
        <div class="item-text">
          <h2
            class="black pointer"
            [routerLink]="getProductUrl(item.buyer, product)"
          >
            {{ product.title | truncate: 60 }}
          </h2>
          <p *ngIf="product.selectedVariant">
            {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.PRODUCT_VARIANT' | translate }}
            {{ showVariantData(product.selectedVariant) }}
          </p>
          <h2 class="black bold">{{ productItem.price | customCurrency }}</h2>
          <p class="black">
            {{ 'COMPONENTS.PURCHASES_ITEM.ORDER_LIST.QUANTITY' | translate }}
            {{ productItem.quantity }}
          </p>
          <p class="flex">
            <span [class.red]="wrongSelection.includes(productItem.id)" *ngIf="getProductStatus(productItem) as status">
              {{ 'GENERAL.PRODUCT_STATUSES.' + status.type | translate:{date:status.date} }}
            </span>
            <ng-container *ngIf="isShowInfoIcon(productItem)">
              <button [satPopoverAnchor]="cancelDescriptionP" (click)="cancelDescriptionP.toggle()">
                <i class="material-icons grey icon-small icon-padding-left">info</i>
              </button>
              <sat-popover hasBackdrop #cancelDescriptionP verticalAlign="below" scrollStrategy="close">
                <div class="popover padding">
                  <ng-container *ngIf="productItem.returned">
                    <h2>{{ productItem.return_reason }}</h2>
                    <p *ngIf="productItem.return_description">
                      {{ productItem.return_description }}
                    </p>
                  </ng-container>
                  <ng-container *ngIf="!productItem.returned && productItem.cancelled">
                    <h2>{{ productItem.cancel_reason }}</h2>
                    <p *ngIf="productItem.cancel_description">
                      {{ productItem.cancel_description }}
                    </p>
                  </ng-container>
                </div>
              </sat-popover>
            </ng-container>
          </p>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="item-text border-bottom" style="padding-top: 10px; padding-bottom: 10px">

    <table class="order-summary">
      <tbody class="order-summary-body">

        <tr class="order-summary-row black">
          <td class="order-summary-label" scope="row">
            {{ 'COMPONENTS.SALES_BOOKING_ITEM.PRODUCTS' | translate }}
          </td>
          <td class="order-summary-value">
            {{getPriceForProducts(item) | customCurrency }}
          </td>
        </tr>

        <tr class="order-summary-row black">
          <td class="order-summary-label" scope="row">
            {{ 'COMPONENTS.SALES_BOOKING_ITEM.SHIPPING' | translate }}
          </td>
          <td class="order-summary-value">
            {{ item.shipping_price | customCurrency }}
          </td>
        </tr>

        <tr class="order-summary-row black">
          <td class="order-summary-label" scope="row">
            {{ 'COMPONENTS.SALES_BOOKING_ITEM.GRIT_FEES' | translate }}
          </td>
          <td class="order-summary-value">
            <button
              class="blue"
              type="button"
              (click)="getInfo()"
            >
              <i class="material-icons icon-small">info</i>
            </button>
            - {{ item.fee | customCurrency }}
          </td>
        </tr>

        <tr class="order-summary-row black bold">
          <td class="order-summary-label" scope="row">
            {{ 'COMPONENTS.PURCHASES_ITEM.TOTAL' | translate }}
          </td>
          <td class="order-summary-value">
            {{ item.total_price - item.fee | customCurrency }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
