
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: 100%;
}

.add-chat-infinite-scroll-viewport {
  height: calc(100% - 104px);
}

.header-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.header {
  max-width: var(--app-width);
  width: 100%;
  position: relative;

  .header-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
  }
}

.inner-layout {
  position: relative;
  border-top: none;
}

.item {
  &:last-child {
    border-bottom: 1px solid var(--grey-10);
  }
}