<div class="header-wrapper">
  <div class="header border-left border-right border-bottom background-white">
    <button class="grey padding-right" (click)="back()" [disabled]="loading$ | async">
      <i class="material-icons">arrow_back</i>
    </button>

    <h2 class="header-title">
      {{ 'PAGES.CHAT_ADD.TITLE' | translate }}
    </h2>
  </div>
</div>

<app-content-layout class="inner-layout">
  <div class="flex padding border-bottom">
    <i class="material-icons search-icon-container margin-right">search</i>
    <input #searchInput placeholder="{{ 'PAGES.CHAT_ADD.SEARCH' | translate }}" class="search-content-input"
      [(ngModel)]="searchValue">
    <button class="item-end padding-left" *ngIf="searchValue" (click)="searchValue = ''">
      <i class="material-icons">close</i>
    </button>
  </div>

  <div infiniteScroll class="add-chat-infinite-scroll-viewport flex-center-column flex-stretch flex-center-column"
    (scrolled)="triggerScroll()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150">
    <div class="item" *ngFor="let user of searchResults$ | async" [appMessageTo]="user.id">
      <img [src]="user.photo" class="avatar">
      <div class="item-text">
        <h2 class="black">{{user.name}}</h2>
      </div>
    </div>
  </div>
</app-content-layout>
<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>