<ng-container *ngIf="item">
  <div class="item no-link no-padding-bottom">
    <img [src]="item.user.thumb || defaultAvatar" class="avatar pointer" routerLink="/{{ item.user.pageName }}/home">
    <div class="item-text no-link">
      <h2 class="black pointer" routerLink="/{{ item.user.pageName }}/home">{{ item.user.name }}</h2>
      <p>{{ item.created | timeAgo }}</p>
    </div>

    <button class="item-end" [satPopoverAnchor]="textMoreP" (click)="textMoreP.toggle()">
      <i class="material-icons">more_vert</i>
    </button>

    <sat-popover #textMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <copy-link-item
          link="{{ currentUrl }}/{{ item.user.pageName }}"
          (handleClick)="textMoreP.close()"
        ></copy-link-item>

        <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
          <button class="icon-button" routerLink="/{{ item.user.pageName }}/texts/add" [queryParams]="{ id: item.id }">
            <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
          </button>

          <!--Delete-->

          <button class="icon-button" (click)="openDialog(deleteTextD); textMoreP.close()">
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>

          <ng-template #deleteTextD>
            <h2 class="dialog-header">{{ 'DIALOGS.TEXT_DELETE.TITLE' | translate }}</h2>
            <div class="dialog-buttons">
              <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
              <button class="red" matDialogClose (click)="deleteItem(item.id)">
                {{ 'GENERAL.ACTIONS.DELETE' | translate }}
              </button>
            </div>
          </ng-template>
        </ng-container>

        <!--Unfollow-->

        <button class="icon-button" (click)="unfollow(); textMoreP.toggle()" *ngIf="item.user.following && !(isMyAccount$ | async)">
          <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
        </button>

        <!--Report-->

        <button class="icon-button" (click)="openDialog(reportTextD); textMoreP.close()" *ngIf="!(isMyAccount$ | async)">
          <i class="material-icons padding-right">info</i>
          {{ 'GENERAL.ACTIONS.REPORT' | translate }}
        </button>

        <ng-template #reportTextD>
          <app-report-add [contentType]="'text'" [contentId]="item.id"></app-report-add>
        </ng-template>
      </div>
    </sat-popover>
  </div>

  <app-truncatable-text
    [text]="item.text | linkstohtml"
    [mentions]="item.mentions"
    [truncatable]="truncatable"
    [borderBottom]="false"
  ></app-truncatable-text>
  <div class="info-icons padding-left padding-right padding-bottom view-count-container-fix" *ngIf="item.viewsCount">
    <i class="material-icons icon-small icon-padding-right">visibility</i>
    <p class="padding-right">{{ item.viewsCount | number }}</p>
  </div>

  <div class="buttonbar border-bottom border-top">
    <div class="flex-column">
      <button [class.blue]="item.liked" (click)="like()"><i class="material-icons">thumb_up</i></button>
      <button class="grey margin-top" *ngIf="item.likesCount !== 0" (click)="showLikes()">{{item.likesCount}}</button>
    </div>

    <div class="flex-column" (click)="showComments()">
      <button><i class="material-icons">chat_bubble</i></button>
      <button class="grey margin-top" *ngIf="item.commentsCount">{{ item.commentsCount }}</button>
    </div>

    <!--Share-->

    <share-button
      externalUrl="{{ currentUrl }}/{{ item.user.pageName }}/home"
      entityType="text"
      [entityId]="item.id"
    ></share-button>

    <!--Bookmark-->

    <bookmark-button
      [id]="item.id"
      type="text"
      [isBookmark]="!!item.bookmarked"
      [bookmarksCount]="item.bookmarksCount"
    ></bookmark-button>
  </div>
</ng-container>
