//Searchbar

.searchbar {
  display: flex;
  top: 0;
  background-color: var(--white);
  padding: 5px 0;
  height: var(--content-search-height);
  border-bottom: 1px solid var(--grey-10);
  z-index: 150;
  justify-content: center;
}

.search-wrapper {
  max-width: 600px;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center !important;
  flex: 1;
  border-radius: 25px;
  padding: 10px;
  background-color: var(--grey-5);
  position: relative;
}

.search-backdrop {
  // z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.search-input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--grey-5);
  z-index: 20;
}

.search-clear {
  color: var(--grey);
  cursor: pointer;
}

//Content
.content {
  background-color: var(--white);
  display: flex; 
  flex-direction: column; 
  align-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;
  &.with-main-tabs {
    padding-bottom: var(--main-tabs-height);
  }

  &.with-search {
    padding-top: var(--content-search-height);
  }

  &.include-full-layout {
    padding-bottom: var(--main-tabs-height);
    padding-top: var(--content-search-height);
  }
}


//Maintabs
.maintabs-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--grey-3);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.maintabs {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  padding: 10px 0px; 
  height: var(--main-tabs-height);
  max-width: var(--app-width);
}

.maintab {
  color: var(--grey);
}

.maintab-user {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.maintab:hover {
  color: var(--blue);
}

.maintab-active {
  color: var(--blue) !important;
}

/* content */

.content {
  position: relative;
  flex-grow: 1;
}

.display-none {
  display: none;
}

.autosuggestions {
  $border: 1px solid var(--grey-10);
  position: absolute;
  width: 100%;
  background-color: var(--white);
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 20;
  border-top: $border;
  border-bottom: $border;
  max-width: 600px;
  margin: 0 auto;

  .suggestion-item {
    padding: 15px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: (#000000), $alpha: 0.1);
    }
  }
}

.searchbar-content-wrapper {
  display: flex;
  max-width: 600px;
  width: 100%;
}

.searchbar-btn {
  max-width:24px;
}

@media screen and(max-width: 600px) {
  .searchbar-content-wrapper {
    padding: 0 10px;
  }

  .maintabs {
    padding: 0 5px;
  }

  .back-btn {
    margin-left: 0px;
  }

  .cart {
    margin-right: 0px;
  }
}