<!--Searchbar-->

<div class="searchbar sticky sticky-position-top full-width" [class.display-none]="!isVisibleSearch">
  <div class="searchbar-content-wrapper">
    <div class="search-backdrop" *ngIf="showSearchBackdrop" (click)="resetSuggestions()"></div>

    <button class="margin-right margin-left-small position-relative back-btn searchbar-btn" (click)="back()" *ngIf="globalBack">
      <i class="material-icons">arrow_back</i>
    </button>
    <div class="search-container">
      <input [(ngModel)]="value" placeholder="Search Grit" class="search-input" (keypress)="onSearchKeypress($event)"
        (focus)="onSearchInputFocus()" #searchInput>
      <i *ngIf="value" class="material-icons search-clear" (click)="clearSearch()">close</i>
    </div>
    <button class="margin-left margin-right-small searchbar-btn cart" routerLink="/cart" routerLinkActive="maintab-active">
      <i class="material-icons" [matBadge]="(cartTotal$ | async) ? (cartTotal$ | async) : null"
        matBadgePosition="above after" matBadgeSize="small" matBadgeColor="warn">
        shopping_cart
      </i>
    </button>
    <div class="autosuggestions border-left border-right" *ngIf="(suggestions$ | async)?.length && showSearchBackdrop">
      <div class="suggestion-item" *ngFor="let suggestion of suggestions$ | async" (click)="goToSuggestion(suggestion)">
        {{ suggestion }}
      </div>
    </div>
  </div>
</div>

<!--Content-->

    <div class="content background-grey-3" [ngClass]="getContentClass(isVisibleMain, isVisibleSearch)" (scroll)="onContentScroll($event)">
    <router-outlet></router-outlet>
  </div>

<!--Maintabs-->

<div class="maintabs-wrapper border-top padding-left padding-right background-white" [class.display-none]="!isVisibleMain">
  <div class="maintabs">
    <a class="maintab" routerLink="/notifications" routerLinkActive="maintab-active">
      <i class="material-icons" [matBadge]="(notificationsCount$ | async) || null" matBadgePosition="above after"
        matBadgeSize="small" matBadgeColor="warn">
        notifications
      </i>
    </a>
    <a class="maintab" routerLink="/discover" routerLinkActive="maintab-active">
      <i class="material-icons">explore</i>
    </a>
    <a class="maintab" routerLink="/feed" routerLinkActive="maintab-active"><i class="material-icons">home</i></a>
    <a class="maintab" routerLink="/chats" routerLinkActive="maintab-active">
      <i class="material-icons" [matBadge]="(unreadChatsCount$ | async) || null" matBadgePosition="above after"
        matBadgeSize="small" matBadgeColor="warn">
        chat_bubble
      </i>
    </a>
    <a class="maintab" routerLink="/menu" routerLinkActive="maintab-active"><i
        class="material-icons">account_circle</i></a>
  </div>
</div>
