<div class="article-detail-wrapper flex-center-column flex-stretch padding-bottom">
  <app-content-layout class="background-white">
    <app-feed-item-photo [item]="photo$ | async" [borderBottom]="false" [truncatable]="true" (delete)="onDelete()">
    </app-feed-item-photo>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>