<list-view-layout [loading]="navigating || ((loading$ | async))" class="service-list-layout" [isListEmpty]="!(total$ | async) && !(loading$ | async)" [emptyTextPlaceholder]="(total$ | async | i18nPlural: serviceMapping)">
  <!--Header Start-->

  <div class="sub-header border-bottom border-left border-right" *ngIf="total$ | async as total">
    <ng-container *ngIf="header">
      <h2 class="sub-header-title">{{ total | i18nPlural: serviceMapping }}</h2>
      <div class="item-end">
        <button class="margin-right" (click)="showSearch()" *ngIf="total > 1">
          <i class="material-icons">search</i>
        </button>
        <button [satPopoverAnchor]="filterP" *ngIf="total > 1" (click)="filterP.toggle()">
          <i class="material-icons">tune</i>
        </button>
      </div>
    </ng-container>

    <!--Search-->

    <div class="search-content" *ngIf="search">
      <button class="item-start padding-right" (click)="showHeader()">
        <i class="material-icons">arrow_back</i>
      </button>
      <input #searchInput #searchInputElement autoFocus placeholder="{{ 'PAGES.SERVICE_LIST.SEARCH' | translate }}"
        class="search-content-input" [(ngModel)]="searchValue">
      <button *ngIf="searchValue" class="item-end padding-left padding-right" (click)="searchValue = ''">
        <i class="material-icons">close</i>
      </button>
      <button [satPopoverAnchor]="filterP" *ngIf="total > 1" (click)="filterP.toggle()">
        <i class="material-icons">tune</i>
      </button>
    </div>

    <!--Filter-->

    <sat-popover hasBackdrop #filterP verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
        <button class="icon-button" (click)="applyFilter('reviews'); filterP.close()">
          <i class="material-icons padding-right">star</i>
          {{ 'GENERAL.LIST_FILTER.REVIEWS' | translate }}
        </button>
        <button class="icon-button" (click)="applyFilter('price', 'asc'); filterP.close()">
          <i class="material-icons padding-right">arrow_downward</i>
          {{ 'GENERAL.LIST_FILTER.PRICE_LOWEST' | translate }}
        </button>
        <button class="icon-button" (click)="applyFilter('price', 'desc'); filterP.close()">
          <i class="material-icons padding-right">arrow_upward</i>
          {{ 'GENERAL.LIST_FILTER.PRICE_HIGHEST' | translate }}
        </button>
      </div>
    </sat-popover>
  </div>

  <!--Header End-->

  <!--List Start-->
  <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" *ngIf="total$ | async" (scrolled)="triggerScroll()">
    <div *ngFor="let service of services$ | async; trackBy: trackById"
      [ngClass]="{ disabled: service.uploading || service.processing }">
      <div class="item border-bottom border-left border-right" [routerLink]="[service.id]">
        <app-thumbnail [url]="generateImageLink(service)" [item]="service"></app-thumbnail>

        <div class="item-text">
          <div class="item-header">
            <h2 *ngIf="!service.active" class="red">{{ 'GENERAL.STATUSES.INACTIVE' | translate }}</h2>
            <h2 *ngIf="service.title" class="black" ellipsis>{{ service.title }}</h2>
          </div>
          <h2 *ngIf="service.price" class="black bold">
            {{service.price | customCurrency}}<span
              *ngIf="service?.schedule?.durationInfo">/{{'GENERAL.DATE_TIME.DURATIONS.' + service.schedule.durationInfo | translate}}</span>
          </h2>
          <p>{{ viewableAccountFullName$ | async }}</p>
          <p *ngIf="service.performance === 'provider' && service.address && service.address.street">
            {{service.address.street}}, {{service.address.zip}} {{service.address.city}}
          </p>
          <p *ngIf="service.schedule?.byDate && service.schedule?.byDate[0]">
            {{ service.schedule?.byDate[0]?.from | date:'dd MMM y' }} -
            {{ service.schedule?.byDate[0]?.to | date:'dd MMM y' }}
          </p>
          <div class="flex" *ngIf="service.reviewsCount">
            <i class="material-icons icon-small blue">star</i>
            <i class="material-icons icon-small blue">star</i>
            <i class="material-icons icon-small blue">star</i>
            <p class="grey padding-left-small margin-right">{{service.reviewsCount}}</p>
          </div>
        </div>
        <button class="item-end" [satPopoverAnchor]="moreP" (click)="moreP.toggle();$event.stopPropagation()"><i
            class="material-icons icon-small">more_vert</i></button>
      </div>

      <!--Actions-->

      <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <bookmark-link-item [id]="service.id" type="service" [isBookmark]="service.bookmarked"
            (handleClick)="moreP.close()"></bookmark-link-item>
          <share-link-item link="{{ currentUrl + '/' + service.id }}" (handleClick)="moreP.close()"></share-link-item>
          <copy-link-item link="{{ currentUrl + '/' + service.id }}" (handleClick)="moreP.close()"></copy-link-item>
          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <button class="icon-button" routerLink="add" [queryParams]="{id: service.id}">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="inactiveService(service);moreP.close()">
              <i class="material-icons padding-right">schedule</i>
              {{
              service.active
              ? ('GENERAL.STATUSES.INACTIVE' | translate)
              : ('GENERAL.STATUSES.ACTIVE' | translate)
            }}
            </button>
            <button class="icon-button" (click)="deleteDialog(deleteD);moreP.close()">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <button *ngIf="(loggedInAccountId$ | async) != service?.user?.id" class="icon-button"
            (click)="reportDialog(reportD);moreP.close()">
            <i class="material-icons padding-right">info</i>
            {{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>
        </div>
      </sat-popover>

      <ng-template #deleteD>
        <h2 class="dialog-header">{{ 'DIALOGS.SERVICE_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" matDialogClose (click)="deleteService(service.id)">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #reportD>
        <app-report-add [contentType]="'service'" [contentId]="service.id"></app-report-add>
      </ng-template>
    </div>

    <!-- <div class="addable-item-list-bottom-spacer"></div> -->

  </app-infinite-scroll-with-loader>

  <h2 *ngIf="!(total$ | async)  && !(loading$ | async) && searchValue" class="center padding-top">
    {{ 'PAGES.SERVICE_LIST.NO_RESULTS' | translate }}
  </h2>

  <!--List End-->

</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="(total$ | async) && !(loading$ | async)"></div>
<!--Add-->

<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>