
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.service-list-layout {
  border-bottom: none !important;
}

.item {
  border-bottom: 1px solid var(--grey-10);
}

@media screen and (max-width: 600px) {
  .sub-header {
    border-left: none;
    border-right: none;
  }

  .item {
    border-left: none;
    border-right: none;
  }
}