<div class="header">
  <button
    type="button"
    class="margin-right"
    mat-dialog-close
  >
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title center full-width">
    {{ 'DIALOGS.REVIEW_SLIDER.TITLE' | translate }}
  </h2>
</div>


<div class="content-center">
  <swiper [config]="config">
    <div class="photo-size photo-size__details" *ngFor="let photo of getPhotosSource()">
      <img [src]="photo.link || defaultImage" class="image-position image-position__details">
    </div>
  </swiper>
</div>
