<div class="flex-center" style="padding: 20px 10px 10px 10px" *ngIf="error$ | async as error">
  <h2 class="bold" style="font-size: 20px">{{error?.title}}</h2>
  <p text-wrap style="font-size: 16px">{{error?.text}}</p>
  <button class="round-button margin" style="max-width: 400px" (click)="back()">
    {{ 'GENERAL.ACTIONS.BACK' | translate }}
  </button>
</div>