<div class="article-detail-wrapper flex-center-column flex-stretch">
  <app-content-layout class="background-white">
    <app-feed-item-article [item]="article$ | async" (delete)="onDelete()" [expanded]="true"></app-feed-item-article>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>