* {
  box-sizing: border-box;
}

.br {
  position: relative;
  margin: 15px 0;
}

.br-units {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.br-unit {
  margin-right: 5px;
  font-size: 23px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  // some tweaks
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;

  &:after {
    content: "\2605";
    color: #d2d2d2;
  }
}

.br-selected:after {
  color: #EDB867;
}

.br-active:after {
  color: #EDB867;
}

.br-readonly, .br-disabled {
  .br-unit {
    cursor: default;
  }
}
