<div class="blocked-wrapper flex-center-column flex-stretch">
  <app-no-items-placeholder [show]="!(blocked$ | async).length" [text]="((blocked$ | async).length | i18nPlural : blockedMapping)" class="sub-header-title"></app-no-items-placeholder>
  <app-content-layout class="background-white" *ngIf="(blocked$ | async).length">
    <div class="sub-header border-bottom">
      <h2 class="sub-header-title">{{ (blocked$ | async).length | i18nPlural : blockedMapping }}</h2>
    </div>

    <div class="blocked-list">
      <div class="item" *ngFor="let item of blocked$ | async" (click)="goToPage(item, $event)">
        <img [src]="item.photo || defaultAvatar" class="avatar">

        <div class="item-text">
          <h2 class="black">{{ getFullName(item) }}</h2>
          <p>{{ getPageName(item) }}</p>
        </div>

        <button class="unblock-btn item-end margin" [class.blue]="item.isBlocked" [class.red]="!item.isBlocked"
          style="width: auto;" (click)="blockUser(item.id, item.isBlocked)">
          {{
          !!item.isBlocked
          ? ('GENERAL.ACTIONS.UNBLOCK' | translate)
          : ('GENERAL.ACTIONS.BLOCK' | translate)
        }}
        </button>
      </div>
    </div>
  </app-content-layout>
</div>

<app-loading [loading]="loading$ | async"></app-loading>