:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
}

.item {
    &:last-child {
        border-bottom: 1px solid var(--grey-10);
    }
}

.blocked-list {
    display: flex;
    flex-direction: column;
}