:host {
  display: block;
  position: relative;
}

.video-details-progress {
  height: 200px;
  background: var(--grey-10);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .video-details-progress-percentage {
    margin-top: 10px;
    color: var(--blue);
  }
}