<ng-container *ngIf="item">

  <!--Header Start-->

  <div class="item no-link">
    <img [attr.src]="item.user.thumb || defaultAvatar" class="avatar pointer" routerLink="/{{ item.user.pageName }}/home">
    <div class="item-text">
      <h2 class="black pointer" routerLink="/{{ item.user.pageName }}/home">
        {{ item.user.name }}
      </h2>
      <ng-container *ngIf="timeAgoFormat else staticTime">
        <p>{{ item.created | timeAgo }}</p>
      </ng-container>
      <ng-template #staticTime>
        <p>{{ item.created | date: "dd MMM yyyy" }}</p>
      </ng-template>
    </div>

    <div class="item-end">

      <!--Follow-->

      <button class="blue margin-right" (click)="follow()" *ngIf="!(isMyAccount$ | async) && !item.user.following">
        {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
      </button>

      <!--Popover-->

      <button [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
        <i class="material-icons">more_vert</i>
      </button>

      <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">

          <!--Link-->

          <copy-link-item
            link="{{ currentUrl }}/{{ item.user.pageName }}/videos/{{item.id}}"
            (handleClick)="moreP.close()"
          ></copy-link-item>

          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <!--Edit-->

            <button class="icon-button" routerLink="/{{ item.user.pageName }}/videos/add" [queryParams]="{id: item.id}">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>

            <!--Delete-->

            <button class="icon-button" (click)="openDialog(deleteD);moreP.close()">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>

            <ng-template #deleteD>
              <h2 class="dialog-header">{{ 'DIALOGS.VIDEO_DELETE.TITLE' | translate }}</h2>
              <div class="dialog-buttons">
                <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                <button class="red" matDialogClose (click)="deleteItem()">
                  {{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>
              </div>
            </ng-template>
          </ng-container>

          <!--Unfollow-->

          <button class="icon-button" (click)="unfollow(); moreP.toggle()" *ngIf="item.user.following && !(isMyAccount$ | async)">
            <i class="material-icons padding-right">close</i>
            {{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
          </button>

          <!--Report-->

          <button *ngIf="(loggedInAccountId$ | async) != item.user_id" class="icon-button" (click)="openDialog(reportD);moreP.close()">
            <i class="material-icons padding-right">info</i>
            {{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>

          <ng-template #reportD>
            <app-report-add [contentType]="'video'" [contentId]="item.id"></app-report-add>
          </ng-template>
        </div>
      </sat-popover>

    </div>

  </div>

  <!--Header End-->

  <!--Video-->

  <ng-container *ngIf="!item.uploading; else progressSpinner">
    <app-shaka-player
      [src]="item.video"
      [autoplay]="autoplay"
      [muted]="muted"
      [playOnHover]="playOnHover"
    ></app-shaka-player>
  </ng-container>

  <ng-template #progressSpinner>
    <div class="video-details-progress">
      <mat-spinner diameter="50" [value]="item.progress" mode="determinate"></mat-spinner>
      <div class="video-details-progress-percentage">{{ item.progress }}%</div>
    </div>
  </ng-template>

  <!--Video Info-->

  <div class="padding border-bottom">
    <h2 class="black padding-bottom">{{item.title}}</h2>
    <div class="info-icons view-count-container-fix">
      <i *ngIf="item.viewsCount && item.viewsCount !== 0"
        class="material-icons icon-small icon-padding-right">visibility</i>
      <p *ngIf="item.viewsCount && item.viewsCount !== 0" class="padding-right">{{item.viewsCount | number}}</p>
      <app-location-button
        *ngIf="item.location"
        [location]="item.location"
        [businessAddress]="item.entity_business_address"
      ></app-location-button>
    </div>
  </div>

  <div class="buttonbar border-bottom">

    <!--Like-->

    <div class="flex-column">
      <button [class.blue]="item.liked" (click)="like(item.id)">
        <i class="material-icons">thumb_up</i>
      </button>
      <button class="grey margin-top" *ngIf="item.likesCount !== 0" (click)="showLikes(item.id)">
        {{item.likesCount}}
      </button>
    </div>

    <!--Comment-->

    <div class="flex-column">
      <button (click)="showComments()">
        <i class="material-icons">chat_bubble</i>
      </button>
      <button class="grey margin-top" *ngIf="item.commentsCount !== 0" (click)="showComments()">
        {{item.commentsCount}}
      </button>
    </div>

    <!--Share-->

    <share-button
      externalUrl="{{ currentUrl }}/{{ item.user.pageName }}/videos/{{item.id}}"
      entityType="video"
      [entityId]="item.id"
    ></share-button>

    <!--Bookmark-->

    <bookmark-button
      [id]="item.id"
      type="video"
      [isBookmark]="!!item.bookmarked"
      [bookmarksCount]="item.bookmarksCount"
    ></bookmark-button>
  </div>

  <!-- Description

  <app-truncatable-text
    [text]="item.description | linkstohtml"
    [mentions]="item.mentions"
    [truncatable]="truncatable"
    [borderBottom]="borderBottom"
  ></app-truncatable-text> -->

</ng-container>
