<mat-form-field [floatLabel]="floatLabel">
  <input
    matInput
    #locationInput
    [autoFocus]="autofocus"
    [placeholder]="placeholder"
    [formControl]="internalInputControl"
    [matAutocomplete]="auto"
  />

  <i *ngIf="isClearButtonVisible()"
    matSuffix
    class="material-icons icon-small grey pointer margin-left"
    (click)="clear()"
    >
    close
  </i>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getSuggestionText" (optionSelected)="onSuggestionSelect($event)">
    <mat-option class="autosuggestion-option" *ngFor="let suggestion of autosuggestions$ | async" [value]="suggestion">
      <div class="autosuggestion-option-text bold padding-bottom-small" *ngIf="suggestion.title">{{ suggestion.title }}</div>
      <div class="autosuggestion-option-text">{{ suggestion.address_location }}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
