<div class="add-view-layout flex-center-column flex-stretch padding-bottom">
  <div class="add-view-layout-header-wrapper">
    <div class="header add-view-layout-header border-bottom background-white border-left border-right">
      <button type="button" class="item-start margin-right grey" (click)="back()" [disabled]="disabled">
        <i class="material-icons">arrow_back</i>
      </button>
  
      <div class="item no-padding no-link">
        <img [attr.src]="src" class="avatar-small">
      </div>
  
      <button type="submit" class="blue item-end" form="ngForm" (click)="onSubmitClick.emit()" [disabled]="disabled"
        [attr.form]="formId">
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>
  <app-content-layout class="border-bottom">
    <ng-content></ng-content>
  </app-content-layout>
  <app-loading [loading]="loading" [isGlobal]="true"></app-loading>
</div>