:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.add-view-layout {
    &-header-wrapper {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    &-header {
        display: flex;
        max-width: var(--app-width);
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .header {
        border-left: none;
        border-right: none;
    }
}