<div class="cart padding-bottom">
  <div style="padding: 15px 0 5px 0">
    <h2 class="grey bold" style="font-size: 18px;">
      {{ 'GENERAL.STATUSES.GRIT_WALLET' | translate }}
    </h2>
    <h2 class="bold" style="font-size: 20px; padding-top: 5px">
      {{ balance$ | async | customCurrency }}
    </h2>
  </div>
  <button class="round-button uppercase">
    {{ 'GENERAL.ACTIONS.PAY_OUT' | translate }}
  </button>
</div>

<div class="tabs border-top">
  <a class="tab" routerLink="purchases" routerLinkActive="tab-active">
    {{ 'PAGES.ORDER_BOOKINGS_LIST.PURCHASES' | translate }}
  </a>
  <a class="tab" routerLink="sales" routerLinkActive="tab-active" [replaceUrl]="false">
    {{ 'PAGES.ORDER_BOOKINGS_LIST.SALES' | translate }}
  </a>
</div>
