.tabs {
    position: -webkit-sticky;
    position: sticky;
    top: 124px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid var(--grey-10);
    background-color: var(--grey-3);
    z-index: 1;
  }