.wallet-transaction-item {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    
    &:hover {
        background-color: var(--grey-10) !important;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.user-data {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}