<div class="wallet-transaction-item padding background-white app-item-hover cursor">
  <div class="col avatar-wrapper">
    <img [src]="transaction.photoUrl || 'assets/images/avatar-placeholder.png'" [alt]="transaction.fullName"
      class="avatar" />
  </div>
  <div class="col padding user-data">
    <span class="wallet-transaction-name" style="padding-bottom:5px;">
      {{ transaction.fullName | truncate: 60}}
    </span>
    <p class="grey">
      <ng-container [ngSwitch]="transaction.transactionType">
        <ng-container *ngSwitchCase="'purchase'">
          {{"PAGES.WALLET.TRANSACTION_TYPE.PRODUCT" | translate }},
        </ng-container>
        <ng-container *ngSwitchCase="'sale'">
          {{"PAGES.WALLET.TRANSACTION_TYPE.SALE" | translate }},
        </ng-container>
        <ng-container *ngSwitchCase="'refund'">
          {{"PAGES.WALLET.TRANSACTION_TYPE.REFUND" | translate }},
        </ng-container>
      </ng-container>
      {{ transaction.date | appDate }}
    </p>
  </div>
  <div class="col amount" [ngClass]="{ green: transaction.type === 'in' }">
    <span class="amount-prefix" style="padding-bottom:5px;">{{
      transaction.type == "in" ? "+" : "-"
    }}&nbsp;{{ transaction.amount }}€</span>
    <span style="visibility: hidden">spacer</span>
  </div>
</div>