:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin-bottom: 10px;
}

.sub-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}