<div class="bookmarks-wrapper flex-center-column flex-stretch">
  <!-- Header -->
  <app-content-layout class="background-white">
    <div class="sub-header border-bottom">
      <ng-container *ngIf="header">
        <h2 class="sub-header-title">{{(bookmarks$ | async)?.length | i18nPlural: bookmarksMapping }}</h2>
        <button *ngIf="(total$ | async) > 1" class="item-end" (click)="showSearch()">
          <i class="material-icons">search</i>
        </button>
      </ng-container>
      <div class="search-content" *ngIf="search">
        <button class="item-start padding-right" (click)="showHeader()">
          <i class="material-icons">arrow_back</i>
        </button>
        <input #searchInput #searchInputElement autoFocus placeholder="Search" class="search-content-input"
          [(ngModel)]="searchValue">
        <button class="item-end padding-left" *ngIf="searchValue" (click)="this.searchValue = ''">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </app-content-layout>
  <!-- List -->
  <app-no-items-placeholder [show]="(!(bookmarks$ | async).length && !(searching$ | async)) && !(loading$ | async)"
    [text]="((bookmarks$ | async)?.length | i18nPlural: bookmarksMapping)" class="sub-header-title">
  </app-no-items-placeholder>
  <app-infinite-scroll-with-loader (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async"
    *ngIf="(bookmarks$ | async).length" spinnerPosition="replace-content">
    <app-content-layout>
      <ng-container *ngFor="let bookmark of bookmarks$ | async">

        <ng-container *ngIf="bookmark['photo'] as photo">
          <div class="item border-bottom"
            routerLink="/{{ photo.user?.business?.pageName || photo.user?.person?.pageName }}/photos/{{ photo.id }}">
            <img [src]="photo.thumb || defaultImage" class="thumbnail">
            <div class="item-text">
              <h2 class="black" ellipsis>{{ photo.title }}</h2>
              <p>{{ photo.user?.business?.name || photo.user?.person?.fullName }}</p>
              <p>{{photo.created | timeAgo}}</p>
              <div class="info-icons">
                <ng-container *ngIf="photo.viewsCount">
                  <i class="material-icons icon-small icon-padding-right">visibility</i>
                  <p class="padding-right">{{ photo.viewsCount | number }}</p>
                </ng-container>
                <ng-container *ngIf="photo.likesCount">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ photo.likesCount | number }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
              (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">

                <!-- Share -->

                <share-link-item
                  link="{{ currentUrl }}/{{ photo.user?.business?.pageName || photo.user?.person?.pageName }}/photos/{{ photo.id }}"
                  (handleClick)="bookmarkMoreP.close()"></share-link-item>

                <!-- Link -->

                <copy-link-item
                  link="{{ currentUrl }}/{{ photo.user?.business?.pageName || photo.user?.person?.pageName }}/photos/{{ photo.id }}"
                  (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                <!-- Remove -->

                <button class="icon-button"
                  (click)="removeBookmark(photo.id, 'photo', bookmark.id); bookmarkMoreP.close()">
                  <i class="material-icons padding-right">close</i>
                  {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                </button>
              </div>
            </sat-popover>
          </div>
        </ng-container>

        <ng-container *ngIf="bookmark['video'] as video">
          <div class="item border-bottom"
            routerLink="/{{ video.user?.business?.pageName || video.user?.person?.pageName }}/videos/{{ video.id }}">
            <div class="video-duration-container">
              <img [attr.src]="video.thumb || video.cover || defaultImage" class="thumbnail">
              <i class="material-icons icon-small white content-icon">videocam</i>
              <p class="video-duration">{{video.duration}}</p>
            </div>
            <div class="item-text">
              <h2 class="black" ellipsis>{{video.title}}</h2>
              <p>{{ video.user?.business?.name || video.user?.person?.fullName }}</p>
              <p>{{video.created | timeAgo}}</p>
              <div class="info-icons">
                <ng-container *ngIf="video.viewsCount">
                  <i class="material-icons icon-small icon-padding-right">visibility</i>
                  <p class="padding-right">{{ video.viewsCount | number }}</p>
                </ng-container>
                <ng-container *ngIf="video.likesCount">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ video.likesCount | number }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
              (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">

                <!-- Share -->

                <share-link-item
                  link="{{ currentUrl }}/{{ video.user?.business?.pageName || video.user?.person?.pageName }}/videos/{{ video.id }}"
                  (handleClick)="bookmarkMoreP.close()"></share-link-item>

                <!-- Link -->

                <copy-link-item
                  link="{{ currentUrl }}/{{ video.user?.business?.pageName || video.user?.person?.pageName }}/videos/{{ video.id }}"
                  (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                <!-- Remove -->

                <button class="icon-button"
                  (click)="removeBookmark(video.id, 'video', bookmark.id); bookmarkMoreP.close()">
                  <i class="material-icons padding-right">close</i>
                  {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                </button>
              </div>
            </sat-popover>
          </div>
        </ng-container>

        <ng-container *ngIf="bookmark['text'] as text">
          <div class="item border-bottom no-padding"
            routerLink="/{{ text.user?.business?.pageName || text.user?.person?.pageName }}/texts/{{ text.id }}">
            <div class="bookmark-item" style="width: 100%;">
              <div class="item">
                <img [src]="text.user?.business?.thumb || text.user?.person?.thumb || defaultAvatar"
                  class="avatar pointer">
                <div class="item-text pointer">
                  <h2 class="black">
                    {{ text.user?.business?.name || text.user?.person?.fullName }}
                  </h2>
                  <p>{{ text.created | timeAgo }}</p>
                </div>
                <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
                  (click)="$event.stopPropagation()">
                  <i class="material-icons icon-small">more_vert</i>
                </button>
                <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
                  <div class="popover">

                    <!-- Share -->

                    <share-link-item
                      routerLink="{{ currentUrl }}/{{ text.user?.business?.pageName || text.user?.person?.pageName }}/texts/{{ text.id }}"
                      (handleClick)="bookmarkMoreP.close()"></share-link-item>

                    <!-- Link -->

                    <copy-link-item
                      link="{{ currentUrl }}/{{ text.user?.business?.pageName || text.user?.person?.pageName }}/texts/{{ text.id }}"
                      (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                    <!-- Remove -->

                    <button class="icon-button" (click)="removeBookmark(text.id, 'text', bookmark.id)">
                      <i class="material-icons padding-right">close</i>
                      {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                    </button>
                  </div>
                </sat-popover>
              </div>
              <div class="padding-horizontal padding-bottom" *ngIf="text.text">
                <p>
                  {{text.text | slice : 0:150}}
                  <span class="grey pointer" *ngIf="text.text.length> 150">...</span>
                </p>
                <div class="info-icons margin-top">
                  <ng-container *ngIf="text.viewsCount">
                    <i class="material-icons icon-small icon-padding-right">visibility</i>
                    <p class="padding-right">{{ text.viewsCount | number }}</p>
                  </ng-container>
                  <ng-container *ngIf="text.likesCount">
                    <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                    <p>{{ text.likesCount | number }}</p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="bookmark['service'] as service">
          <div class="item border-bottom"
            routerLink="/{{ service.user?.business?.pageName || service.user?.person?.pageName }}/services/{{ service.id }}">
            <img [src]="service.photos?.thumb || service.photos?.link || defaultImage" class="thumbnail">
            <div class="item-text">
              <h2 class="black" ellipsis>
                <span *ngIf="!service.active" class="red">{{ 'GENERAL.STATUSES.INACTIVE' | translate }}
                </span>{{service.title}}
              </h2>
              <h2 *ngIf="service.price" class="black bold">
                {{service.price | toNumber | customCurrency}}
                <span
                  *ngIf="service?.schedule?.durationInfo">/{{'GENERAL.DATE_TIME.DURATIONS.' + service.schedule.durationInfo | translate}}</span>
              </h2>
              <p *ngIf="service.schedule && service.schedule.startInfo">
                {{service?.schedule?.startInfo && service.schedule.startInfo}}</p>
              <p>{{ service.user?.business?.name || service.user?.person?.fullName }}</p>
              <p *ngIf="service.street">{{service.street}}, {{service.zip}} {{service.city}}</p>
              <div class="flex">
                <p class="blue bold padding-right-small" *ngIf="service.rating">{{service.rating | number}}</p>
                <i class="material-icons icon-small blue" *ngIf="service.rating">star</i>
                <i class="material-icons icon-small blue" *ngIf="service.rating">star</i>
                <i class="material-icons icon-small blue" *ngIf="service.rating">star</i>
                <p class="grey padding-left-small margin-right">
                  <span *ngIf="service.reviewsCount">({{service.reviewsCount}})</span>
              </div>
            </div>
            <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
              (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i></button>
            <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">

                <!-- Share -->

                <share-link-item
                  link="{{ currentUrl }}/{{ service.user?.business?.pageName || service.user?.person?.pageName }}/services/{{ service.id }}"
                  (handleClick)="bookmarkMoreP.close()"></share-link-item>

                <!-- Link -->

                <copy-link-item
                  link="{{ currentUrl }}/{{ service.user?.business?.pageName || service.user?.person?.pageName }}/services/{{ service.id }}"
                  (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                <!-- Remove -->

                <button class="icon-button"
                  (click)="removeBookmark(service.id, 'service', bookmark.id); bookmarkMoreP.close()">
                  <i class="material-icons padding-right">close</i>
                  {{ 'GENERAL.ACTIONS.REMOVE' | translate }}c
                </button>
              </div>
            </sat-popover>
          </div>
        </ng-container>

        <ng-container *ngIf="bookmark['product'] as product">
          <div class="item border-bottom"
            routerLink="/{{ product.user?.business?.pageName || product.user?.person?.pageName }}/shop/{{ product.id }}">
            <ng-container *ngIf="product.type === 'singleProduct'">
              <img [src]="product.cover?.thumbUrl || defaultImage" class="thumbnail">
            </ng-container>
            <ng-container *ngIf="product.type === 'productVariants'">
              <img [src]="product.cover.thumbUrl || defaultImage" class="thumbnail">
            </ng-container>
            <div class="item-text">
              <div class="item-header">
                <h2 *ngIf="!product.active" class="red">{{ 'GENERAL.STATUSES.INACTIVE' | translate }}</h2>
                <h2 *ngIf="product.title" class="black" ellipsis>{{ product.title }}</h2>
              </div>
              <h2 class="black bold" *ngIf="product.price">
                {{ product.price | customCurrency }}
              </h2>
              <h2 class="black bold" *ngIf="!product.price">
                {{ product.cheapestVariant?.price | customCurrency }}
              </h2>
              <p>{{ product.user?.business?.name || product.user?.person?.fullName }}</p>
              <p>{{ product.collection }}</p>
              <div class="flex">
                <div class="flex" *ngIf="product.rating">
                  <p class="blue bold padding-right-small">
                    {{ product.rating | number }}
                  </p>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <i class="material-icons icon-small blue">star</i>
                  <p class="grey padding-left-small margin-right">
                    <span *ngIf="product.reviewsCount">({{ product.reviewsCount }})</span>
                  </p>
                </div>
              </div>
            </div>
            <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
              (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">

                <!-- Share -->

                <share-link-item
                  link="{{ currentUrl }}/{{ product.user?.business?.pageName || product.user?.person?.pageName }}/shop/{{ product.id }}"
                  (handleClick)="bookmarkMoreP.close()"></share-link-item>

                <!-- Link -->

                <copy-link-item
                  link="{{ currentUrl }}/{{ product.user?.business?.pageName || product.user?.person?.pageName }}/shop/{{ product.id }}"
                  (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                <!-- Remove -->

                <button class="icon-button"
                  (click)="removeBookmark(product.id, 'product', bookmark.id); bookmarkMoreP.close()">
                  <i class="material-icons padding-right">close</i>
                  {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                </button>
              </div>
            </sat-popover>
          </div>
        </ng-container>

        <ng-container *ngIf="bookmark['article'] as article">
          <div class="item border-bottom"
            routerLink="/{{ article.user?.business?.pageName || article.user?.person?.pageName }}/blog/{{ article.id }}">
            <img [attr.src]="article.thumb || defaultImage" class="thumbnail">
            <div class="item-text">
              <h2 *ngIf="article.title" class="black" ellipsis>{{article.title}}</h2>
              <p>{{ article.user?.business?.name || article.user?.person?.fullName }}</p>
              <p>{{article.created | timeAgo}}</p>
              <div class="info-icons">
                <ng-container *ngIf="article.viewsCount">
                  <i class="material-icons icon-small icon-padding-right">visibility</i>
                  <p class="padding-right">{{ article.viewsCount | number }}</p>
                </ng-container>
                <ng-container *ngIf="article.likes">
                  <i class="material-icons icon-small icon-padding-right">thumb_up</i>
                  <p>{{ article.likesCount | number }}</p>
                </ng-container>
              </div>
            </div>
            <button class="item-end" [satPopoverAnchor]="bookmarkMoreP" (click)="bookmarkMoreP.toggle()"
              (click)="$event.stopPropagation()">
              <i class="material-icons icon-small">more_vert</i>
            </button>
            <sat-popover #bookmarkMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
              <div class="popover">

                <!-- Share -->

                <share-link-item
                  link="{{ currentUrl }}/{{ article.user?.business?.pageName || article.user?.person?.pageName }}/blog/{{ article.id }}"
                  (handleClick)="bookmarkMoreP.close()"></share-link-item>

                <!-- Link -->

                <copy-link-item
                  link="{{ currentUrl }}/{{ article.user?.business?.pageName || article.user?.person?.pageName }}/blog/{{ article.id }}"
                  (handleClick)="bookmarkMoreP.close()"></copy-link-item>

                <!-- Remove -->

                <button class="icon-button"
                  (click)="removeBookmark(article.id, 'article', bookmark.id); bookmarkMoreP.close()">
                  <i class="material-icons padding-right">close</i>
                  {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                </button>
              </div>
            </sat-popover>
          </div>
        </ng-container>

      </ng-container>
    </app-content-layout>
  </app-infinite-scroll-with-loader>

  <app-loading [loading]="loading$ | async"></app-loading>
</div>