<div class="team-list-wrapper bookmarks-wrapper flex-center-column flex-stretch">
  <app-content-layout class="background-white">
    <div class="sub-header border-bottom">
      <ng-container *ngIf="header">
        <h2 class="sub-header-title">{{ total$ | async | i18nPlural: i18nPluralMapping }}</h2>
        <button class="item-end" (click)="showSearch()">
          <i class="material-icons">search</i>
        </button>
      </ng-container>
      <div class="search-content" *ngIf="search">
        <button class="item-start padding-right" (click)="showHeader()">
          <i class="material-icons">arrow_back</i>
        </button>
        <input #searchInput autoFocus placeholder="Search Team Members" class="search-content-input"
          [(ngModel)]="searchValue">
        <button class="item-end padding-left" *ngIf="searchValue" (click)="searchValue = ''">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </app-content-layout>
  <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()">
    <app-content-layout class="border-bottom" *ngIf="(items$ | async).length">
      <div class="item" *ngFor="let item of items$ | async" routerLink="/{{item.pageName}}/home">
        <img [src]="item.photo || defaultAvatar" class="avatar">
        <div class="item-text">
          <h2 class="black">{{item.name}}</h2>
          <p>{{item.pageName | lowercase}}</p>
        </div>

        <div class="item-end padding-right grey">
          <p>{{ item.role?.type | titlecase }}</p>
        </div>

        <button class="item-end" [satPopoverAnchor]="itemMoreP" (click)="itemMoreP.toggle()"
          (click)="$event.stopPropagation()"
          *ngIf="(loggedInAccountRoleType$ | async) === 'admin' || (loggedInAccountId$ | async) === item.id">
          <i class="material-icons icon-small">more_vert</i>
        </button>

        <sat-popover #itemMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
          <div class="popover" (click)="itemMoreP.close()">
            <button class="icon-button" (click)="openChangeRoleDialog(changeRoleD, item.role?.type)"
              *ngIf="(loggedInAccountRoleType$ | async) === 'admin'">
              <i class="material-icons padding-right">person</i>
              {{ 'PAGES.TEAM_LIST.ROLE' | translate }}
            </button>

            <button class="icon-button" (click)="openDeleteDialog(deleteD)">
              <ng-container *ngIf="(loggedInAccountId$ | async) === item.id; else deleteTemplate">
                <i class="material-icons padding-right">exit_to_app</i>
                {{ 'GENERAL.ACTIONS.LEAVE' | translate }}
              </ng-container>
              <ng-template #deleteTemplate>
                <i class="material-icons padding-right">close</i>
                {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
              </ng-template>
            </button>
          </div>

          <ng-template #changeRoleD>
            <div class="change-role-dialog position-relative">
              <h2 class="dialog-header">
                {{ 'PAGES.TEAM_LIST.CHANGE_ROLE_DIALOG.TITLE' | translate }}
              </h2>
              <div class="dialog-content padding">
                <mat-form-field>
                  <mat-select placeholder="{{ 'PAGES.TEAM_LIST.ROLE' | translate }}" [(ngModel)]="roleToChange">
                    <mat-option value="admin">{{ 'GENERAL.ROLES.ADMIN' | translate }}</mat-option>
                    <mat-option value="creator">{{ 'GENERAL.ROLES.CREATOR' | translate }}</mat-option>
                    <mat-option value="viewer">{{ 'GENERAL.ROLES.VIEWER' | translate }}</mat-option>
                  </mat-select>
                  <i matSuffix class="material-icons icon-small grey pointer padding-horizontal-small"
                    [satPopoverAnchor]="roleInfoP" (click)="roleInfoP.toggle()"
                    (click)="$event.stopPropagation()">info</i>
                  <sat-popover hasBackdrop #roleInfoP horizontalAlign="before" scrollStrategy="close">
                    <div class="tooltip">
                      <div>{{ 'GENERAL.ROLES.TOOLTIP.ADMIN' | translate }}</div>
                      <div>{{ 'GENERAL.ROLES.TOOLTIP.CREATOR' | translate }}</div>
                      <div>{{ 'GENERAL.ROLES.TOOLTIP.VIEWER' | translate }}</div>
                    </div>
                  </sat-popover>
                </mat-form-field>
              </div>
              <div class="dialog-buttons">
                <button matDialogClose>
                  {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
                </button>
                <button class="blue" (click)="changeRole(item.id, roleToChange)">
                  {{ 'GENERAL.ACTIONS.CHANGE' | translate }}
                </button>
              </div>

              <app-loading [loading]="changingRole"></app-loading>
            </div>
          </ng-template>

          <ng-template #deleteD>
            <div class="position-relative">
              <h2 class="dialog-header">
                <ng-container *ngIf="(loggedInAccountId$ | async) === item.id; else deleteTemplate">
                  {{ 'PAGES.TEAM_LIST.LEAVE_TEAM.TITLE' | translate }}
                </ng-container>
                <ng-template #deleteTemplate>
                  {{ 'PAGES.TEAM_LIST.DELETE_TEAM_MEMBER.TITLE' | translate }}
                </ng-template>
              </h2>
              <div class="dialog-buttons">
                <button matDialogClose>
                  {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
                </button>
                <button class="red" (click)="delete(item.id)">
                  <ng-container *ngIf="(loggedInAccountId$ | async) === item.id; else deleteTemplate">
                    {{ 'GENERAL.ACTIONS.LEAVE' | translate }}
                  </ng-container>
                  <ng-template #deleteTemplate>
                    {{ 'GENERAL.ACTIONS.REMOVE' | translate }}
                  </ng-template>
                </button>
              </div>
              <app-loading [loading]="deletingAccount"></app-loading>
            </div>
          </ng-template>
        </sat-popover>
      </div>
    </app-content-layout>
  </app-infinite-scroll-with-loader>
  <div class="addable-item-list-bottom-spacer"></div>
  <div class="fab-wrapper">
    <button class="fab" routerLink="add" *ngIf="(loggedInAccountRoleType$ | async) === 'admin'"
      (click)="navigating = true">
      <i class="material-icons white">add</i>
    </button>
  </div>

  <app-loading [loading]="navigating || (loading$ | async)"></app-loading>
</div>