<h2 class="dialog-header">{{ text }}</h2>
<div class="dialog-buttons">
  <button class="{{leftButtonColor}}" (click)="close(false)">{{ leftButtonText }}</button>
  <button class="{{rightButtonColor}}" (click)="close(true)">{{ rightButtonText }}</button>
</div>