<list-view-layout [loading]="navigating || (loading$ | async)" [isListEmpty]="!(total$ | async) && !(loading$ | async)" [emptyTextPlaceholder]="(total$ | async | i18nPlural: articleMapping)">
<!--Header Start-->
<div class="sub-header border-left border-right" *ngIf="total$ | async as total">
  <h2 class="sub-header-title">{{ total | i18nPlural: articleMapping }}</h2>

  <!--Filter-->

  <button class="item-end" [satPopoverAnchor]="filterP" (click)="filterP.toggle()" *ngIf="total > 1">
    <i class="material-icons">tune</i>
  </button>

  <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover">
      <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
      <button class="icon-button" (click)="applyFilter('date'); filterP.close()">
        <i class="material-icons padding-right">schedule</i>
        {{ 'GENERAL.LIST_FILTER.DATE' | translate }}
      </button>
      <button class="icon-button" (click)="applyFilter('views'); filterP.close()">
        <i class="material-icons padding-right">visibility</i>
        {{ 'GENERAL.LIST_FILTER.VIEWS' | translate }}
      </button>
      <button class="icon-button" (click)="applyFilter('likes'); filterP.close()">
        <i class="material-icons padding-right">thumb_up</i>
        {{ 'GENERAL.LIST_FILTER.LIKES' | translate }}
      </button>
    </div>
  </sat-popover>
</div>

<!--Header End-->

<!--List Start-->

<app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async" (scrolled)="triggerScroll()">
  <div class="item border-bottom border-left border-right" *ngFor="let article of articles$ | async; trackBy: trackById"
    [routerLink]="[article.id]" [ngClass]="{ disabled: article.uploading || article.processing }">
    <app-thumbnail [url]="article.thumb || article.cover" [item]="article"></app-thumbnail>

    <div class="item-text">
      <h2 *ngIf="article.title" class="black" ellipsis>{{ article.title }}</h2>
      <p>{{ viewableAccountFullName$ | async }}</p>
      <p>{{ article.created | timeAgo }}</p>
      <div class="info-icons">
        <ng-container *ngIf="article.viewsCount">
          <i class="material-icons icon-small icon-padding-right">visibility</i>
          <p *ngIf="article.viewsCount" class="padding-right">{{article.viewsCount | number}}</p>
        </ng-container>
        <ng-container *ngIf="article.likesCount">
          <i class="material-icons icon-small icon-padding-right" [class.blue]="article.liked">thumb_up</i>
          <p *ngIf="article.likesCount">{{article.likesCount | number}}</p>
        </ng-container>
      </div>
    </div>

    <!--Actions-->

    <button class="item-end" [satPopoverAnchor]="moreP" (click)="$event.stopPropagation(); moreP.toggle()">
      <i class="material-icons icon-small">more_vert</i>
    </button>

    <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <bookmark-link-item [id]="article.id" type="article" [isBookmark]="article.bookmarked"
          (handleClick)="moreP.close()"></bookmark-link-item>
        <share-link-item link="{{ currentUrl + '/' + article.id }}" (handleClick)="moreP.close()"></share-link-item>
        <copy-link-item link="{{ currentUrl + '/' + article.id }}" (handleClick)="moreP.close()"></copy-link-item>
        <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
          <button class="icon-button" routerLink="add" [queryParams]="{ id: article.id }">
            <i class="material-icons padding-right">create</i>
            {{ 'GENERAL.ACTIONS.EDIT' | translate }}
          </button>
          <button class="icon-button" (click)="deleteDialog(deleteD); moreP.close()">
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </ng-container>
        <button *ngIf="(loggedInAccountId$ | async) != article?.user?.id" class="icon-button" (click)="reportDialog(reportD); moreP.close()">
          <i class="material-icons padding-right">info</i>
          {{ 'GENERAL.ACTIONS.REPORT' | translate }}
        </button>
      </div>
    </sat-popover>

    <ng-template #deleteD>
      <h2 class="dialog-header">{{ 'DIALOGS.ARTICLE_DELETE.TITLE' | translate }}</h2>
      <div class="dialog-buttons">
        <button matDialogClose>
          {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
        </button>
        <button class="red" matDialogClose (click)="deleteArticle(article.id)">
          {{ 'GENERAL.ACTIONS.DELETE' | translate }}
        </button>
      </div>
    </ng-template>

    <ng-template #reportD>
      <app-report-add [contentType]="'article'" [contentId]="article.id"></app-report-add>
    </ng-template>
  </div>

  <!-- <div class="addable-item-list-bottom-spacer"></div> -->
</app-infinite-scroll-with-loader>

<!--List End-->

<!--Add-->
</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="(total$ | async) && !(loading$ | async)"></div>
<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>