<div class="product-detail padding-bottom">
  <app-content-layout class="border-bottom">
    <ng-container *ngIf="product">

      <!--Header Start-->

      <div class="item no-link">
        <img [attr.src]="viewableAccountPhoto$ | async" class="avatar pointer"
          routerLink="/{{ viewableAccountPageName$ | async }}/home">
        <div class="item-text">
          <h2 class="black pointer" routerLink="/{{ viewableAccountPageName$ | async }}/home">
            {{viewableAccountPageName$ | async}}</h2>
          <div class="flex pointer" *ngIf="product.sellerRating" (click)="sellerReviews()">
            <rating-stars [rating]="product.sellerRating" color="yellow"></rating-stars>
            <p class="grey padding-left-small margin-right">{{ product.sellerRatingCount | number }}</p>
          </div>
        </div>

        <div class="item-end">

          <!--Follow-->

          <button class="blue margin-right" (click)="follow()"
            *ngIf="!(isFolowing$ | async) && !(isMyAccount$ | async)">
            {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
          </button>

          <!--Popover-->

          <button [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
            <i class="material-icons">more_vert</i>
          </button>

          <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
            <div class="popover">

              <!--Link-->

              <copy-link-item [link]="currentUrl" (handleClick)="moreP.close()"></copy-link-item>

              <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
                <!--Edit-->

                <button class="icon-button" routerLink="../add" [queryParams]="{ id: product.id }">
                  <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
                </button>

                <!--Inactive-->

                <button class="icon-button" (click)="inactiveProduct(product); moreP.close()">
                  <i class="material-icons padding-right">schedule</i>
                  {{
                        product.active
                        ? ('GENERAL.STATUSES.INACTIVE' | translate)
                        : ('GENERAL.STATUSES.ACTIVE' | translate)
                      }}
                </button>

                <!--Delete-->

                <button class="icon-button" (click)="deleteDialog(deleteD); moreP.close()">
                  <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>

                <ng-template #deleteD>
                  <h2 class="dialog-header">{{ 'DIALOGS.PRODUCT_DELETE.TITLE' | translate }}</h2>
                  <p class="gray center padding border-bottom">{{ 'DIALOGS.PRODUCT_DELETE.SUBTITLE' | translate }}</p>
                  <div class="dialog-buttons">
                    <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                    <button class="red" matDialogClose (click)="deleteProduct(product.id)">
                      {{ 'GENERAL.ACTIONS.DELETE' | translate }}
                    </button>
                  </div>
                </ng-template>
              </ng-container>


              <!--Unfollow-->

              <button class="icon-button" (click)="unfollow(); moreP.toggle()" *ngIf="isFolowing$ | async">
                <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </button>

              <!--Report-->

              <button *ngIf="(loggedInAccountId$ | async) != product?.user?.id" class="icon-button"
                (click)="reportDialog(reportD);moreP.close()">
                <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
              </button>

              <ng-template #reportD>
                <app-report-add [contentType]="'product'" [contentId]="product.id"></app-report-add>
              </ng-template>
            </div>
          </sat-popover>
        </div>

      </div>

      <!--Header End-->

      <!--Photos-->

      <swiper [config]="config">
        <div class="photo-size photo-size__details" *ngFor="let photo of getPhotosSource()">
          <app-image-container class="image-position image-position__details" [src]="photo.photoUrl || defaultImage">
          </app-image-container>
        </div>
      </swiper>

      <!--Product Info-->

      <div class="padding border-bottom">
        <h2>{{product.title}} <span *ngIf="product.condition && product.condition !== 'new'"
            class="grey">[{{product.condition}}]</span></h2>

        <ng-container *ngIf="product.type === 'singleProduct' else priceForVariants">
          <h2 class="bold" *ngIf="isPriceNotFree(product.price) else forFree">{{product.price | customCurrency}}</h2>
        </ng-container>

        <ng-template #priceForVariants>
          <h2 class="bold" *ngIf="isPriceNotFree(selectedVariant?.price) else forFree">
            {{selectedVariant?.price | customCurrency}}</h2>
        </ng-template>

        <ng-template #forFree>
          <h2 class="bold">{{ 'GENERAL.STATUSES.FOR_FREE' | translate }}</h2>
        </ng-template>

        <!-- Only collection - "Only collecton" -->
        <!-- Only shipping - "Delivery: ca. {{product.deliveryTime}} day(s)" dynamic change of days count-->
        <!-- Both - "Delivery: ca. {{product.deliveryTime}} days or collect" -->

        <ng-container [ngSwitch]="product.deliveryOptions">
          <ng-container *ngSwitchCase="'onlyCollection'">
            <p class="grey">
              {{ 'PAGES.PRODUCT_DETAIL.DELIVERY.ONLY_COLLECTION' | translate }}
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'onlyShipping'">
            <p *ngIf="+product.shippingCosts else freeShippingLabel" class="grey">
              + {{product.shippingCosts | customCurrency}}
              {{ 'PAGES.PRODUCT_DETAIL.DELIVERY.SHIPPING' | translate }}
            </p>
            <ng-template #freeShippingLabel>
              <p class="grey">
                {{ 'PAGES.PRODUCT_DETAIL.DELIVERY.FREE_SHIPPING' | translate }}
              </p>
            </ng-template>
            <p *ngIf="product.deliveryTime" class="grey">
              {{
                    product.deliveryTime === '1'
                    ? ('PAGES.PRODUCT_DETAIL.DELIVERY.DELIVERY_DAY' | translate : { deliveryTime: product.deliveryTime })
                    : ('PAGES.PRODUCT_DETAIL.DELIVERY.DELIVERY_DAYS' | translate : { deliveryTime: product.deliveryTime })
                  }}
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'both'">
            <p *ngIf="+product.shippingCosts else freeShippingLabel" class="grey">
              + {{product.shippingCosts | customCurrency}}
              {{ 'PAGES.PRODUCT_DETAIL.DELIVERY.SHIPPING' | translate }}
            </p>
            <ng-template #freeShippingLabel>
              <p class="grey">{{ 'PAGES.PRODUCT_DETAIL.DELIVERY.FREE_SHIPPING' | translate }}</p>
            </ng-template>
            <p *ngIf="product.deliveryTime" class="grey">
              {{
                    product.deliveryTime === '1'
                    ? ('PAGES.PRODUCT_DETAIL.DELIVERY.DELIVERY_OR_COLLECT_DAY' | translate : { deliveryTime: product.deliveryTime })
                    : ('PAGES.PRODUCT_DETAIL.DELIVERY.DELIVERY_OR_COLLECT_DAYS' | translate : { deliveryTime: product.deliveryTime })
                  }}
            </p>
          </ng-container>
        </ng-container>

        <div *ngIf="product.rating" class="flex pointer" (click)="productReviews()">
          <rating-stars [rating]="product.rating"></rating-stars>
          <p class="grey icon-padding-left margin-right">{{ product.reviewsCount }}</p>
        </div>

        <!--Options-->

        <div class="flex margin-top" style="flex-wrap: wrap">
          <mat-form-field *ngIf="sizes.length && sizes[0]" class="no-padding-horizontal margin-right"
            style="width: 150px">
            <mat-select placeholder="Size" [(ngModel)]="size" (selectionChange)="variantSelectionChange($event)">
              <mat-select-trigger>
                {{ size }}
              </mat-select-trigger>
              <ng-container *ngFor="let size of sizes">
                <mat-option *ngIf="variantExists('size', size)" [value]="size">
                  {{ size }} ({{ getVariantPrice('size', size) | customCurrency }})
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="colors.length && colors[0]" class="no-padding-horizontal margin-right"
            style="width: 150px">
            <mat-select placeholder="Color" [(ngModel)]="color" (selectionChange)="variantSelectionChange($event)">
              <mat-select-trigger>
                {{ color }}
              </mat-select-trigger>
              <ng-container *ngFor="let color of colors">
                <mat-option *ngIf="variantExists('color', color)" [value]="color">
                  {{ color }} ({{ getVariantPrice('color', color) | customCurrency }})
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="flavors.length && flavors[0]" class="no-padding-horizontal padding-top margin-right"
            style="width: 150px">
            <mat-select placeholder="Flavor" [(ngModel)]="flavor" (selectionChange)="variantSelectionChange($event)">
              <mat-select-trigger>
                {{ flavor }}
              </mat-select-trigger>
              <ng-container *ngFor="let flavor of flavors">
                <mat-option *ngIf="variantExists('flavor', flavor)" [value]="flavor">
                  {{ flavor }} ({{ getVariantPrice('flavor', flavor) | customCurrency }})
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="materials.length && materials[0]"
            class="no-padding-horizontal padding-top margin-right" style="width: 150px">
            <mat-select placeholder="Material" [(ngModel)]="material"
              (selectionChange)="variantSelectionChange($event)">
              <mat-select-trigger>
                {{ material }}
              </mat-select-trigger>
              <ng-container *ngFor="let material of materials">
                <mat-option *ngIf="variantExists('material', material)" [value]="material">
                  {{ material }} ({{ getVariantPrice('material', material) | customCurrency }})
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <!--Quantity-->

          <mat-form-field
            *ngIf="selectedVariant ? showQuantity(selectedVariant.quantity) : showQuantity(+product.quantity)"
            class="no-padding padding-top" style="width: 60px">
            <mat-select placeholder="Qty" [(ngModel)]="quantity">
              <ng-container *ngIf="selectedVariant else singleProdQtty">
                <mat-option *ngFor="let quantity of counter(selectedVariant.quantity); let i = index" [value]="i + 1">
                  {{ i + 1 }}
                </mat-option>
              </ng-container>
              <ng-template #singleProdQtty>
                <mat-option *ngFor="let quantity of counter(+product.quantity); let i = index" [value]="i + 1">
                  {{ i + 1 }}
                </mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!--Address for Collection-->

      <button class="icon-button border-bottom"
        *ngIf="product.address && (product.deliveryOptions === 'onlyCollection' || product.deliveryOptions === 'both')">
        <i class="material-icons padding-right">location_on</i>
        {{ product.address?.street + ', ' + product.address?.zip + ' ' + product?.address.city }}
      </button>

      <!--Cart-->

      <div class="border-bottom">
        <button *ngIf="product.active" class="round-button margin" (click)="addToCart(product)">
          {{ 'PAGES.PRODUCT_DETAIL.ADD_TO_CART' | translate }}
        </button>
        <h2 *ngIf="!product.active" class="center padding red">
          {{ 'PAGES.PRODUCT_DETAIL.PRODUCT_IS_INACTIVE' | translate }}
        </h2>
      </div>

      <div class="buttonbar border-bottom">

        <!--Message-->

        <button *ngIf="!(isMyAccount$ | async)" [appMessageTo]="(viewableAccount$ | async)?.id">
          <i class="material-icons">chat_bubble</i>
        </button>

        <!--Share-->

        <share-button [externalUrl]="currentUrl" [entityId]="product.id" entityType="product"></share-button>

        <!--Bookmark-->

        <bookmark-button [id]="product.id" type="product" [isBookmark]="!!product.bookmarked"
          [bookmarksCount]="product.bookmarksCount"></bookmark-button>
      </div>

      <!--Description-->

      <pre class="padding"
        *ngIf="product.description !== '' && (selectedVariant ? showQuantity(selectedVariant.quantity) : showQuantity(+product.quantity))"
        [innerHTML]="product.description | trim | hashtags | mentions:product.mentions | linkstohtml"
        appReplaceLinks></pre>
      <p *ngIf="selectedVariant ? !showQuantity(selectedVariant.quantity) : !showQuantity(+product.quantity)"
        class="padding yellow">
        {{ 'GENERAL.STATUSES.OUT_OF_STOCK' | translate }}
      </p>

    </ng-container>

    <app-loading [loading]="loading$ | async"></app-loading>

  </app-content-layout>

</div>