<app-content-layout>
  <div class="grit-wallet-card padding-bottom">
    <div style="padding: 15px 0 5px 0">
      <h2 class="grey bold" style="font-size: 18px">
        {{ "GENERAL.STATUSES.GRIT_WALLET" | translate }}
      </h2>
      <h2 class="bold" style="font-size: 20px; padding-top: 5px">
        {{ balance$ | async | customCurrency }}
      </h2>

      <p
        *ngIf="(loggedInAccountVerification$ | async) === 'VALIDATION_ASKED'"
        class="yellow bold padding-vertical"
      >
        {{ "PAGES.PURCHASES.VERIFICATION_PENDING" | translate }}
      </p>
      <p
        *ngIf="(loggedInAccountVerification$ | async) === 'FAILED'"
        class="red bold padding-vertical"
      >
        {{ "PAGES.PURCHASES.VERIFICATION_WAS_NOT_SUCCESFUL" | translate }}
      </p>
    </div>

    <button
      *ngIf="
        (loggedInAccountVerification$ | async) !== 'VALIDATED' &&
        (loggedInAccountVerification$ | async) !== 'VALIDATION_ASKED'
      "
      class="round-button uppercase"
      (click)="validate()"
    >
      {{ "GENERAL.ACTIONS.VALIDATE" | translate }}
    </button>

    <button
      *ngIf="(loggedInAccountVerification$ | async) === 'VALIDATED'"
      class="round-button uppercase"
      (click)="payout()"
    >
      {{ "GENERAL.ACTIONS.PAY_OUT" | translate }}
    </button>
  </div>
</app-content-layout>
<app-content-layout *ngIf="fetched$ | async">
  <div class="sub-header border-bottom">
    <ng-container *ngIf="header">
      <h2 class="sub-header-title">
        {{ total$ | async | i18nPlural: transactionsMapping }}
      </h2>
      <div class="item-end" *ngIf="(total$ | async) > 2">
        <button class="margin-right" (click)="showSearch()">
          <i class="material-icons">search</i>
        </button>
        <button
          class="item-end"
          [satPopoverAnchor]="filterP"
          (click)="filterP.toggle()"
        >
          <i class="material-icons">tune</i>
        </button>
      </div>
    </ng-container>
    <div class="search-content" *ngIf="search">
      <button class="item-start padding-right" (click)="showHeader()">
        <i class="material-icons">arrow_back</i>
      </button>
      <input
        autoFocus
        #searchInput
        #searchInputElement
        placeholder="Search"
        class="search-content-input"
        [(ngModel)]="searchValue"
      />
      <button
        class="item-end padding-left"
        *ngIf="searchValue"
        (click)="searchValue = ''"
      >
        <i class="material-icons">close</i>
      </button>
      <button
        class="item-end padding-left"
        [satPopoverAnchor]="filterP"
        (click)="filterP.toggle()"
      >
        <i class="material-icons">tune</i>
      </button>
    </div>

    <!-- Filter -->

    <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <h2 class="filter-header">
          {{ "GENERAL.LIST_FILTER.TITLE" | translate }}
        </h2>
        <button
          class="icon-button"
          (click)="applyFilter('all'); filterP.close()"
        >
          <i class="material-icons padding-right">assignment</i>
          {{ "GENERAL.LIST_FILTER.ALL" | translate }}
        </button>
        <button
          class="icon-button"
          (click)="applyFilter('payin'); filterP.close()"
        >
          <i class="material-icons padding-right">schedule</i>
          {{ "GENERAL.LIST_FILTER.PAYIN" | translate }}
        </button>
        <button
          class="icon-button"
          (click)="applyFilter('payout'); filterP.close()"
        >
          <i class="material-icons padding-right">close</i>
          {{ "GENERAL.LIST_FILTER.PAYOUT" | translate }}
        </button>
      </div>
    </sat-popover>
  </div>
</app-content-layout>
<app-content-layout class="transactions-list flex-stretch background-grey-3">
  <app-loading
    [loading]="
      (loading$ | async) && !(lazyLoading$ | async)
    "
  ></app-loading>
  <app-no-items-placeholder
    [show]="(fetched$ | async) && !(transactions$ | async).length"
    text="No transactions"
  >
  </app-no-items-placeholder>

  <app-infinite-scroll-with-loader
    [showLoading]="(lazyLoading$ | async)"
    [spinnerPosition]="
      (searching$ | async) && !(lazyLoading$ | async) ? 'top' : 'bottom'
    "
    class="border-left border-right border-bottom"
    spinnerContainerClass="background-white"
    (scrolled)="triggerScroll()"
  >
  <div class="transactions-list">
      <ng-container *ngFor="let transaction of transactions$ | async">
        <wallet-transaction [transaction]="transaction" (click)="rowClick(transaction)"></wallet-transaction>
      </ng-container>
  </div>
  </app-infinite-scroll-with-loader>
</app-content-layout>
<app-loading [loading]="((walletLoading$ | async) || (loading$| async)) && !(fetched$ | async) && !(lazyLoading$ | async)"></app-loading>