:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
}

.grit-wallet-card {
    text-align: center;
    background-color: var(--white);
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid var(--grey-10);
}

.transactions-list {
    position: relative;
    border: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}