:host {
  display: block;
}

#ngForm > div:nth-child(7) > table {
  flex-direction: column;
}

.date-range__table {
  flex-direction: column;
}

.file-add__list-item {
  &.file-add {
    border-radius: 0;
  }
}

.item {
  &:last-child {
    border-bottom: none;
  }
}