<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async"
  [disabled]="(loading$ | async) || (editMode && !isEditReady)" formId="ngForm" (onSubmitClick)="saveAndBack()"
  [loading]="(loading$ | async) || (editMode && !isEditReady)">
  <!--Form Start-->

  <form [formGroup]="form" id="ngForm">

    <!--General Infos-->

    <div class="padding">
      <div class="photo-grid__container">
        <div cdkDropList cdkDropListOrientation="horizontal" class="photo-grid__inline"
          (cdkDropListDropped)="reorderImages($event)">
          <div class="photo-size position-relative" *ngIf="form.controls['photos'].value?.length < 6">
            <button type="button" class="file-add file-add__list-item" (click)="photosInput.click()"
              [ngClass]="form.controls['photos'].errors?.required && invalidImages ? 'errored' : ''">
              <i class="material-icons padding-bottom-small">photo_camera</i>
              <div>{{6 - form.controls['photos'].value?.length}}
                {{
                      form.controls['photos'].value?.length < 5
                      ? ('PAGES.SERVICE_ADD.PHOTOS' | translate)
                      : ('PAGES.SERVICE_ADD.PHOTO' | translate)
                    }}
              </div>
            </button>
            <input type="file" multiple accept="image/*" #photosInput (change)="selectPhotos($event)"
              formArrayName="photos">
            <app-loading [loading]="photosLoading"></app-loading>
          </div>

          <div cdkDrag *ngFor="let photo of form.controls['photos'].value; index as index"
            class="photo-size pointer relative-container">
            <img [src]="photo.link || defaultImage" class="thumbnail">
            <i class="material-icons remove-file photo-dragger" cdkDragHandle>open_with</i>
            <i class="material-icons remove-file" (click)="removeSelectedPhoto(index)">close</i>
          </div>
        </div>
      </div>
    </div>

    <mat-form-field class="margin-top">
      <input matInput placeholder="{{ 'PAGES.SERVICE_ADD.FORM.TITLE.PLACEHOLDER' | translate }}" maxlength=100
        #titleCounter formControlName="title">
      <p matSuffix class="grey padding-left-small">{{titleCounter?.value.length}}/100</p>
    </mat-form-field>

    <mat-form-field>
      <span matPrefix>€ &nbsp;</span>
      <input matInput appPriceInput type='text' mask="separator.2" thousandSeparator="."
        placeholder="{{ 'PAGES.SERVICE_ADD.FORM.PRICE.PLACEHOLDER' | translate }}" maxlength="15"
        formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.SERVICE_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{'GENERAL.CATEGORIES.SERVICE.' + category | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-input-with-mentions placeholder="{{ 'PAGES.SERVICE_ADD.FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
      formControlName="description"></app-input-with-mentions>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.SERVICE_ADD.FORM.PLACE_OF_PERFORMANCE.PLACEHOLDER' | translate }}"
        formControlName="performance">
        <mat-option value="provider" (click)="performanceLocation = true">
          {{ 'PAGES.SERVICE_ADD.FORM.PLACE_OF_PERFORMANCE.SERVICE_PROVIDER' | translate }}
        </mat-option>
        <mat-option value="customer" (click)="performanceLocation = false">
          {{ 'PAGES.SERVICE_ADD.FORM.PLACE_OF_PERFORMANCE.CUSTOMER' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="performanceLocation">
      <h2 class="sub-header no-padding-bottom">
        {{ 'PAGES.SERVICE_ADD.FORM.LOCATION_TITLE' | translate }}
      </h2>

      <app-address-input placeholder="{{ 'PAGES.SERVICE_ADD.FORM.ADDRESS.PLACEHOLDER' | translate }}"
        formControlName="address"></app-address-input>
    </div>

    <mat-form-field style="width: 50%" *ngIf="performanceLocation">
      <input matInput type='text' mask="separator.0" thousandSeparator="." min="1" maxlength="6"
        placeholder="{{ 'PAGES.SERVICE_ADD.FORM.QUANTITY.PLACEHOLDER' | translate }}" formControlName="quantity">
      <i matSuffix class="material-icons icon-small grey padding-left-small pointer" [satPopoverAnchor]="quantityP"
        (click)="quantityP.toggle()" (click)="$event.stopPropagation()">info</i>
      <sat-popover hasBackdrop #quantityP horizontalAlign="before" scrollStrategy="close">
        <div class="tooltip">
          {{ 'PAGES.SERVICE_ADD.FORM.QUANTITY.TOOLTIP' | translate }}
        </div>
      </sat-popover>
    </mat-form-field>

    <!--Schedule-->

    <div>
      <h2 class="sub-header no-padding-bottom">
        {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.TITLE' | translate }}
      </h2>

      <mat-form-field>
        <mat-select placeholder="{{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.FREQUENCY.PLACEHOLDER' | translate }}"
          formControlName="frequency" (selectionChange)="changeFrequency()">
          <mat-option [value]="true">
            {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.FREQUENCY.REGULAR' | translate }}
          </mat-option>
          <mat-option [value]="false">
            {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.FREQUENCY.IRREGULAR' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex">
        <mat-form-field style="width: 50%" *ngIf="!isMultipleDaysDuration">
          <mat-select placeholder="{{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.DURATION.PLACEHOLDER' | translate }}"
            formControlName="duration">
            <mat-option *ngFor="let duration of durations" [value]="duration.value">
              {{ 'GENERAL.DATE_TIME.DURATIONS.' + duration.name | translate }}
            </mat-option>
          </mat-select>
          <i matSuffix class="material-icons icon-small grey padding-left-small pointer" [satPopoverAnchor]="durationP"
            (click)="durationP.toggle()" (click)="$event.stopPropagation()">info</i>
          <sat-popover hasBackdrop #durationP horizontalAlign="before" scrollStrategy="close">
            <div class="tooltip">
              {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.DURATION.TOOLTIP' | translate }}
            </div>
          </sat-popover>
        </mat-form-field>

        <mat-form-field style="width: 50%" *ngIf="!isMultipleDaysDuration">
          <mat-select placeholder="{{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.BREAK.PLACEHOLDER' | translate }}"
            formControlName="break">
            <mat-option *ngFor="let break of breaks" [value]="break.value">
              {{ 'GENERAL.CATEGORIES.SERVICE_BREAKS.' + break.name | translate }}
            </mat-option>
          </mat-select>
          <i matSuffix class="material-icons icon-small grey padding-left-small pointer" [satPopoverAnchor]="breakP"
            (click)="breakP.toggle()" (click)="$event.stopPropagation()">info</i>
          <sat-popover hasBackdrop #breakP horizontalAlign="before" scrollStrategy="close">
            <div class="tooltip">
              {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.BREAK.TOOLTIP' | translate }}
            </div>
          </sat-popover>
        </mat-form-field>
      </div>
      <div class="error-message__appointment padding" *ngIf="noAnyAppointment">
        {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.ERRORS.NO_APPOINTMENT' | translate }}
      </div>

      <!--Regular-->

      <table formGroupName="dateRange" class="slider padding date-range__table" *ngIf="!isMultipleDaysDuration">
        <tr class="time-amount__row" *ngFor="let day of dateRangeForm.controls; let f=index" [formGroupName]="f">
          <td class="bold padding-right">
            <mat-slide-toggle [checked]="day.value.enabled" color="primary" (change)="toggleDay(day)"
              formControlName="enabled"></mat-slide-toggle>
          </td>
          <td class="grey bold padding-right time-amount__day-name">{{day.value.day | translate}}</td>
          <ng-container *ngIf="day.value.enabled">
            <td class="padding-right dateRange__container">
              <mat-form-field class="time-select">
                <mat-select formControlName="from_first" (selectionChange)="removeErrors(day, 'first')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <span class="time-amount__dash">
                &ndash;
              </span>
              <mat-form-field class="time-select">
                <mat-select formControlName="to_first" (selectionChange)="removeErrors(day, 'first')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="error-message"
                *ngIf="day.get('from_first').hasError('badRange') && day.get('to_first').hasError('badRange')">
                {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.REGULAR.ERRORS.BAD_RANGE' | translate }}
              </div>
            </td>
            <td style="text-align: left" *ngIf="!day.value.addition" (click)="toggleSecondTimeRange(day, true)"><i
                class="material-icons blue pointer">add</i></td>
          </ng-container>

          <td *ngIf="!day.value.enabled">
            {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.REGULAR.NO_APPOINTMENTS' | translate }}
          </td>

          <ng-container *ngIf="day.value.addition && day.value.enabled">
            <td class="padding-right time-amount__additional dateRange__container">
              <mat-form-field class="time-select">
                <mat-select formControlName="from_second" (selectionChange)="removeErrors(day, 'second')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <span class="time-amount__dash">
                &ndash;
              </span>
              <mat-form-field class="time-select">
                <mat-select class="time-select" formControlName="to_second"
                  (selectionChange)="removeErrors(day, 'second')">
                  <mat-option *ngFor="let time of timeValues" [value]="time.value">{{time.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="error-message"
                *ngIf="day.get('from_second').hasError('badRange') && day.get('to_second').hasError('badRange')">
                {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.REGULAR.BAD_RANGE' | translate }}
              </div>
            </td>
            <td (click)="toggleSecondTimeRange(day, false)">
              <i class="material-icons icon-small grey pointer">close</i>
            </td>
          </ng-container>
        </tr>
      </table>

      <!--Irregular-->

      <div formGroupName="dateRange" *ngIf="isMultipleDaysDuration">
        <div *ngFor="let dateRange of dateRangeForm.controls; let i=index" [formGroupName]="i"
          class="dateRange__container dateRange__container-irregular">
          <div class="flex">
            <mat-form-field style="width: 45%">
              <input matInput class="font-normal" (click)="togglePositionToDatepicker(true)"
                placeholder="{{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.IRREGULAR.FROM.PLACEHOLDER' | translate }}"
                [owlDateTime]="fromDate" [owlDateTimeTrigger]="fromDate" formControlName="from">
            </mat-form-field>
            <owl-date-time [firstDayOfWeek]="1" #fromDate></owl-date-time>

            <mat-form-field style="width: 45%">
              <input matInput class="font-normal" (click)="togglePositionToDatepicker(true)"
                placeholder="{{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.IRREGULAR.TO.PLACEHOLDER' | translate }}"
                [owlDateTime]="toDate" [owlDateTimeTrigger]="toDate" formControlName="to">
            </mat-form-field>
            <owl-date-time [firstDayOfWeek]="1" #toDate></owl-date-time>
            <button type="button" (click)="deleteDateRange(i, dateRange)">
              <i class="material-icons icon-small">close</i>
            </button>
          </div>

          <div class="error-message"
            *ngIf="dateRange.get('from').hasError('badRange') && dateRange.get('to').hasError('badRange')">
            {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.IRREGULAR.ERRORS.BAD_RANGE' | translate }}
          </div>
        </div>
      </div>
      <button *ngIf="isMultipleDaysDuration" type="button" class="blue padding-vertical margin-top"
        style="padding-left: 5px" (click)="addDateRange()">
        <i class="material-icons icon-small">add</i>
        {{ 'PAGES.SERVICE_ADD.FORM.SCHEDULE.APPOINTMENT' | translate }}
      </button>
    </div>
  </form>

  <!--Drafts-->

  <button type="button" class="icon-button grey" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
    [disabled]="!wasChanged()">
    <i class="material-icons padding-right">create</i>
    {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
  </button>

  <div class="border-top" *ngIf="(drafts$ | async)?.length > 0">
    <h2 class="sub-header background-grey-3 add-view-layout-border-fix">
      {{(drafts$ | async)?.length | i18nPlural: serviceDraftsMapping }}</h2>
    <div *ngFor="let service of drafts$ | async; trackBy: trackById"
      [ngClass]="{ disabled: service.uploading || service.processing }">
      <div class="item border-bottom border-top" (click)="selectDraft(service.id)">
        <app-thumbnail [url]="service.photoCover && service.photoCover.thumb || defaultImage" [item]="service">
        </app-thumbnail>

        <div class="item-text">
          <h2 *ngIf="service.title" class="black" ellipsis>{{service.title}}</h2>
          <h2 *ngIf="!service.title">{{ 'GENERAL.DRAFTS.NO_TITLE' | translate }}</h2>
          <h2 class="black bold">{{service.price | customCurrency}}</h2>
        </div>

        <!--Delete Draft-->

        <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD)">
          <i class="material-icons icon-small">delete</i>
        </button>

        <ng-template #deleteDraftD>
          <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red" matDialogClose
              (click)="deleteDraft(service)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

</add-view-layout>