:host {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.sub-header {
  left: 0;
  width: 100%;
  background: #fff;
}

.reports-table {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  
  th, td {
    text-align: center;
  }
}
.report-tooltip {
  font-size: 14px;
  line-height: 16px;
  color: #000 !important;
  background: #fff;
  border: 1px solid #000;
}
