<app-no-items-placeholder [show]="!dataSource.data.length" [text]="total$ | async | i18nPlural : reportsMapping" class="sub-header-title"></app-no-items-placeholder>
<div class="sub-header border-bottom" *ngIf="dataSource.data.length">
  <ng-container *ngIf="header">
    <h2 class="sub-header-title">{{ total$ | async | i18nPlural : reportsMapping }}</h2>
    <div class="item-end">
      <button *ngIf="(total$ | async) > 1" class="margin-right" (click)="showSearch()">
        <i class="material-icons">search</i>
      </button>
      <button [satPopoverAnchor]="reportFilterP" (click)="reportFilterP.toggle()">
        <i class="material-icons">tune</i>
      </button>
    </div>
  </ng-container>

  <!-- Search -->

  <div class="search-content" *ngIf="search">
    <button class="item-start padding-right" (click)="showHeader()">
      <i class="material-icons">arrow_back</i>
    </button>
    <input #searchInput #searchInputElement autoFocus placeholder="Search" class="search-content-input"
      [(ngModel)]="searchValue">
    <button class="item-end padding-right" *ngIf="searchValue" (click)="searchValue = ''">
      <i class="material-icons">close</i>
    </button>
    <button [satPopoverAnchor]="reportFilterP" (click)="reportFilterP.toggle()">
      <i class="material-icons">tune</i>
    </button>
  </div>

  <!--Filter-->

  <sat-popover #reportFilterP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover">
      <h2 class="filter-header">Filter</h2>
      <form [formGroup]="filterForm">
        <mat-form-field>
          <mat-select placeholder="{{ 'GENERAL.LIST_FILTER.TYPE' | translate }}" (click)="$event.stopPropagation()"
            formControlName="type">
            <mat-option *ngFor="let type of types$ | async" [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{ 'GENERAL.LIST_FILTER.CATEGORY' | translate }}" (click)="$event.stopPropagation()"
            formControlName="category">
            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="{{ 'GENERAL.LIST_FILTER.STATUS' | translate }}" (click)="$event.stopPropagation()"
            formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status.id">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </sat-popover>

</div>


<table cdk-table class="reports-table" [dataSource]="dataSource" *ngIf="dataSource.data.length">
  <!-- Id Column -->
  <ng-container cdkColumnDef="id">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.ID' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">{{ col.id }}</td>
  </ng-container>

  <!-- Type Column -->
  <ng-container cdkColumnDef="type">
    <th cdk-header-cell *cdkHeaderCellDef>Type</th>
    <td class="capitalize" cdk-cell *cdkCellDef="let col">{{ col.type?.name }}</td>
  </ng-container>

  <!-- Reporter Column -->
  <ng-container cdkColumnDef="user">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.REPORTER' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">
      <a class="pointer" [routerLink]="col?.user?.business?.pageName || col?.user?.person?.pageName">
        {{ col.user?.business?.name || col.user?.person?.fullName }}
      </a>
    </td>
  </ng-container>

  <!-- Reported Column -->
  <ng-container cdkColumnDef="target">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.REPORTED' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">
      <a class="pointer" [routerLink]="col?.target?.business?.pageName || col?.target?.person?.pageName">
        {{ col.target?.business?.name || col.target?.person?.fullName }}
      </a>
    </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container cdkColumnDef="category">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.CATEGORY' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">{{ col.category?.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container cdkColumnDef="description">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.DESCRIPTION' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">
      <button *ngIf="col.description" [satPopoverAnchor]="descriptionP" (click)="descriptionP.toggle()">
        <i class="material-icons">description</i>
      </button>
      <sat-popover hasBackdrop #descriptionP verticalAlign="below" scrollStrategy="close">
        <div class="popover padding">
          {{ col.description }}
        </div>
      </sat-popover>
    </td>
  </ng-container>

  <!-- Created Column -->
  <ng-container cdkColumnDef="created">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.CREATED' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">{{ col.created | date: "dd MMM yyyy, h:mm aaaaa'm'" }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container cdkColumnDef="status">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.STATUS' | translate }}</th>
    <td class="capitalize" cdk-cell *cdkCellDef="let col"> {{ col.status }} </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container cdkColumnDef="options">
    <th cdk-header-cell *cdkHeaderCellDef>{{ 'PAGES.REPORTS.REPORT_LIST.COLUMN_NAME.OPTIONS' | translate }}</th>
    <td cdk-cell *cdkCellDef="let col">
      <button [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
        <i class="material-icons">more_vert</i>
      </button>

      <sat-popover hasBackdrop #moreP verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <button class="icon-button" [appMessageTo]="getUserId(col.user)">
            <i class="material-icons padding-right">chat_bubble</i>Message Creator
          </button>
          <button class="icon-button" [appMessageTo]="getUserId(col.user)">
            <i class="material-icons padding-right">chat_bubble</i>Message Reporter
          </button>
          <button class="icon-button" (click)="checkingReport(col.id); moreP.close()">
            <i class="material-icons padding-right">schedule</i>Checking
          </button>
          <button class="icon-button" (click)="checkReport(col.id); moreP.close()">
            <i class="material-icons padding-right">done</i>Checked
          </button>
          <button class="icon-button" (click)="deleteReport(col.id); moreP.close()">
            <i class="material-icons padding-right">close</i>Remove
          </button>
        </div>
      </sat-popover>
    </td>
  </ng-container>

  <!-- Rows -->
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>


<app-loading [loading]="loading$ | async"></app-loading>