<div class="header">
  <button class="item-start margin-right" mat-dialog-close>
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">{{ (likes$ | async)?.length | i18nPlural: likesMapping }}</h2>

  <button class="item-end" [class.blue]="review.liked" (click)="like()">
    <i class="material-icons">thumb_up</i>
  </button>
</div>

<div class="item" *ngFor="let user of likes$ | async" (click)="goToUserPage(user)">
  <img [src]="getUserPhoto(user)" class="avatar">
  <div class="item-text">
    <h2 class="black">{{ user.person.fullName }}</h2>
  </div>
  <ng-container *ngIf="(loggedInAccountId$ | async) !== user.id">
    <button class="item-end" [class.blue]="!isFollowing(user)" (click)="follow(user, $event)">
      <div class="bold">{{
        isFollowing(user)
        ? ('GENERAL.STATUSES.FOLLOWING' | translate)
        : ('GENERAL.ACTIONS.FOLLOW' | translate)
      }}</div>
    </button>
  </ng-container>
</div>

<app-loading [loading]="loading$ | async"></app-loading>
