:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  min-height: 49px;
}

.footer {
  min-height: 89px;
}

.homepage-content {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
}

.slides {
  display: flex;
  justify-content: center;

  &-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    &-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      h2,p {
        text-align: center;
      }
    }


    &-image {
      width: 100%;
      flex: 3;
    }
  }
}

/* restore password form */

.restore-password-form .restore-password-form__submit-button {
  position: relative;
  margin-top: 1.25em;
  margin-bottom: 10px;
}

/* swiper */

.homepage-swiper__description {
  position: relative;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: var(--grey-3);
}

.homepage-swiper__image {
  position: relative;
  height: auto;
  width: 100%;
  border: 1px solid var(--grey-10);
  border-radius: 10px;
}

.homapage-language {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  :host {
    min-height: auto;

    .slides {
      flex-direction: column;

      &-item {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }

        &:nth-child(2) {
          order: 1;
        }

        &:first-child {
          order: 2;
        }

        &:nth-child(3) {
          order: 3;
        }
      }
    }
  }
}