<div class="header border-bottom" style="background-color: white">
  <div class="item-start flex-center-row pointer" (click)="languageP.toggle()" [satPopoverAnchor]="languageP">
    <mat-icon class="item-start grey">
      language
    </mat-icon>
    <span class="grey padding-left homapage-language">{{ selectedLanguage?.code | uppercase }}</span>
  </div>

  <sat-popover #languageP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover" (click)="languageP.close()">
      <button class="icon-button" *ngFor="let lang of languages" (click)="changeLanguage(lang)">
        {{ lang.name | titlecase }}
      </button>
    </div>
  </sat-popover>

  <div class="item-end">
    <button class="round-button-outline margin-right" style="width: 100px; padding: 5px" routerLink="/login">
      {{ 'PAGES.HOMEPAGE.LOG_IN' | translate }}
    </button>
    <button class="round-button" style="width: 100px; padding: 5px" routerLink="/register">
      {{ 'PAGES.HOMEPAGE.SIGN_UP' | translate }}
    </button>
  </div>
</div>

<div class="homepage-content">
  <div class="slides">
      <div class="slides-item" *ngFor="let slide of slides$ | async">
          <div class="slides-item-text grey">
              <h2 class="font-size-24 bold">{{slide.header}}</h2>
              <p class="font-size-20">{{slide.textOne}}</p>
              <p class="font-size-20">{{slide.textTwo}}</p>
          </div>
          <img class="slides-item-image" [src]="slide.photo" >
        </div>
  </div>
</div>


<div class="flex-center grey background-white border-top padding footer">
  <p class="link font-small margin-bottom">{{ 'PAGES.HOMEPAGE.PRIVACY' | translate }}</p>
  <p class="link font-small margin-bottom">{{ 'PAGES.HOMEPAGE.LEGAL_NOTICE' | translate }}</p>
  <p class="font-small">{{ 'PAGES.HOMEPAGE.YEAR' | translate }}</p>
</div>