static_resources:
  listeners:
  - name: master-nodes
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 6443 #Kubernetes Default Port
    filter_chains:
    - filters:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: ingress_tcp
          cluster: lb.grit.sc
  - name: worker-nodes-http
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 80
    filter_chains:
    - filters:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: ingress_tcp
          cluster: worker-http
  - name: worker-nodes-https
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 443
    filter_chains:
    - filters:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: ingress_tcp
          cluster: worker-https

  clusters:
  - name: lb.grit.sc
    connect_timeout: 0.25s
    type: strict_dns # static
    lb_policy: round_robin
    hosts:
{% for item in groups['kube-master'] %}
{% if hostvars[item].ansible_host is defined %}
    - socket_address:
        address: {{ hostvars[item].ansible_host }}
        port_value: 6443 #Kubernetes Default Port
{% endif %}
{% endfor %}
    health_checks:
    - timeout: 5s
      interval: 5s
      unhealthy_threshold: 1
      healthy_threshold: 1
      http_health_check:
        path: "/healthz"
  - name: worker-http
    connect_timeout: 0.25s
    type: strict_dns # static
    lb_policy: maglev
    hosts:
{% for item in groups['kube-node'] %}
{% if hostvars[item].ansible_host is defined %}
    - socket_address:
        address: {{ hostvars[item].ansible_host }}
        port_value: {{ hostvars["master_server"]["istio_http_port"] }}
{% endif %}
{% endfor %}
  - name: worker-https
    connect_timeout: 0.25s
    type: strict_dns # static
    lb_policy: maglev
    hosts:
{% for item in groups['kube-node'] %}
{% if hostvars[item].ansible_host is defined %}
    - socket_address:
        address: {{ hostvars[item].ansible_host }}
        port_value: {{ hostvars["master_server"]["istio_https_port"] }}
{% endif %}
{% endfor %}