#!/bin/bash
export HCLOUD_TOKEN='{{ hetzner_cloud_token }}'
floating_ip_name=$1

ME=`hcloud server describe $(hostname) | head -n 1 | sed 's/[^0-9]*//g'`

HTTP_IP_CURRENT_SERVER_ID=`hcloud floating-ip describe $floating_ip_name | grep 'Server:' -A 1 | tail -n 1 | sed 's/[^0-9]*//g'`

if [ "$HTTP_IP_CURRENT_SERVER_ID" != "$ME" ] ; then
  n=0
  while [ $n -lt 10 ]
  do
    hcloud floating-ip unassign $floating_ip_name
    hcloud floating-ip assign $floating_ip_name $ME && break
    n=$((n+1))
    sleep 3
  done
fi