global_defs {
   enable_script_security
   script_user root
}

vrrp_script chk_envoy {
  script       "/usr/bin/pgrep envoy" #Our custom health check
  interval 2   # check every 2 seconds
}

vrrp_instance VI_1 {
    state BACKUP
    interface eth0  #REPLACE WITH YOUR NETWORK INTERFACE
    virtual_router_id 50
    priority {{ keepalive_priority }} #PRIORITY
    advert_int 1
    unicast_src_ip  {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    unicast_peer {
        {{ keepalive_unicast_peer_lb1 }}
    }
    authentication {
        auth_type PASS
        auth_pass MYPASSWORD #PASSWORD
    }
    virtual_ipaddress {
        {{ floating_ip_lb1 }}
    }

    track_script {
        chk_envoy
    }

    notify_master "/root/hetzner_float_ip.sh {{ floating_ip_lb1_name }}"
}

vrrp_instance VI_2 {
    state BACKUP
    interface eth0  #REPLACE WITH YOUR NETWORK INTERFACE
    virtual_router_id 51
    priority {{ keepalive_priority }} #PRIORITY
    advert_int 1
    unicast_src_ip  {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    unicast_peer {
        {{ keepalive_unicast_peer_lb2 }}
    }
    authentication {
        auth_type PASS
        auth_pass MYPASSWORD #PASSWORD
    }
    virtual_ipaddress {
        {{ floating_ip_lb2 }}
    }

    track_script {
        chk_envoy
    }

    notify_master "/root/hetzner_float_ip.sh {{ floating_ip_lb2_name }}"
}