<button [satPopoverAnchor]="moreP" (click)="moreP.toggle()">
  <i class="material-icons">more_vert</i>
</button>

<sat-popover hasBackdrop #moreP verticalAlign="below" scrollStrategy="close">
  <div class="popover">
    <button class="icon-button">
      <i class="material-icons padding-right">chat_bubble</i>
      {{ 'PAGES.REPORTS.REPORT_OPTIONS.MESSAGE_CREATOR' | translate }}
    </button>
    <button class="icon-button">
      <i class="material-icons padding-right">chat_bubble</i>
      {{ 'PAGES.REPORTS.REPORT_OPTIONS.MESSAGE_REPORTER' | translate }}
    </button>
    <button class="icon-button">
      <i class="material-icons padding-right">schedule</i>
      {{ 'PAGES.REPORTS.REPORT_OPTIONS.CHECKING' | translate }}
    </button>
    <button class="icon-button">
      <i class="material-icons padding-right">done</i>
      {{ 'PAGES.REPORTS.REPORT_OPTIONS.CHECKED' | translate }}
    </button>
    <button class="icon-button">
      <i class="material-icons padding-right">close</i>
      {{ 'PAGES.REPORTS.REPORT_OPTIONS.REMOVE' | translate }}
    </button>
  </div>
</sat-popover>
