
<div class="header">
  <button class="item-start" (click)="close()">
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">
    {{
      reply
      ? ('DIALOGS.COMMENT_EDIT.TITLE_REPLY' | translate)
      : ('DIALOGS.COMMENT_EDIT.TITLE_COMMENT' | translate)
    }}
  </h2>

  <div class="item-end" style="width: 24px;"></div>
</div>

<form class="message-footer border-top" [formGroup]="editCommentForm">
  <img [src]="userPhoto$ | async" class="avatar-small">

  <app-input-with-mentions
    placeholder="{{ 'DIALOGS.COMMENT_EDIT.FORM.TEXT.PLACEHOLDER' | translate }}"
    formControlName="text"
    inputClass="message-input"
    [materialDesign]="false"
  ></app-input-with-mentions>

  <button class="blue item-end" [hidden]="editCommentForm.invalid" (click)="editComment()">
    <i class="material-icons">send</i>
  </button>
</form>
