<mat-form-field>
  <mat-select
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="propagateChange($event)"
    [errorStateMatcher]="matcher"
    [required]="required"
  >
    <mat-select-trigger>
      <div *ngIf="selectedPayment?.name" class="option-item">
        <span class="option-item-holder">
          <span class="material-icons icon-small margin-horizontal">account_balance</span>
        </span>
        <span
          *ngFor="let i of [1, 2, 3, 4]"
          class="material-icons option-item-dot"
        >
          fiber_manual_record
        </span>
        <span class="option-item-label">{{ selectedPayment.iban | slice : -4 }}</span>
      </div>

      <div *ngIf="selectedPayment?.alias" class="option-item">
        <div class="option-item-logo" *ngIf="checkCreditCardType(selectedPayment.alias) === 'visa'">
          <img src="../../../../assets//icons/visa.png" />
        </div>
        <div class="option-item-logo" *ngIf="checkCreditCardType(selectedPayment.alias) === 'mastercard'">
          <img src="../../../../assets//icons/mastercard.png" />
        </div>
        <span
          *ngFor="let i of [1, 2, 3, 4]"
          class="material-icons option-item-dot"
        >
          fiber_manual_record
        </span>
        <span class="option-item-label">{{ selectedPayment.alias | slice : -4 }}</span>
      </div>
    </mat-select-trigger>

    <ng-container *ngFor="let payment of payments$ | async">
      <mat-option [value]="payment.id">
        <div class="option-text-space-between" *ngIf="payment.iban && !onlyCard">
          <div class="option-item">
            <span class="option-item-holder">
              <span class="option-item-holder">
                <span class="material-icons icon-small margin-horizontal">account_balance</span>
              </span>
            </span>
            <span
              *ngFor="let i of [1, 2, 3, 4]"
              class="material-icons option-item-dot"
            >
              fiber_manual_record
            </span>
            <span class="option-item-label">{{ payment.iban | slice : -4 }}</span>
          </div>
          <i
            class="material-icons icon-small"
            [satPopoverAnchor]="accountMore"
            (click)="openAccountMorePopover(accountMore, $event)"
          >
            more_vert
          </i>
        </div>

        <div class="option-text-space-between" *ngIf="payment.alias && !onlyBank">
          <div class="option-item">
            <div
              *ngIf="checkCreditCardType(payment.alias) === 'visa'"
              class="option-item-logo"
            >
              <img src="../../../../assets//icons/visa.png" />
            </div>
            <div
              *ngIf="checkCreditCardType(payment.alias) === 'mastercard'"
              class="option-item-logo"
            >
              <img src="../../../../assets//icons/mastercard.png" />
            </div>
            <span
              *ngFor="let i of [1, 2, 3, 4]"
              class="material-icons option-item-dot"
            >
              fiber_manual_record
            </span>
            <span class="option-item-label">
              {{ payment.alias | slice : -4 }}
            </span>
          </div>
          <i
            class="material-icons icon-small"
            [satPopoverAnchor]="cardMore"
            (click)="openAccountMorePopover(cardMore, $event)"
          >
            more_vert
          </i>
        </div>
      </mat-option>

      <sat-popover #accountMore hasBackdrop scrollStrategy="close">
        <div class="popover">
          <button class="icon-button" (click)="openEditAccountDialog(payment, accountMore)">
            <i class="material-icons padding-right">create</i>
            {{ 'GENERAL.ACTIONS.EDIT' | translate }}
          </button>
          <button class="icon-button" (click)="accountMore.close()">
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </sat-popover>

      <ng-template #deleteAccountD *ngIf="payment.iban">
        <h2 class="dialog-header">
          {{ 'DIALOGS.ACCOUNT_DELETE.TITLE' | translate }}
        </h2>
        <div class="dialog-buttons">
          <button matDialogClose>
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <button class="red" matDialogClose (click)="deleteAccount(payment.id, accountMore)">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </ng-template>

      <sat-popover #cardMore hasBackdrop scrollStrategy="close">
        <div class="popover">
          <button class="icon-button" (click)="accountMore.close()">
            <i class="material-icons padding-right">delete</i>
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </sat-popover>

    </ng-container>
  </mat-select>

  <i
    matSuffix
    class="material-icons icon-small grey pointer"
    style="padding: 0 5px"
    [satPopoverAnchor]="accountInfoP"
    (click)="accountInfoP.toggle();
    $event.stopPropagation()"
  >
    info
  </i>

  <sat-popover hasBackdrop #accountInfoP horizontalAlign="before" scrollStrategy="close">
    <div class="tooltip">
      {{ 'COMPONENTS.BANK_INPUT.TOOLTIP' | translate }}
    </div>
  </sat-popover>

  <i matSuffix class="material-icons blue pointer" (click)="openAddAccountDialog($event)">add</i>
</mat-form-field>
