.option-item {
  display: flex;
  align-items: center;
}

.option-item-logo {
  display: inline-flex;
  width: 32px;
  margin-right: 16px;
}

.option-item-holder {
  margin-right: 4px;
}

.option-item-dot {
  font-size: 10px;
  width: 10px;
  height: 10px;
  margin: 0;
}

.option-item-label {
  margin-left: 4px;
}