<app-content-layout>
    <ng-container *ngIf="order$ | async">
        <ng-container *ngIf="pageType === 'purchases'">
            <purchases-product *ngIf="(order$ | async).type === 'order'" [item]="order$ | async"></purchases-product>
            <purchases-service *ngIf="(order$ | async).type === 'booking'" [item]="order$ | async"></purchases-service>
        </ng-container>
        <ng-container *ngIf="pageType === 'sales'">
            <sales-product *ngIf="(order$ | async).type === 'order'" [item]="order$ | async"></sales-product>
            <sales-service *ngIf="(order$ | async).type === 'booking'" [item]="order | async"></sales-service>
        </ng-container>
    </ng-container>
    <app-loading [loading]="loading$ | async"></app-loading>
</app-content-layout>