:host {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey-3);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  &.global {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
  }
}
