<list-view-layout [loading]="navigating || (loading$ | async)" [disableBorders]="true" [isListEmpty]="!(total$ | async) && !(loading$ | async)" [emptyTextPlaceholder]="(total$ | async | i18nPlural: photoMapping)">
  <!--Header Start-->

  <div class="sub-header border-bottom border-left border-right" *ngIf="total$ | async as total">
    <h2 class="sub-header-title">{{ total | i18nPlural: photoMapping }}</h2>

    <!--Filter-->

    <button class="item-end" [satPopoverAnchor]="filterP" (click)="filterP.toggle()" *ngIf="total > 1"><i
        class="material-icons">tune</i></button>

    <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
        <button class="icon-button" (click)="applyFilter('date'); filterP.close()">
          <i class="material-icons padding-right">schedule</i>
          {{ 'GENERAL.LIST_FILTER.DATE' | translate }}
        </button>
        <button class="icon-button" (click)="applyFilter('views'); filterP.close()">
          <i class="material-icons padding-right">visibility</i>
          {{ 'GENERAL.LIST_FILTER.VIEWS' | translate }}
        </button>
        <button class="icon-button" (click)="applyFilter('likes'); filterP.close()">
          <i class="material-icons padding-right">thumb_up</i>
          {{ 'GENERAL.LIST_FILTER.LIKES' | translate }}
        </button>
      </div>
    </sat-popover>
  </div>

  <!--Header End-->

  <!--List-->
  <app-infinite-scroll-with-loader class="photo-infinite-list" (scrolled)="onScroll()" [showLoading]="lazyLoading$ | async">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="2" class="background-grey-3">
      <mat-grid-tile *ngFor="let photo of (photos$ | async); trackBy: trackById"
        [ngClass]="{ disabled: photo.uploading || photo.processing }">
        <app-thumbnail [routerLink]="[photo.id]" [url]="generatePhotoUrl(photo)" [item]="photo"
          [additionalClass]="photo.filterName"></app-thumbnail>
      </mat-grid-tile>
    </mat-grid-list>
  </app-infinite-scroll-with-loader>

</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="(total$ | async) && !(loading$ | async)"></div>
  <!--Add-->
<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>