:host {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.photo-infinite-list {
  height: calc(100% - 45px);
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .sub-header {
    border-left: none;
    border-right: none;
  }

  .item {
    border-left: none;
    border-right: none;
  }
}