  <h2 class="sub-header-title padding" style="font-size: 20px">
    {{ 'PAGES.FORGOT_PASSWORD.TITLE' | translate }}
  </h2>

  <form [formGroup]="changePassForm">
    <mat-form-field>
      <input matInput formControlName="password"
        placeholder="{{ 'PAGES.FORGOT_PASSWORD.FORM.PASSWORD.PLACEHOLDER' | translate }}"
        [type]="passwordNew ? 'text' : 'password'">
      <i matSuffix class="material-icons icon-small grey pointer margin-left"
        (click)="showPassword($event, 'passwordNew')">visibility</i>
      <mat-error *ngIf="changePassForm.controls['password'].hasError('required')">
        {{ 'PAGES.FORGOT_PASSWORD.FORM.PASSWORD.ERRORS.REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="changePassForm.controls['password'].hasError('passwordNotValid')">
        {{ 'PAGES.FORGOT_PASSWORD.FORM.PASSWORD.ERRORS.INVALID' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="confirmPassword"
        placeholder="{{ 'PAGES.FORGOT_PASSWORD.FORM.CONFIRM.PLACEHOLDER' | translate }}"
        [type]="passwordConfirm ? 'text' : 'password'" [errorStateMatcher]="matcher">
      <i matSuffix class="material-icons icon-small grey pointer margin-left"
        (click)="showPassword($event, 'passwordConfirm')">visibility</i>
      <mat-error *ngIf="changePassForm.controls['confirmPassword'].hasError('notSame')">
        {{ 'PAGES.FORGOT_PASSWORD.FORM.CONFIRM.ERRORS.NOT_SAME' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
  <div class="flex-center">
    <button class="round-button" style="margin-top: 1.25em; margin-bottom: 10px" (click)="changePassword()">
      {{ 'PAGES.FORGOT_PASSWORD.ACTIONS.CHANGE_PASSWORD' | translate }}
    </button>
  </div>