
<form [formGroup]="addressForm" class="address-form" (ngSubmit)="saveAddress()">
  <div class="header">
    <button class="item-start" type="button" matDialogClose>
      <i class="material-icons">arrow_back</i>
    </button>

    <h2 class="header-title">{{ 'DIALOGS.ADDRESS.TITLE' | translate }}</h2>

    <button type="submit" class="blue item-end">
      <i class="material-icons">send</i>
    </button>
  </div>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.ADDRESS.FORM.FULL_NAME.PLACEHOLDER' | translate }}"
      formControlName="fullName"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.ADDRESS.FORM.STREET_AND_NUMBER.PLACEHOLDER' | translate }}"
      formControlName="street"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.ADDRESS.FORM.APPENDIX.PLACEHOLDER' | translate }}"
      formControlName="appendix"
    >
  </mat-form-field>

  <div class="flex">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'DIALOGS.ADDRESS.FORM.ZIP.PLACEHOLDER' | translate }}"
        formControlName="zip"
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'DIALOGS.ADDRESS.FORM.CITY.PLACEHOLDER' | translate }}"
        formControlName="city"
      >
    </mat-form-field>
  </div>
</form>