<div class="home-add-content-wrapper flex-center-column">
  <div class="header-wrapper">
    <div class="header background-white border-bottom border-left border-right">
      <button class="item-start back-button" (click)="back()"><i class="material-icons">arrow_back</i></button>
  
      <div class="item no-padding no-link position-center">
        <img [attr.src]="(loggedInAccountPhoto$ | async)" class="avatar-small">
      </div>
    </div>
  </div>

  <app-content-layout class="border-bottom">
    <button class="icon-button" routerLink="../../texts/add">
      <i class="material-icons padding-right">font_download</i>
      {{ 'PAGES.HOME_ADD.TEXT' | translate }}
    </button>

    <button class="icon-button" routerLink="../../photos/add">
      <i class="material-icons padding-right">photo_camera</i>
      {{ 'PAGES.HOME_ADD.PHOTO' | translate }}
    </button>

    <button class="icon-button" routerLink="../../videos/add">
      <i class="material-icons padding-right">videocam</i>
      {{ 'PAGES.HOME_ADD.VIDEO' | translate }}
    </button>

    <button class="icon-button" routerLink="../../blog/add">
      <i class="material-icons padding-right">insert_drive_file</i>
      {{ 'PAGES.HOME_ADD.ARTICLE' | translate }}
    </button>

    <button class="icon-button" routerLink="../../shop/add">
      <i class="material-icons padding-right">shopping_basket</i>
      {{ 'PAGES.HOME_ADD.PRODUCT' | translate }}
    </button>

    <button class="icon-button" routerLink="../../services/add">
      <i class="material-icons padding-right">person</i>
      {{ 'PAGES.HOME_ADD.SERVICE' | translate }}
    </button>
  </app-content-layout>
</div>