<list-view-layout [loading]="navigating || (loading$ | async)" [isListEmpty]="!(total$ | async) && !(loading$ | async)"
  [emptyTextPlaceholder]="(total$ | async | i18nPlural: videoMapping)">
  <!--Header Start-->

  <div class="sub-header border-left border-right" *ngIf="total$ | async as total">
    <h2 class="sub-header-title">{{ total | i18nPlural: videoMapping }}</h2>

    <!--Filter-->

    <button class="item-end" [satPopoverAnchor]="filterP" (click)="filterP.toggle()" *ngIf="total > 1">
      <i class="material-icons">tune</i>
    </button>

    <sat-popover #filterP hasBackdrop verticalAlign="below" scrollStrategy="close">
      <div class="popover">
        <h2 class="filter-header">{{ 'GENERAL.LIST_FILTER.TITLE' | translate }}</h2>
        <button class="icon-button" (click)="dateFilter(filterP)">
          <i class="material-icons padding-right">schedule</i>
          {{ 'GENERAL.LIST_FILTER.DATE' | translate }}
        </button>
        <button class="icon-button" (click)="viewFilter(filterP)">
          <i class="material-icons padding-right">visibility</i>
          {{ 'GENERAL.LIST_FILTER.VIEWS' | translate }}
        </button>
        <button class="icon-button" (click)="likeFilter(filterP)">
          <i class="material-icons padding-right">thumb_up</i>
          {{ 'GENERAL.LIST_FILTER.LIKES' | translate }}
        </button>
      </div>
    </sat-popover>
  </div>

  <!--Header End-->

  <!--List Start-->
  <app-infinite-scroll-with-loader class="tabs-infinite-scroll-viewport" (scrolled)="triggerScroll()"
    [showLoading]="lazyLoading$ | async">

    <div class="item border-bottom border-left border-right" *ngFor="let video of (videos$ | async); trackBy: trackById"
      [routerLink]="[video.id]" [ngClass]="{ disabled: video.uploading || video.processing }">
      <div class="video-duration-container">
        <app-thumbnail [url]="video.cover" [item]="video"></app-thumbnail>

        <p class="video-duration" *ngIf="video.duration && !(video.uploading || video.processing)">{{video.duration}}
        </p>
      </div>
      <div class="item-text">
        <h2 *ngIf="video.title" class="black" ellipsis>{{video.title}}</h2>
        <p>{{viewableAccountFullName$ | async}}</p>
        <p>{{video.created | timeAgo}}</p>
        <div class="info-icons">
          <ng-container *ngIf="video.viewsCount">
            <i class="material-icons icon-small icon-padding-right">visibility</i>
            <p class="padding-right">{{video.viewsCount | number}}</p>
          </ng-container>
          <ng-container *ngIf="video.likesCount">
            <i class="material-icons icon-small icon-padding-right" [class.blue]="video.liked">thumb_up</i>
            <p>{{video.likesCount | number}}</p>
          </ng-container>
        </div>
      </div>

      <!--Actions-->

      <button class="item-end" [satPopoverAnchor]="moreP" (click)="moreP.toggle()" (click)="$event.stopPropagation()"><i
          class="material-icons icon-small">more_vert</i></button>

      <sat-popover #moreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <bookmark-link-item [id]="video.id" type="video" [isBookmark]="video.bookmarked"
            (handleClick)="moreP.close()"></bookmark-link-item>
          <share-link-item link="{{ currentUrl + '/' + video.id }}" (handleClick)="moreP.close()"></share-link-item>
          <copy-link-item link="{{ currentUrl + '/' + video.id }}" (handleClick)="moreP.close()"></copy-link-item>
          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <button class="icon-button" routerLink="add" [queryParams]="{id: video.id}">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="deleteDialog(deleteD); moreP.close()">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <button *ngIf="(loggedInAccountId$ | async) != video?.user?.id" class="icon-button" (click)="moreP.close()">
            <i class="material-icons padding-right">info</i>
            {{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>
        </div>
      </sat-popover>

      <ng-template #deleteD>
        <h2 class="dialog-header">{{ 'DIALOGS.VIDEO_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" matDialogClose (click)="deleteVideo(video.id)">
            {{ 'GENERAL.ACTIONS.DELETE' | translate }}
          </button>
        </div>
      </ng-template>

      <ng-template #reportD>
        <app-report-add [contentType]="'video'" [contentId]="video.id"></app-report-add>
      </ng-template>
    </div>

    <!-- <div class="addable-item-list-bottom-spacer"></div> -->

  </app-infinite-scroll-with-loader>

  <!--List End-->
</list-view-layout>
<div class="addable-item-list-bottom-spacer" *ngIf="total$ | async"></div>

<!--Add-->

<div class="fab-wrapper">
  <button class="fab" routerLink="add"
    *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
    (click)="navigating = true">
    <i class="material-icons white">add</i>
  </button>
</div>