:host {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item {
  &:first-child {
    border-top: 1px solid var(--grey-10);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-10);
  }
}

@media screen and (max-width: 600px) {
  .sub-header {
    border-left: none;
    border-right: none;
  }

  .item {
    border-left: none;
    border-right: none;
  }
}