:host {
    .no-items-placeholder {
        &-text {
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            color: var(--grey);
        }
    }

    &.displayed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}