:host {
  display: block;
  position: relative;
}

.article__photo {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.article__photo img {
  position: relative;
  width: 100%;
  height: auto;
}

.flex-column {
  justify-content: center;
  align-items: center;
}

::ng-deep h1 {
  font-size: 18px;
}

:host ::ng-deep .editor-output {
  p {
    img {
      $padding: 10px; // it is equal to outer container padding (class ".padding");
      $width: calc(100% + #{$padding} * 2);
      width: $width;
      min-width: $width;
      margin-left: -$padding;
      margin-right: -$padding;
    }
  }
}

.editor-output {
  display: flex;
}