:host {
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
}

.thumbnail-image {
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.thumbnail-preloader {
  z-index: 1 !important;
}

.progress-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--grey-10);
  z-index: 2 !important; // should be more then in preloader
}
