<img #img [ngClass]="additionalClass" class="thumbnail-image">
<app-loading [loading]="preloading" [isGlobal]="false" [immediateShow]="true" class="thumbnail-preloader"></app-loading>

<ng-container *ngIf="item$ | async as item">
  <ng-container *ngIf="item?.uploading">
    <div class="progress-container">
      <mat-spinner diameter="50" value="{{ item?.progress }}" mode="determinate"></mat-spinner>
      <div class="progress-container-percentage">{{ item?.progress }}%</div>
    </div>
  </ng-container>

  <ng-container *ngIf="item?.processing">
    <div class="progress-container">
      <mat-spinner diameter="50"></mat-spinner>
      <div class="progress-container-percentage">
        {{ 'GENERAL.STATUSES.PROCESSING' | translate }}
      </div>
    </div>
  </ng-container>
</ng-container>
