<div class="review-add-wrapper background-grey-3 flex-stretch flex-center-column">
  <app-content-layout class="border-bottom">
    <form [formGroup]="reviewForm" id="ngForm" (ngSubmit)="addReview()" #starsForm="ngForm">

      <div class="header flex-between">
        <button type="button" class="margin-right" (click)="close()">
          <i class="material-icons">arrow_back</i>
        </button>

        <h2 class="header-title center">
          {{ 'DIALOGS.REVIEW_ADD.TITLE' | translate }}
        </h2>

        <button type="submit" class="blue button-disabled">
          <i class="material-icons">send</i>
        </button>
      </div>


      <div class="content-center">
        <div class="item no-link">
          <img [src]="cover || getDefaultImage()" class="review-cover" [class.avatar]="entity === 'seller'">
        </div>
        <div *ngIf="entity === 'seller'" class="item-text">
          <h2 class="black">{{ getUserName(item) }}</h2>
        </div>

        <h2 class="review-header">
          {{ 'DIALOGS.REVIEW_ADD.WOULD_YOU_RECOMMEND.' + entity | uppercase | translate }}
        </h2>

        <div class="star-rating" [class.error]="reviewForm.get('rating').hasError('required') && starsForm.submitted">
          <bar-rating formControlName="rating" [max]="3" [showText]="reviewForm.get('rating').value"
            [titles]="barRatingTitles$ | async"></bar-rating>
        </div>

        <app-input-with-mentions placeholder="{{ 'DIALOGS.REVIEW_ADD.FORM.REVIEW.PLACEHOLDER' | translate }}"
          formControlName="text"></app-input-with-mentions>

        <div *ngIf="entity !== 'seller'" class="review-file-container full-width">
          <div class="padding">
            <!-- 1 Video (max. 500MB) should also be possible and max.
              6 Photos (or 1 Video + 5 Photos) consider Video Poster/Cover after Video Selection! -->
            <div class="photo-grid__container">
              <div cdkDropList cdkDropListOrientation="horizontal" class="photo-grid__inline"
                (cdkDropListDropped)="reorderImages($event)">
                <div class="photo-size position-relative" *ngIf="photos?.length < maxPhotoNumber">
                  <button type="button" class="file-add file-add__list-item" (click)="photosInput.click()"
                    [ngClass]="reviewForm.controls['photos'].errors?.required && invalidImages ? 'errored' : ''">
                    <i class="material-icons padding-bottom-small">photo_camera</i>
                    <div>{{ maxPhotoNumber - photos?.length | i18nPlural: photosMapping }}</div>
                  </button>
                  <input type="file" multiple accept="image/*" #photosInput (change)="selectPhotos($event)"
                    formArrayName="photos">
                  <app-loading [loading]="photosLoading"></app-loading>
                </div>

                <div cdkDrag class="photo-size pointer relative-container" *ngFor="let photo of photos; index as index">
                  <img [src]="photo.photoUrl || defaultImage" class="thumbnail">
                  <i class="material-icons remove-file photo-dragger" cdkDragHandle>open_with</i>
                  <i class="material-icons remove-file" (click)="removePhotoByIndex(index)">close</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-content-layout>

</div>