
<div class="header">
  <button class="item-start" (click)="close()">
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">
    {{ 'DIALOGS.REVIEW_REPLY_EDIT.TITLE' | translate }}
  </h2>

  <div class="item-end" style="width: 24px;"></div>
</div>

<div class="message-footer border-top" [formGroup]="form">
  <img [src]="userPhoto$ | async" class="avatar-small">

  <app-input-with-mentions
    placeholder="{{ 'DIALOGS.REVIEW_REPLY_EDIT.FORM.TEXT.PLACEHOLDER' | translate }}"
    formControlName="text"
    inputClass="message-input"
    [materialDesign]="false"
  ></app-input-with-mentions>

  <button class="blue item-end" [hidden]="!form.controls.text.value" (click)="editReply()">
    <i class="material-icons">send</i>
  </button>
</div>
