.purchases-product {
  background: var(--white);
}

.order-summary {
  border-collapse: collapse;
  border-spacing:0;
  margin: 0;
  width: 100%;
}

.order-summary-label {
  text-align: left;
  padding: 0 5px 5px 0;
  vertical-align: top;
}

.order-summary-value {
  text-align: right;
  padding: 0 0 5px 5px;
  vertical-align: top;
}

.order-item__dialog {
  margin-bottom: 15px;
}

.purchases-product__cancel-dialog--btns {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 99%;
}
