<div class="header">
  <button class="item-start" mat-dialog-close>
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">
    {{ 'DIALOGS.BANK.TITLE' | translate }}
  </h2>

  <button
    type="submit"
    class="blue item-end"
    id="ngForm"
    (click)="sendForm()"
  >
    <i class="material-icons">send</i>
  </button>
</div>

<mat-form-field>
  <mat-label>
    {{ 'DIALOGS.BANK.PAYMENT_METHOD' | translate }}
  </mat-label>
  <mat-select [(ngModel)]="selectedType">
    <mat-option
      *ngFor="let type of paymentTypes"
      [value]="type.value"
    >
      {{ type.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<form *ngIf="selectedType === 'bank_account'" [formGroup]="bankForm" id="ngForm">
  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.BANK.BANK_FORM.HOLDER.PLACEHOLDER' | translate }}"
      formControlName="name"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.BANK.BANK_FORM.IBAN.PLACEHOLDER' | translate }}"
      formControlName="iban"
      [pattern]="ibanRegexPattern"
    >
  </mat-form-field>
</form>

<form *ngIf="selectedType === 'credit_card'" [formGroup]="creditCardForm" id="ngForm">

  <mat-form-field>
    <input
      matInput
      placeholder="{{ 'DIALOGS.BANK.CARD_FORM.HOLDER.PLACEHOLDER' | translate }}"
      formControlName="holder"
    >
  </mat-form-field>

  <div class="credit-card-input">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'DIALOGS.BANK.CARD_FORM.CARD_NUMBER.PLACEHOLDER' | translate }}"
        formControlName="number"
        [pattern]="cardNumberRegexPattern"
        mask="0000 0000 0000 0000"
      >
      <div class="credit-card-icons">
        <div class="credit-card-icon" *ngIf="currentCardType === 'visa' || currentCardType === ''">
          <img src="../../../../assets/icons/visa.png" alt="Visa">
        </div>
        <div class="credit-card-icon" *ngIf="currentCardType === 'mastercard' || currentCardType === ''">
          <img src="../../../../assets/icons/mastercard.png" alt="Mastercard">
        </div>
      </div>
    </mat-form-field>
  </div>

  <div class="flex-between">
    <div clsas="flex">
      <mat-form-field style="width: 80px;">
        <input
          matInput
          placeholder="{{ 'DIALOGS.BANK.CARD_FORM.MONTH.PLACEHOLDER' | translate }}"
          formControlName="month"
          [pattern]="monthRegexValidator"
          mask="00"
        >
      </mat-form-field>
      <mat-form-field style="width: 80px;">
        <input
          matInput
          placeholder="{{ 'DIALOGS.BANK.CARD_FORM.YEAR.PLACEHOLDER' | translate }}"
          formControlName="year"
          [pattern]="yearRegexValidator"
          mask="00"
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 130px;">
        <input
          matInput
          type="password"
          placeholder="{{ 'DIALOGS.BANK.CARD_FORM.CVC.PLACEHOLDER' | translate }}"
          formControlName="cvc"
          mask="000"
        >
      </mat-form-field>
    </div>
  </div>
</form>

<app-loading
  [loading]="loading$ | async"
></app-loading>
