:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.cart-checkout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.total-price-card {
  background: var(--white);
  width: 100%;
  z-index: 2;
  
  &.fixed {
    position: fixed;
    top: -18px;
  }
}

.cart-items-content {
  &.fixed {
    padding-top: 170px;
  }
}

.cart-price-table {
  border-collapse: collapse;
  border-spacing:0;
  margin: 0 auto;

  .cart-price-table-title,
  .cart-price-table-value {
    color: var(--grey) !important;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
  }

  .cart-price-table-title {
    text-align: left;
    padding-right: 10px;
  } 

  .cart-price-table-value {
    text-align: right;
    padding-left: 10px;
  }

  .cart-price-table-total-row {
    .cart-price-table-title,
    .cart-price-table-value {
      font-size: 18px !important;
      color: var(--black) !important;
    }
  }
}