<div class="cart-wrapper flex-center-column flex-stretch">
  <app-no-items-placeholder [show]="!(cart$ | async).length" [text]="'PAGES.CART_LIST.CART_IS_EMPTY' | translate"
    class="sub-header-title"></app-no-items-placeholder>
  <app-content-layout class="background-white border-bottom" *ngIf="(cart$ | async).length">
    <form *ngIf="(cart$ | async).length && !(loading$ | async)" [formGroup]="checkoutForm" (ngSubmit)="checkoutCart()">

      <!--Delivery Address-->

      <app-address-input placeholder="{{ 'PAGES.CART_LIST.FORM.DELIVERY_ADDRESS.PLACEHOLDER' | translate }}"
        formControlName="delivery_address"></app-address-input>

      <!--Billing Address-->

      <div class="padding">
        <mat-checkbox color="primary" formControlName="is_billing">
          {{ 'PAGES.CART_LIST.FORM.DIFFERENT_BILLING_ADDRESS.PLACEHOLDER' | translate }}
        </mat-checkbox>
      </div>

      <app-address-input *ngIf="checkoutForm.controls.is_billing.value"
        placeholder="{{ 'PAGES.CART_LIST.FORM.BILLING_ADDRESS.PLACEHOLDER' | translate }}"
        formControlName="billing_address" type="billing"></app-address-input>

      <!--Bank Account-->

      <app-bank-input placeholder="{{ 'PAGES.CART_LIST.FORM.PAYMENT.PLACEHOLDER' | translate }}"
        formControlName="payment"></app-bank-input>

      <!-- Grit Wallet -->

      <div class="padding">
        <mat-checkbox color="primary" formControlName="grit_wallet" [disabled]="(balance$ | async) <= 0">
          {{ 'GENERAL.STATUSES.GRIT_WALLET' | translate }}
          <span style="font-weight: 600;">({{ balance$ | async | customCurrency }})</span>
        </mat-checkbox>
      </div>

      <!-- Products -->

      <div #totalPriceElement class="padding total-price-card">
        <div class="padding-top padding-bottom">
          <table class="cart-price-table">
            <tr class="cart-price-table-row">
              <td class="cart-price-table-title">
                {{ 'PAGES.CART_LIST.FORM.PRODUCT_TABLE.PRODUCTS' | translate }}
              </td>
              <td class="cart-price-table-value">
                {{ productsPrice$ | async | customCurrency }}
              </td>
            </tr>
            <tr>
              <td class="cart-price-table-title">
                {{ 'PAGES.CART_LIST.FORM.PRODUCT_TABLE.SHIPPING' | translate }}
              </td>
              <td class="cart-price-table-value">
                {{ shippingPrice$ | async | customCurrency }}
              </td>
            </tr>
            <tr class="cart-price-table-total-row">
              <td class="cart-price-table-title">
                {{ 'PAGES.CART_LIST.FORM.PRODUCT_TABLE.TOTAL' | translate }}
              </td>
              <td class="cart-price-table-value">
                {{ totalPrice$ | async | customCurrency }}
                <span style="font-size: 16px;">
                  {{ 'PAGES.CART_LIST.FORM.PRODUCT_TABLE.INCL_TAX' | translate }}
                </span>
              </td>
            </tr>
          </table>
        </div>
        <button class="round-button uppercase full-width" type="submit">
          {{ 'GENERAL.ACTIONS.BUY' | translate }}
        </button>
      </div>
    </form>

    <!-- <ng-template #resultErrorD>
    <h2 class="dialog-header">Delete Article?</h2>
    <div class="dialog-buttons">
      <button matDialogClose>Cancel</button>
      <button class="red" matDialogClose>Delete</button>
    </div>
  </ng-template> -->
  </app-content-layout>
  <app-infinite-scroll-with-loader (scrolled)="triggerScroll()" [showLoading]="lazyLoading$ | async" class="padding-bottom">
    <app-content-layout>
      <div *ngFor="let item of cart$ | async" class="item flex-wrap no-link border-bottom" style="flex-wrap: nowrap;">
        <ng-container *ngIf="item.product?.type === 'productVariants'">
          <img [src]="getProductPhoto(item.product)" class="thumbnail pointer"
            [routerLink]="getProductUrl(item.product)">
          <div class="item-text">
            <h2 class="black pointer" [routerLink]="getProductUrl(item.product)">
              {{ item.product.title | truncate : 60 }}
            </h2>
            <p>
              {{ 'PAGES.CART_LIST.CART_PRODUCTS.PRODUCT_VARIANT' | translate }}
              {{ showVariantData(item.product?.selectedVariant) }}
            </p>
            <h2 class="black bold">{{ item.product?.selectedVariant?.price | customCurrency }}</h2>
            <p *ngIf="!item.collected">
              {{ 'PAGES.CART_LIST.CART_PRODUCTS.SHIPPING' | translate }}
              {{ item.product.shippingCosts | customCurrency }}
            </p>
            <mat-select style="width: 50px" (click)="$event.stopPropagation()" [value]="item.quantity"
              (selectionChange)="changeQuantity(item.id, item.product.id, $event.value)">
              <mat-option *ngFor="let quantity of quantities.slice(0, item.product.selectedVariant.quantity)"
                [value]="quantity">
                {{ quantity }}
              </mat-option>
            </mat-select>

            <div *ngIf="item.product.deliveryOptions === 'both'" class="flex-line-break padding-top">
              <mat-slide-toggle color="primary" class="margin-right" [checked]="item.collected"
                (toggleChange)="changeCollected(item.id, !item.collected)"
                [disabled]="item.product.deliveryOptions === 'onlyCollection'">
                {{ 'GENERAL.ACTIONS.COLLECT' | translate }}
              </mat-slide-toggle>
            </div>
          </div>

          <button class="grey item-end" (click)="removeItem(item.id, $event)">
            <i class="material-icons icon-small">delete</i>
          </button>
        </ng-container>
        <ng-container *ngIf="item.product?.type === 'singleProduct'">
          <img [src]="getProductPhoto(item.product)" class="thumbnail pointer"
            [routerLink]="getProductUrl(item.product)">
          <div class="item-text">
            <h2 class="black pointer" [routerLink]="getProductUrl(item.product)">
              {{ item.product.title | truncate : 60 }}
            </h2>
            <h2 class="black bold">{{ item.product.price | customCurrency }}</h2>
            <p *ngIf="!item.collected">
              {{ 'PAGES.CART_LIST.CART_PRODUCTS.SHIPPING' | translate }}
              {{ item.product.shippingCosts | customCurrency }}
            </p>
            <mat-select style="width: 50px" (click)="$event.stopPropagation()" [value]="item.quantity"
              (selectionChange)="changeQuantity(item.id, item.product.id, $event.value)">
              <mat-option *ngFor="let quantity of quantities" [value]="quantity">
                {{ quantity }}
              </mat-option>
            </mat-select>
            <div *ngIf="item.product.deliveryOptions === 'both'" class="flex-line-break padding-top">
              <mat-slide-toggle color="primary" class="margin-right" [checked]="item.collected"
                (toggleChange)="changeCollected(item.id, !item.collected)"
                *ngIf="item.product.deliveryOptions === 'both'">
                {{ 'GENERAL.ACTIONS.COLLECT' | translate }}
              </mat-slide-toggle>
            </div>
          </div>
          <button class="grey item-end" (click)="removeItem(item.id, $event)">
            <i class="material-icons icon-small">delete</i>
          </button>
        </ng-container>
      </div>
    </app-content-layout>
  </app-infinite-scroll-with-loader>
</div>
<app-main-loader [loading]="loading$ | async"></app-main-loader>