<div class="header">
  <button class="item-start margin-right" (click)="close()">
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">
    {{ 'DIALOGS.REVIEW_REPLY.TITLE' | translate }}
  </h2>

  <div class="item-end" style="width: 24px"></div>
</div>

<div class="dialog-scrollable-content">
  <div class="background-grey-5 border-top border-bottom" *ngIf="review">
    <div class="item no-link">
      <img [src]="getUserPhoto(review.user)" class="avatar pointer" (click)="goToUserPage(review.user)">

      <div class="item-text">
        <h2 class="black pointer" (click)="goToUserPage(review.user)">
          {{ review.user.business?.name || review.user.person.fullName }}
        </h2>
        <p>{{ review.created | timeAgo }}</p>
      </div>

      <button
        class="item-end"
        [satPopoverAnchor]="commentMoreP"
        (click)="commentMoreP.toggle()"
        (click)="$event.stopPropagation()"
      >
        <i class="material-icons icon-small">more_vert</i>
      </button>

      <sat-popover #commentMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <ng-container *ngIf="(loggedInAccount$ | async).id === review.user?.id else actionsForOtherUsers">
            <button class="icon-button" (click)="commentMoreP.close(); openEditReviewDialog(review)">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); openDialog(deleteCommentD)">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #actionsForOtherUsers>
            <button class="icon-button" (click)="commentMoreP.close(); follow(review.user, $event)">
              <ng-container *ngIf="isFollowing(review.user); else followLabel">
                <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </ng-container>
              <ng-template #followLabel>
                <span class="blue">
                  <i class="material-icons padding-right">rss_feed</i>{{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                </span>
              </ng-template>
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); reportComment()">
              <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </ng-template>
        </div>
      </sat-popover>

      <ng-template #deleteCommentD>
        <h2 class="dialog-header">{{ 'DIALOGS.REPLY_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button (click)="closeOpenedDialog()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" (click)="deleteReply(review.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
        </div>
      </ng-template>
    </div>

    <div class="padding-horizontal" *ngIf="review.text !== ''">
      <app-truncatable-text
        [text]="review.text"
        [mentions]="review.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="buttonbar">
      <div>
        <button [class.blue]="review.liked" (click)="likeReview()">
          <i class="material-icons icon-small padding-right">thumb_up</i>
        </button>
        <button *ngIf="review.likesCount !== 0" (click)="showReviewLikes()">
          {{ review.likesCount }}
        </button>
      </div>

      <button class="flex">
        <i class="material-icons icon-small padding-right-small">reply</i>
        <ng-container *ngIf="review.replies.length > 0">
          {{ review.replies.length }}
        </ng-container>
      </button>
    </div>
  </div>

  <div class="border-bottom" *ngFor="let reply of replies$ | async">
    <div class="item no-link">
      <img [src]="getUserPhoto(reply.user)" class="avatar pointer" (click)="goToUserPage(reply.user)">

      <div class="item-text">
        <h2 class="black pointer" (click)="goToUserPage(reply.user)">
          {{ reply.user.business?.name || reply.user.person.fullName }}
        </h2>
        <p>{{reply.created | timeAgo}}</p>
      </div>

      <button class="item-end" [satPopoverAnchor]="commentMoreP" (click)="commentMoreP.toggle()" (click)="$event.stopPropagation()">
        <i class="material-icons icon-small">more_vert</i>
      </button>

      <sat-popover #commentMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <!--Edit & Delete only for Creator visible-->
          <ng-container *ngIf="(loggedInAccount$ | async).id === reply.user?.id else actionsForOtherUsers">
            <button class="icon-button" (click)="commentMoreP.close(); openEditReplyDialog(reply)">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); openDialog(deleteReplyD)">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #actionsForOtherUsers>
            <button class="icon-button" (click)="commentMoreP.close(); follow(reply.user, $event)">
              <ng-container *ngIf="isFollowing(reply.user); else followLabel">
                <i class="material-icons padding-right">close</i>
                {{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </ng-container>
              <ng-template #followLabel>
                <span class="blue">
                  <i class="material-icons padding-right">rss_feed</i>
                  {{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                </span>
              </ng-template>
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); reportComment()">
              <i class="material-icons padding-right">info</i>
              {{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </ng-template>
        </div>

        <ng-template #deleteReplyD>
          <h2 class="dialog-header">{{ 'DIALOGS.REPLY_DELETE.TITLE' | translate }}</h2>
          <div class="dialog-buttons">
            <button (click)="closeOpenedDialog()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red" (click)="deleteReply(reply.id, true)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </sat-popover>
    </div>

    <div class="padding-horizontal" *ngIf="reply.text">
      <app-truncatable-text
        [text]="reply.text"
        [mentions]="reply.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="buttonbar">
      <div>
        <button [class.blue]="reply.liked" (click)="likeReply(reply.id)">
          <i class="material-icons icon-small padding-right">thumb_up</i>
        </button>
        <button *ngIf="reply.likesCount !== 0" (click)="showReplyLikes(reply.id)">
          {{ reply.likesCount }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="message-footer" [formGroup]="form">
  <img [src]="userPhoto$ | async" class="avatar-small">

  <app-input-with-mentions
    placeholder="{{ 'DIALOGS.REVIEW_REPLY.FORM.TEXT.PLACEHOLDER' | translate }}"
    formControlName="text"
    inputClass="message-input"
    [materialDesign]="false"
  ></app-input-with-mentions>

  <button class="blue item-end" [hidden]="!form.controls.text.value" (click)="addReply()">
    <i class="material-icons">send</i>
  </button>
</div>

<app-loading
  [loading]="loading$ | async">
</app-loading>
