<div class="purchases-service">
  <div class="item flex-wrap no-link border-bottom no-padding-left no-padding-right">
    <img
      [src]="getUserPhoto(item.seller)"
      class="avatar pointer margin-left"
      [routerLink]="getUserLink(item.seller)"
    >
    <div class="item-text">

      <h2 class="black pointer" [routerLink]="getUserLink(item.seller)">
        {{ item.seller.business?.name || item.seller.person.fullName }}
      </h2>

      <!--Only be shown, if the place of performance is at the seller-->

      <p *ngIf="item.service.address && item.service.performance === 'seller'">
        {{ showAddress(item.service.address) }}
      </p>
    </div>

    <button
      class="item-end"
      [satPopoverAnchor]="bookingMoreP"
      (click)="bookingMoreP.toggle()"
    >
      <i class="material-icons">more_vert</i>
    </button>

    <sat-popover
      #bookingMoreP
      hasBackdrop
      verticalAlign="below"
      scrollStrategy="close"
    >
      <div class="popover">
        <button class="icon-button" [appMessageTo]="item?.seller?.id">
          <i class="material-icons padding-right">chat_bubble</i>
          {{ 'GENERAL.ACTIONS.MESSAGE' | translate }}
        </button>
        <button class="icon-button" (click)="cancelBooking(cancelDialog)">
          <i class="material-icons padding-right">close</i>
          {{ 'GENERAL.ACTIONS.CANCEL_APPOINTMENT' | translate }}
        </button>
      </div>
    </sat-popover>

    <button class="icon-button-small no-link border-top border-bottom margin-top">
      <ng-container *ngIf="item.payment_type === 'bank'">
        <span class="material-icons icon-small margin-right">account_balance</span>
        {{ item.amount_card | customCurrency }}
      </ng-container>
      <ng-container *ngIf="item.payment_type === 'card'">
        <span class="material-icons icon-small margin-right">credit_card</span>
        {{ item.amount_card / 100 | customCurrency }}
      </ng-container>
      <ng-container *ngIf="item.amount_wallet">
        + <span class="material-icons icon-small margin-horizontal">account_balance_wallet</span>
        {{ item.amount_wallet / 100 | customCurrency }}
      </ng-container>
    </button>

    <div class="item no-link flex-line-break border-bottom">
      <div class="item-text no-padding-left">
        <p>{{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BOOKING_ID' | translate }} {{ item.id }}</p>

        <p *ngIf="item.created">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BOOKED' | translate }} {{ item.created | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
        </p>

        <p *ngIf="item.paid">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.PAID' | translate }} {{ item.paid | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
        </p>

        <!-- The booking is automatically sold after the appointment date has expired, if the booking is not cancelled in advance -->

        <p class="black" *ngIf="item.appointments">
          <ng-container *ngIf="!item.is_completed">
            {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.APPOINTMENT' | translate }}
          </ng-container>
          <ng-container *ngIf="item.is_completed">
            {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.SOLD' | translate }}
          </ng-container>
          {{ item.appointments[0].start | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }} -
          {{ item.appointments.slice(-1)[0].end | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
        </p>

        <!-- Cancelled -->

        <p class="info-icons red" *ngIf="item.cancelled">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.CANCELLED' | translate }}
          <span class="padding-right-small" *ngIf="item.who_cancelled === 'seller'">
            {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.SELLER' | translate }}
          </span>
          <span class="padding-right-small" *ngIf="item.who_cancelled === 'buyer'">
            {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.BUYER' | translate }}
          </span>
          {{ item.cancelled | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
          <button [satPopoverAnchor]="cancelDescriptionP" (click)="cancelDescriptionP.toggle()">
            <i class="material-icons grey icon-small icon-padding-left">chat_bubble</i>
          </button>
          <sat-popover hasBackdrop #cancelDescriptionP verticalAlign="below" scrollStrategy="close">
            <div class="popover padding">
              <h2>{{ item.cancel_reason }}</h2>
              <p *ngIf="item.cancel_description">
                {{ item.cancel_description }}
              </p>
            </div>
          </sat-popover>
        </p>

        <p class="black" *ngIf="item.cancelled && item.when_cancelled === 'after' && !item.refunded">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.NOT_REFUNDED' | translate }}
        </p>

        <p class="black" *ngIf="item.cancelled && item.when_cancelled === 'after' && item.refunded">
          {{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.REFUNDED' | translate }} {{ item.refunded | date: "dd MMM yyyy, h:mm aaaaa\'m\'" }}
        </p>

        <button
          class="blue item-start padding-top uppercase"
          *ngIf="notRefunded"
          (click)="showRefunded()"
        >
          {{ 'GENERAL.STATUSES.REFUNDING' | translate }}
        </button>
      </div>
    </div>

    <div class="order-item flex-line-break padding">
      <img
        [src]="item.service.photoCover.thumb"
        class="thumbnail"
        [routerLink]="getServiceUrl(item.seller, item.service)"
      >
      <div class="item-text">
        <h2
          class="black"
          [routerLink]="getServiceUrl(item.seller, item.service)"
        >
          {{ item.service.title | truncate : 60 }}</h2>
        <h2 class="black bold">
          {{ item.service.price | currency : 'EUR' }}
          <span *ngIf="item.service.hourlyPrice" class="grey normal">
            ({{ item.service.price | currency : 'EUR' }}{{ 'GENERAL.STATUSES.PER_HOUR' | translate }})
          </span>
        </h2>
        <p *ngIf="item.service.schedule">{{ item.total_time }} {{ 'GENERAL.DATE_TIME.TIME_UNITS.HOURS' | translate }}</p>

        <div class="flex item-start">
          <button
            *ngIf="item.is_completed"
            class="blue margin-right"
            (click)="reviewDialog(item.service, 'service')"
          >
            {{ 'GENERAL.ACTIONS.REVIEW' | translate }}
          </button>
          <button
            *ngIf="getTimeDifference(item.appointments[0]?.start) && !item.cancelled"
            class="grey"
            (click)="cancelBooking(cancelDialog)"
          >
          {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <button
            *ngIf="!getTimeDifference(item.appointments[0]?.start) || item.cancelled"
            [satPopoverAnchor]="cancelDescriptionP"
            (click)="cancelDescriptionP.toggle()"
          >
            {{ 'GENERAL.ACTIONS.CANCEL' | translate }}
          </button>
          <sat-popover hasBackdrop #cancelDescriptionP verticalAlign="below" scrollStrategy="close">
            <div class="popover padding">
              <p>{{ 'COMPONENTS.PURCHASES_BOOKING_ITEM.CANCEL_TOOLTIP' | translate }}</p>
            </div>
          </sat-popover>
        </div>

        <ng-template #cancelDialog>
          <h2 class="dialog-header">{{ 'DIALOGS.CANCEL_BOOKING.TITLE' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CLOSE' | translate }}</button>
            <button class="red" matDialogClose (click)="cancel()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
