<div class="flex-column">
  <button [class.blue]="isBookmark" (click)="bookmark()">
    <i class="material-icons">bookmark</i>
  </button>
  <!-- <button *ngIf="bookmarksCount !== 0" class="grey margin-top" (click)="bookmark()">
    {{ bookmarksCount }}
  </button> -->
</div>
