<div class="header">
  <button class="item-start margin-right" mat-dialog-close>
    <i class="material-icons">arrow_back</i>
  </button>

  <h2 class="header-title">{{ total$ | async | i18nPlural: likesMapping }}</h2>

  <button class="item-end" [class.blue]="(entity$ | async)?.liked" (click)="like()">
    <i class="material-icons">thumb_up</i>
  </button>
</div>

<cdk-virtual-scroll-viewport
  minBufferPx="1000"
  maxBufferPx="1000"
  [itemSize]="itemSize"
  [style.height]="virtualScrollHeight$ | async"
  >
  <div class="item" *cdkVirtualFor="let user of likes$ | async" (click)="goToUserPage(user)">
    <img [src]="user.photo || defaultAvatar" class="avatar">
    <div class="item-text">
      <h2 class="black">{{user.name}}</h2>
    </div>
    <ng-container *ngIf="(loggedInAccountId$ | async) !== user.id">
      <button class="item-end" [class.blue]="!isFollowing(user)" (click)="follow(user, $event)">
        <div class="bold">{{
          isFollowing(user)
          ? ('GENERAL.STATUSES.FOLLOWING' | translate)
          : ('GENERAL.ACTIONS.FOLLOW' | translate)
        }}</div>
      </button>
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>


<div class="placeholder-for-preloader" *ngIf="likesLoading$ | async"></div>

<app-loading [loading]="likesLoading$ | async"></app-loading>
