<form [formGroup]="payOutForm">
  <div class="header">
    <button class="item-start" mat-dialog-close>
      <i class="material-icons">arrow_back</i>
    </button>

    <h2 class="header-title">
      {{ 'DIALOGS.PAYOUT.TITLE' | translate }}
    </h2>

    <button
      type="submit"
      class="blue item-end"
      id="ngForm"
      (click)="payout()"
    >
      <i class="material-icons">send</i>
    </button>
  </div>

  <mat-form-field class="full-width">
    <mat-label>
      {{ 'DIALOGS.PAYOUT.FORM.AMOUNT.PLACEHOLDER' | translate }}
    </mat-label>
    <input
      matInput
      appPriceInput
      type="text"
      mask="separator.2"
      thousandSeparator="."
      maxlength="15"
      formControlName="amount"
    >
  </mat-form-field>

  <app-bank-input
    [onlyBank]="true"
    placeholder="{{ 'DIALOGS.PAYOUT.FORM.PAYMENT.PLACEHOLDER' | translate }}"
    formControlName="payment"
  ></app-bank-input>
</form>
