<div class="accordion-panel">
    <div class="accordion-panel-header app-item-hover" (click)="toggle()">
        <div class="accordion-panel-header-title-container">
            <mat-icon class="grey accordion-panel-header-icon icon-small">{{icon}}</mat-icon>
            <span class="accordion-panel-header-title-text grey">
                {{title}}
            </span>
        </div>
        <div class="accordion-panel-header-indicator" *ngIf="!disabled">
            <mat-icon class="accordion-panel-header-indicator-icon grey" [ngClass]="{'opened': opened}">arrow_drop_down</mat-icon>
        </div>
    </div>
    <div class="accordion-panel-content border-top" *ngIf="opened && !disabled">
        <ng-content></ng-content>
    </div>
</div>