:host {
    display: block;
}

.accordion-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    user-select: none;

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;

        &-title-container {
            display: flex;
            align-items: center;
        }

        &-icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            line-height: 18px;
        }

        &-title-text {
            font-size: 14px;
            user-select: none;
            line-height: 18px;
        }

        &-indicator-icon {
            transition: transform 0.2s ease;
            user-select: none;
            height: 18px;
            width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.opened {
                transform: rotate(180deg);
            }
        }
    }

    &-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        user-select: text;
    }
}