<ng-container *ngIf="materialDesign; else nativeDesign">
  <mat-form-field [floatLabel]="floatLabel">
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [autoFocus]="autofocus"
      [mention]="mentionAutosuggestions$ | async"
      [mentionConfig]="mentionsConfig"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      [errorStateMatcher]="matcher"
      [mentionListTemplate]="itemTemplate"
      (ngModelChange)="onModelChange($event);"
      (focus)="onFocus($event)"
      (blur)="onFocus($event)"
    ></textarea>
  </mat-form-field>
</ng-container>

<ng-template #nativeDesign>
  <textarea
      matInput
      [ngClass]="inputClass"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [autoFocus]="autofocus"
      [mention]="mentionAutosuggestions$ | async"
      [mentionConfig]="mentionsConfig"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      [mentionListTemplate]="itemTemplate"
      (ngModelChange)="onModelChange($event);"
      (focus)="onFocus($event)"
      (blur)="onFocus($event)"
  ></textarea>
</ng-template>

<ng-template #itemTemplate let-item="item">
  <div class="mention-list-item pointer">
    <img [src]="item.thumb || defaultAvatar" class="avatar">
    <div class="mention-list-item-text">
      <p>{{item.name}}</p>
    </div>
  </div>
</ng-template>
<div class="autosuggestions border-left border-right" *ngIf="suggestions.length && isFocused">
  <div class="suggestion-item" *ngFor="let suggestion of suggestions" (click)="onHashtagSelect($event, suggestion)">
    <p>{{ suggestion.text }}</p>
    <p>{{ suggestion.count }} publications</p>
  </div>
</div>

