.option-text-space-between {
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message-input {
  width: calc(100% - 20px);
  display: block;
  margin: 0 10px;
}

.mention-list-item {
  display: flex;
  align-items: center;

  .mention-list-item-text {
    padding: 0 10px;
  }
}
