<ng-container *ngIf="fetched && !this.fileExists; else notFetched">
    <div class="file-placeholder" (click)="handleClick()">
        <div class="blur-placeholder"></div>
        <div class="icon-container">
            <i class="material-icons">{{mapFileTypeToIcon(fileType)}}</i>
        </div>
        <span class="title" [attr.title]="fileName">{{fileName}}</span>
        <span class="subtitle">{{'COMPONENTS.FILE_PLACEHOLDER_COMPONENT.DELETED_FILES_MESSAGE' | translate}}</span>
    </div>
</ng-container>
<ng-template #notFetched>
    <ng-content></ng-content>
</ng-template>