:host {

    .file-placeholder {
        width: 180px;
        height: 120px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blur-placeholder {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(229, 229, 229); // --grey-3 rgb, blur won't work with hex color
        border-radius: 10px;
        filter: blur(2px);
        z-index: 1;
    }

    .icon-container {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        z-index: 2;
        color: var(--grey);
        margin-bottom: 10px;
    }

    .title,.subtitle {
        display: block;
        width: 180px;
        box-sizing: border-box;
        padding: 0 10px;
        z-index: 2;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
    }

    .title {
        font-size: 12px;
    }

    .subtitle {
        font-size: 10px;
        opacity: 0.4;
        white-space: unset;
        line-height: 1.15rem;
    }
}