:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.video-loading-progress {
  margin-top: -35px;
  width: 100%;
}

.video-uploading-progress {
  margin-top: 25px;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.loading-text {
  font-style: italic;
  text-align: center;
  color: var(--blue);
}

.video-placeholder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: white;
  z-index: 1;

  .file-add {
    height: 100%;
  }
}

.video-cover {
  object-fit: cover;
}

.item {
  &:last-child {
    border-bottom: none;
  }
}