<add-view-layout [accountPhotoSrc]="viewableAccountPhoto$ | async" [disabled]="(loading$ | async) || (editMode && !isEditReady)" formId="ngForm"
  (onSubmitClick)="saveAndBack()" [loading]="(loading$ | async) || (editMode && !isEditReady)">
  <div class="border-bottom position-relative"
    [ngClass]="form.controls['video'].errors?.required && invalidVideo ? 'errored' : ''">
    <video class="video-size" controls controlsList="nodownload" preload="auto" [attr.src]="videoData"
      *ngIf="videoFile"></video>

    <app-shaka-player [src]="videoData" *ngIf="!videoFile" [playOnHover]="false" [autoplay]="false"></app-shaka-player>

    <i class="material-icons remove-file" (click)="removeVideo($event)" *ngIf="!isEditFlow || isDraft">close</i>

    <div class="video-placeholder" *ngIf="!videoData">
      <button class="file-add" (click)="videoInput.click()">
        <div>
          <i class="material-icons padding-bottom-small">videocam</i>
          <div>{{ 'PAGES.VIDEO_ADD.VIDEO' | translate }}</div>
        </div>
      </button>
      <input type="file" accept="video/*" #videoInput (change)="selectVideo($event)">
      <app-loading [loading]="localVideoLoading"></app-loading>
    </div>
  </div>

  <!--Form-->

  <form [formGroup]="form" id="ngForm">
    <mat-form-field class="margin-top">
      <input matInput placeholder="{{ 'PAGES.VIDEO_ADD.FORM.TITLE.PLACEHOLDER' | translate }}" maxlength=100
        #titleCounter formControlName="title">
      <p matSuffix class="grey padding-left-small">{{titleCounter?.value.length}}/100</p>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{ 'PAGES.VIDEO_ADD.FORM.CATEGORY.PLACEHOLDER' | translate }}"
        formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{'GENERAL.CATEGORIES.MEDIA.' + category | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-input-with-mentions placeholder="{{ 'PAGES.VIDEO_ADD.FORM.DESCRIPTION.PLACEHOLDER' | translate }}"
      formControlName="description"></app-input-with-mentions>

    <app-location-input placeholder="{{ 'PAGES.PHOTO_ADD.FORM.LOCATION.PLACEHOLDER' | translate }}"
      formControlName="location"></app-location-input>

    <button type="button" class="icon-button position-relative" *ngIf="!coverData" (click)="coverInput.click()">
      <ng-container *ngIf="!coverLoading else coverSpinner">
        <i class="material-icons padding-right">photo</i>
      </ng-container>
      <ng-template #coverSpinner>
        <span class="padding-right">
          <mat-spinner [diameter]="24"></mat-spinner>
        </span>
      </ng-template>
      {{ 'PAGES.VIDEO_ADD.COVER' | translate }}
    </button>

    <div class="flex padding-left padding-bottom position-relative">
      <img [attr.src]="coverData" height="40" width="40" *ngIf="coverData" class="pointer video-cover">
      <input type="file" accept="image/*" #coverInput (change)="selectCover($event)">
      <button class="margin-horizontal" *ngIf="coverData" (click)="removeCover()"><i
          class="material-icons icon-small">close</i></button>
    </div>
  </form>

  <!--Drafts-->

  <button type="button" class="icon-button grey" (click)="saveDraft()" *ngIf="!isEditFlow || isDraft"
    [disabled]="!wasChanged()">
    <i class="material-icons padding-right">create</i>
    {{ 'GENERAL.DRAFTS.SAVE_DRAFT' | translate }}
  </button>

  <ng-container *ngIf="drafts$ | async as drafts">
    <div class="border-top" *ngIf="drafts.length > 0">
      <h2 class="sub-header background-grey-3 add-view-layout-border-fix">{{ drafts.length | i18nPlural: videoDraftsMapping }}</h2>

      <div class="item border-bottom border-top" *ngFor="let draft of drafts; trackBy: trackById"
        [ngClass]="{ disabled: draft.uploading || draft.processing }"
        (click)="$event.stopPropagation(); selectDraft(draft.id)">
        <app-thumbnail [url]="draft.thumb || draft.cover || defaultImage" [item]="draft"></app-thumbnail>

        <div class="item-text">
          <h2 *ngIf="draft.title" class="black" ellipsis>{{ draft.title }}</h2>
          <h2 *ngIf="!draft.title" class="black">{{ 'GENERAL.DRAFTS.NO_TITLE' | translate }}</h2>
        </div>

        <!--Delete Draft-->

        <button class="item-end" type="button" (click)="$event.stopPropagation(); openDialog(deleteDraftD)">
          <i class="material-icons icon-small">delete</i>
        </button>

        <ng-template #deleteDraftD>
          <h2 class="dialog-header">{{ 'GENERAL.DRAFTS.DELETE_DRAFT' | translate }}</h2>
          <div class="dialog-buttons">
            <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red"
              (click)="deleteDraft(draft, deleteDraftD)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>

</add-view-layout>