:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

.user-select-wrapper {
  &:hover {
    background-color: var(--grey-3);
  }
}

.menu__maximum-business-message {
  position: relative;
  padding: 0 10px;
}

.item-text p{
  text-transform: lowercase;
}

.account-select-option {
  padding-left: 0;
  padding-right: 0;

  &.mat-active, &.mat-selected {
    background-color: var(--grey-10) !important;
  }

  &.disabled {
    pointer-events: all;
    .avatar,
    .item-text {
      opacity: 0.5;
    }
  }

  .restore-business {
    margin-right: 20px;
  }
}

.wrapper {
  height: 100%;
}

.arrow {
  transition: all 0.2s ease;

  &-up {
    transform: rotate(180deg);
  }
}