<div class="wrapper flex-stretch">
    <app-content-layout class="background-white border-bottom">
      <div class="border-bottom app-item-hover">
        <div class="item app-item-hover" *ngIf="accountList.length == 1">
          <img [attr.src]="accountList[0]?.photo || defaultAvatar" class="avatar">
          <div class="item-text">
            <h2 class="black">{{accountList[0].name}}</h2>
            <p>{{accountList[0].pageName}}</p>
          </div>
        </div>
        <mat-select #accountSelect class="padding-right" [(value)]="selected" (selectionChange)="switchAccount(selected)" *ngIf="accountList.length > 1">

          <mat-select-trigger>
            <div class="item">
              <img [attr.src]="selected?.photo || defaultAvatar" class="avatar">
              <div class="item-text">
                <h2 class="black">{{selected?.name}}</h2>
                <p>{{selected?.pageName}}</p>
              </div>
            </div>
          </mat-select-trigger>

          <mat-option [value]="account" *ngFor="let account of accountList" class="account-select-option app-item-hover" [class.disabled]="account.deleted">
            <div class="item" (click)="onAccountOptionClick($event, account, accountSelect)">
              <img [attr.src]="account.photo || defaultAvatar" class="avatar">
              <div class="item-text">
                <h2 class="black">{{account.name}}</h2>
                <p>{{account.pageName}}</p>
              </div>
              <div class="restore-business" *ngIf="account.deleted" (click)="$event.stopPropagation(); restoreBusiness(account, accountSelect)">
                {{ 'GENERAL.ACTIONS.RESTORE' | translate }}
              </div>
            </div>
          </mat-option>
        </mat-select>
      </div>

      <!--Options-->

      <div class="border-bottom">
        <button class="icon-button" (click)="goTo('home')">
          <i class="material-icons padding-right">account_box</i>
          {{ 'PAGES.MENU.MY_PAGE' | translate }}
        </button>

        <button class="icon-button" (click)="goTo('team')" *ngIf="selected?.business">
          <i class="material-icons padding-right">group</i>
          {{ 'PAGES.MENU.TEAM' | translate }}
        </button>

        <button class="icon-button" (click)="inviteFriends()">
          <i class="material-icons padding-right">person_add</i>
          {{ 'PAGES.MENU.INVITE_FRIENDS' | translate }}
        </button>

        <button class="icon-button" (click)="navigateTo('purchases')">
          <i class="material-icons padding-right">assignment</i>
          {{ 'PAGES.MENU.ORDERS_OR_BOOKINGS' | translate }}
        </button>

        <button class="icon-button" (click)="navigateTo('wallet')">
            <i class="material-icons padding-right">account_balance_wallet</i>
            {{ 'PAGES.MENU.GRIT_WALLET' | translate}}
          </button>

        <button class="icon-button" (click)="goTo('following')">
          <i class="material-icons padding-right">rss_feed</i>
          {{ 'PAGES.MENU.FOLLOWING' | translate }}
        </button>

        <button class="icon-button" (click)="goTo('saved')">
          <i class="material-icons padding-right">bookmark</i>
          {{ 'PAGES.MENU.SAVED' | translate }}
        </button>

        <button class="icon-button" (click)="goTo('blocked')">
          <i class="material-icons padding-right">block</i>
          {{ 'PAGES.MENU.BLOCKED' | translate }}
        </button>

        <button class="icon-button" (click)="goTo('settings')" *ngIf="canEditSettings$ | async">
          <i class="material-icons padding-right">settings</i>
          {{ 'PAGES.MENU.SETTINGS' | translate }}
        </button>

        <button (click)="checkCountAccount(accountList.length)" class="icon-button">
          <i class="material-icons padding-right">business</i>
          {{ 'PAGES.MENU.CREATE_BUSINESS' | translate }}
        </button>

        <button class="icon-button" (click)="logOut()">
          <i class="material-icons padding-right">exit_to_app</i>
          {{ 'PAGES.MENU.LOG_OUT' | translate }}
        </button>
      </div>

      <!--Grit-->

      <div class="flex pointer app-item-hover" (click)="showGrit = !showGrit">
        <h2 class="sub-header no-padding-right">
          {{ 'PAGES.MENU.GRIT' | translate }}
        </h2>
        <i class="material-icons grey arrow" [ngClass]="{'arrow-up': showGrit}">arrow_drop_down</i>
      </div>

      <div *ngIf="showGrit">
        <button class="icon-button">
          <i class="material-icons padding-right">info</i>
          {{ 'PAGES.MENU.ABOUT_GRIT' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">work</i>
          {{ 'PAGES.MENU.JOBS' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">help</i>
          {{ 'PAGES.MENU.HELP' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">person</i>
          {{ 'PAGES.MENU.CUSTOMER_SERVICE' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">insert_drive_file</i>
          {{ 'PAGES.MENU.CONDITION_OF_USE' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">lock</i>
          {{ 'PAGES.MENU.PRIVACY_POLICY' | translate }}
        </button>

        <button class="icon-button">
          <i class="material-icons padding-right">priority_high</i>
          {{ 'PAGES.MENU.LEGAL_NOTICE' | translate }}
        </button>

        <button
          *ngIf="selected?.role?.type === 'admin'"
          class="icon-button"
          (click)="navigateTo('reports')"
        >
          <i class="material-icons padding-right">assignment_late</i>
          {{ 'PAGES.MENU.REPORTS' | translate }}
        </button>
      </div>

    </app-content-layout>
    <app-loading [loading]="accountChanging" [immediateShow]="true" [isGlobal]="true"></app-loading>
</div>
