<div class="order-list-item padding border-bottom border-left border-right app-item-hover link" [routerLink]="orderUrl">
    <div class="order-list-item-thumbnail-wrapper">
        <app-thumbnail [url]="photoUrl"></app-thumbnail>
    </div>
    <div class="order-list-item-content padding">
        <p class="order-list-item-title link black">{{title}}</p>
        <p class="black bold">{{ price | customCurrency }}</p>
        <div class="order-list-item-status-text">
            <span class="order-list-item-status grey">
                {{statusTranslation}}
            </span>
        </div>
    </div>
</div>