.order-list-item {
    display: flex;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-status,&-date {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 600px) {
    .order-item {
        border-left: none;
        border-right: none;
    }
}