<div class="header">
  <button class="item-start margin-right" (click)="close()"><i class="material-icons">arrow_back</i></button>

  <h2 class="header-title">{{ 'DIALOGS.REPLY_LIST.TITLE' | translate }}</h2>

  <div class="item-end" style="width: 24px"></div>
</div>

<cdk-virtual-scroll-viewport
  class="dialog-scrollable-content"
  minBufferPx="1000"
  maxBufferPx="1000"
  [itemSize]="itemSize"
  [style.height]="virtualScrollHeight$ | async"
  >
  <div class="background-grey-5 border-top border-bottom" *ngIf="comment$ | async as comment">
    <div class="item no-link">
      <img [src]="comment.user?.photo || defaultAvatar" class="avatar pointer" (click)="goToUserPage(comment)">
      <div class="item-text">
        <h2 class="black pointer" (click)="goToUserPage(comment)">{{comment.user.name}}</h2>
        <p>{{ comment.created | timeAgo }}</p>
      </div>
      <button class="item-end" [satPopoverAnchor]="commentMoreP" (click)="commentMoreP.toggle()" (click)="$event.stopPropagation()">
        <i class="material-icons icon-small">more_vert</i>
      </button>
      <sat-popover #commentMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <ng-container *ngIf="(loggedInAccount$ | async).id === comment.user?.id else actionsForOtherUsers">
            <button class="icon-button" (click)="commentMoreP.close(); openEditCommentDialog(comment)">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); openDialog(deleteCommentD)">
              <i class="material-icons padding-right">delete</i>
              {{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #actionsForOtherUsers>
            <button class="icon-button" (click)="commentMoreP.close(); follow(comment.user, $event)">
              <ng-container *ngIf="isFollowing(comment.user); else followLabel">
                <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </ng-container>
              <ng-template #followLabel>
                <span class="blue">
                  <i class="material-icons padding-right">rss_feed</i>{{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                </span>
              </ng-template>
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); reportComment()">
              <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </ng-template>
        </div>
      </sat-popover>

      <ng-template #deleteCommentD>
        <h2 class="dialog-header">{{ 'DIALOGS.COMMENT_DELETE.TITLE' | translate }}</h2>
        <div class="dialog-buttons">
          <button (click)="closeOpenedDialog()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
          <button class="red" (click)="deleteComment(comment.id)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
        </div>
      </ng-template>
    </div>

    <div class="padding-horizontal" *ngIf="comment.text !== ''">
      <app-truncatable-text
        [text]="comment.text"
        [mentions]="comment.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="buttonbar">
      <div>
        <button [class.blue]="comment.liked" (click)="likeComment()"><i class="material-icons icon-small padding-right">thumb_up</i></button>
        <button *ngIf="comment.likesCount !== 0" (click)="showCommentLikes()">{{comment.likesCount}}</button>
      </div>

      <button>
        <i class="material-icons icon-small padding-right">chat_bubble</i>
        <ng-container *ngIf="comment.repliesCount !== 0">{{comment.repliesCount}}</ng-container>
      </button>
    </div>
  </div>

  <div class="border-bottom" *cdkVirtualFor="let reply of replies$ | async">
    <div class="item no-link">
      <img [src]="reply.user?.photo || defaultAvatar" class="avatar pointer" (click)="goToUserPage(reply)">
      <div class="item-text">
        <h2 class="black pointer" (click)="goToUserPage(reply)">{{reply.user?.name}}</h2>
        <p>{{reply.created | timeAgo}}</p>
      </div>
      <button class="item-end" [satPopoverAnchor]="commentMoreP" (click)="commentMoreP.toggle()" (click)="$event.stopPropagation()">
        <i class="material-icons icon-small">more_vert</i>
      </button>
      <sat-popover #commentMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <!--Edit & Delete only for Creator visible-->
          <ng-container *ngIf="(loggedInAccount$ | async).id === reply.user?.id else actionsForOtherUsers">
            <button class="icon-button" (click)="commentMoreP.close(); openEditCommentDialog(reply, true)">
              <i class="material-icons padding-right">create</i>{{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); openDialog(deleteReplyD)">
              <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>
          </ng-container>
          <ng-template #actionsForOtherUsers>
            <button class="icon-button" (click)="commentMoreP.close(); follow(reply.user, $event)">
              <ng-container *ngIf="isFollowing(reply.user); else followLabel">
                <i class="material-icons padding-right">close</i>{{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
              </ng-container>
              <ng-template #followLabel>
                <span class="blue">
                  <i class="material-icons padding-right">rss_feed</i>{{ 'GENERAL.ACTIONS.FOLLOW' | translate }}
                </span>
              </ng-template>
            </button>
            <button class="icon-button" (click)="commentMoreP.close(); reportComment()">
              <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
            </button>
          </ng-template>
        </div>

        <ng-template #deleteReplyD>
          <h2 class="dialog-header">Delete Reply?</h2>
          <div class="dialog-buttons">
            <button (click)="closeOpenedDialog()">{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
            <button class="red" (click)="deleteComment(reply.id, true)">{{ 'GENERAL.ACTIONS.DELETE' | translate }}</button>
          </div>
        </ng-template>
      </sat-popover>
    </div>

    <div class="padding-horizontal" *ngIf="reply.text !== ''">
      <app-truncatable-text
        [text]="reply.text"
        [mentions]="reply.mentions"
        [truncatable]="true"
        [borderBottom]="false"
        [padding]="false"
      ></app-truncatable-text>
    </div>

    <div class="buttonbar">
      <div>
        <button [class.blue]="reply.liked" (click)="likeReply(reply.id)"><i class="material-icons icon-small padding-right">thumb_up</i></button>
        <button *ngIf="reply.likesCount !== 0" (click)="showReplyLikes(reply.id)">{{reply.likesCount}}</button>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<form class="message-footer" [formGroup]="addCommentForm">
  <img [src]="userPhoto$ | async" class="avatar-small">
  <app-input-with-mentions
    placeholder="{{ 'DIALOGS.REPLY_LIST.FORM.TEXT.PLACEHOLDER' | translate }}"
    formControlName="text"
    inputClass="message-input"
    [materialDesign]="false"
  ></app-input-with-mentions>
  <button class="blue item-end"
          [hidden]="!addCommentForm.controls.text.value"
          [disabled]="commenting$ | async"
          (click)="replyComment()"
          >
    <i class="material-icons">send</i>
  </button>
</form>

<app-loading [loading]="repliesLoading$ | async"></app-loading>
