<h2 class="sub-header">{{ 'DIALOGS.REPORT_LIST.TITLE' | translate }}</h2>

<div class="item border-bottom" *ngFor="let article of reports | async; let i = index"
  [routerLink]="['/page/blog', article.target.id]">
  <img
    [attr.src]="article.target.cover ? (article.target.cover) : defaultImage"
    class="thumbnail">
  <div class="item-text">
    <h2 *ngIf="article.target.title" class="black" ellipsis>{{article.target.title}}</h2>
    <p>{{fullName$ | async}} {{companyName$ | async}}</p>
    <p>{{article.target.created | timeAgo}}</p>
    <div class="info-icons">
      <ng-container *ngIf="article.target.views">
        <i class="material-icons icon-small icon-padding-right">visibility</i>
        <p *ngIf="article.target.views" class="padding-right">{{article.target.views | number}}</p>
      </ng-container>
      <ng-container *ngIf="article.target.likes">
        <i class="material-icons icon-small icon-padding-right">thumb_up</i>
        <p *ngIf="article.target.likes">{{article.target.likes | number}}</p>
      </ng-container>
    </div>
  </div>
  <button class="item-end" [satPopoverAnchor]="articleMoreP"
    (click)="articleMoreP.toggle();$event.stopPropagation()"><i class="material-icons icon-small">more_vert</i></button>
  <sat-popover #articleMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
    <div class="popover">
      <button class="icon-button" (click)="apply()">
        <i class="material-icons padding-right">done</i>
        {{ 'DIALOGS.REPORT_LIST.ACTIONS.ACCEPT' | translate }}
      </button>
      <button class="icon-button" (click)="reject()">
        <i class="material-icons padding-right">block</i>
        {{ 'DIALOGS.REPORT_LIST.ACTIONS.REJECT' | translate }}
      </button>
    </div>
  </sat-popover>
</div>