<div class="flex-center padding border-bottom">
  <h2>{{ 'DIALOGS.UNAUTHORIZED.TITLE' | translate }}</h2>
</div>

<div class="dialog-buttons">
  <button class="blue" (click)="goToPage('login')">
    {{ 'DIALOGS.UNAUTHORIZED.ACTIONS.LOG_IN' | translate }}
  </button>
  <button class="blue" (click)="goToPage('register')">
    {{ 'DIALOGS.UNAUTHORIZED.ACTIONS.SIGN_UP' | translate }}
  </button>
</div>
