<div class="login-wrapper flex-center-column flex-stretch background-grey-3">
  <app-content-layout class="background-white border-bottom">
    <div class="header">
      <button class="grey padding-right" (click)="back()" [disabled]="loading$ | async">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <h2 class="header-title position-center">
        {{ 'PAGES.LOGIN.TITLE' | translate }}
      </h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form flex-center padding">

      <mat-form-field class="no-padding-horizontal">
        <input matInput type="email" placeholder="{{ 'PAGES.LOGIN.LOGIN_FORM.EMAIL.PLACEHOLDER' | translate }}"
          formControlName="email">
      </mat-form-field>

      <mat-form-field class="no-padding-horizontal">
        <div class="flex">
          <input matInput placeholder="{{ 'PAGES.LOGIN.LOGIN_FORM.PASSWORD.PLACEHOLDER' | translate }}"
            [type]="password ? 'text' : 'password'" formControlName="password">
          <i class="material-icons icon-small grey pointer margin-left" (click)="showPassword($event)">visibility</i>
        </div>
      </mat-form-field>

      <mat-error *ngIf="loginForm.errors?.badLogging">
        {{ 'PAGES.LOGIN.LOGIN_FORM.ERROR' | translate }}
      </mat-error>

      <p class="login-form__forgot-password grey pointer">
        <span (click)="mailDialog(mailD)">
          {{ 'PAGES.LOGIN.ACTIONS.FORGOT' | translate }}
        </span>
      </p>

      <button type="submit" class="login-form__submit-button round-button submit-btn">
        {{ 'PAGES.LOGIN.ACTIONS.LOG_IN' | translate }}
      </button>
    </form>

    <ng-template #mailD>
      <div class="dialog">
        <div class="header">
          <button class="item-start" matDialogClose><i class="material-icons">arrow_back</i></button>

          <h2 class="header-title position-center">
            {{ 'PAGES.LOGIN.ACTIONS.RESET_PASSWORD' | translate }}
          </h2>
        </div>
        <div class="restore-password-form flex-center padding">
          <form [formGroup]="emailForm" (ngSubmit)="verifyPassword()">
            <mat-form-field class="no-padding-horizontal">
              <input matInput type="email" placeholder="{{ 'PAGES.LOGIN.MAIL_FORM.EMAIL.PLACEHOLDER' | translate }}"
                formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="emailForm.errors?.badLogging">
              {{ 'PAGES.LOGIN.MAIL_FORM.ERROR' | translate }}
            </mat-error>
            <button type="submit" class="restore-password-form__submit-button round-button">
              {{ 'PAGES.LOGIN.ACTIONS.RESET_PASSWORD' | translate }}
            </button>
          </form>
        </div>
      </div>
    </ng-template>
  </app-content-layout>

</div>
<app-loading [loading]="loading$ | async" [isGlobal]="true"></app-loading>