<div class="following-wrapper flex-center-column flex-stretch">
  <app-no-items-placeholder [show]="!(total$ | async)" [text]="(total$ | async | i18nPlural: followingsMapping)"
    class="sub-header-title"></app-no-items-placeholder>
  <app-content-layout class="background-white" *ngIf="(total$ | async)">
    <div class="sub-header" [ngClass]="{'border-bottom': !(followings$ | async).length}">
      <ng-container *ngIf="header">
        <h2 class="sub-header-title">{{ total$ | async | i18nPlural: followingsMapping }}</h2>
        <button class="item-end" (click)="showSearch()" *ngIf="(total$ | async) > 1">
          <i class="material-icons">search</i>
        </button>
      </ng-container>
      <div class="search-content" *ngIf="search">
        <button class="item-start padding-right" (click)="showHeader()">
          <i class="material-icons">arrow_back</i>
        </button>
        <input #searchInput autoFocus placeholder="Search Following" class="search-content-input"
          [(ngModel)]="searchText">
        <button class="item-end padding-left" *ngIf="searchText" (click)="searchText = ''">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </app-content-layout>
  <app-infinite-scroll-with-loader [showLoading]="lazyLoading$ | async">
    <app-content-layout>
      <div class="item border-bottom" *ngFor="let following of followings$ | async"
        routerLink="/{{following.pageName}}/home">
        <img [src]="following.photo || defaultAvatar" class="avatar">
        <div class="item-text">
          <h2 class="black">{{following.name}}</h2>
          <p>{{following.pageName}}</p>
        </div>

        <button class="item-end" [satPopoverAnchor]="followingMoreP" (click)="followingMoreP.toggle()"
          (click)="$event.stopPropagation()">
          <i class="material-icons icon-small">more_vert</i>
        </button>

        <sat-popover #followingMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
          <div class="popover" (click)="followingMoreP.close()">
            <button class="icon-button" [appMessageTo]="following.id">
              <i class="material-icons padding-right">chat_bubble</i>
              {{ 'GENERAL.ACTIONS.MESSAGE' | translate }}
            </button>
            <share-link-item link="{{ currentUrl + '/' + following.pageName + '/home' }}"
              (handleClick)="followingMoreP.close()"></share-link-item>
            <copy-link-item link="{{ currentUrl + '/' + following.pageName + '/home' }}"
              (handleClick)="followingMoreP.close()"></copy-link-item>
            <button class="icon-button" (click)="unfollow(following)">
              <i class="material-icons padding-right">close</i>
              {{ 'GENERAL.ACTIONS.UNFOLLOW' | translate }}
            </button>
          </div>
        </sat-popover>
      </div>
    </app-content-layout>
  </app-infinite-scroll-with-loader>
  <app-loading [loading]="loadingFollow$ | async"></app-loading>
</div>