:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin-bottom: 10px;
}

.item {
    &:first-child {
        border-top: 1px solid var(--grey-10);
    }
}