<!--Header Start-->

<div class="sub-header border-bottom" *ngIf="total$ | async as total">
  <h2 class="sub-header-title">{{ total | i18nPlural: textMapping }}</h2>
</div>

<!--Header End-->

<!--List-->
<div
  class="text-infinite-list"
  infiniteScroll
  [infiniteScrollDistance]="5"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
  >
  <div *ngFor="let text of (texts$ | async); trackBy: trackById" class="border-bottom">
    <div class="item no-link">
      <img [src]="getUserPhoto(text)" class="avatar" routerLink="/{{ getPageName(text) }}/texts/{{ text.id }}">
      <div class="item-text pointer" routerLink="/{{ getPageName(text) }}/texts/{{ text.id }}">
        <h2 class="black">{{ getUserName(text) }}</h2>
        <p>{{ text.created | timeAgo }}</p>
      </div>

      <button class="item-end" [satPopoverAnchor]="textMoreP" (click)="textMoreP.toggle()">
        <i class="material-icons icon-small">more_vert</i>
      </button>

      <sat-popover #textMoreP hasBackdrop verticalAlign="below" scrollStrategy="close">
        <div class="popover">
          <copy-link-item link="{{ currentUrl }}/{{ getPageName(text) }}/texts/{{ text.id }}" (handleClick)="textMoreP.close()"></copy-link-item>

          <ng-container *ngIf="(loggedInAccountRoleType$ | async) !== 'viewer' && (isMyAccount$ | async)">
            <button class="icon-button" routerLink="add" [queryParams]="{id: text.id}">
              <i class="material-icons padding-right">create</i>
              {{ 'GENERAL.ACTIONS.EDIT' | translate }}
            </button>

            <!--Delete-->

            <button class="icon-button" (click)="openDialog(deleteTextD);textMoreP.close()">
              <i class="material-icons padding-right">delete</i>{{ 'GENERAL.ACTIONS.DELETE' | translate }}
            </button>

            <ng-template #deleteTextD>
              <h2 class="dialog-header">{{ 'DIALOGS.TEXT_DELETE.TITLE' | translate }}</h2>
              <div class="dialog-buttons">
                <button matDialogClose>{{ 'GENERAL.ACTIONS.CANCEL' | translate }}</button>
                <button class="red" matDialogClose (click)="deleteText(text.id)">
                  {{ 'GENERAL.ACTIONS.DELETE' | translate }}
                </button>
              </div>
            </ng-template>
          </ng-container>


          <!--Report-->

          <button class="icon-button" (click)="openDialog(reportTextD);textMoreP.close()" *ngIf="!(isMyAccount$ | async)">
            <i class="material-icons padding-right">info</i>{{ 'GENERAL.ACTIONS.REPORT' | translate }}
          </button>
          <ng-template #reportTextD>
            <app-report-add [contentType]="'text'" [contentId]="text.id"></app-report-add>
          </ng-template>
        </div>
      </sat-popover>
    </div>
    <div class="padding-horizontal padding-bottom" *ngIf="text.text !== ''">
      <ng-container *ngIf="!truncated[text.id]">
        <pre class="post-text">{{ text.text | trim | slice : 0:150 }}<span class="grey pointer"
            *ngIf="text.text && text.text.length > 150" (click)="truncated[text.id] = true">... more</span>
        </pre>
      </ng-container>
      <ng-container *ngIf="truncated[text.id]">
        <pre class="post-text">{{text.text | trim}}<span class="grey pointer" *ngIf="text.text.length > 150"
            (click)="truncated[text.id] = false"> less</span>
        </pre>
      </ng-container>
      <div class="info-icons padding-vertial">
        <i class="material-icons icon-small icon-padding-right">visibility</i>
        <p class="padding-right">{{ text.viewsCount | number }}</p>
      </div>
    </div>
  </div>
</div>

<!--Add-->

<button class="fab"
        routerLink="add"
        *ngIf="(isMyAccount$ | async) && (isVisibleAddButton$ | async) && (loggedInAccountRoleType$ | async) !== 'viewer'"
        (click)="navigating = true"
        >
  <i class="material-icons white">add</i>
</button>

<app-loading [loading]="navigating || (loading$ | async)"></app-loading>
