:host {
    display: flex;
    width: 100%;
    border: 1px solid var(--grey-10);
    background-color: var(--white);
    border-top: none;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: center;
    max-width: var(--app-width);
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    :host {
        border-left: none;
        border-right: none;
    }
}