<div class="header">
  <button class="grey padding-right" (click)="back()" [disabled]="loading$ | async">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h2 class="header-title position-center">
    {{ 'PAGES.CART_CHECKOUT.TITLE' | translate }}
  </h2>
</div>

<form [formGroup]="checkoutForm">

  <!--Delivery Address-->

  <app-address-input
    placeholder="{{ 'PAGES.CART_CHECKOUT.FORM.DELIVERY_ADDRESS.PLACEHOLDER' | translate }}"
    formControlName="address"
  ></app-address-input>

  <!--Bank Account-->

  <app-bank-input
    placeholder="{{ 'PAGES.CART_CHECKOUT.FORM.PAYMENT.PLACEHOLDER' | translate }}"
    formControlName="bank"
  ></app-bank-input>

  <!--BUY-->

  <div class="cart margin-bottom" style="top: 44px">
    <div style="padding: 15px 0 5px 0">
      <h2 class="grey bold">
        {{ 'PAGES.CART_CHECKOUT.FORM.TOTAL_PRICE.TITLE' | translate }}
      </h2>
      <p class="grey">
        {{ 'PAGES.CART_CHECKOUT.FORM.TOTAL_PRICE.INCL_SHIPPING' | translate }}
      </p>
      <h2 class="bold" style="font-size: 20px; padding-top: 5px">
        {{ totalPrice$ | async | customCurrency }}
      </h2>
    </div>
    <button
      class="round-button uppercase"
      type="submit"
      (click)="checkoutCart()"
    >
      {{ 'GENERAL.ACTIONS.BUY' | translate }}
    </button>
  </div>

  <!--Products-->
  <div
    *ngFor="let item of cart$ | async; let i = index"
    class="item flex-wrap no-link border-bottom"
  >
    <ng-container *ngIf="item.product?.type === 'productVariants'">
      <img
        [src]="item.product?.selectedVariant?.cover?.photo?.thumbUrl || item.product?.selectedVariant?.cover?.photo?.photoUrl"
        class="thumbnail"
      >
      <div class="item-text">
        <h2 class="black">
          <span *ngIf="item.product.brand">{{ item.product.brand }} -</span> {{ item.product.title | truncate : 60 }}
        </h2>
        <p>{{ showVariantData(item.product?.selectedVariant) }}</p>
        <h2 class="black bold">{{ item.product?.selectedVariant?.price | customCurrency }}</h2>
        <p>
          {{ 'PAGES.CART_CHECKOUT.SHIPPING' | translate }} {{ item.product.shippingCosts | customCurrency }}
        </p>
        <mat-select
          style="width: 50px"
          (click)="$event.stopPropagation()"
          [value]="item.quantity"
          (selectionChange)="changeQuantity(item.id, item.product.id, $event.value)"
        >
          <mat-option *ngFor="let quantity of quantities" [value]="quantity">
            {{ quantity }}
          </mat-option>
        </mat-select>
        <div
          *ngIf="item.product.deliveryOptions === 'onlyCollection' || item.product.deliveryOptions === 'both'"
          class="flex-line-break padding-top"
        >
          <mat-slide-toggle
            color="primary"
            class="margin-right"
          >
            {{ 'GENERAL.ACTIONS.COLLECT' | translate }}
          </mat-slide-toggle>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="item.product?.type === 'singleProduct'">
      <img [src]="item.product.photos.length ? item.product.photos[0].thumbUrl : null" class="thumbnail">
      <div class="item-text">
        <h2 class="black">
          {{ item.product.title | truncate : 60 }}
        </h2>
        <h2 class="black bold">{{ item.product.price | customCurrency }}</h2>
        <p>
          {{ 'PAGES.CART_CHECKOUT.SHIPPING' | translate }} {{ item.product.shippingCosts | customCurrency }}
        </p>
        <mat-select
          style="width: 50px"
          (click)="$event.stopPropagation()"
          [value]="item.quantity"
          (selectionChange)="changeQuantity(item.id, item.product.id, $event.value)"
        >
          <mat-option *ngFor="let quantity of quantities" [value]="quantity">
            {{ quantity }}
          </mat-option>
        </mat-select>
        <div
          *ngIf="item.product.deliveryOptions === 'onlyCollection' || item.product.deliveryOptions === 'both'"
          class="flex-line-break padding-top"
        >
          <mat-slide-toggle
            color="primary"
            class="margin-right"
          >
            {{ 'GENERAL.ACTIONS.COLLECT' | translate }}
          </mat-slide-toggle>
        </div>
      </div>
    </ng-container>
  </div>
</form>

<app-loading [loading]="loading$ | async"></app-loading>
